<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
     xmlns:p="http://primefaces.org/ui"
     xmlns:f="http://xmlns.jcp.org/jsf/core">
   
       <body  style="width: 100%; height: 100px;">
       <h:form id="formTurnado">
           <p:growl id="messages" autoUpdate="true" sticky="true" />
           <p:panel id="turnado">
                <h:panelGroup id="turnados"> 
                    <h:panelGrid columns="1" border="0" width="100%" >
                        
            <!-- Para el turnado del Director de Área -->
                        
                        <p:column rendered="#{isInRole.directorArea and detalleExencionView.muestraOpcTurnado}">
                            
                            <table border="0" style="margin-left: 20%;" width="70%" cellpadding="5%">
                                <tr>                                    
                                    <td><label class="etiquetas"  style="float: right">Subdirección:</label></td>
                                    <td><h:selectOneMenu id="cmbSubDirec" class="form-control" value="#{detalleExencionView.tunaSubDirec}">                             
                                            <f:ajax rendered="cmbSubDirec" />
                                            <f:selectItems value="#{detalleExencionView.cmbDirec}" /> 
                                        </h:selectOneMenu>   </td>
                                    <td><p:commandButton actionListener="#{detalleExencionView.seleccionaReferencia}" value="Turnar" process="@all"
                                                         onclick="this.disabled = true;" update="formTurnado:turnados"/></td>
                                </tr>
                            </table>                            
                        </p:column>
                        
                        <p:column rendered="#{!detalleExencionView.muestraOpcTurnado and isInRole.directorArea}">                            
                            <table border="0" style="margin-left: 20%;">
                                <tr>                                    
                                    <td>
                                        <h:outputLabel value="Trámite ya turnado."/>
                                    </td>
                                </tr>
                            </table>
                        </p:column>
                        
                        
            <!-- Para el turnado del SubDirector -->
                        
                        <p:column rendered="#{isInRole.subDirector and detalleExencionView.porTurnar and detalleExencionView.porTurnarSDPrev and !detalleExencionView.yaResuelto}" >
                            <table border="0" style="margin-left: 20%;" width="70%" cellpadding="5%">
                                <tr>                                    
                                    <td><h:outputLabel value="Evaluador:" style="float: right"/></td>
                                    <td><h:selectOneMenu id="cmbEvaluac" class="form-control" value="#{detalleExencionView.tunaEvaluador}">                             
                                        <f:ajax rendered="cmbEvaluac" />
                                        <f:selectItems  value="#{detalleExencionView.cmbDirec}" /> 
                                    </h:selectOneMenu></td>
                                    <td><p:commandButton actionListener="#{detalleExencionView.seleccionaReferenciaSub}" value="Turnar" 
                                                     onclick="this.disabled = true;" update="turnados"/></td>
                                </tr>
                            </table>
                        </p:column>
                        
                        <p:column rendered="#{isInRole.subDirector and !detalleExencionView.porTurnar and detalleExencionView.porTurnarSDPrev and !detalleExencionView.yaResuelto}">
                            <table border="0" style="margin-left: 20%;">
                                <tr>                                    
                                    <td>
                                        <h:outputLabel value="Trámite ya asignado a evaluador"/>
                                    </td>
                                </tr>
                            </table>
                        </p:column>
                        
                        <p:column rendered="#{isInRole.subDirector and !detalleExencionView.porTurnar and !detalleExencionView.porTurnarSDPrev and !detalleExencionView.yaResuelto}">
                            <table border="0" style="margin-left: 20%;">
                                <tr>                                    
                                    <td>
                                        <h:outputLabel value="El trámite se encuentra en el ECC."/>
                                    </td>
                                </tr>
                            </table>
                        </p:column>
            
                        <p:column rendered="#{isInRole.subDirector and detalleExencionView.yaResuelto}">
                            <table border="0" style="margin-left: 20%;">
                                <tr>                                    
                                    <td>
                                        <h:outputLabel value="El trámite resuelto."/>
                                    </td>
                                </tr>
                            </table>
                        </p:column>
                       
                       
                        
                        
                  <!--Para el turnado en la seccion del Evaluador -->
                  		<h:panelGroup rendered="#{isInRole.directorArea || isInRole.subDirector || isInRole.evaluador}">
                  			<p:outputLabel>Comentario de Director de Area</p:outputLabel>
                  			<p:inputTextarea id="comenDir" value="#{detalleExencionView.comentarioDirectorTurnado}" style="width:100%;height:100%" readonly="#{isInRole.subDirector || isInRole.evaluador}"/>
                  		</h:panelGroup>
                  		<br></br>
                  		<br></br>
                  		<h:panelGroup rendered = "#{isInRole.subDirector || isInRole.evaluador}">
                  			<p:outputLabel>Comentario de Subdirector</p:outputLabel>
                  			<p:inputTextarea id="comenSub" value="#{detalleExencionView.comentarioSubdirectorTurnado}" style="width:100%;height:100%" readonly="#{isInRole.evaluador}"/>
                  		</h:panelGroup>
                    	<br></br>
                    	<br></br>
                    	<p:commandButton id="btnReg" process="@form" update="@form" value="Regresar" 
	                    	actionListener="#{detalleExencionView.regresar}" rendered = "#{isInRole.subDirector}">
	                    	<f:param name="index" value="5"/>
	                    </p:commandButton>
                    
                    </h:panelGrid>
                </h:panelGroup>
           </p:panel>           
       </h:form>
       </body>
   
</html>