<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>

        <style>
            .column1 {
                vertical-align: top;
                text-align: left;
            }
            .column2 {
            }
            .key {
                font-weight: bold;
                text-align: right;
            }
            .value {
                text-align: left;
            }
        </style>
        <h:form id="formTop">
            <p:toolbar rendered="true">
                <p:toolbarGroup align="right" id="menu_oficios">
                    <p:menuButton value="Consultas" model="#{etiquetasView.consultas}">
                    </p:menuButton>
                    <p:separator />
                    <p:commandButton alt="Salida" action="#{loginView.logout}"
                                     ajax="false" image="ui-icon-circle-close" />
                </p:toolbarGroup>
                <p:toolbarGroup align="right">
                    <p:separator />
                    <p:menuButton value="Oficios">
                        <p:menuitem value="Prevención (Solicitud de Exención)" actionListener="#{exencionBean.generarOficio('1176')}" ajax="false"/>
                        <p:menuitem value="Resolutivo Autorizado (Solicitud de Exención)" actionListener="#{exencionBean.generarOficio('1556')}" ajax="false"/>
                        <p:menuitem value="Resolutivo Negado (Solicitud de Exención)" actionListener="#{exencionBean.generarOficio('1557')}" ajax="false"/>					

                        <p:menuitem value="Consultar Oficios" id="consOfi" actionListener = "#{exencionBean.generarOficio('consultar oficios')}" ajax="false"/>
                    </p:menuButton>

                    <p:separator />
                    <!-- 				<p:button href="#{exencionBean.liga}" value="Visor del trámite" -->
                    <!-- 					icon="ui-icon-note" alt="Visor" rendered="#{isInRole.detalle}" /> -->
                    <p:button value="Listado de Proyectos" image="ui-icon-clock"
                              href="pantallaPrincipal.xhtml"
                              rendered="#{!isInRole.directorGeneral}" />
                    <p:button value="Listado de Proyectos" image="ui-icon-clock"
                              href="pantallaPrincipal.xhtml"
                              rendered="#{isInRole.directorGeneral}" />
                    <p:separator />
                </p:toolbarGroup>

                <p:toolbarGroup style="width: 50%">
                    <h:panelGrid columns="2" width="100%">
                        <p:outputLabel id="gen_datos"
                                       value="Usuario: #{loginView.nombreUsuario}" escape="false" />
                        <p:outputLabel id="lblEntidadFederativa"
                                       value="Entidad: #{loginView.entidadFederativa.nombreEntidadFederativa}"
                                       escape="false" />
                    </h:panelGrid>
                </p:toolbarGroup>
            </p:toolbar>

            <h:panelGrid columns="3">
                <p:graphicImage library="images" name="#{exencionBean.img}" height="100px" width="160px" style="margin: 10px;" />
                <h:panelGrid columns="4" style="margin: 10px;" columnClasses="key,value,key,value">
                    <h:outputText value="Clave:&nbsp;" />
                    <h:outputText value="#{exencionBean.cveProyecto}"/>
                    <h:outputText value="Bitacora:&nbsp;" />
                    <h:outputText value="#{exencionBean.bitaProyecto}" />
                    <h:outputText value="Fecha de Ingreso:&nbsp;" />
                    <h:outputText value="#{exencionBean.fechaFofiIngre}" />
                    <h:outputText value="Folio:&nbsp;" />
                    <h:outputText value="#{exencionBean.folioProyecto}" />
                    <h:outputText value="Promovente:&nbsp;" />
                    <h:outputText value="#{exencionBean.promoTram}" />
                    <h:outputText value="Proyecto:&nbsp;" />
                    <h:outputText value="#{exencionBean.nombProyecto}" />
                    <h:outputText value="Situación:&nbsp;" />
                    <h:outputText value="#{exencionBean.situaTram}" />
                    <h:outputText value="Tipo Tramite:&nbsp;" />
                    <h:outputText value="#{exencionBean.tipoTramite}" />
                    <h:outputText value="Subsector:&nbsp;" />
                    <h:outputText value="#{exencionBean.subsector}" />
                </h:panelGrid>
                <p:outputPanel>
                    <h:panelGroup>
                        <h:outputLabel value="Días Trámite:&nbsp;" />
                        <h:outputText style="font-weight: bolder;"
                                      value="#{exencionBean.diasProceso}/#{exencionBean.diasTramite}" />
                    </h:panelGroup>
                    <h:panelGroup rendered="#{exencionBean.semaforoBitacora.diasProceso ge 10}">
                        <table width="100%"  style="background: red; color: whitesmoke">
                            <tr>
                                <td align="left">
                                    <h:outputLabel value="Días Restantes del Trámite:&nbsp;" />
                                    <h:outputText value="#{exencionBean.semaforoBitacora.diasRestantes}" styleClass="textoReducido"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>                    
                    <h:panelGroup rendered="#{exencionBean.semaforoBitacora.diasProceso ge 7 and exencionBean.semaforoBitacora.diasProceso le 9}">
                        <table width="100%"  style="background: orange;">
                            <tr>
                                <td align="left">
                                    <h:outputLabel value="Días Restantes del Trámite:&nbsp;" />
                                    <h:outputText value="#{exencionBean.semaforoBitacora.diasRestantes}" styleClass="textoReducido"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>                    
                    <h:panelGroup rendered="#{exencionBean.semaforoBitacora.diasProceso ge 4 and exencionBean.semaforoBitacora.diasProceso le 6}">
                        <table width="100%"  style="background: yellow; ">
                            <tr>
                                <td align="left">
                                    <h:outputLabel value="Días Restantes del Trámite:&nbsp;" />
                                    <h:outputText value="#{exencionBean.semaforoBitacora.diasRestantes}" styleClass="textoReducido"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>                    
                    <h:panelGroup rendered="#{exencionBean.semaforoBitacora.diasProceso ge 0 and exencionBean.semaforoBitacora.diasProceso le 3}">
                        <table width="100%"  style="background: yellowgreen;">
                            <tr>
                                <td align="left">
                                    <h:outputLabel value="Días Restantes del Trámite:&nbsp;" />
                                    <h:outputText value="#{exencionBean.semaforoBitacora.diasRestantes}" styleClass="textoReducido"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>                    
                    <h:panelGroup >
                        <table width="100%"  style="background: yellowgreen;">
                            <tr>
                                <td align="left">
                                    <h:outputLabel value="Días restantes para prevención:&nbsp;" />
                                    <h:outputText value="#{exencionBean.semaforoBitacora.diasRestantesEvaluacion}" styleClass="textoReducido"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>                    
                    <h:panelGroup rendered="#{exencionBean.semaforoBitacora.evaluacion eq 1}">
                        <table width="100%"  style="background: yellowgreen;">
                            <tr>
                                <td align="left">
                                    <h:outputLabel value="Días para Responder Prevenciónn:&nbsp;" />
                                    <h:outputText value="#{exencionBean.semaforoBitacora.diasNotificar}" styleClass="textoReducido"/>
                                    <h:outputLabel value="Días Restantes para Responder Prevención:&nbsp;" />
                                    <h:outputText value="#{exencionBean.semaforoBitacora.diasRestantes}" styleClass="textoReducido"/>
                                </td>
                            </tr>
                        </table>
                    </h:panelGroup>
                </p:outputPanel>
            </h:panelGrid>
        </h:form>
    </ui:composition>
</html>