<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Insert title here</title>
</head>
<h:body>
	<h:form>
		<p:tabView>
			<p:tab title="Institución">
				<p:outputLabel value="Nombre:" />
				<p:inputText value="#{uniAdm.nombre}" />
				<p:outputLabel value="Nombre corto:" />
				<p:inputText value="#{uniAdm.nombreCorto}" />
				<p:outputLabel value="Domicilio:" />
				<p:inputText value="#{uniAdm.dom}" />
				<p:outputLabel value="Estado:" />
				<p:selectOneMenu value="#{uniAdm.estado}">
					<h:selectItems value="#{uniAdm.estados}" />
				</p:selectOneMenu>
				<p:outputLabel value="Municipio:" />
				<p:selectOneMenu value="#{uniAdm.municipio}">
					<h:selectItems value="#{uniAdm.municipios}" />
				</p:selectOneMenu>
				<p:outputLabel value="Opinion Tecnica" />
				<p:selectBooleanCheckbox value="#{uniAdm.opitec}" />
			</p:tab>
			<p:tab title="Destinatario">
				<p:outputLabel value="Tratamiento:" />
				<p:selectOneMenu value="#{uniAdm.tratamiento}">
					<h:selectItems value="#{uniAdm.tratamientos}" />
				</p:selectOneMenu>
				<p:outputLabel value="Nombre:" />
				<p:inputText value="#{uniAdm.nombre}" />
				<p:outputLabel value="Cargo:" />
				<p:inputText value="#{uniAdm.nombre}" />
				<p:outputLabel value="Telefono:" />
				<p:inputText value="#{uniAdm.nombre}" />
				<p:outputLabel value="Correo:" />
				<p:inputText value="#{uniAdm.nombre}" />

			</p:tab>
		</p:tabView>
	</h:form>
	
</h:body>
</html>