<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8" />
	<link href="#{request.contextPath}/assets/styles/main.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/dgiraMia.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/ayudas.css" rel="stylesheet" />
	<link href="#{request.contextPath}/assets/css/primemia.css" rel="stylesheet" />

	<script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
	<script src="#{request.contextPath}/assets/scripts/gobmx.js"></script>
	<script src="#{request.contextPath}/assets/js/funciones.js"></script>
	<script src="#{request.contextPath}/assets/js/ayudas.js"></script>
	<script src="#{request.contextPath}/assets/js/MIAR.js"></script>
</h:head>
<h:body>
	
		
	<div id="pDesSisTrans" class="col-md-12">
		<div class="row" id="mensaje"></div>
		<div class="row" id="case_pnl_ayuda_cnt"></div>
		<h:form id="form" role="form"
			rendered="#{etiquetasView.opcionSeleccionada == '103'}"> 
			<h:panelGroup>
				<div class="row">
					<h3>Unidades Administrativas
						<a style="color: #000;">
							<span id='case_btn_ayuda' class="gobmxfont icon-infocircle pull-right" aria-hidden="true" style="cursor: pointer"></span>
						</a>
					</h3>
					<hr class="red" />
				</div>
               	<div id="botones" style="float: right;">
					<p:commandLink styleClass="btn btn-default glyphicon glyphicon-plus ui-button-textx alinDerecha" value="Agregar" />
					<p:commandLink styleClass="btn btn-default btn-xs glyphicon glyphicon-remove-circle ui-button-textx botonEliminar alinDerecha"
						value="Eliminar" disabled="#{unidadBean.unidades.size() == 0}" />
				</div>
                <br />
				<p:dataTable id="tblUnidades" styleClass="table table-responsive"
					value="#{unidadBean.unidades}" var="item" rowIndexVar="index" rowKey="#{item.id}" 
					paginator="true" paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
	
					<p:column selectionMode="multiple" style="width:50px" />
					<p:column
						style="white-space: normal; width: 50px; text-align: center;">
						<f:facet name="header">#</f:facet>
						<h:outputText value="#{index + 1}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Nombre Dependencia</f:facet>
						<h:outputText value="#{item.nombreDependencia}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Nombre Corto</f:facet>
						<h:outputText value="#{item.nombreCorto}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Domicilio</f:facet>
						<h:outputText value="#{item.domicilio}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Opinion Tecnica</f:facet>
						<h:outputText value="#{item.opinionTec}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Estado</f:facet>
						<h:outputText value="#{item.estado}" />
					</p:column>
				</p:dataTable>
			</h:panelGroup>
		</h:form>
	</div>
	<script>		
	</script>
</h:body>
</html>