@CHARSET "ISO-8859-1";

.iacorners {
	border-radius: 10px;
	background: #8B0000;
	padding: 5px;
	width: 35px;
	height: 20px;
	color: white;
	text-align: center;
	line-height: 10px;
	display: inline-block;
}

.iccorners {
	border-radius: 10px;
	background: #1d399e;
	padding: 5px;
	width: 35px;
	height: 20px;
	color: white;
	text-align: center;
	line-height: 10px;
	display: inline-block;
}

.iacapcorners {
	border-radius: 10px;
	background: #8B0000;
	padding: 5px;
	width: 24px;
	height: 20px;
	color: white;
	text-align: center;
	line-height: 10px;
	font-size: 70%;
	display: inline-block;
}

.iccapcorners {
	border-radius: 10px;
	background: #1d399e;
	padding: 5px;
	width: 24px;
	height: 20px;
	color: white;
	text-align: center;
	line-height: 10px;
	font-size: 70%;
	display: inline-block;
}

.ocultaiac {
	display: none !important;
}