/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/09/2014, 07:34:39 PM
    Author     : Chely
*/

body{
    /*background: #C6C7C6;*/
    font-size: 12px;
    font: Trebuchet MS;     
 }
 
.ui-layout-unit-content {
    background-image:url(#{request.contextPath}/resources/images/logoSEMARNAT.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;   
} 
 
 /*.ui-widget-content{
    background: #C6C7C6;
 }*/
 .ui-widget-header{
    background: #c8c8c8;
    color:#004276;
 }
 .ui-progressbar-value{
     background: #4297d7;
 }
 .panelTitulos{
     width:200px;
     height:100px;
     border:none;
 }
 .titulos{
     font-size: 16px;
     color: #016745;
 }
 .panelCuerpo{
     width: 900px;
     margin-left: 100px;
     border: 2px solid #004276; 
 }
 
 tr{counter-increment: row;}
 .numeracion:after {
     content: counter(row); 
     display: table-cell;
 }
 
 .etiquetas{
     font-weight: 900;
     float: right;
 }
 .imgLogoSemarnat{
     width: 300px; 
     height: 100px;
 }
 .ui-panelmenu .ui-panelmenu-header a {
     font-size: 15px;
 }