/* 
    Created on : 28/01/2015, 03:44:03 PM
    Author     : Case Solutions - eescalona
*/

/* Texto reducido en un punto para uso en la pantalla de listado de proyectos */
.textoReducido {
    font-size: 12px;
}

.columnaLeyendas {
    width: 25%;
    padding: 5px;
    font-size: 13px;
}

.columnaDatos {
    width: 75%;
    padding: 5px;
    font-size: 13px;
}

.iconoEditarDocto {
    background-image: url(/resources/images/glyphicons-151-edit.png)
}

.iconoConsultarDocto {
    background-image: url(/resources/images/glyphicons-40-notes.png)
}