/* 
    Created on : 14/11/2016, 10:22:26 AM
    Author     : Qualtop - M&M
*/

.InfoAd> ul  {
	background: #ffffff;
	border: none;
}

.InfoAdCo {
	background: #DEF0CE;
	border-radius: 5px;
	width: 100%;
	height: 100%;
}

.InfoAdCoTexto {
	color: #DEF0CE;
}


.InfoOri {
	background: #F2DEDF;
	border-radius: 5px;		
	width: 100%;
	height: 100%;
}