<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:form>
           
            <p:panel >
                <h:outputLabel value="2.1 Análisis preliminar" style="font-weight: bolder;font-size: 14px;"/>
            </p:panel> 
            <!--CAPITULO II-->
            <p:dataTable  var="analisis" value="#{APView.listaUno}" >
                <p:column  width="40%" headerText=" II. Descripción del proyecto, en su caso de los planes o programas parciales de desarrollo. ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis" process="@form" update="@parent,:view_south, :growl" value="Guardar" action="#{APView.guarda1}" rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/> <!-- or APView.deInfoAdic -->
            <br></br>
            <br></br>
            <!--CAPITULO III-->
            <p:dataTable  var="analisis" value="#{APView.listaDos}" >
                <p:column width="40%" headerText=" III. Vinculación con los instrumentos y ordenamientos jurídicos aplicables en la materia ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                 <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis2" process="@form" update="@parent,:view_south, :growl" value="Guardar" action="#{APView.guarda2}"  rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <!--CAPITULO IV--> 
            <p:dataTable  var="analisis" value="#{APView.listaTres}" >
                <p:column  width="40%"  headerText=" IV. Descripción del sistema ambiental (SA)/ sistema ambiental regional(SAR) ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true"  rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px">
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis3" process="@form" update="@parent,:view_south , :growl" value="Guardar" action="#{APView.guarda3}"  rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <!--CAPITULO V--> 
            <p:dataTable  var="analisis" value="#{APView.listaCuatro}" >
                <p:column width="40%"  headerText=" V. Identificación, descripción y evaluación de los impactos ambientales ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis4" process="@form" update="@parent,:view_south , :growl" value="Guardar" action="#{APView.guarda4}"  rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <!--CAPITULO VI--> 
            <p:dataTable  var="analisis" value="#{APView.listaCinco}" >
                <p:column width="40%"  headerText=" VI. Medidas y estrategias para la prevención, mitigación y compensación de los impactos ambientales ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis5" process="@form" update="@parent,:view_south , :growl" value="Guardar" action="#{APView.guarda5}"  rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <!--CAPITULO VII--> 
            <p:dataTable  var="analisis" value="#{APView.listaSeis}" >
                <p:column  width="40%"  headerText=" VII. Pronósticos ambientales y en su caso evaluación de alternativas ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis6" process="@form" update="@parent,:view_south , :growl" value="Guardar" action="#{APView.guarda6}" rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <!--CAPITULO VIII-->
            <p:dataTable  var="analisis" value="#{APView.listaSiete}" >
                <p:column width="40%" headerText=" VIII. Instrumentos metodológicos utilizados que sustentan la información señalada en las fracciones anteriores. ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis7" process="@form" update="@parent,:view_south , :growl" value="Guardar" action="#{APView.guarda7}"  rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <p:panel >
                <h:outputLabel value="Estudio de Riesgo Ambiental." style="font-weight: bolder;font-size: 14px;"/>
            </p:panel> 
            <!--ESTUDIO DE RIESGO AMBIENTAL-->
            <p:dataTable  var="analisis" value="#{APView.listaOcho}" >
                <p:column width="40%" headerText="">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis8" process="@form" update="@parent,:view_south, :growl" value="Guardar" action="#{APView.guarda8}"  rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <p:panel >
                <h:outputLabel value="Exención / No requerimiento." style="font-weight: bolder;font-size: 14px;"/>
            </p:panel> 
            <!--EXECEPTUACIÓN / NO REQUERIMIENTO-->
            <p:dataTable  var="analisis" value="#{APView.listaNueve}" >
                <p:column width="40%" headerText="  ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis9" process="@form" update="@parent,:view_south, :growl" value="Guardar" action="#{APView.guarda9}"  rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}"  disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <p:panel >
                <h:outputLabel value="Modalidad Correcta" style="font-weight: bolder;font-size: 14px;"/>
            </p:panel> 
            <!--MODALIDAD CORRECTA-->
            <p:dataTable  var="analisis" value="#{APView.listaDiez}" >
                <p:column width="40%" headerText="  ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>
            <p:commandButton id="btnThis10" process="@form" update="@parent,:view_south, :growl" value="Guardar" action="#{APView.guarda10}" rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}"  disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <p:panel >
                <h:outputLabel value="2.2 Lineamientos para atención del proyecto"/>
            </p:panel>
            <!--PUNTOS CRITICOS-->
            <p:dataTable  var="analisis" value="#{APView.listaOnce}" >
                <p:column  width="40%" headerText=" Puntos Críticos ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>
                <p:column  width="15%" headerText="Respuesta" resizable="true" rendered="#{isInRole.subDirector}">
                    <p:selectOneMenu value="#{analisis.seleccion}" style="position:  relative;width: 100px" >
                        <f:selectItem itemLabel="Selecciona" itemValue="" />
                        <f:selectItem itemLabel="Si" itemValue="S" />
                        <f:selectItem  itemLabel="No" itemValue="N"  />
                    </p:selectOneMenu>
                </p:column>
                <p:column width="15%" headerText="Respuesta" resizable="true" rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.seleccion == 'S' ? 'SI' : 'NO'}"/>
                </p:column>
                <p:column  width="45%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="58" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="45%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>  
            <p:commandButton id="btnThis11" process="@form" update="@parent,:view_south, :growl" value="Guardar" action="#{APView.guarda11}"   rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}"  disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <br></br>
            <br></br>
            <p:panel >
                <h:outputLabel value="Lineamientos de atención para el/la evaluador(a)"/>
            </p:panel>
            <!--LINEAMIENTOS DE ATENCIÓN PARA EL/LA EVALUADOR(A)-->
            <p:dataTable  var="analisis" value="#{APView.listaTrece}" >
                <p:column  width="20%" headerText="  ">
                    <h:outputText value="#{analisis.descripcion}"/>
                </p:column>              
                <p:column  width="65%" headerText="Observaciones" rendered="#{isInRole.subDirector}">
                    <p:inputTextarea rows="5" cols="115" counter="display" maxlength="4000" counterTemplate="{0}." autoResize="false" value="#{analisis.observacion}" />
                    <h:outputText id="display" />
                </p:column>
                <p:column  width="65%" headerText="Observaciones"  rendered="#{!isInRole.subDirector}">
                    <h:outputText value="#{analisis.observacion}"/>
                </p:column>
            </p:dataTable>
            <br></br>  
            <p:commandButton id="btnThis12" process="@form" update="@parent,:view_south , :growl" value="Guardar" action="#{APView.guarda13}"   rendered="#{isInRole.subDirector and !chklstView.tramiteYaTurnado}"  disabled="#{!isInRole.subDirector or chklstView.dePrevenc}"/>
            <p:commandButton id="btnReg" process="@form" update="@form" value="Regresar" 
            	actionListener="#{detalleView.regresar}" rendered = "#{isInRole.subDirector}">
            	<f:param name="index" value="2"/>
            </p:commandButton>
            <br></br>
            <br></br>
            
        </h:form>
    </ui:composition>
</html>

