<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
      
    <h:head>
	    <script type="text/javascript">
	        $('#tblCheckLst').click(function() {
	            alert("Cambio!");
	        }
	    </script>
	    <script type="text/javascript">
			function start() {
			    PF('statusDialog').show();
			}
			 
			function stop() {
			    PF('statusDialog').hide();
			}
		</script>
	</h:head>	
	<h:body>
    <ui:composition id="parteChkLst">
        <h:form id="chklstForm">
            <style type="text/css">
                .ui-chkbox-all {
                  visibility: hidden;
                }
            </style>    
            
            <h:inputHidden value="#{chklstView.bitaProyecto}" />
            <p:dataTable id="tblCheckLst" var="checklst" value="#{chklstView.requisitosImg}" selection="#{chklstView.requisitosSi}"  rowKey="#{checklst.o[0]}" 
                         emptyMessage="No se encontraron registros. Revise que la fecha de ingreso sea posterior al 22/Octubre/2014">

                <p:ajax event="rowSelectCheckbox" update="@form" listener="#{chklstView.onCheckSubdirector}"/>
                <p:ajax event="rowUnselectCheckbox" update="@form" listener="#{chklstView.onUncheckSubdirector}"/>
                
                <p:column headerText="Validaci&oacute;n de ventanilla" width="10%">
                    <p:graphicImage value="#{checklst.rutaChkImg}" />
                </p:column>
                <p align="center">
                    <p:column selectionMode="multiple" headerText="Validaci&oacute;n Subdirector" width="10%" style="alignment-adjust: central" id="validaDir">
                    </p:column>
                </p>
                <p:column id="nomRequisito" headerText="Descripci&oacute;n requisitos" >
                    <h:outputLabel value="#{checklst.o[1]}" escape="false" />
                </p:column>
                <p:column id="comment" headerText="Observaciones" >
                    <p:inputTextarea rows="6" cols="50" autoResize="true"  value="#{checklst.obsPre}" style="overflow-y: auto;" counter="display2" maxlength="3000" counterTemplate="{0}." disabled="#{checklst.entregadoSD}" />                    
                    <h:outputText id="display2" />
                </p:column>
                <p:column id="ver" headerText="Ver" width="5%" rendered="#{chklstView.digital}">
                    <h:commandLink value="">
                        <p:fileDownload value="#{chklstView.archivo}"/>
                        <f:param name="idArchivo" value="#{checklst.o[0]}" />
                        <h:graphicImage alt="Ver" value="/resources/imagenes_stack/glyphicons-52-eye-open.png"/>
                    </h:commandLink>                        
                </p:column>                
                <f:facet name="footer">
                    <div style="height: 30px">                       
                    </div>                   
                </f:facet>
            </p:dataTable>
                
            <p:panel id="btnOfic">
                <br></br>                
                <p:commandButton style="float: right" icon="ui-icon-disk" value="Guardar" actionListener="#{chklstView.guardar()}" process="@all" 
                	 disabled="#{!isInRole.subDirector or chklstView.dePrevenc }" rendered="#{!chklstView.tramiteYaTurnado}" oncomplete="render:@all">
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>   
                <br></br>
            </p:panel>



            
        </h:form>
    </ui:composition>
    </h:body>
</html>

