<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
      
      
    <h:head>
	    <script type="text/javascript">
	        $('#tblCheckLst').click(function() {
	            alert("Cambio!");
	        }
	    </script>
	    <script type="text/javascript">
			function start() {
			    PF('statusDialog').show();
			}
			 
			function stop() {
			    PF('statusDialog').hide();
			}
		</script>
	</h:head>	
	<h:body>
    <ui:composition id="parteChkLst">
        <h:form id="chklstForm">
            <style type="text/css">
                .ui-chkbox-all {
                  visibility: hidden;
                }
            </style>    
            
            <h:inputHidden value="#{chklstView.bitaProyecto}" />
            <p:dataTable id="tblCheckLst" var="checklst" value="#{chklstView.requisitosImg}" selection="#{chklstView.requisitosSi}"  rowKey="#{checklst.o[0]}" 
                         emptyMessage="No se encontraron registros. Revise que la fecha de ingreso sea posterior al 22/Octubre/2014">

                <p:ajax event="rowSelectCheckbox" update="@form" listener="#{chklstView.onCheckSubdirector}"/>
                <p:ajax event="rowUnselectCheckbox" update="@form" listener="#{chklstView.onUncheckSubdirector}"/>
                
                <p:column headerText="Validaci&oacute;n de ventanilla" width="10%">
                    <p:graphicImage value="#{checklst.rutaChkImg}" />
                </p:column>
                <p align="center">
                    <p:column selectionMode="multiple" headerText="Validaci&oacute;n Subdirector" width="10%" style="alignment-adjust: central" id="validaDir">
                    </p:column>
                </p>
                <p:column id="nomRequisito" headerText="Descripci&oacute;n requisitos" >
                    <h:outputLabel value="#{checklst.o[1]}" />
                </p:column>
                <!--
                <p:column id="comment" headerText="Edici&oacute;n de las observaciones" >
                    <p:inputTextarea rows="10" cols="30" value="#{checklst.obs}" style="overflow-y: scroll;" />
                </p:column>
                <p:column headerText="Observaciones capturadas" id="obsPre">
                    <p:outputLabel value="#{checklst.obsPre}" />
                </p:column>
                -->
                <p:column id="comment" headerText="Observaciones" >
                    <p:inputTextarea rows="6" cols="50" autoResize="true"  value="#{checklst.obsPre}" style="overflow-y: auto;" counter="display2" maxlength="3000" counterTemplate="{0}." disabled="#{checklst.entregadoSD}" />                    
                    <h:outputText id="display2" />
                </p:column>
                <p:column id="ver" headerText="Ver" width="5%" rendered="#{chklstView.digital}">
                    <h:commandLink value="">
                        <p:fileDownload value="#{chklstView.archivo}"/>
                        <f:param name="idArchivo" value="#{checklst.o[0]}" />
                        <h:graphicImage alt="Ver" value="resources/imagenes_stack/glyphicons-52-eye-open.png"/>
                    </h:commandLink>                        
                </p:column>                
                <f:facet name="footer">
                    <div style="height: 30px">                       
                    </div>                   
                </f:facet>
            </p:dataTable>
            
            <!--<p:panel id="btnOfic">
                <br></br>                
                <p:commandButton style="float: right" icon="ui-icon-disk" value="Guardar" actionListener="{chklstView.guardar}" process="@all" update="chklstForm,tblCheckLst,btnOfic,turnadoDocs" disabled="{!isInRole.subDirector or chklstView.dePrevenc }" rendered="{!chklstView.tramiteYaTurnado}"/>                   
                <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                    <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>               
                <p:commandButton style="float: right" value="Turnar oficio" actionListener="{chklstView.selTurnadoDocsCheck}" process="@all" update="chklstForm,turnadoDocs" disabled="{isInRole.evaluador}" rendered="{!chklstView.turnaDocsBtn and !(fn:length(chklstView.requisitosSi) == fn:length(chklstView.requisitosImg)) or chklstView.tipoDoc == 3}"/>                                  
                <p:button style="float: right" href="{chklstView.URLgenOficPre}" value="Oficio de prevención" rendered="{!(fn:length(chklstView.requisitosSi) == fn:length(chklstView.requisitosImg)) or chklstView.tipoDoc == 3 or !chklstView.dePrevenc}"  target="_black" disabled="{chklstView.dePrevenc}"/>
               
                <br></br>
            </p:panel> -->



            <h:panelGroup id="turnadoDocs" rendered="#{chklstView.turnaDocs}"> 
                <p:outputPanel class="panelTitulos"  style="width: 100%;height: 100%">
                    <p:panel header="Turnado de Oficio" id="panBitacora">                                   
                        <h:panelGrid border="0" columns="4" style="width: 90%; margin: 5px;">
                            <label class="etiquetas" style="">Tipo oficio:&nbsp;&nbsp;&nbsp;</label> 
                            <h:outputLabel value="#{chklstView.nombTipoOfic}"></h:outputLabel>                      
                            <label class="etiquetas" style="">Oficio a turnar:&nbsp;&nbsp;&nbsp;</label> 
                            <h:outputLabel><a href="http://#{chklstView.urlOfic}"  target="_blank" style="color: #000099;" >#{chklstView.nombreOfic}</a></h:outputLabel>
                            <h:outputLabel>&nbsp;&nbsp;&nbsp;</h:outputLabel>
                            <h:outputLabel>&nbsp;&nbsp;&nbsp;</h:outputLabel>
                            <h:outputLabel>&nbsp;&nbsp;&nbsp;</h:outputLabel>
                            <h:outputLabel>&nbsp;&nbsp;&nbsp;</h:outputLabel>
                            
<!--                   pool -->
<!--                        	 <label class="etiquetas">Estado:&nbsp;&nbsp;&nbsp;</label>  -->
<!--                             <h:selectOneMenu  class="form-control" id="fSubsector"  -->
<!--                             	value="#{chklstView.idDocumento}"  -->
<!--                             	requiredMessage="Etatus de documento requerido" -->
<!--                             	>                             -->
<!--                                 <p:ajax update="chklstForm,turnadoDocs" /> -->
<!--                                 <f:selectItem itemLabel="Seleccione estatus" itemValue="" /> -->
<!--                                 <f:selectItems value="#{chklstView.subSectorCat}" var="catDocs" itemValue="#{catDocs.estatusDocumentoId}" itemLabel="#{catDocs.estatusDocumentoDescripcion}" /> -->
<!--                             </h:selectOneMenu>                            -->
                             
                            
<!--                             <h:outputLabel rendered="#{!isInRole.subDirector}"> <label class="etiquetas" >&nbsp;&nbsp;&nbsp;Observaciones:</label> </h:outputLabel> -->
<!--                             <p:inputTextarea rendered="#{!isInRole.subDirector}" rows="7" cols="40" value="#{chklstView.comentarioTurnado}" id="txtComentarios"/>                      -->
                        </h:panelGrid>
                          

<!-- 					firmar -->
						<h:panelGroup id="firmadoDocsBtn" rendered="#{!chklstView.turnaDocsBtn}"> 
                            <p:commandButton style="float: right" value="Firmar" 
                            	actionListener="#{chklstView.siFirmar}"
                            	onclick="this.disabled = true;"
                            	oncomplete="PF('dlgdownloadjar').show();"
                            	>
                                <p:confirm header="Confirmation" message="¿Está seguro de firmar el Oficio de prevención?" icon="ui-icon-alert" />
                            </p:commandButton>  
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                            <br/><br/>
                        </h:panelGroup>
                        
<!--                    Turnar  -->
                        <h:panelGroup id="turnadoDocsBtn" rendered="#{!chklstView.turnaDocsBtn}"> 
                            <p:commandButton id="btnTurnDoc" style="float: right" value="Turnar" actionListener="#{chklstView.turnaOficChkList}" process="@all" update="chklstForm:btnOfic,turnadoDocs,tblObservac" onclick="this.disabled = true;">
                                <p:confirm header="Confirmation" message="¿Esta seguro de turnar el Oficio de prevención?" icon="ui-icon-alert" />
                            </p:commandButton>  
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">                            	
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                            <br/><br/>
                        </h:panelGroup>
                        
                        
<!--                    Corregir -->
                        <h:panelGroup id="corregirDocsBtn" rendered="#{!chklstView.turnaDocsBtn}"> 
                            <p:commandButton id="btnCorregirDoc" style="float: right" value="Corregir" 
                            	onclick="PF('dlgcomentarioscorreccion').show();" >
                                <p:confirm header="Confirmation" message="¿Esta seguro de corregir el Oficio de prevención?" icon="ui-icon-alert" />
                            </p:commandButton>  
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                            <br/><br/>
                        </h:panelGroup>
                        
                        
                        <p:dataTable id="tblObservac" var="checklst" value="#{chklstView.comenatriosTab}" emptyMessage="No se encontraron observaciones.">
                            <p:column width="3%">
                                <h:outputText styleClass="numeracion textoReducido"/>
                            </p:column>
                            <p:column headerText="Fecha envío" width="13%">
                                <h:outputLabel value="#{checklst[5]}" >
                                    <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                                </h:outputLabel>
                            </p:column>
                            <p:column headerText="Perfil" width="17%">
                               <h:outputLabel value="#{checklst[2]}" />                               
                            </p:column>                          
                            <p:column headerText="Estado" width="15%">
                               <h:outputLabel value="#{checklst[3]}" />
                            </p:column> 
                            <p:column headerText="Observación" width="55%">
                               <h:outputLabel value="#{checklst[4]}" />
                            </p:column>  
                       </p:dataTable>
                        
                        <br></br>
                        <br></br>
                        <br></br>
                    </p:panel>                     
                    <br></br>
                    <br></br>
               </p:outputPanel>
            </h:panelGroup>
            
            
            <p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
<!--     			<p:graphicImage name="/resources/imagenes_stack/ajaxloadingbar.gif" /> -->
			</p:dialog>

            <p:dialog header="Descargar aplicacion para firmar" widgetVar="dlgdownloadjar" minHeight="200">
    			<h:outputText value="Descargar!" />
    			<p:commandButton value="Download" ajax="false" onclick="PF('dlgdownloadjar').hide(); PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
        			<p:fileDownload value="#{chklstView.file}" />
    			</p:commandButton>
			</p:dialog>
			
			<p:dialog header="Comentarios" id="dlgcomentarioscorreccion" widgetVar="dlgcomentarioscorreccion" minHeight="800">
				<p:outputPanel id="pnlComentarios">
	    			<p:inputTextarea rows="7" cols="40" value="#{chklstView.comentarioTurnado}" id="txtComentarios"/>
	    			<br></br>
					<p:commandButton id="guardar" class="btn btn-primary btn-sm"
						value="Guardar" update="chklstForm:btnOfic,turnadoDocs,tblObservac"
						action="#{chklstView.corrigeOficChkList}" onclick="PF('dlgcomentarioscorreccion').hide();" style="float: right;" />
					<p:commandButton id="cerrarModalA" class="btn btn-default btn-sm"
						value="Cerrar" type="button" onclick="PF('dlgcomentarioscorreccion').hide();"
						style="float: right; margin-right: 10px;" />
	    		</p:outputPanel>
			</p:dialog>
            
        </h:form>
    </ui:composition>
    </h:body>
</html>

