<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">
    <ui:composition>
        <o:importConstants type="mx.gob.semarnat.utils.Utils" />
        <o:importConstants type="mx.gob.semarnat.utils.GenericConstants" />
        <h:form id="frmConsultaP">
            <p:growl id="messages" autoUpdate="true" sticky="true" />
            <h:panelGrid border="0" columns="4"> 

                <br/>
            </h:panelGrid>
            <p:panel id="contenidoConsultaPublica" widgetVar="contenidoConsultaPublica" >
                <p:dataTable var="proyPend" value="#{ConsultaP.listaUno}" widgetVar="proyTable" rows="10" paginator="true" 
                             paginatorPosition="bottom" editable="true" 
                             emptyMessage="No se encuentran datos con el criterio indicado"  id="PTconsultPublica" rowIndexVar="rowIndex">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText value="Solicitudes de consulta pública" class="titulos"/>
                        </p:outputPanel>
                    </f:facet>
                    <!--<p:column width="3%">
                        <h:outputText class="numeracion" />
                    </p:column>-->
                    <p:column headerText="" width="8%">                           
                        <p:button href="#{proyPend.ligaDocto}" 
                            value="Consultar oficio"
                            target="_blank"/>
                    </p:column>
                    <p:column headerText="Oficio" width="10%">
                        <h:outputText value="#{proyPend.oficio}" />
                    </p:column>

                    <p:column headerText="Remitente" width="15%">
                        <h:outputText value="#{proyPend.remitente}" />
                    </p:column>

                    <p:column headerText="Dependencia"  width="15%">
                        <h:outputText value="#{proyPend.dependencia}" />
                    </p:column>

                    <p:column headerText="" width="10%">

                        <p:selectOneMenu id="cmb" value="#{proyPend.selec}"
                                         valueChangeListener="#{proyPend.onValueChangeCmb}"
                                         disabled="#{(isInRole.evaluador and !ConsultaP.conModificacion )}"> <!-- onchange="submit()" -->
                            <f:selectItem itemLabel="Selecciona" itemValue="" />
                            <f:selectItem itemLabel="Si" itemValue="S" />
                            <f:selectItem  itemLabel="No" itemValue="N"  />
                            <p:ajax event="change" update="@form" listener="#{ConsultaP.onChangeCmb}"/>
                        </p:selectOneMenu>
                    </p:column> 
                    <p:column headerText="" width="7%" id="colTurna">
                        <!-- TURNAR!!!!!!!!!!!! -->
                        <p:remoteCommand action="#{ConsultaP.turnaDoctoConsultaPublicaN}" name="turnaDoctosPromoventeN" process="@form" update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"/>
                        <p:remoteCommand action="#{ConsultaP.siFirmar}" name="siFirmar" process="@form"/>
                        <p:remoteCommand action="#{ConsultaP.corrige}" name="corrigeN" process="@form"/>
                        <p:remoteCommand action="#{ConsultaP.setComentarioTurnado}" name="comentariosTurnadoCP" 
                                         process="PTconsultPublica"/>		                          

                        <p:commandButton  value="Firmar" 
                                          onclick="this.disabled = true;"
                                          rendered="#{proyPend.editable and !empty proyPend.ligaDocto}"
                                          oncomplete="siFirmar([{name:'idDocumento', value:'#{proyPend.oficio}'},{name:'idEstadoDocto', value:'#{ConsultaP.estatusDoctoTurnado}'},{name:'ciudadanoPrincipal', value:'#{proyPend.selec}'}]); PF('dlgdownloadjar').show();"
                                          update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica">

                            <p:confirm header="Confirmation" message="¿Está seguro de firmar el Oficio ?" icon="ui-icon-alert" />
                        </p:commandButton>  
                        <p:commandButton value="Turnar"		                                				 
                                         oncomplete="turnaDoctosPromoventeN([{name:'idDocumento', value:'#{proyPend.oficio}'},{name:'idEstadoDocto', value:'#{ConsultaP.estatusDoctoTurnado}'},{name:'ciudadanoPrincipal', value:'#{proyPend.selec}'}]);" 
                                         immediate="true"              
                                         update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"                                    
                                         rendered="#{proyPend.editable and !empty proyPend.ligaDocto}"
                                         >
                            <p:confirm header="Confirmation" message="¿Está seguro de Turnar el Oficio ?" icon="ui-icon-alert" />  
                        </p:commandButton>                                


                        <!--                    Corregir -->
                        <!--<p:commandButton id="btnCorregirDoc1"  value="Corregir"
                                         rendered="#.{!isInRole.evaluador and proyPend.editable and !empty proyPend.ligaDocto}"                            	 
                                         onclick="getWidgetVarById('view_south:view_south2:frmConsultaP:PTconsultPublica:#.{rowIndex}:dlgcomentarioscorreccion').show()" >
                            <p:confirm header="Confirmation" message="¿Esta seguro de corregir el Oficio?" icon="ui-icon-alert" />
                        </p:commandButton>
                        <p:dialog header="Comentarios" id="dlgcomentarioscorreccion"  minHeight="800">
                            <p:outputPanel id="pnlComentarios1">

                                <p:inputTextarea rows="7" cols="40" value="#.{ConsultaP.comentarioTurnado}"  
                                                 id="txtComentariosCP"                                                  
                                                 onchange="comentariosTurnadoCP([{name: 'comentTurnado', value: this.value}]);"
                                                 rendered="#.{!isInRole.evaluador}"/>								    			
                                <br></br>
                                <p:commandButton  class="btn btn-primary btn-sm"
                                                  value="Guardar" update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"
                                                  onclick="corrigeN([{name: 'idDocumento', value: '#.{proyPend.oficio}'}, {name: 'idEstadoDocto', value: '#.{ConsultaP.estatusDoctoTurnado}'}, {name: 'ciudadanoPrincipal', value: '#.{proyPend.selec}'}]);
                                                          getWidgetVarById('view_south:view_south2:frmConsultaP:PTconsultPublica:#.{rowIndex}:dlgcomentarioscorreccion').hide();"
                                                  style="float: right;" />
                                <p:commandButton id="cerrarModalA" class="btn btn-default btn-sm"
                                                 value="Cerrar" type="button"
                                                 onclick="getWidgetVarById('view_south:view_south2:frmConsultaP:PTconsultPublica:#.{rowIndex}:dlgcomentarioscorreccion').hide()"
                                                 style="float: right; margin-right: 10px;" />
                            </p:outputPanel>
                        </p:dialog>-->

                        <!-- FIN TURNAR -->
                    </p:column>
<!--                    <p:column headerText="" width="8%"  id="botones">  rendered="{ConsultaP.bandera}"
                        <p:button href="{Utils.rutaGeneradorDoctos}
                            {ConsultaP.cveTipTram},{ConsultaP.idTipTram},
                            {ConsultaP.edoGestTram},{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_CIUDADANO_PRINCIPAL},
                            {ConsultaP.bitaProyecto},{proyPend.oficio}" 
                            value="Oficio de respuesta"
                            rendered="{proyPend.selec eq 'S' and proyPend.editable and isInRole.evaluador}"  target="_black" />
                        <p:button href="{Utils.rutaGeneradorDoctos}{ConsultaP.cveTipTram},
                            {ConsultaP.idTipTram},{ConsultaP.edoGestTram},
                            {GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_CIUDADANOS},
                            {ConsultaP.bitaProyecto},{proyPend.oficio}" 
                            value="Oficio a ciudadano" 
                            rendered="{proyPend.selec ne 'S' and proyPend.editable and isInRole.evaluador}" target="_black" />

                        <p:button href="{proyPend.ligaDocto}" 
                                  value="Consultar oficio de respuesta" 
                                  rendered="{proyPend.selec eq 'S' and !empty proyPend.ligaDocto}"  target="_black" />

                        <p:button href="{proyPend.ligaDocto}" 
                                  value="Consultar oficio a ciudadano" 
                                  rendered="{proyPend.selec ne 'S' and !empty proyPend.ligaDocto}" target="_black" />
                    </p:column> -->
<!--                    <p:column headerText="" width="6%">
                        <p:remoteCommand action="#{ConsultaP.muestraObservaciones}" name="muestraObservaciones"
                                         oncomplete="getWidgetVarById('view_south:view_south2:frmConsultaP:PTconsultPublica:#{rowIndex}:dlgObs').show();"
                                         update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"/>
                        <p:commandButton icon="ui-icon-comment" type="button"
                                         onclick="muestraObservaciones([{name: 'idDocumento', value: '#{proyPend.oficio}'}, {name: 'tipoDocto', value: '#{proyPend.selec}'}]);"
                                         class="btn btn-default" style="height:20px;padding-left: 10px"
                                         rendered="#{!empty proyPend.observacion}"/>
                        <p:dialog widgetVar="dlgObs_#{rowIndex}" id="dlgObs" modal="true" width="900" height="450"
                                  appendTo="@(body)" position="center" draggable="false" resizable="false" closeOnEscape="true" 
                                  header="Consulta Pública - Observaciones" showEffect="fade" hideEffect="explode">
                            <p:dataTable id="tblObservac" var="comentario" value="#{ConsultaP.comentariosTab}" emptyMessage="No se encontraron observaciones.">
                                <p:column width="4%">
                                    <h:outputText styleClass="numeracion textoReducido"/>
                                </p:column>
                                <p:column headerText="Fecha envío" width="15%">
                                    <h:outputText value="#{comentario[5]}">
                                        <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                                    </h:outputText>
                                </p:column>                          
                                <p:column headerText="Perfil" width="20%">
                                    <h:outputLabel value="#{comentario[2]}" />                               
                                </p:column>                          
                                <p:column headerText="Estado" width="15%">
                                    <h:outputLabel value="#{comentario[3]}" />
                                </p:column> 
                                <p:column headerText="Observación" width="60%">
                                    <h:outputLabel value="#{comentario[4]}" />
                                </p:column>  
                            </p:dataTable>
                        </p:dialog>   
                    </p:column>-->

                </p:dataTable>
                <h:inputHidden value="#{ConsultaP.estatusDoctoTurnado}" id="hEstatus"/>
                <br/>

                <div align="right">
                    <table cellpadding="150" cellspacing="150" width="30%" align="right">
                        <tr><td colspan="2" align="center" style="font-weight: bolder;">Oficios</td></tr>
                        <tr><td align="center" style="font-weight: bolder;">
                                Promovente
                            </td>
                            <td align="center" style="font-weight: bolder;">
                                Delegaciones    
                            </td>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            <td align="center">
                        <p:remoteCommand action="#{ConsultaP.turnaDoctoConsultaPublica}" name="turnaDoctosPromovente" process="@form"/>
                        <p:remoteCommand action="#{ConsultaP.turnaDoctoConsultaPublicaN}" name="turnaDoctosPromoventeP" process="@form" update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"/>
                        <p:remoteCommand action="#{ConsultaP.siFirmar}" name="siFirmarP" process="@form"/>
                        <p:remoteCommand action="#{ConsultaP.corrige}" name="corrigeP" process="@form"/>


                        <p:remoteCommand action="#{ConsultaP.doctoPromovente.setEstatusDocto}" name="estadoDoctoPromo" process="@form" update=":view_south:view_south2:frmConsultaP:hEstatusPromo"/>
                        <p:remoteCommand action="#{ConsultaP.doctoPromovente.setObservacion}" name="comentariosTurnadoPromo" 
                                         process="@form" />
                        <!-- Turnar Promovente -->
                        <h:panelGroup id="firmadoDocsBtn" rendered="#{ConsultaP.doctoPromovente.editable and !empty ConsultaP.doctoPromovente.ligaDocto}"> 
                            <p:commandButton  value="Firmar" 
                                              onclick="this.disabled = true;"
                                              oncomplete="siFirmarP([{name:'idDocumento', value:'#{ConsultaP.doctoPromovente.oficio}'},{name:'tipoDoctoTurnado', value:'#{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_PROMOVENTE}'}]); PF('dlgdownloadjar').show();"
                                              update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"
                                              immediate="true"
                                              >
                                <p:confirm header="Confirmation" message="¿Está seguro de firmar el Oficio ?" icon="ui-icon-alert" />
                            </p:commandButton>  
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" immediate="true" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" immediate="true"/>
                            </p:confirmDialog>
                            <br/>		                              
                            <p:commandButton value="Turnar"		                                				 
                                             oncomplete="turnaDoctosPromoventeP([{name:'idDocumento', value:'#{ConsultaP.doctoPromovente.oficio}'},{name:'tipoDoctoTurnado', value:'#{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_PROMOVENTE}'}]);" 
                                             immediate="true"              
                                             update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"                                    
                                             rendered="#{ConsultaP.doctoPromovente.editable and !empty ConsultaP.doctoPromovente.ligaDocto}">
                                <p:confirm header="Confirmation" message="¿Está seguro de Turnar el Oficio ?" icon="ui-icon-alert" />  
                            </p:commandButton>                                
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                            <br/>
                            <h:graphicImage alt="Comentarios" value="/resources/imagenes_stack/comentario.png" height="25" width="25" 
                                            rendered="#{!empty ConsultaP.doctoPromovente.observacion}" id="observacionPromo"/>
                            <p:tooltip id="toolTipTrackPromo" for="observacionPromo" 
                                       value="#{ConsultaP.doctoPromovente.observacion}" trackMouse="true"
                                       showEffect="clip" hideEffect="explode"/>                                 
                        </h:panelGroup>


                        <h:inputHidden value="#{ConsultaP.doctoPromovente.estatusDocto}" id="hEstatusPromo"/>

                        <!--                    Corregir -->
                        <!--<h:panelGroup id="corregirDocsBtn" rendered="#{!isInRole.evaluador and ConsultaP.doctoPromovente.editable and !empty ConsultaP.doctoPromovente.ligaDocto}"> 
                            <p:commandButton id="btnCorregirDocRe" value="Corregir"                            	 
                                             onclick="PF('dlgcomentarioscorreccion2').show();" >
                                <p:confirm header="Confirmation" message="¿Esta seguro de corregir el Oficio de prevención?" icon="ui-icon-alert" />
                            </p:commandButton>  
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>

                            <p:dialog header="Comentarios" id="dlgcomentarioscorreccion2" widgetVar="dlgcomentarioscorreccion2" minHeight="800">
                                <p:outputPanel id="pnlComentarios2">

                                    <p:inputTextarea rows="7" cols="40" value="#{ConsultaP.doctoPromovente.observacion}" 
                                                     id="txtComentariosPromo" onchange="comentariosTurnadoPromo([{name: 'observacion', value: this.value}]);"
                                                     rendered="#{!isInRole.evaluador}"/>								    			
                                    <br></br>
                                    <p:commandButton  class="btn btn-primary btn-sm"
                                                      value="Guardar" update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"
                                                      onclick="corrigeP([{name: 'idDocumento', value: '#{ConsultaP.doctoPromovente.oficio}'}, {name: 'tipoDoctoTurnado', value: '#{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_PROMOVENTE}'}]);PF('dlgcomentarioscorreccion2').hide();" style="float: right;" />
                                    <p:commandButton id="cerrarModalA" class="btn btn-default btn-sm"
                                                     value="Cerrar" type="button" onclick="PF('dlgcomentarioscorreccion2').hide();"
                                                     style="float: right; margin-right: 10px;" />
                                </p:outputPanel>
                            </p:dialog>

                        </h:panelGroup>-->

                        </td>




                        <td align="center">

                        <p:remoteCommand action="#{ConsultaP.turnaDoctoConsultaPublicaN}" name="turnaDoctosPromoventeD" process="@form" update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"/>
                        <p:remoteCommand action="#{ConsultaP.siFirmar}" name="siFirmarD" process="@form"/>	
                        <p:remoteCommand action="#{ConsultaP.corrige}" name="corrigeN" process="@form"/>

                        <p:remoteCommand action="#{ConsultaP.doctoDelegaciones.setEstatusDocto}" name="estadoDoctoDelegacion" process="@form" update=":view_south:view_south2:frmConsultaP:hEstatusDelegacion"/>
                        <p:remoteCommand action="#{ConsultaP.doctoDelegaciones.setObservacion}" name="comentariosTurnadoDelegacion" 
                                         process="@form" />                            
                        <!-- Turnar delegaciones -->

                        <p:commandButton  value="Firmar" 
                                          onclick="this.disabled = true;"		                            	
                                          oncomplete="estadoDoctoDelegacion([{name:'idEstadoDocto', value:'#{GenericConstants.ESTATUS_DOCTO_AUTORIZADO}'}]);siFirmarD([{name:'idDocumento', value:'#{ConsultaP.doctoDelegaciones.oficio}'},{name:'tipoDoctoTurnado', value:'#{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_DELEGACION}'}]); PF('dlgdownloadjar').show();"
                                          update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"
                                          rendered="#{ConsultaP.doctoDelegaciones.editable and !empty ConsultaP.doctoDelegaciones.ligaDocto}"
                                          >
                            <p:confirm header="Confirmation" message="¿Está seguro de firmar el Oficio Delegación?" icon="ui-icon-alert" />
                        </p:commandButton>                                  
                        <br/>
                        <p:commandButton value="Turnar"		                                				 		                                				 
                                         oncomplete="estadoDoctoDelegacion([{name:'idEstadoDocto', value:'#{GenericConstants.ESTATUS_DOCTO_AUTORIZADO}'}]);turnaDoctosPromoventeD([{name:'idDocumento', value:'#{ConsultaP.doctoDelegaciones.oficio}'},{name:'tipoDoctoTurnado', value:'#{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_DELEGACION}'}]);" 		                                				             
                                         update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"                                    
                                         rendered="#{ConsultaP.doctoDelegaciones.editable and !empty ConsultaP.doctoDelegaciones.ligaDocto}"
                                         >
                            <p:confirm header="Confirmation" message="¿Está seguro de Turnar el Oficio Delegación?" icon="ui-icon-alert" />  
                        </p:commandButton>

                        <h:graphicImage alt="Comentarios" value="/resources/imagenes_stack/comentario.png" height="25" width="25" 
                                        rendered="#{ConsultaP.doctoDelegaciones.editable and !empty ConsultaP.doctoDelegaciones.ligaDocto and !empty ConsultaP.doctoDelegaciones.observacion}" id="observacionDelegacion"/>
                        <p:tooltip id="toolTipTrackDelegacion" for="observacionDelegacion" 
                                   value="#{ConsultaP.doctoDelegaciones.observacion}" trackMouse="true"
                                   showEffect="clip" hideEffect="explode"/>   





                        <br/>
                        <!--                    Corregir   Delegaciones -->
                        <!--<h:panelGroup id="corregirBtnDele" rendered="#.{!isInRole.evaluador and ConsultaP.doctoDelegaciones.editable and !empty ConsultaP.doctoDelegaciones.ligaDocto}"> 
                            <p:commandButton id="btnCorregirDoc2" value="Corregir"                            	 
                                             onclick="PF('dlgcomentariosdelegacion').show();" >
                                <p:confirm header="Confirmation" message="¿Esta seguro de corregir el Oficio de prevención?" icon="ui-icon-alert" />
                            </p:commandButton>  
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>

                            <p:dialog header="Comentarios" id="dlgcomentariosdelegacion" widgetVar="dlgcomentariosdelegacion" minHeight="800">
                                <p:outputPanel id="pnlComentariosDele">

                                    <p:inputTextarea rows="7" cols="40" value="#.{ConsultaP.doctoDelegaciones.observacion}" 
                                                     id="txtComentariosDelegaciones" onchange="comentariosTurnadoDelegacion([{name: 'observacion', value: this.value}]);"
                                                     rendered="#.{!isInRole.evaluador}"/>								    			
                                    <br></br>
                                    <p:commandButton class="btn btn-primary btn-sm"
                                                     value="Guardar" update=":view_south:view_south2:frmConsultaP:contenidoConsultaPublica"
                                                     onclick="estadoDoctoDelegacion([{name: 'idEstadoDocto', value: '#.{GenericConstants.ESTATUS_DOCTO_CORRECCION}'}]);corrigeN([{name: 'idDocumento', value: '#.{ConsultaP.doctoDelegaciones.oficio}'}, {name: 'tipoDoctoTurnado', value: '#.{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_DELEGACION}'}]);PF('dlgcomentariosdelegacion').hide();" style="float: right;" />
                                    <p:commandButton  class="btn btn-default btn-sm"
                                                      value="Cerrar" type="button" onclick="PF('dlgcomentariosdelegacion').hide();"
                                                      style="float: right; margin-right: 10px;" />
                                </p:outputPanel>
                            </p:dialog>

                        </h:panelGroup>-->




                        <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                        </p:confirmDialog>





                        <h:inputHidden value="#{ConsultaP.doctoDelegaciones.estatusDocto}" id="hEstatusDelegacion"/>

                        </td>
                        </tr>
                        <!-- Botones de generacion y consulta de oficios promovente y delegaciones -->
                        <tr>
                            <td align="center">
<!--                        <p:button href="#{Utils.rutaGeneradorDoctos}#{ConsultaP.cveTipTram},#{ConsultaP.idTipTram},#{ConsultaP.edoGestTram},#{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_PROMOVENTE},#{ConsultaP.bitaProyecto},#{ConsultaP.doctoPromovente.oficio}" 
                                  value="Editar" target="_black" disabled="#{!isInRole.evaluador}" 
                                  rendered="#{ConsultaP.doctoPromovente.editable and isInRole.evaluador and !chklstView.tramiteYaTurnado and (fn:length(ConsultaP.listaUno) > 0)}"/>                           -->
                        </td>
                        <td align="center">
<!--                        <p:button href="#{Utils.rutaGeneradorDoctos}#{ConsultaP.cveTipTram},#{ConsultaP.idTipTram},#{ConsultaP.edoGestTram},#{GenericConstants.TIPO_OFICIO_CONSULTA_PUBLICA_DELEGACION},#{ConsultaP.bitaProyecto},#{ConsultaP.doctoDelegaciones.oficio}" 
                                  value="Editar"  disabled="#{!isInRole.evaluador}" 
                                  rendered="#{ConsultaP.doctoDelegaciones.editable and isInRole.evaluador  and !chklstView.tramiteYaTurnado and (fn:length(ConsultaP.listaUno) > 0)}" target="_black" />-->
                        </td>
                        </tr>
                        <tr>
                            <td align="center">
                        <p:button href="#{ConsultaP.doctoPromovente.ligaDocto}" 
                                  value="Consultar"     
                                  rendered="#{!empty ConsultaP.doctoPromovente.ligaDocto}"  target="_black" />
                        </td>
                        <td align="center">
                        <p:button href="#{ConsultaP.doctoDelegaciones.ligaDocto}" 
                                  value="Consultar" 
                                  rendered="#{!empty ConsultaP.doctoDelegaciones.ligaDocto}"  target="_black" />

                        </td>
                        </tr>
                    </table></div>

                <p:dialog header="Descargar aplicacion para firmar" widgetVar="dlgdownloadjar" minHeight="200">
                    <h:outputText value="Descargar!" />
                    <p:commandButton value="Download" ajax="false" onclick="PF('dlgdownloadjar').hide();
                            PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
                        <p:fileDownload value="#{ConsultaP.file}" />
                    </p:commandButton>
                </p:dialog>      

            </p:panel>              
            <br/>
            <br/>
            <script type="text/javascript">
                function getWidgetVarById(id) {
                    for (var propertyName in PrimeFaces.widgets) {
                        if (PrimeFaces.widgets[propertyName].id === id) {
                            return PrimeFaces.widgets[propertyName];
                        }
                    }
                }
            </script>
        </h:form>
    </ui:composition>
</html>
