<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition>
        <o:importConstants type="java.lang.Float" />
        <h:form id="formBandejaTodos">
                
        <p:outputPanel id="opPanelProyectosOficio" rendered="#{etiquetasView.opcionSeleccionada == '1' || 
        			   etiquetasView.opcionSeleccionada == '3' || etiquetasView.opcionSeleccionada == '5' || etiquetasView.opcionSeleccionada == '7'}">
        
	        <p:dataTable id="grdPanelProyOficio" var="proyPend1" value="#{proyectosView.lstBandejaTodos}" widgetVar="proyTable1" rows="10"
	                     paginator="true" paginatorPosition="bottom" editable="true"
	                     filteredValue="#{proyectosView.lstFilterBandejaTodos}"
	                     emptyMessage="No se encuentran proyectos con el criterio indicado">
	            <f:facet name="header">
	                <p:outputPanel>
	                    <h:outputText value="#{proyectosView.titulo}" styleClass="titulos"/>
	                </p:outputPanel>
	            </f:facet>
	            <f:facet name="header">
	                <p:outputPanel style="text-align:left">
	                    <h:outputText value="Buscar: "/>
	                    <p:inputText id="globalFilter" onkeyup="PF('proyTable1').filter()" style="width:150px" placeholder="Ingrese consulta"/>
	                </p:outputPanel>
	            </f:facet>            
	            <p:column width="3%">
	                <h:outputText styleClass="numeracion textoReducido"/>
	            </p:column>
	            <p:column headerText="Días" width="60" style="padding: 3px; overflow: auto;">
	                <h:outputText value='#{proyPend1.porcentaje}' rendered='false'/>
	                <h:panelGroup rendered="#{proyPend1.porcentaje gt 100}">
	                    <table width="100%"  style="background: red; color: whitesmoke"><tr><td align="center">
	                        <h:outputText value="#{proyPend1.bitaDiasProceso} - #{proyPend1.bitaDiasTramite}" styleClass="textoReducido"/>
	                    </td></tr></table>
	                </h:panelGroup>                    
	                <h:panelGroup rendered="#{proyPend1.porcentaje ge 86 and proyPend1.porcentaje le 100}">
	                    <table width="100%"  style="background: orange;"><tr><td align="center">
	                        <h:outputText value="#{proyPend1.bitaDiasProceso} - #{proyPend1.bitaDiasTramite}" styleClass="textoReducido"/>
	                    </td></tr></table>
	                </h:panelGroup>                    
	                <h:panelGroup rendered="#{proyPend1.porcentaje ge 30 and proyPend1.porcentaje le 85}">
	                    <table width="100%"  style="background: yellow; "><tr><td align="center">
	                        <h:outputText value="#{proyPend1.bitaDiasProceso} - #{proyPend1.bitaDiasTramite}" styleClass="textoReducido"/>
	                    </td></tr></table>
	                </h:panelGroup>                    
	                <h:panelGroup rendered="#{proyPend1.porcentaje ge 0 and proyPend1.porcentaje le 29}">
	                    <table width="100%"  style="background: yellowgreen;"><tr><td align="center">
	                        <h:outputText value="#{proyPend1.bitaDiasProceso} - #{proyPend1.bitaDiasTramite}" styleClass="textoReducido"/>
	                    </td></tr></table>
	                </h:panelGroup>                    
	            </p:column>            
	            <p:column headerText="Bitácora" width="110" style="padding: 3px; overflow: auto;" 
	                      filterBy="#{proyPend1.bitaNumero}" filterMatchMode="contains">               
	                <h:outputText value="#{proyPend1.bitaNumero}" styleClass="textoReducido"/>
	            </p:column>
	            <p:column headerText="Clave del proyecto" width="120" style="padding: 3px; overflow: auto;"
	                      filterBy="#{proyPend1.cve}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend1.cve}" id="clave" rendered="false"/>
	                <h:panelGroup id="formSintesis">
	                    <p:commandLink value="#{proyPend1.cve}" oncomplete="PF('dlgSintPend#{proyPend1.cve}').show();" update="@form"
	                                   style="font-size: 12px">
	                        <f:setPropertyActionListener target="#{proyectosView.bitaSelect}" value="#{proyPend1.bitaNumero}"/>
	                    </p:commandLink>
	                    <p:dialog id="dia#{proyPend1.cve}" header="Sintesis del proyecto" widgetVar="dlgSintPend#{proyPend1.cve}" showEffect="clip" hideEffect="explode" height="200" width="600">
	                        <h:outputText value="#{proyectosView.sintesis}"/>
	                    </p:dialog>
	                </h:panelGroup>
	            </p:column>
	            <p:column headerText="Nombre del Proyecto" width="25%"
	                      filterBy="#{proyPend1.nombreProyecto}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend1.nombreProyecto}" style="text-transform:uppercase;" styleClass="textoReducido"/>
	            </p:column>
	
	            
	            <p:column headerText="Situación del trámite"
	                      filterBy="#{proyPend1.descripcion}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend1.descripcion}" />
	            </p:column>
	            
	            <p:column headerText="Fecha de Ingreso" width="7%">
	                <p align="center">
	                    <h:outputText value="#{proyPend1.bitaFechRegistro}" styleClass="textoReducido">
	                        <f:convertDateTime pattern="dd/MM/yyyy"/>
	                    </h:outputText>
	                </p>
	            </p:column>
	
	            <p:column headerText="Fecha l&iacute;mite de evaluaci&oacute;n" width="7%">
	                <p align="center">
	                    <h:outputText value="#{proyPend1.bitaFmaxResolucion}" styleClass="textoReducido">
	                        <f:convertDateTime pattern="dd/MM/yyyy"/>
	                    </h:outputText>
	                </p>
	            </p:column>
	
	            <p:column headerText="Tipo de estudio"
	                      filterBy="#{proyPend1.descTramite}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend1.descTramite}" styleClass="textoReducido"/>
	            </p:column>
	            <p:column headerText="Estado del trámite" rendered="false">
	                <h:outputText value="#{proyPend1.descripcion}" styleClass="textoReducido"/>
	            </p:column>
	            <p:column headerText="Turnar" width="5%" rendered="#{!proyectosView.isInRole.evaluador and !proyectosView.isInRole.directorGeneral}">                           
	                    <p align="center">                          
	                        <h:link outcome="pantallaInsideCapMIA.xhtml" rendered="#{proyPend1.tipoTramite eq 'MIA'}"> 
	                            <f:param name="bitaNum" value="#{proyPend1.bitaNumero}" />
	                            <f:param name="tramYaTurnado" value="0" />
	                            <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
	                        </h:link>
                                <h:link outcome="pantallaInsideCapSE.xhtml" rendered="#{proyPend1.tipoTramite eq 'EXENCIÓN'}">	                    	    
                                    <f:param name="bitaNum" value="#{proyPend1.bitaNumero}" />
	                            <f:param name="tramYaTurnado" value="0" />
                                    <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
	                    	</h:link>
	                        <h:link outcome="pantallaInsideCapIP.xhtml" rendered="#{proyPend1.tipoTramite eq 'IP'}"> 
	                            <f:param name="bitaNum" value="#{proyPend1.bitaNumero}" />
	                            <f:param name="tramYaTurnado" value="0" />
	                            <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
	                        </h:link>
<!--	                        <h:link outcome="#" rendered="{proyPend1.tipoTramite ne 'IP' and proyPend1.tipoTramite ne 'MIA'}"> 
	                            <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
	                        </h:link>-->
	                    </p>
	            </p:column>
	            <p:column headerText="Evaluar" rendered="#{proyectosView.isInRole.evaluador}" width="5%"> <!-- rendered="#{isInRole.evaluador}"  -->
                        <p align="center">                            
                            <h:link outcome="pantallaInsideCapMIA.xhtml" rendered="#{proyPend1.tipoTramite eq 'MIA'}"> 
                                <f:param name="bitaNum" value="#{proyPend1.bitaNumero}" />
                                <f:param name="tramYaTurnado" value="0" />
                                <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
                            </h:link>

                            <h:link outcome="pantallaInsideCapSE.xhtml" rendered="#{proyPend1.tipoTramite eq 'EXENCIÓN'}">	                    	    
                                <f:param name="bitaNum" value="#{proyPend1.bitaNumero}" />		                         	                        
                                <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
                            </h:link>

                            <h:link outcome="pantallaInsideCapIP.xhtml" rendered="#{proyPend1.tipoTramite eq 'IP'}"> 
                                <f:param name="bitaNum" value="#{proyPend1.bitaNumero}" />
                                <f:param name="tramYaTurnado" value="0" />
                                <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
                            </h:link>
                            
<!-- 	                        <h:commandLink action="#{detalleView.ligaDetalle}"  >  -->
<!-- 	                            <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />  -->
<!-- 	                            <f:setPropertyActionListener target="#{detalleView.bitacoraNom}" value="#{proyPend1.bitaNumero}"/> -->
<!-- 	                        </h:commandLink> -->
                        </p>
	            </p:column>
	            <p:column headerText="Turnar" rendered="#{proyectosView.isInRole.directorGeneral}" width="5%"> 
	                    <p align="center">
	                        <a href="#{proyPend1.urlDG}">
	                            <img src="../../resources/imagenes_stack/exit.png" height="20" width="20"></img>
	                        </a>
	                    </p>
	            </p:column>
	        </p:dataTable>
	       </p:outputPanel>
        </h:form>
    </ui:composition>
</html>

