<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	xmlns:o="http://omnifaces.org/ui">

<ui:composition>
	<o:importConstants type="java.lang.Float" />

	<h:form id="formDirectorios"
		rendered="#{etiquetasView.opcionSeleccionada == '102'}">
		
            <p:commandButton value="Nuevo"
                    action="#{unidadBean.creaUnidadAdministrativa}"
                    update=":formADUpdate:direcorioDetail"
                    oncomplete="PF('dlgAddUpdate').show()" />
            <br></br>
            <br></br>
            <p:outputPanel id="panelUnidades">
                <p:dataTable id="tblUnidades" widgetVar="tblUnidades"
                        value="#{unidadBean.unidades}" var="item" 
                        rowIndexVar="index" paginator="true" 
                        paginatorPosition="bottom" rows="10" emptyMessage="Sin registros.">
                    <f:facet name="header">
                        <p:outputPanel>
                            <h:outputText styleClass="titulos" value="Unidades Administrativas" />                            
                        </p:outputPanel>
                    </f:facet>
                    <p:column headerText="#"
                            style="white-space: normal; width: 50px; text-align: center;">
                        <h:outputText value="#{index + 1}" />
                    </p:column>
                    <p:column headerText="Nombre Dependencia"
                            style="white-space: normal;"
                             filterMatchMode="contains"
                             filterBy="#{item.nombreDependencia}">
                        <h:outputText value="#{item.nombreDependencia}" />
                    </p:column>
                    <p:column headerText="Titular" style="white-space: normal;"
                            filterMatchMode="contains"
                            filterBy="#{item.nombbreDestinatario}">
                        <h:outputText value="#{item.nombbreDestinatario}" />
                    </p:column>
                    <p:column headerText="Cargo" style="white-space: normal;"
                            filterMatchMode="contains"
                            filterBy="#{item.cargo}">
                        <h:outputText value="#{item.cargo}" />
                    </p:column>
                    <p:column headerText="Telefonos" style="white-space: normal;">
                        <h:outputText value="#{item.telefono}" />
                    </p:column>
                    <p:column headerText="Correo" style="white-space: normal;">
                        <h:outputText value="#{item.correo}" />
                    </p:column>
                    <p:column style="width:5%;">
                        <p:commandButton action="#{unidadBean.eliminar(item)}"
                                icon="ui-icon-close" update=":formDirectorios:tblUnidades"
                                onclick="PF('wait').show();" oncomplete="PF('wait').hide();">
                        </p:commandButton>
                    </p:column>
                    <p:column style="width:5%;">
                        <p:commandButton
                                action="#{unidadBean.cargaUnidadAdministrativa(item)}"
                                update=":formADUpdate:direcorioDetail"
                                oncomplete="PF('dlgAddUpdate').show()" icon="ui-icon-pencil"
                                title="Editar">
                            <f:setPropertyActionListener value="#{item}"
                                target="#{unidadBean.unidadSeleccionado}" />
                        </p:commandButton>
                    </p:column>
                </p:dataTable>
            </p:outputPanel>		
	</h:form>


	<p:dialog id="dlgAddUpdate" widgetVar="dlgAddUpdate" modal="false"
		closable="false" resizable="false"  width="1300">
            <h:form id="formADUpdate">
                <p:outputPanel id="direcorioDetail" >
                    <p:tabView>
                        <p:tab title="Institución">
                            <p:panelGrid columns="2" style="width:100%">
                                <p:outputLabel value="Nombre:" />
                                <p:inputText id="txtNombre"
                                        value="#{unidadBean.unidadSeleccionado.nombreDependencia}"
                                        maxlength="299" required="true" style="width:100%"
                                        requiredMessage="El campo Nombre de la Dependencia es obligatorio" />							

                                <p:outputLabel value="Nombre Corto:" for="txtNombreCorto" />
                                <p:inputText id="txtNombreCorto" maxlength="299"
                                        value="#{unidadBean.unidadSeleccionado.nombreCorto}"
                                        required="true" style="width:100%"
                                        requiredMessage="El campo Nombre Corto es obligatorio" />							

                                <p:outputLabel value="Domicilio:" />
                                <p:inputText id="txtDomicilio"
                                        value="#{unidadBean.unidadSeleccionado.domicilio}"
                                        maxlength="299" required="true" style="width:100%"
                                        requiredMessage="El campo Domicilio es obligatorio" />
							
                                <p:outputLabel value="Estado:" />
                                <p:selectOneMenu id="txtEstado" 
                                        value="#{unidadBean.unidadSeleccionado.estadoId}">
                                    <p:ajax listener="#{unidadBean.onEstadoChange}"
                                            update="txtMunicipio" />
                                    <f:selectItem value="#{null}"
                                            itemLabel="Seleccione un estado" />
                                    <f:selectItems value="#{unidadBean.itemsEstados}" />
                                </p:selectOneMenu>

                                <p:outputLabel value="Municipio:" />
                                <p:selectOneMenu id="txtMunicipio"
                                        value="#{unidadBean.unidadSeleccionado.municipioId}">
                                    <f:selectItem value="#{null}"
                                            itemLabel="Seleccione un municipio" />
                                    <f:selectItems value="#{unidadBean.itemsMunicipios}" />
                                </p:selectOneMenu>

<!-- 							<p:outputLabel value="Fundamento Legal Interno:" /> -->
<!-- 							<p:inputTextarea id="txtFundamentoLegalInterno" -->
<!-- 								value="#{unidadBean.unidadSeleccionado.fundamentoLegalInterno}" -->
<!-- 								maxlength="299" required="true" style="width:100%" -->
<!-- 								requiredMessage="El campo Fundamento legal es obligatorio" />							 -->

                                <p:outputLabel value="Tipo:"/>
                                <p:selectOneMenu id="txtTipo"
                                        value="#{unidadBean.opinionTec}">
                                    <f:selectItem value="#{null}"
                                            itemLabel="Seleccione un tipo de Unidad Administrativa" />
                                    <f:selectItems value="#{unidadBean.itemsUnidadesAdministrativas}" />
                                </p:selectOneMenu>
                            </p:panelGrid>
					</p:tab>
					<p:tab title="Destinatario">
						<p:panelGrid columns="2" style="width:100%">
							<p:outputLabel value="Profesión:" />
							<p:selectOneMenu id="txtTratamiento"
								value="#{unidadBean.unidadSeleccionado.tratamiento}">
								<f:selectItem value="#{null}"
									itemLabel="Seleccione una profesión" />
								<f:selectItems value="#{unidadBean.itemsTratamientos}"/>
									
							</p:selectOneMenu>

							<p:outputLabel value="Nombre:" />
							<p:inputText id="txtNombreDestinatario"
								value="#{unidadBean.unidadSeleccionado.nombbreDestinatario}"
								maxlength="299" required="true" style="width:100%"
								requiredMessage="El campo Nombre del destinatario es obligatorio" />							

							<p:outputLabel value="Cargo:" />
							<p:inputText id="txtCargo" style="width:100%"
								value="#{unidadBean.unidadSeleccionado.cargo}" maxlength="299"
								required="true" requiredMessage="El campo Cargo es obligatorio" />							

							<p:outputLabel value="Telefono:" />
							<p:inputText id="txtTelefono" style="width:100%"
								value="#{unidadBean.unidadSeleccionado.telefono}"
								maxlength="299" required="true"
								requiredMessage="El campo Telefono es obligatorio" />

							<p:outputLabel value="Correo:" />
							<p:inputText id="txtCorreo" style="width:100%"
								value="#{unidadBean.unidadSeleccionado.correo}" maxlength="299"
								required="true" requiredMessage="El campo orreo es obligatorio">								
							</p:inputText>
						</p:panelGrid>
					</p:tab>
				</p:tabView>
			</p:outputPanel>

			<p:commandButton id="btnGuardar" value="Guardar"
				styleClass="btn btn-primary" action="#{unidadBean.validarDatos}"
				update=":formDirectorios:tblUnidades">
			</p:commandButton>
			<p:commandButton id="btnCerrar" value="Cerrar"
				styleClass="btn btn-default" onclick="PF('dlgAddUpdate').hide()" />

		</h:form>
	</p:dialog>
		
</ui:composition>
</html>