<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition>
        <o:importConstants type="java.lang.Float" />
        <h:form id="formBusqueda" rendered="#{etiquetasView.opcionSeleccionada == '101'}">
               <h:panelGrid id="pnlGrid" columns="2" columnClasses="label, value">
                    <h:outputText value="Nombre:" />
                    <p:inputText value="#{administracionView.empleado.nombre}"/>
 
                    <h:outputText value="Apellido Paterno:" />
                    <p:inputText value="#{administracionView.empleado.apellidopaterno}"/>
 
                    <h:outputText value="Apellido Materno:" />
                    <p:inputText value="#{administracionView.empleado.apellidomaterno}" />
 
                    <h:outputText value="Unidad Administrativa:" />
					<p:selectOneMenu id="dependencias" class="form-control" value="#{administracionView.usuario.iddependencia}">
					<f:selectItem itemLabel="-- Seleccione --" itemValue="#{null}"
						noSelectionOption="true"></f:selectItem>
						<f:selectItems value="#{administracionView.catDependencias}" />
					</p:selectOneMenu>
                    
                </h:panelGrid>
                			<br />
			<p:commandButton styleClass="btn btn-primary alinDerecha"
				id="btnGuardarDetalles" value="Buscar" action="#{administracionView.buscarUsuarios}" update="emp" onclick="PF('wait').show();" oncomplete="PF('wait').hide();">
			</p:commandButton>
			
			<p:spacer height="5px"/>
			
			<p:commandButton styleClass="btn btn-default botonEliminar alinDerecha"
				id="btnCerrarDetalle" value="Limpiar" action="#{administracionView.limpiar}" update=":formBusqueda:pnlGrid" >
				<p:resetInput target=":formBusqueda:pnlGrid" />
			</p:commandButton>
			<br />
			<br />
			        <p:dataTable id="emp" var="emp" value="#{administracionView.lstUsr}" widgetVar="emp" rows="10"
                     paginator="true" paginatorPosition="bottom" rowIndexVar="rowIndex"
                     emptyMessage="No se encuentran usuarios con el criterio indicado">
                     
                           <f:facet name="header">
				                <p:outputPanel>
				                    <h:outputText value="#{administracionView.titulo}" styleClass="titulos"/>
				                </p:outputPanel>
				            </f:facet>
                     
                     	    <p:column style="white-space: normal;width:3%;text-align:center;font-size: 16px;" >
                                <f:facet name="header">N°</f:facet>
                                    <h:outputText value="#{rowIndex+1}"/>
                            </p:column>
                     
                     	    <p:column style="white-space: normal;width:3%;text-align:center;font-size: 16px;" >
                                <f:facet name="header">Nombre</f:facet>
                                    <h:outputText value="#{emp.idempleado.nombre}"/>
                            </p:column>
                            
                            <p:column style="white-space: normal;width:3%;text-align:center;font-size: 16px;" >
                                <f:facet name="header">Apellido Paterno</f:facet>
                                    <h:outputText value="#{emp.idempleado.apellidopaterno}"/>
                            </p:column>
                            
                            <p:column style="white-space: normal;width:3%;text-align:center;font-size: 16px;" >
                                <f:facet name="header">Apellido Materno</f:facet>
                                    <h:outputText value="#{emp.idempleado.apellidomaterno}"/>
                            </p:column>
                            
                            <p:column style="white-space: normal;width:3%;text-align:center;font-size: 16px;" >
                                <f:facet name="header">Administrar roles</f:facet>
                                    <p:commandLink value="Administrar" oncomplete="PF('modalAdm').show();" immediate="true" action="#{administracionView.consultarEmp(emp.idusuario)}"
                                    update=":Administrar:pnlAdm" >
                                          <p:resetInput target=":Administrar:pnlAdm"/>
                                    
                             		</p:commandLink>
                            </p:column>
                     </p:dataTable>
        </h:form>
    </ui:composition>
</html>

