<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:fn="http://java.sun.com/jsp/jstl/functions">
    <ui:composition>
        <h:form id="formProyectosFirmado">
        
        <p:outputPanel id="opProyectosOficioFirma" rendered="#{etiquetasView.opcionSeleccionada == '2' || 
        			   etiquetasView.opcionSeleccionada == '4' || etiquetasView.opcionSeleccionada == '6' || etiquetasView.opcionSeleccionada == '8'}">   
	        <p:dataTable id="grdProyectoOficioFirma" var="proyPend" value="#{proyectosView.lstBandejaTurnados}" widgetVar="proyTable" rows="10" 
	                     paginator="true" paginatorPosition="bottom" editable="true"
	                     filteredValue="#{proyectosView.lstFilterBandejaTurnados}"
	                     emptyMessage="No se encuentran proyectos con el criterio indicado">
	            
	            <f:facet name="header">
	                <p:outputPanel>
	                    <h:outputText value="#{proyectosView.titulo2}" class="titulos"/>                   
	                </p:outputPanel>
	            </f:facet>           
	            
	            <f:facet name="header">
	                <p:outputPanel style="text-align:left">
	                    <h:outputText value="Buscar: "/>
	                    <p:inputText id="globalFilter" onkeyup="PF('proyTable').filter()" style="width:150px" placeholder="Ingrese consulta"/>
	                </p:outputPanel>
	            </f:facet>
	                        
	            <p:column width="3%">
	                <h:outputText styleClass="numeracion textoReducido"/>
	            </p:column>
	            
	            <p:column headerText="Días" width="60" style="padding: 3px; overflow: auto;">
	                <h:outputText value='#{proyPend.porcentaje}' rendered='false'/>
	                <h:panelGroup rendered="#{proyPend.porcentaje gt 100}">
	                    <table width="100%"  style="background: red; color: whitesmoke"><tr><td align="center">
	                        <h:outputText value="#{proyPend.bitaDiasProceso} - #{proyPend.bitaDiasTramite}" styleClass="textoReducido"/>
	                    </td></tr></table>
	                </h:panelGroup>                    
	                <h:panelGroup rendered="#{proyPend.porcentaje ge 86 and proyPend.porcentaje le 100}">
	                    <table width="100%"  style="background: orange;"><tr><td align="center">
	                        <h:outputText value="#{proyPend.bitaDiasProceso} - #{proyPend.bitaDiasTramite}" styleClass="textoReducido"/>
	                    </td></tr></table>
	                </h:panelGroup>                    
	                <h:panelGroup rendered="#{proyPend.porcentaje ge 30 and proyPend.porcentaje le 85}">
	                    <table width="100%"  style="background: yellow; "><tr><td align="center">
	                        <h:outputText value="#{proyPend.bitaDiasProceso} - #{proyPend.bitaDiasTramite}" styleClass="textoReducido"/>
	                    </td></tr></table>
	                </h:panelGroup>                    
	                <h:panelGroup rendered="#{proyPend.porcentaje ge 0 and proyPend.porcentaje le 29}">
	                    <table width="100%"  style="background: yellowgreen;"><tr><td align="center">
	                        <h:outputText value="#{proyPend.bitaDiasProceso} - #{proyPend.bitaDiasTramite}" styleClass="textoReducido"/>
	                    </td></tr></table>
	                </h:panelGroup>                    
	            </p:column>
	            
	            <p:column headerText="Bitácora" width="110" style="padding: 3px; overflow: auto;"
	                      filterBy="#{proyPend.bitaNumero}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend.bitaNumero}" styleClass="textoReducido"/>
	            </p:column>
	            
	            <p:column headerText="Clave del proyecto" width="120" style="padding: 3px; overflow: auto;"
	                      filterBy="#{proyPend.cve}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend.cve}" id="clave" rendered="false"/>
	                <h:panelGroup id="formSintesis">
	                    <p:commandLink value="#{proyPend.cve}"  oncomplete="PF('dlgSintPend#{proyPend.cve}').show();" update="@form"
	                                   style="font-size: 12px">
	                        <f:setPropertyActionListener target="#{proyectosView.bitaSelect}" value="#{proyPend.bitaNumero}"/>
	                    </p:commandLink>
	                    <p:dialog id="dia#{proyPend.cve}" header="Sintesis del proyecto" widgetVar="dlgSintPend#{proyPend.cve}" showEffect="clip" hideEffect="explode" height="200" width="600">
	                        <h:outputText value="#{proyectosView.sintesis}" />
	                    </p:dialog>
	                </h:panelGroup>
	
	            </p:column>
	            
	            <p:column headerText="Nombre del Proyecto" width="25%"
	                      filterBy="#{proyPend.nombreProyecto}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend.nombreProyecto}" style="text-transform:uppercase;" styleClass="textoReducido"/>
	            </p:column>
	
	            <p:column headerText="Situación del trámite"
	                      filterBy="#{proyPend.descripcion}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend.descripcion}" styleClass="textoReducido"/>
	            </p:column>
	
	            <p:column headerText="Fecha de Ingreso" width="7%">
	                <p align="center">
	                    <h:outputText value="#{proyPend.bitaFechRegistro}" styleClass="textoReducido">
	                        <f:convertDateTime pattern="dd/MM/yyyy"/>
	                    </h:outputText>
	                </p>
	            </p:column>
	
	            <p:column headerText="Fecha l&iacute;mite de evaluaci&oacute;n" width="7%">
	                <p align="center">
	                    <h:outputText value="#{proyPend.bitaFmaxResolucion}" styleClass="textoReducido">
	                        <f:convertDateTime pattern="dd/MM/yyyy"/>
	                    </h:outputText>
	                </p>
	            </p:column>
	
	            <p:column headerText="Tipo de estudio"
	                      filterBy="#{proyPend.descTramite}" filterMatchMode="contains">
	                <h:outputText value="#{proyPend.descTramite}" styleClass="textoReducido"/>
	            </p:column>
	
	            <p:column headerText="Estado del trámite" rendered="false">
	                <h:outputText value="#{proyPend.descripcion}" styleClass="textoReducido"/>
	            </p:column>
	            
	            <p:column headerText="Ver Detalle" width="5%"  rendered="#{!proyectosView.isInRole.directorGeneral}">                           
	                    <p align="center">
	                        <h:link outcome="pantallaInsideCapMIA.xhtml" rendered="${proyPend.tipoTramite eq 'MIA'}"> 
	                            <f:param name="bitaNum" value="#{proyPend.bitaNumero}" />
	                            <f:param name="tramYaTurnado" value="1" />
	                            <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
	                        </h:link>
	                        <h:link outcome="pantallaInsideCapIP.xhtml" rendered="${proyPend.tipoTramite eq 'IP'}"> 
	                            <f:param name="bitaNum" value="#{proyPend.bitaNumero}" />
	                            <f:param name="tramYaTurnado" value="1" />
	                            <h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
	                        </h:link>
	                         <h:link outcome="pantallaInsideCapSE.xhtml" rendered="${proyPend.tipoTramite eq 'EXENCIÓN'}">	                    	    
	                         	<f:param name="bitaNum" value="#{proyPend.bitaNumero}" />		                         	                      
	                    	 	<h:graphicImage alt="Ver" value="/resources/imagenes_stack/exit.png" height="20" width="20" />
	                    	 </h:link>
	                    </p>
	            </p:column>
	            
	            <p:column headerText="Ver Detalle" rendered="#{proyectosView.isInRole.directorGeneral}" width="5%"> 
	                    <p align="center">
	                            <a href="#{proyPend.urlDG}">
	                                <img src="../../resources/imagenes_stack/exit.png" height="20" width="20"></img>
	                            </a>
	                    </p>
	            </p:column>
	            
	        </p:dataTable>
	       </p:outputPanel>
        </h:form>
    </ui:composition>
</html>

