<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:fn="http://xmlns.jcp.org/jsp/jstl/functions">
    <script type="text/javascript">
        $('#tblCheckLst').click(function() {
            alert("Cambio!");
        }
    </script>
    <ui:composition id="parteDesicion">
        <h:form id="DesicionForm">
            <h:inputHidden value="#{chklstView.bitaProyecto}" />
            <p:panel id="btnOfic">
                <br></br>  
                <h:outputLabel value="¿Desea turnar trámite a evaluación?"></h:outputLabel>
                <h:selectOneRadio id="fProDom" required="true" requiredMessage="¿Desea turnar trámite a evaluación?, seleccione una respuesta" value="#{chklstView.turnaEva}" styleClass="css_radio" >
                    <f:selectItem itemLabel="Si" itemValue="S"/>
                    <f:selectItem itemLabel="No" itemValue="N"/>
                </h:selectOneRadio>
                <p:commandButton style="float: right" icon="ui-icon-disk" value="Guardar" actionListener="#{chklstView.desicionTurnado}" process="@all" update="DesicionForm" disabled="#{!isInRole.evaluador}" />                   
                
                <br></br>
            </p:panel>
      
        </h:form>
    </ui:composition>
</html>

