<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:form>
            <p:outputPanel class="panelTitulos">
                <p:panel header="N&uacute;mero de Bit&aacute;cora" id="panBitacora">
                    <h:outputText value="#{detalleView.bitacoraNom}" />
                </p:panel>
            </p:outputPanel>
            <p:growl id="messages" autoUpdate="true" sticky="true" />
            <p:outputPanel class="panelCuerpo" >
                <h:panelGrid border="0" columns="2" 
                             width="100%" columnClasses="columnaLeyendas, columnaDatos">
                    <label class="etiquetas" style="">RFC:</label> 
                    <h:outputText value="#{detalleView.detalleProy[2]}" />
                    <label class="etiquetas" style="">Razón Social:</label> 
                    <h:outputText value="#{detalleView.detalleProy[16]}" />
                    <label class="etiquetas" style="">Fecha de ingreso:</label>
                    <h:outputText value="#{detalleView.detalleProy[3]}" />
                    <label class="etiquetas" style="">Fecha última modificación:</label> 
                    <h:outputText value="#{detalleView.detalleProy[4]}" />
                    <label class="etiquetas" style="">Fecha de resolución:</label> 
                    <h:outputText value="#{detalleView.detalleProy[5]}" />
                    <label class="etiquetas" style=" ">Fecha max. resolución:</label>
                    <h:outputText value="#{detalleView.detalleProy[6]}" />
                </h:panelGrid>

                <p:separator />
                <h:panelGrid columns="2" border="0" 
                             width="100%" columnClasses="columnaLeyendas, columnaDatos">
                    <label class="etiquetas" style="">Trámite:</label> 
                    <h:outputText value="#{detalleView.detalleProy[7]}" />
                    <label class="etiquetas" style="">Modalidad:</label> 
                    <h:outputText value="#{detalleView.detalleProy[8]}" />
                    <label class="etiquetas" style="">Situación actual:</label> 
                    <h:outputText value="#{detalleView.detalleProy[9]}" />

                </h:panelGrid>
                <p:separator />

                <h:panelGrid columns="2" border="0"
                             width="100%" columnClasses="columnaLeyendas, columnaDatos">
                    <label class="etiquetas" style="">Clave del proyecto:</label> 
                    <h:outputText value="#{detalleView.detalleProy[10]}" />
                    <label class="etiquetas" style="">Nombre del proyecto:</label> 
                    <h:outputText value="#{detalleView.detalleProy[11]}" />
                    <label class="etiquetas" style="">Sector:</label> 
                    <h:outputText value="#{detalleView.detalleProy[12]}" />
                    <label class="etiquetas" style="">Subsector:</label> 
                    <h:outputText value="#{detalleView.detalleProy[13]}" />
                    <label class="etiquetas" style="">Rama:</label> 
                    <h:outputText value="#{detalleView.detalleProy[14]}" />
                    <label class="etiquetas" style="">Tipo de proyecto:</label> 
                    <h:outputText value="#{detalleView.detalleProy[15]}" />
                </h:panelGrid>

                <h:panelGroup rendered="#{isInRole.directorArea}"> <!-- rendered="#{isInRole.directorArea}" -->
                    <p:panel rendered="#{detalleView.muestraOpcTurnado}"> <!-- rendered="#{detalleView.muestraOpcTurnado}" -->
                        <h:panelGrid columns="2" border="0" width="100%" columnClasses="columnaLeyendas, columnaDatos">
                            <p:column>
                                <label class="etiquetas" style="">Subdirección:</label>
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="cmbSubDirec" class="form-control" value="#{detalleView.tunaSubDirec}">                             
                                    <f:ajax rendered="cmbSubDirec" />
                                    <f:selectItems id="cmbSubDirecselectItemsSS" value="#{detalleView.cmbDirec}" /> 
                                </h:selectOneMenu>
                                <p:commandButton actionListener="#{detalleView.seleccionaReferencia}" value="Turnar" 
                                                 onclick="this.disabled = true;" update="turnados"/>
                            </p:column>
                        </h:panelGrid>
                    </p:panel>
<!--                     <p:panel rendered="#{detalleView.muestraOpcTurnadoNo}"> rendered="#{detalleView.muestraOpcTurnadoNo}" -->
<!--                         <h:panelGrid columns="2" border="0" -->
<!--                                      width="100%" columnClasses="columnaLeyendas, columnaDatos"> -->
<!--                             <label class="etiquetas" style="">Subdirección:</label>  -->
<!--                             <h:outputText value="#{detalleView.detalleProy[18]}" /> -->
<!--                         </h:panelGrid> -->
<!--                     </p:panel> -->
                </h:panelGroup>

                <p:panel id="turnado" rendered="#{isInRole.subDirector}"> <!-- rendered="#{isInRole.subDirector}"  -->
<!--                     <h:panelGrid columns="2" border="0" -->
<!--                                  width="100%" columnClasses="columnaLeyendas, columnaDatos"> -->
<!--                         <label class="etiquetas" >Subdirección:</label>  -->
                        
<!--                         <h:outputText value="#{detalleView.detalleProy[18]}" /> -->
<!--                     </h:panelGrid> -->
                    <h:panelGroup id="turnados" rendered="#{detalleView.porTurnar}"> <!-- rendered="#{detalleView.porTurnar}"  -->
                        <h:panelGrid columns="2" border="0" width="100%" columnClasses="columnaLeyendas, columnaDatos">
                            <p:column>
                                <label class="etiquetas" style="">Evaluación:</label>
                            </p:column>
                            <p:column>
                                <h:selectOneMenu id="cmbEvaluac" class="form-control" value="#{detalleView.tunaEvaluador}">                             
                                    <f:ajax rendered="cmbEvaluac" />
                                    <f:selectItems  value="#{detalleView.cmbDirec}" /> 
                                </h:selectOneMenu>
                                <p:commandButton actionListener="#{detalleView.seleccionaReferenciaSub}" value="Turnar" 
                                                 onclick="this.disabled = true;" update="turnados"/>
                            </p:column>
                        </h:panelGrid>
                    </h:panelGroup>
                </p:panel>
            </p:outputPanel>
        </h:form>
    </ui:composition>
</html>

