<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition>
        <o:importConstants type="mx.gob.semarnat.utils.Utils" />
        <h:outputStylesheet library="css" name="otros.css"  />
        
        <h:form id="formNotificacion">
            
            <p:dataTable id="notificacion" value="#{notificacionView.notificacion}" var="noti" rowIndexVar="rowIndex">
                <f:facet name="header">
                    <h:outputLabel value="Notificaciones a gobierno."/>
                    <!--<p:commandButton action="#{notificacionView.agregarNotificacion}" process="notificacion" update="notificacion"  alt="Agregar notificación" icon="ui-icon-plus" style="float: right;"/>-->
                </f:facet>
                <p:column headerText="Gobierno">
                    <!--<p:commandButton icon="ui-icon-minus" action="#{notificacionView.quitarNotificacion}" update="notificacion" disabled="#{noti.firmado}">   
                        <f:setPropertyActionListener target="#{notificacionView.notificacionSelect}" value="#{noti}"/>
                    </p:commandButton>-->
                    <h:outputText value="#{noti.nombreEstado} - #{noti.nombreMunicipio}"/>
                </p:column>
                <p:column headerText="Comentario">                 
                    <p:inputTextarea value="#{noti.notificacion.notificaciongGobierno}" rows="3" cols="120" counter="display1" maxlength="4000" counterTemplate="{0}." autoResize="false" readonly="#{!isInRole.subDirector and !isInRole.evaluador}"/>
                    <h:outputText id="display1" />
                </p:column>                
                <p:column headerText="Oficio" width="7%" style="alignment-adjust: central">                   
                    <p:button href="#{noti.ligaDocto}" 
                              icon="ui-icon-document"
                              rendered="#{!empty noti.ligaDocto}"  target="_blank">
                    </p:button>
                    
                </p:column>
                <p:column headerText="" width="14%" id="colTurna">  
                	<!-- Firmar -->                     
                	<p:commandButton style="float: left" value="Firmar"
                		actionListener="#{notificacionView.siFirmar(noti.id)}"
                      	onclick="this.disabled = true;" rendered="#{noti.editable and !empty noti.ligaDocto}"
                      	oncomplete="PF('dlgdownloadjar').show();">
                    	<p:confirm header="Confirmation" message="¿Está seguro de firmar el Oficio de notificacion a gobierno?" icon="ui-icon-alert" />
                    </p:commandButton>
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                    <br /><br />
                    
                    <!-- Turnar -->
                    <p:commandButton id="btnTurnDoc" style="float: left" value="Turnar" actionListener="#{notificacionView.turnarOficio(noti.id)}" process="@all" 
                    	update="@form" rendered="#{noti.editable and !empty noti.ligaDocto}" onclick="PF('bui').show()" oncomplete="PF('bui').hide()">
                        <p:confirm header="Confirmation" message="¿Esta seguro de turnar el Oficio de notificacion a gobierno" icon="ui-icon-alert" />
                    </p:commandButton>  
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">                            	
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                    <br /><br />
 
                    <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                        <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </p:confirmDialog>
                    <br/><br/>             
                </p:column>                
                <p:column headerText="" width="6%">
                    <p:remoteCommand action="#{notificacionView.muestraObservaciones}" name="muestraObservacionesN"
                                     oncomplete="getWidgetVarById('view_south:view_south2:formNotificacion:notificacion:#{rowIndex}:dlgObsN').show();"
                                    update="@form"/>
                    <p:commandButton icon="ui-icon-comment" type="button"
                                     onclick="muestraObservacionesN([{name:'idDocumento', value:'#{noti.id}'}]);"
                                     class="btn btn-default" style="height:20px;padding-left: 10px"
                                     rendered="#{!empty noti.observacion}"/>
                    <p:dialog widgetVar="dlgObs_N#{rowIndex}" id="dlgObsN" modal="true" width="900" height="450"
                              appendTo="@(body)" position="center" draggable="false" resizable="false" closeOnEscape="true" 
                              header="Notificaciones a gobierno - Observaciones" showEffect="fade" hideEffect="explode">
                        <p:dataTable id="tblObservac" var="comentario" value="#{notificacionView.comentariosTab}" emptyMessage="No se encontraron observaciones.">
                            <p:column width="4%">
                                <h:outputText styleClass="numeracion textoReducido"/>
                            </p:column>
                            <p:column headerText="Fecha envío" width="15%">
                               <h:outputText value="#{comentario[5]}">
                                   <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                               </h:outputText>
                            </p:column>                          
                            <p:column headerText="Perfil" width="15%">
                               <h:outputLabel value="#{comentario[2]}" />                               
                            </p:column>                          
                            <p:column headerText="Estado" width="15%">
                               <h:outputLabel value="#{comentario[3]}" />
                            </p:column> 
                            <p:column headerText="Observación" width="60%">
                               <h:outputLabel value="#{comentario[4]}" />
                            </p:column>  
                       </p:dataTable>
                    </p:dialog>   
                </p:column>
                
                <f:facet name="footer">
                    <div style="height: 30px">                       
                    </div>
                </f:facet>
            </p:dataTable>
            <h:inputHidden value="${notificacionView.estatusTurnadoDocto}" id="campoEstatusTurnadoN"/>
            <br></br>
                <p:commandButton id="btnThis2"  style="float: right" process="@all" update="@parent, :growl" 
                                 value="Guardar" action="#{notificacionView.guardarNotificacion}"  
                                 rendered="#{!isInRole.directorArea and !chklstView.tramiteYaTurnado}" disabled="#{chklstView.dePrevenc}"
                                 oncomplete="render:@all"/>
                <p:commandButton id="btnReg" process="@form" update="@form" value="Regresar" 
	        	actionListener="#{detalleView.regresar}" rendered = "#{isInRole.subDirector}" style="float: right">
	        	<f:param name="index" value="4"/>
	        </p:commandButton>   
            <br></br>
            <br></br>
            
            <!-- Dialogo que descarga el jar -->
            <p:dialog header="Descargar aplicación para firmar" 
                      widgetVar="dlgdownloadjar" minHeight="200" position="top">
    			<h:outputText value="Descargar!" />
    			<p:commandButton value="Download" ajax="false" 
    			onclick="PF('dlgdownloadjar').hide(); PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
        			<p:fileDownload value="#{notificacionView.file}" />
    			</p:commandButton>
			</p:dialog>
			
			<!-- Dialogo para corregir el doc -->
			<p:dialog header="Comentarios" id="dlgcomentarioscorreccion" widgetVar="dlgcomentarioscorreccion" minHeight="800">
				<p:outputPanel id="pnlComentarios">
	    			<p:inputTextarea rows="7" cols="40" value="#{notificacionView.comentarioTurnado}" id="txtComentarios"/>
		            <br></br>
					<p:commandButton id="guardar" class="btn btn-primary btn-sm"
						value="Guardar" update="@form"
						action="#{notificacionView.corrigeOficio(noti.id)}" onclick="PF('dlgcomentarioscorreccion').hide();" style="float: right;" />
					<p:commandButton id="cerrarModalA" class="btn btn-default btn-sm"
						value="Cerrar" type="button" onclick="PF('dlgcomentarioscorreccion').hide();"
						style="float: right; margin-right: 10px;" />
	    		</p:outputPanel>
			</p:dialog>
        </h:form>
        
        <p:blockUI block="frmOpinion" widgetVar="bui"/>
        
        <script type="text/javascript">
            function nuevaVentana(url, alto, ancho) {
                window.open(url, '_blank', 'toolbar=1, location=1, resizable=1');
            }
        </script>
        
    </ui:composition>
</html>

