<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" xmlns:o="http://omnifaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<ui:composition>
	<o:importConstants type="mx.gob.semarnat.utils.Utils" />
	<h:outputStylesheet library="css" name="otros.css" />

	<h:form id="frmOpinion">

		<p:dataTable var="analisis1" value="#{opinionTecnica.opinionTecnica}"
			id="opinion" rowIndexVar="rowIndex">
                    <f:facet name="header">
                        <h:outputLabel
                            value="Solicitud de opinión técnica (conforme al artículo 24 del REIA) y notificaciones." />
                        <p:commandButton actionListener="#{opinionTecnica.agregarOpinion}"
                                process="opinion" update="opinion" alt="Agregar opinión"
                                icon="ui-icon-plus" style="float: right; " />
                    </f:facet>
			<p:column width="5%">
				<h:inputHidden value="#{analisis1.id}"
					rendered="#{isInRole.subDirector}" />
				<p:commandButton icon="ui-icon-minus"
					action="#{opinionTecnica.quitarOpinion}" update="opinion"
					disabled="#{analisis1.firmado}">
					<f:setPropertyActionListener
						target="#{opinionTecnica.opinionTecnicaSelect}"
						value="#{analisis1}" />
				</p:commandButton>
			</p:column>
			<p:column headerText="Unidad Administrativa" width="15%">
                            <p:selectOneMenu value="#{analisis1.opinion.catDependenciaId.id}" >    
                                <p:ajax listener="#{opinionTecnica.changeDependencia(analisis1, analisis1.opinion.catDependenciaId.id)}"
                                        update="opinion"/>
                                <f:selectItems value="#{opinionTecnica.itemsDependencias}"/>
                            </p:selectOneMenu>	                           
			</p:column>
                    
			<p:column
				headerText="¿Sobre qué aspectos de la MIA solicitará Opinión Técnica?"
				width="11%" style="text-align: center;">
				<p:commandButton icon="ui-icon-pencil" type="button"
					onclick="PF('dlg#{analisis1.id}').show();" class="btn btn-default"
					style="height: 20px; padding-left: 10px" update="@form" />
                                <p:dialog id="dlg#{analisis1.id}"
                                    header="#{analisis1.opinion.catDependenciaId.nombreCorto}"
					widgetVar="dlg#{analisis1.id}" width="520" resizable="false"
					height="270" position="bottom" draggable="false">
					<h:inputTextarea value="#{analisis1.opinion.opiniontObservacion}"
						cols="90" rows="14"
						disabled="#{!isInRole.directorArea and isInRole.evaluador}" />
				</p:dialog>
			</p:column>
			<!-- <p:column headerText="Opinión" rendered="#{isInRole.evaluador}"
				width="24%">
				<p:inputTextarea
					value="{analisis1.opinion.opiniontOpinionSolicitada}" cols="28"
					rows="5" counter="display2" maxlength="4000" counterTemplate="{0}."
					autoResize="false" />
				<h:outputText id="display2" />
			</p:column> -->

			<p:column headerText="Consultar Oficio" width="13%">		
				<p:button href="#{analisis1.ligaDocto}" icon="ui-icon-document"
					value="Consultar oficio" rendered="#{!empty analisis1.ligaDocto}"
					target="_blank" />
			</p:column>			
			<p:column headerText="" width="10%" id="colTurna">
				<!-- Firmar -->
				<p:commandButton style="float: left" value="Firmar"
					actionListener="#{opinionTecnica.siFirmar(analisis1.id)}"
					onclick="this.disabled = true;"
					rendered="#{analisis1.editable and !empty analisis1.ligaDocto}"
					oncomplete="PF('dlgdownloadOpinionjar').show();">
					<p:confirm header="Confirmation"
						message="¿Está seguro de firmar el Oficio de opinión técnica?"
						icon="ui-icon-alert" />
				</p:commandButton>
				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="explode">
					<p:commandButton value="Si" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
				<br />
				<br />

				<!-- Turnar -->
				<p:commandButton id="btnTurnDoc" style="float: left" value="Turnar"
					actionListener="#{opinionTecnica.turnarOficio(analisis1.id)}"
					process="@all" update="@form" onclick="PF('bui').show()" oncomplete="PF('bui').hide()"
					rendered="#{analisis1.editable and !empty analisis1.ligaDocto}">
					<p:confirm header="Confirmation"
						message="¿Esta seguro de turnar el Oficio de opinión técnica?"
						icon="ui-icon-alert" />
				</p:commandButton>
				<p:confirmDialog global="true" showEffect="fade"
					hideEffect="explode">
					<p:commandButton value="Si" type="button"
						styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
					<p:commandButton value="No" type="button"
						styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
				</p:confirmDialog>
			</p:column>			
			<f:facet name="footer">
                            <div style="height: 30px">
                                <p:commandButton
                                    action="#{opinionTecnica.creaUnidadAdministrativa}"
                                    oncomplete="PF('dlgAddUpdate').show()"
                                    alt="Agregar unidad administrativa"
                                    update=":view_south:view_south2:formADUpdate:direcorioDetail"
                                    value="Nueva Unidad Administrativa" style="float: right; " /> 
                            </div>
			</f:facet>
		</p:dataTable>                                             
            
		<h:inputHidden value="${opinionTecnica.estatusTurnadoDocto}"
			id="campoEstatusTurnadoN" />
		<p:commandButton id="btnThis2"  style="float: right" process="@all" update="@parent, :growl" value="Guardar"
			action="#{opinionTecnica.guardarOpinion}"
			rendered="#{!isInRole.directorArea and !chklstView.tramiteYaTurnado}"
			disabled="#{chklstView.dePrevenc}" oncomplete="render:@all"/>
		<p:commandButton id="btnReg" process="@form" update="@form" value="Regresar" 
                    actionListener="#{detalleView.regresar}" rendered = "#{isInRole.subDirector}" style="float: right">
                    <f:param name="index" value="4"/>
                </p:commandButton>
		<br></br>
		<br></br>

		<!-- Dialogo que descarga el jar -->
		<p:dialog header="Descargar aplicación para firmar OPINIÓN"
                          widgetVar="dlgdownloadOpinionjar" minHeight="200" position="top">
			<h:outputText value="Descargar Opinion!" />
			<p:commandButton value="Download" ajax="false"
				onclick="PF('dlgdownloadOpinionjar').hide(); PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
				<p:fileDownload value="#{opinionTecnica.fileOpinion}" />
			</p:commandButton>
		</p:dialog>
		<!-- Dialogo para corregir el doc -->
		<p:dialog header="Comentarios" id="dlgcomentarioscorreccionopinion"
			widgetVar="dlgcomentarioscorreccionopinion" minHeight="800">
			<p:outputPanel id="pnlComentariosopinion">
				<p:inputTextarea rows="7" cols="40"
					value="#{opinionTecnica.comentarioTurnado}" id="txtComentariosopinion" />
				<br></br>
				<p:commandButton id="guardaropinion" class="btn btn-primary btn-sm"
					value="Guardar" update="@form"
					action="#{opinionTecnica.corrigeOficio(analisis1.id)}"
					onclick="PF('dlgcomentarioscorreccionopinion').hide();"
					style="float: right;" />
				<p:commandButton id="cerrarModalopinion" class="btn btn-default btn-sm"
					value="Cerrar" type="button"
					onclick="PF('dlgcomentarioscorreccionopinion').hide();"
					style="float: right; margin-right: 10px;" />
			</p:outputPanel>
		</p:dialog> 
	</h:form>
        <p:blockUI block="frmOpinion" widgetVar="bui"/>
        
        <p:dialog id="dlgAddUpdate" widgetVar="dlgAddUpdate" modal="false"
                  closable="false" resizable="false"  width="1000" position="bottom">
            <h:form id="formADUpdate">
                <p:outputPanel id="direcorioDetail" >
                    <p:tabView>
                        <p:tab title="Institución">
                            <p:panelGrid columns="2" style="width:100%">
                                <p:outputLabel value="Nombre:" />
                                <p:inputText id="txtNombre"
                                        value="#{opinionTecnica.unidadSeleccionado.nombreDependencia}"
                                        maxlength="299" required="true" style="width:100%"
                                        requiredMessage="El campo Nombre de la Dependencia es obligatorio" />							

                                <p:outputLabel value="Nombre Corto:" for="txtNombreCorto" />
                                <p:inputText id="txtNombreCorto" maxlength="299"
                                        value="#{opinionTecnica.unidadSeleccionado.nombreCorto}"
                                        required="true" style="width:100%"
                                        requiredMessage="El campo Nombre Corto es obligatorio" />							

                                <p:outputLabel value="Domicilio:" />
                                <p:inputText id="txtDomicilio"
                                        value="#{opinionTecnica.unidadSeleccionado.domicilio}"
                                        maxlength="299" required="true" style="width:100%"
                                        requiredMessage="El campo Domicilio es obligatorio" />

                                <p:outputLabel value="Estado:" />
                                <p:selectOneMenu id="txtEstado" 
                                        value="#{opinionTecnica.unidadSeleccionado.estadoId}">
                                        <p:ajax listener="#{opinionTecnica.onEstadoChange}"
                                            update="txtMunicipio" />
                                        <f:selectItem value="#{null}" itemLabel="Seleccione un estado" />
                                        <f:selectItems value="#{opinionTecnica.itemsEstados}" />
                                </p:selectOneMenu>

                                <p:outputLabel value="Municipio:" />
                                <p:selectOneMenu id="txtMunicipio"
                                        value="#{opinionTecnica.unidadSeleccionado.municipioId}">
                                    <f:selectItem value="#{null}"
                                            itemLabel="Seleccione un municipio" />
                                    <f:selectItems value="#{opinionTecnica.itemsMunicipios}" />
                                </p:selectOneMenu>

                            </p:panelGrid>
                        </p:tab>
                        <p:tab title="Destinatario">
                            <p:panelGrid columns="2" style="width:100%">
                                <p:outputLabel value="Profesión:" />
                                <p:selectOneMenu id="txtTratamiento"
                                        value="#{opinionTecnica.unidadSeleccionado.tratamiento}">
                                    <f:selectItem value="#{null}"
                                            itemLabel="Seleccione una profesión" />
                                    <f:selectItems value="#{opinionTecnica.itemsTratamientos}"/>									
                                </p:selectOneMenu>

                                <p:outputLabel value="Nombre:" />
                                <p:inputText id="txtNombreDestinatario"
                                        value="#{opinionTecnica.unidadSeleccionado.nombbreDestinatario}"
                                        maxlength="299" required="true" style="width:100%"
                                        requiredMessage="El campo Nombre del destinatario es obligatorio" />							

                                <p:outputLabel value="Cargo:" />
                                <p:inputText id="txtCargo" style="width:100%"
                                        value="#{opinionTecnica.unidadSeleccionado.cargo}" maxlength="299"
                                        required="true" requiredMessage="El campo Cargo es obligatorio" />							

                                <p:outputLabel value="Telefono:" />
                                <p:inputText id="txtTelefono" style="width:100%"
                                        value="#{opinionTecnica.unidadSeleccionado.telefono}"
                                        maxlength="299" required="true"
                                        requiredMessage="El campo Telefono es obligatorio" />

                                <p:outputLabel value="Correo:" />
                                <p:inputText id="txtCorreo" style="width:100%"
                                        value="#{opinionTecnica.unidadSeleccionado.correo}" maxlength="299"
                                        required="true" requiredMessage="El campo orreo es obligatorio">								
                                </p:inputText>
                            </p:panelGrid>
                        </p:tab>
                    </p:tabView>
                </p:outputPanel>

                <p:commandButton id="btnGuardar" value="Guardar"
                        styleClass="btn btn-primary" action="#{opinionTecnica.validarDatos}"
                        update =":view_south:view_south2:frmOpinion:opinion"
                        oncomplete="PF('dlgAddUpdate').hide()">
                </p:commandButton>
                <p:commandButton id="btnCerrar" value="Cerrar"
                        styleClass="btn btn-default" onclick="PF('dlgAddUpdate').hide()" />
            </h:form>
        </p:dialog>
        
	<script type="text/javascript">
		function nuevaVentana(url, alto, ancho) {
			window.open(url, '_blank', 'toolbar=1, location=1, resizable=1');
		}
	</script>

</ui:composition>
</html>

