<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>

        <!--<p:growl id="growlMsjs" autoUpdate="true"/>-->
        <h:form id="frmReportProyIngresados" >
            <p:accordionPanel widgetVar="acPnlProyIngresados" id="acPnlProyIngresados" rendered="#{etiquetasView.opcionSeleccionada == '201'}">
                <p:tab title="Filtros">
                    <h:panelGrid id="pnlFechas" columns="3">
                        <h:outputLabel for="dateFI" value="Fecha de inicio"/>
                        <p:calendar id="dateFI" value="#{etiquetasView.fechaInicio}" locale="es" pattern="dd/MM/yyyy" required="true" requiredMessage="Ingresa fecha de inicio" />
                        <p:message for="dateFI" />
                        <h:outputLabel for="dateFI" value="Fecha fin"/>
                        <p:calendar id="dateFF" value="#{etiquetasView.fechaFin}" locale="es" pattern="dd/MM/yyyy" required="true" requiredMessage="Ingresa fecha fin" />
                        <p:message for="dateFF" />
                    </h:panelGrid>
                    <h:panelGrid id="pnlOpciones" columns="8" width="100%">
                        <h:outputLabel value="Clave del proyecto" for="txtClaveProy"/>
                        <p:inputText id="txtClaveProy" value="#{etiquetasView.claveProyecto}" />
                        <h:outputLabel value="Entidad"/>
                        <p:selectOneMenu value="#{etiquetasView.entidad}" style="width:200px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listEntidadFeder}" var="ef" itemLabel="#{ef.nombreEntidadFederativa}" itemValue="#{ef.idEntidadFederativa}" />
                            <p:ajax listener="#{etiquetasView.asignarDelMun()}" update="somMunicipio" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Riesgo"/>
                        <p:selectOneMenu value="#{etiquetasView.riesgo}">
                            <f:selectItem itemLabel="Selecciona" itemValue="0" />
                            <f:selectItem itemLabel="Si" itemValue="1" />
                            <f:selectItem itemLabel="No" itemValue="2" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Sector"/>
                        <p:selectOneMenu value="#{etiquetasView.sector}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="0" />
                            <f:selectItems value="#{etiquetasView.listSectorProy}" var="sec" itemLabel="#{sec.sector}" itemValue="#{sec.nsec}" />
                            <p:ajax listener="#{etiquetasView.asignarSubsectores()}" update="somSubsector"/>
                        </p:selectOneMenu>
                        <h:outputLabel value="Entidad de Gestión"/>
                        <p:selectOneMenu value="#{etiquetasView.entidadGestion}">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listEntidadFeder}" var="ef" itemLabel="#{ef.nombreEntidadFederativa}" itemValue="#{ef.idEntidadFederativa}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Municipio" style="width:200px;"/>
                        <p:selectOneMenu id="somMunicipio" value="#{etiquetasView.municipo}">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listDelMuni}" var="dm" itemLabel="#{dm.nombreDelegacionMunicipio}" itemValue="#{dm.idDelegacionMunicipio}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Estudio"/>
                        <p:selectOneMenu value="#{etiquetasView.estudio}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItem itemLabel="INFORME PREVENTIVO" itemValue="IP" />
                            <f:selectItem itemLabel="MIA-P. - MOD A: NO INCLUYE RIESGO" itemValue="MP" />
                            <f:selectItem itemLabel="MIA-P. - MOD B: INCLUYE RIESGO" itemValue="DM" />
                            <f:selectItem itemLabel="MIA-R. - MOD A: NO INCLUYE RIESGO" itemValue="MG" />
                            <f:selectItem itemLabel="MIA-R. - MOD B: INCLUYE RIESGO" itemValue="DL" />
                            <f:selectItem itemLabel="SOLICITUD DE EXENCION" itemValue="DC" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Subsector"/>
                        <p:selectOneMenu id="somSubsector" value="#{etiquetasView.subsector}">
                            <f:selectItem itemLabel="Selecciona" itemValue="0" />
                            <f:selectItems value="#{etiquetasView.listSubsectorProy}" var="ss" itemLabel="#{ss.subsector}" itemValue="#{ss.nsub}" />
                        </p:selectOneMenu>
                    </h:panelGrid>
                    <p:commandButton value="Buscar" actionListener="#{etiquetasView.buscarReportes}" process="@this, pnlFechas pnlOpciones" 
                                     update=":frmReportProyIngresados"/>
                    <br/>
                    <br/>
                    <p:dataTable value="#{etiquetasView.listRepProy}" var="pi" emptyMessage="Sin registros"
                                 paginator="true" paginatorPosition="bottom" rows="10">
                        <f:facet name="header">
                            <h:outputText styleClass="titulos" value="Listado" />
                        </f:facet>
                        <p:column headerText="Clave de proyecto">#{pi[0]}</p:column>
                        <p:column headerText="Entidad de Gestión">#{pi[1]}</p:column>
                        <p:column headerText="Entidad mas afectada">#{pi[2]}</p:column>
                        <p:column headerText="Minicipio">#{pi[3]}</p:column>
                        <p:column headerText="Promovente">#{pi[4]}</p:column>
                        <p:column headerText="Nombre del proyecto">#{pi[5]}</p:column>
                        <p:column headerText="Riesgo">#{pi[6]}</p:column>
                        <p:column headerText="Tipo de estudio (Tramite)">#{pi[7]}</p:column>
                        <p:column headerText="Sector">#{pi[8]}</p:column>
                        <p:column headerText="Subsector">#{pi[9]}</p:column>
                        <p:column headerText="Fecha ingreso">#{pi[10]}</p:column>

                    </p:dataTable>
                    <br/>
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Resumenes:" />
                        <p:selectOneMenu value="#{etiquetasView.totalizarOpcion}" >
                            <f:selectItem itemLabel="Por subsector" itemValue="2"/>
                            <f:selectItem itemLabel="Por tipo de tramite" itemValue="3"/>
                            <f:selectItem itemLabel="Por entidad" itemValue="4"/>
                        </p:selectOneMenu>
                        <p:commandButton value="Totalizar" actionListener="#{etiquetasView.totalizarCmd(1)}"
                                         update=":frmReportProyIngresados:acPnlProyIngresados:tblResumenes" />
                    </h:panelGrid>
                    <br/>
                    <p:dataTable id="tblResumenes" widgetVar="tblResumenes" value="#{etiquetasView.listResumenes}" var="pi" emptyMessage="Sin registros" >
                        <p:column headerText="#{etiquetasView.tituloColTipoResumen}" footerText="Totales:" >#{pi[0]}</p:column>
                        <p:column headerText="Proyectos" footerText="#{etiquetasView.totalesResumenesCalculados[0]}" >#{pi[1]}</p:column>
                    </p:dataTable>

                </p:tab>
            </p:accordionPanel>

        </h:form>
    </ui:composition>

</html>

