<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition>

        <!--<p:growl id="growlMsjs" autoUpdate="true"/>-->
        <h:form id="frmReportProyResueltos" >

            <p:accordionPanel widgetVar="acPnlProyResueltos" id="acPnlProyResueltos" rendered="#{etiquetasView.opcionSeleccionada == '202'}" >
                <p:tab title="Filtros">
                    <h:panelGrid id="pnlFechas" columns="3">
                        <h:outputLabel for="dateFI" value="Fecha de inicio"/>
                        <p:calendar id="dateFI" value="#{etiquetasView.fechaInicio}" locale="es" pattern="dd/MM/yyyy" required="true" requiredMessage="Ingresa fecha de inicio" />
                        <p:message for="dateFI" />
                        <h:outputLabel for="dateFI" value="Fecha fin"/>
                        <p:calendar id="dateFF" value="#{etiquetasView.fechaFin}" locale="es" pattern="dd/MM/yyyy" required="true" requiredMessage="Ingresa fecha fin" />
                        <p:message for="dateFF" />
                    </h:panelGrid>
                    <h:panelGrid id="pnlOpciones" columns="10" width="100%">
                        <h:outputLabel value="Clave del proyecto" for="txtClaveProy"/>
                        <p:inputText id="txtClaveProy" value="#{etiquetasView.claveProyecto}" />
                        <h:outputLabel value="Entidad"/>
                        <p:selectOneMenu value="#{etiquetasView.entidad}" style="width:200px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listEntidadFeder}" var="ef" itemLabel="#{ef.nombreEntidadFederativa}" itemValue="#{ef.idEntidadFederativa}" />
                            <p:ajax listener="#{etiquetasView.asignarDelMun()}" update="somMunicipio" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Municipio" style="width:200px;"/>
                        <p:selectOneMenu id="somMunicipio" value="#{etiquetasView.municipo}">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listDelMuni}" var="dm" itemLabel="#{dm.nombreDelegacionMunicipio}" itemValue="#{dm.idDelegacionMunicipio}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Riesgo"/>
                        <p:selectOneMenu value="#{etiquetasView.riesgo}">
                            <f:selectItem itemLabel="Selecciona" itemValue="0" />
                            <f:selectItem itemLabel="Si" itemValue="1" />
                            <f:selectItem itemLabel="No" itemValue="2" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Sector"/>
                        <p:selectOneMenu value="#{etiquetasView.sector}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="0" />
                            <f:selectItems value="#{etiquetasView.listSectorProy}" var="sec" itemLabel="#{sec.sector}" itemValue="#{sec.nsec}" />
                            <p:ajax listener="#{etiquetasView.asignarSubsectores()}" update="somSubsector"/>
                        </p:selectOneMenu>
                        <h:outputLabel value="Subsector"/>
                        <p:selectOneMenu id="somSubsector" value="#{etiquetasView.subsector}">
                            <f:selectItem itemLabel="Selecciona" itemValue="0" />
                            <f:selectItems value="#{etiquetasView.listSubsectorProy}" var="ss" itemLabel="#{ss.subsector}" itemValue="#{ss.nsub}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Dirección"/>
                        <p:selectOneMenu value="#{etiquetasView.direccion}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listTBArea}" var="dir" itemLabel="#{dir.area}" itemValue="#{dir.tbareaPK.iddependencia}+#{dir.tbareaPK.idarea}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Evaluador"/>
                        <p:selectOneMenu value="#{etiquetasView.eval}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listEvals}" var="ev" itemLabel="#{ev[1]}" itemValue="#{ev[0]}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Eficiencia"/>
                        <p:selectOneMenu value="#{etiquetasView.sector}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItem itemLabel="Si" itemValue="1" />
                            <f:selectItem itemLabel="No" itemValue="2" />
                        </p:selectOneMenu>


                        <h:outputLabel value="Entidad de Gestión"/>
                        <p:selectOneMenu value="#{etiquetasView.entidadGestion}">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listEntidadFeder}" var="ef" itemLabel="#{ef.nombreEntidadFederativa}" itemValue="#{ef.idEntidadFederativa}" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Estudio"/>
                        <p:selectOneMenu value="#{etiquetasView.estudio}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItem itemLabel="INFORME PREVENTIVO" itemValue="IP" />
                            <f:selectItem itemLabel="MIA-P. - MOD A: NO INCLUYE RIESGO" itemValue="MP" />
                            <f:selectItem itemLabel="MIA-P. - MOD B: INCLUYE RIESGO" itemValue="DM" />
                            <f:selectItem itemLabel="MIA-R. - MOD A: NO INCLUYE RIESGO" itemValue="MG" />
                            <f:selectItem itemLabel="MIA-R. - MOD B: INCLUYE RIESGO" itemValue="DL" />
                            <f:selectItem itemLabel="SOLICITUD DE EXENCION" itemValue="DC" />
                        </p:selectOneMenu>

                        <h:outputLabel value="Subdirector"/>
                        <p:selectOneMenu value="#{etiquetasView.subdir}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItems value="#{etiquetasView.listSubdirs}" var="sub" itemLabel="#{sub[1]}" itemValue="#{sub[0]}" />
                        </p:selectOneMenu>
                        <h:outputLabel value="Sentido de la Resolución"/>
                        <p:selectOneMenu value="#{etiquetasView.sentidoResol}" style="width:150px;">
                            <f:selectItem itemLabel="Selecciona" itemValue="#{null}" />
                            <f:selectItem itemLabel="AUTORIZADO" itemValue="1" />
                            <f:selectItem itemLabel="NEGADO" itemValue="2" />
                            <f:selectItem itemLabel="AUTORIZADO CONDICIONADO" itemValue="4" />
                        </p:selectOneMenu>
                    </h:panelGrid>



                    <p:commandButton value="Buscar" actionListener="#{etiquetasView.buscarReportes}" process="@this, pnlFechas pnlOpciones" 
                                     update=":frmReportProyResueltos"/>
                    <br/>
                    <br/>
                    <p:dataTable value="#{etiquetasView.listRepProy}" var="pi" emptyMessage="Sin registros"
                                 paginator="true" paginatorPosition="bottom" rows="10">
                        <f:facet name="header">
                            <h:outputText styleClass="titulos" value="Listado" />
                        </f:facet>
                        <p:column headerText="Clave de proyecto">#{pi[0]}</p:column>
                        <p:column headerText="Entidad de Gestión">#{pi[1]}</p:column>
                        <p:column headerText="Entidad mas afectada">#{pi[2]}</p:column>
                        <p:column headerText="Minicipio">#{pi[3]}</p:column>
                        <p:column headerText="Promovente">#{pi[4]}</p:column>
                        <p:column headerText="Nombre del proyecto">#{pi[5]}</p:column>
                        <p:column headerText="Riesgo">#{pi[6]}</p:column>
                        <p:column headerText="Tipo de estudio (Tramite)">#{pi[7]}</p:column>
                        <p:column headerText="Sector">#{pi[8]}</p:column>
                        <p:column headerText="Subsector">#{pi[9]}</p:column>
                        <p:column headerText="Fecha ingreso">#{pi[10]}</p:column>
                        <!-- RESUELTOS -->
                        <p:column headerText="Dirección">#{pi[11]}</p:column>
                        <p:column headerText="Subdirector">#{pi[12]}</p:column>
                        <p:column headerText="Evaluador">#{pi[13]}</p:column>
                        <p:column headerText="Fecha de Resolución">#{pi[14]}</p:column>
                        <p:column headerText="Resolución (SINAT)">#{pi[15]}</p:column>
                        <p:column headerText="Sentido de resolución">#{pi[16]}</p:column>
                        <p:column headerText="Inversión">#{pi[17]}</p:column>
                        <p:column headerText="Empleos Temporales">#{pi[18]}</p:column>
                        <p:column headerText="Empleos Permanentes">#{pi[19]}</p:column>
                        <p:column headerText="Empleos totales">#{pi[20]}</p:column>
                        <p:column headerText="Días disponibles">#{pi[21]}</p:column>
                        <p:column headerText="Días utilizados">#{pi[22]}</p:column>
                        <p:column headerText="Eficiencia">#{pi[23]}</p:column>
                    </p:dataTable>
                    <br/>
                    <h:panelGrid columns="3">
                        <h:outputLabel value="Resumenes:" />
                        <p:selectOneMenu value="#{etiquetasView.totalizarOpcion}" >
                            <f:selectItem itemLabel="Por subsector" itemValue="1"/>
                            <f:selectItem itemLabel="Por tipo de tramite" itemValue="2"/>
                            <f:selectItem itemLabel="Por entidad" itemValue="3"/>
                            <f:selectItem itemLabel="Eficiencia" itemValue="4"/>
                            <f:selectItem itemLabel="Resumen de Inversión y Empleos de Proyectos Autorizados en oficinas centrales" itemValue="5"/>
                        </p:selectOneMenu>
                        <p:commandButton value="Totalizar" actionListener="#{etiquetasView.totalizarCmd(2)}"
                                         update=":frmReportProyResueltos:acPnlProyResueltos:tblResumenes" />
                    </h:panelGrid>
                    <br/>
                    <p:dataTable id="tblResumenes" widgetVar="tblResumenes" value="#{etiquetasView.listResumenes}" var="pi" emptyMessage="Sin registros" >
                        <!-- 		        		colunmas tipo resumen 1-3 -->
                        <p:column headerText="#{etiquetasView.tituloColTipoResumen}" footerText="Totales:" rendered="#{etiquetasView.totalizarOpcion == 1 or etiquetasView.totalizarOpcion == 2 or etiquetasView.totalizarOpcion == 3}" >#{pi[0]}</p:column>
                        <p:column headerText="Autorizados" footerText="#{etiquetasView.totalesResumenesCalculados[0]}" rendered="#{etiquetasView.totalizarOpcion == 1 or etiquetasView.totalizarOpcion == 2 or etiquetasView.totalizarOpcion == 3}">#{pi[1]}</p:column>
                        <p:column headerText="No Autorizados" footerText="#{etiquetasView.totalesResumenesCalculados[1]}" rendered="#{etiquetasView.totalizarOpcion == 1 or etiquetasView.totalizarOpcion == 2 or etiquetasView.totalizarOpcion == 3}">#{pi[2]}</p:column>
                        <p:column headerText="Total" footerText="#{etiquetasView.totalesResumenesCalculados[2]}" rendered="#{etiquetasView.totalizarOpcion == 1 or etiquetasView.totalizarOpcion == 2 or etiquetasView.totalizarOpcion == 3}">#{pi[3]}</p:column>
                        <!-- colunmas tipo resumen 4 -->
                        <p:column headerText="Mes" footerText="Totales:" rendered="#{etiquetasView.totalizarOpcion == 4}">#{pi[0]}</p:column>
                        <p:column headerText="En tiempo" footerText="#{etiquetasView.totalesResumenesCalculados[0]}" rendered="#{etiquetasView.totalizarOpcion == 4}">#{pi[1]}</p:column>
                        <p:column headerText="Fuera de tiempo" footerText="#{etiquetasView.totalesResumenesCalculados[1]}" rendered="#{etiquetasView.totalizarOpcion == 4}">#{pi[2]}</p:column>
                        <p:column headerText="Total" footerText="#{etiquetasView.totalesResumenesCalculados[2]}" rendered="#{etiquetasView.totalizarOpcion == 4}">#{pi[3]}</p:column>
                        <p:column headerText="% En tiempo" footerText="#{etiquetasView.totalesResumenesCalculados[3]*100}%" rendered="#{etiquetasView.totalizarOpcion == 4}">
                            <h:outputLabel value="#{pi[4]}"><f:convertNumber type="percent"/></h:outputLabel>
                        </p:column>
                        <p:column headerText="% Fuera de tiempo" footerText="#{etiquetasView.totalesResumenesCalculados[4]*100}%" rendered="#{etiquetasView.totalizarOpcion == 4}">
                            <h:outputLabel value="#{pi[5]}"><f:convertNumber type="percent"/></h:outputLabel>
                        </p:column>
                        <!-- colunmas tipo resumen 5 -->
                        <p:column headerText="Subsector" footerText="Totales:" rendered="#{etiquetasView.totalizarOpcion == 5}">#{pi[0]}</p:column>
                        <p:column headerText="Proyectos autorizados" rendered="#{etiquetasView.totalizarOpcion == 5}">
                            <f:facet name="footer" ><h:outputLabel value="#{etiquetasView.totalesResumenesCalculados[0]}"><f:convertNumber type="number" /></h:outputLabel></f:facet>
                            <h:outputLabel value="#{pi[1]}"><f:convertNumber type="number" /></h:outputLabel>
                        </p:column>
                        <p:column headerText="Proyectos que reportan inversion" rendered="#{etiquetasView.totalizarOpcion == 5}">
                            <f:facet name="footer" ><h:outputLabel value="#{etiquetasView.totalesResumenesCalculados[1]}"><f:convertNumber type="number" /></h:outputLabel></f:facet>
                            <h:outputLabel value="#{pi[2]}"><f:convertNumber type="number" /></h:outputLabel>
                        </p:column>
                        <p:column headerText="Inversion en pesos" rendered="#{etiquetasView.totalizarOpcion == 5}">
                            <f:facet name="footer" ><h:outputLabel value="#{etiquetasView.totalesResumenesCalculados[2]}"><f:convertNumber type="currency" /></h:outputLabel></f:facet>
                            <h:outputLabel value="#{pi[3]}"><f:convertNumber type="currency"/></h:outputLabel>
                        </p:column>
                        <p:column headerText="Proyectos que reportan empleos" rendered="#{etiquetasView.totalizarOpcion == 5}">
                            <f:facet name="footer" ><h:outputLabel value="#{etiquetasView.totalesResumenesCalculados[3]}"><f:convertNumber type="number" /></h:outputLabel></f:facet>
                            <h:outputLabel value="#{pi[4]}"><f:convertNumber type="number" /></h:outputLabel>
                        </p:column>
                        <p:column headerText="Empleos totales" rendered="#{etiquetasView.totalizarOpcion == 5}">
                            <f:facet name="footer" ><h:outputLabel value="#{etiquetasView.totalesResumenesCalculados[4]}"><f:convertNumber type="number" /></h:outputLabel></f:facet>
                            <h:outputLabel value="#{pi[5]}"><f:convertNumber type="number" /></h:outputLabel>
                        </p:column>
                        <p:column headerText="Empleos permanentes" rendered="#{etiquetasView.totalizarOpcion == 5}">
                            <f:facet name="footer" ><h:outputLabel value="#{etiquetasView.totalesResumenesCalculados[5]}"><f:convertNumber type="number" /></h:outputLabel></f:facet>
                            <h:outputLabel value="#{pi[6]}"><f:convertNumber type="number" /></h:outputLabel>
                        </p:column>
                        <p:column headerText="Empleos temporales" rendered="#{etiquetasView.totalizarOpcion == 5}">
                            <f:facet name="footer" ><h:outputLabel value="#{etiquetasView.totalesResumenesCalculados[6]}"><f:convertNumber type="number" /></h:outputLabel></f:facet>
                            <h:outputLabel value="#{pi[7]}"><f:convertNumber type="number" /></h:outputLabel>
                        </p:column>
                        <p:column headerText="Participación del sector" rendered="#{etiquetasView.totalizarOpcion == 5}">
                            <f:facet name="footer" ><h:outputLabel value="#{etiquetasView.totalesResumenesCalculados[7]}"><f:convertNumber type="percent" minFractionDigits="5"/></h:outputLabel></f:facet>
                            <h:outputLabel value="#{pi[8]}"><f:convertNumber type="percent" minFractionDigits="5" /></h:outputLabel>
                        </p:column>
                    </p:dataTable>

                </p:tab>
            </p:accordionPanel>

        </h:form>
    </ui:composition>

</html>

