<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <o:importConstants type="mx.gob.semarnat.utils.Utils" />
        
         <h:form id="frmResExcencion">   
             <p:growl id="messages" autoUpdate="true" sticky="true" />
            <p:panel id="res" style="width: auto" >  
                <br/><br/>                
                <p:commandButton actionListener="#{turnadoUtil.prepararTurnado('resolutivoExencion')}" value="Turnar oficio resolutivo" process="@all" update="frmResExcencion,turnadoDocs2" />
            </p:panel> 
            <h:panelGroup id="turnadoDocs2" rendered="#{turnadoUtil.panel}">
                <p:outputPanel class="panelTitulos"  style="width: 100%;height: 100%">
                    <p:panel header="Turnado de Oficio" id="panBitacora" rendered="#{turnadoUtil.panelDocumento}">
                        <h:panelGrid border="0" columns="4" style="margin-left:80px;">
                            <label class="etiquetas" style="">Tipo oficio:&nbsp;&nbsp;&nbsp;</label> 
                            <h:outputLabel value="#{tipoDocumento.tipoDocDescripcion}"></h:outputLabel>  

                            <label class="etiquetas" style="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Oficio a turnar:&nbsp;&nbsp;&nbsp;</label>                             
                            <h:outputLabel><a href="#{documentoRespuesta.documentoUrl}"  target="_black" style="color: #000099;" >#{documentoRespuesta.documentoNombre}</a></h:outputLabel>
                            <br></br>                            
            </h:panelGrid>     
                        <br />    
                        <!-- 					Firmar -->
                        <h:panelGroup id="firmadoDocsBtn"> 
                            <p:commandButton style="float: right" value="Firmar" rendered="#{turnadoUtil.btnTurnado}"
                                             actionListener="#{turnadoUtil.generarTokenFirma(documentoRespuesta)}"
                                             oncomplete="PF('dlgdownloadjarResolutivo').show();"
                                             >
                                <p:confirm header="Confirmation" message="¿Está seguro de firmar el Oficio resolutivo?" icon="ui-icon-alert" />
                            </p:commandButton>  
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                            <br/><br/>                
                        </h:panelGroup>
                        <!--                    Turnar -->
                        <h:panelGroup id="turnadoDocsBtn">
                            <p:commandButton id="btnTurnDoc" style="float: right" value="Turnar" rendered="#{turnadoUtil.btnTurnado}"
                                    actionListener="#{turnadoUtil.turnarDocumento}" process="@all" 
                                    update="turnadoDocsBtn, firmadoDocsBtn" onclick="PF('bui').show()" oncomplete="PF('bui').hide()">
                                <p:confirm header="Confirmation" message="¿Esta seguro de turnar el Oficio resolutivo?" icon="ui-icon-alert" />
                            </p:commandButton>                     
                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                            </p:confirmDialog>
                        </h:panelGroup>

                <br></br><br></br>                                        
            </p:panel> 
                    <p:panel rendered="#{turnadoUtil.panelMensaje}">
                        <p:outputLabel value="El oficio resolutivo aún no se genera para turnar."></p:outputLabel>
                    </p:panel>
                </p:outputPanel>
            </h:panelGroup>

            <p:blockUI block="panBitacora" widgetVar="bui"/>
            <p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
                <p:graphicImage name="/resources/imagenes_stack/ajaxloadingbar.gif" />
            </p:dialog>

            <p:dialog header="Descargar aplicación para firmar" widgetVar="dlgdownloadjarResolutivo" minHeight="200" position="top">
                <h:outputText value="Descargar!" />
                <p:commandButton value="Download" ajax="false" onclick="PF('dlgdownloadjarResolutivo').hide(); PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
                    <p:fileDownload value="#{turnadoUtil.file}" />
                </p:commandButton>
            </p:dialog>
            <br></br><br></br>                  
             
         </h:form>
     </ui:composition>
</html>
