<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
     xmlns:h="http://xmlns.jcp.org/jsf/html"
     xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
     xmlns:o="http://omnifaces.org/ui"
     xmlns:p="http://primefaces.org/ui">
   <ui:composition>
       <o:importConstants type="mx.gob.semarnat.utils.Utils" />
       <h:form>
           <iframe src="#{Utils.rutaServletInicio}#{chklstView.bitaProyOfic}" frameborder="0" width="100%" height="1400px"/>
          
       </h:form>
   </ui:composition>
</html>