<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:form>
            <h:outputLabel value="Síntesis para la gaceta:"/>
            <br/>
            <p:inputTextarea value="#{wizard.eval.evaSistesisProyecto}" maxlength="1000" cols="150" rows="15" counter="display" counterTemplate="{0} Caracteres disponibles."/>
            <br/><br/><br/>
            <p:commandButton id="btnReg" process="@form" update="@form" value="Regresar" 
            	actionListener="#{detalleView.regresar}" rendered = "#{isInRole.subDirector}">
            	<f:param name="index" value="3"/>
            </p:commandButton>
            <p:commandButton value="Guardar" update=":view_south" process="@parent,@form" action="#{wizard.guardaEva}" disabled="#{!isInRole.subDirector or chklstView.dePrevenc}" rendered="#{!chklstView.tramiteYaTurnado}"/>
            <h:outputText id="display" />
        </h:form>
    </ui:composition>
</html>

