<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <f:view>
        <o:importConstants type="mx.gob.semarnat.utils.Utils" />
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{segViasView.bitaProyecto}" />
            </f:metadata>
            <title>Módulo de Evaluación </title>            
        </h:head>  
       
        <h:body>    
            <h:outputStylesheet library="css" name="moduloEvaluacion.css" />
            <h:outputStylesheet library="css" name="bootstrap.css" />
            <h:outputStylesheet library="css" name="otros.css"  />
            <p:growl id="growl" autoUpdate="true"/>
            <p:layout fullPage="true">
                <!-- Menu arriba -->
                <p:layoutUnit position="north" size="190" resizable="true" collapsible="true"  >
                    <ui:include src="Menu/TopMenu_1.xhtml"/>
                </p:layoutUnit>
                
                <!-- Menu Centro -->
                <p:layoutUnit position="center">
                    
                    <center>
                    <h:form id="turnaOfic">
                        <h:inputHidden value="#{segViasView.bitaProyecto}" />
                       
<!--                    pool -->
                        <h:panelGroup id="turnadoDocs"  rendered="#{!segViasView.muestTurnOrte}">
                            <h4>#{segViasView.titulo}</h4>
                            <p:outputPanel class="panelTitulos"  style="width: 80%;height: 100%;padding-top: 20px;">
                                <p:panel header="Turnado de Oficio" id="panBitacora">                                   
                                    <h:panelGrid border="0" columns="2" style="margin: 10px;">

                                        <label class="etiquetas" style="">Oficio a turnar:&nbsp;&nbsp;&nbsp;  </label>                                   
                                        <h:outputLabel><a href="#{segViasView.urlOfic}"  target="_black" style="color: #000099;" >#{segViasView.nombreOfic}</a></h:outputLabel>
                                       
<!--                                         <label class="etiquetas" style="">Estado:&nbsp;&nbsp;&nbsp;</label>  -->
<!--                                         <h:selectOneMenu  class="form-control" id="fSubsector" required="true" value="#{segViasView.idDocumento}" requiredMessage="Etatus de documento requerido">                             -->
<!--                                             <p:ajax update="turnaOfic,turnadoDocs" />,cmbTipProy -->
<!--                                             <f:selectItem itemLabel="Seleccione estatus" itemValue="" /> -->
<!--                                             <f:selectItems value="#{segViasView.subSectorCat}" var="catDocs" itemValue="#{catDocs.estatusDocumentoId}" itemLabel="#{catDocs.estatusDocumentoDescripcion}" /> -->
<!--                                         </h:selectOneMenu> -->
<!--                                         <br></br>  rendered="#{!segViasView.tramYaTurnadoDG}" -->
<!--                                         <label class="etiquetas">&nbsp;&nbsp;&nbsp;Observaciones:</label> -->
<!--                                         <p:inputTextarea rows="7" cols="40" value="#{segViasView.comentarioTurnado}" id="txtComentarios"/>                      -->

                                    </h:panelGrid>
                                    <br></br>
                                    
<!-- 								firmar -->
									<h:panelGroup id="firmadoDocsBtn" rendered="#{!segViasView.turnaDocsBtn}"> 
			                            <p:commandButton style="float: right" value="Firmar" 
			                            	actionListener="#{segViasView.siFirmar}"
			                            	onclick="this.disabled = true;"
			                            	oncomplete="PF('dlgdownloadjardg').show();"
			                            	>
			                                <p:confirm header="Confirmation" message="¿Está seguro de firmar el Oficio?" icon="ui-icon-alert" />
			                            </p:commandButton>  
			                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			                            </p:confirmDialog>
			                            <br/><br/>
			                        </h:panelGroup>
<!--                                turnar -->
                                    <h:panelGroup id="turnadoDocsBtn" rendered="#{!segViasView.turnaDocsBtn}">                                        
                                        <p:commandButton id="btnTurnDoc" style="float: right" value="Turnar" actionListener="#{segViasView.turnaOficio}" process="@all" update="turnaOfic:turnadoDocs,turnadoDocsBtn,tblObservac" onclick="this.disabled = true;">
                                            <p:confirm header="Confirmation" message="¿Esta seguro de turnar el Oficio?" icon="ui-icon-alert" />
                                        </p:commandButton>  
                                        <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
                                            <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                        </p:confirmDialog>   
                                        <br/><br/>
                                    </h:panelGroup>
                                    
<!--			                    Corregir -->
			                        <h:panelGroup id="corregirDocsBtn" rendered="#{!segViasView.turnaDocsBtn}"> 
			                            <p:commandButton id="btnCorregirDoc" style="float: right" value="Corregir"                            	 
			                            	onclick="PF('dlgcomentarioscorrecciondg').show();" >
			                                <p:confirm header="Confirmation" message="¿Esta seguro de corregir el Oficio?" icon="ui-icon-alert" />
			                            </p:commandButton>  
			                            <p:confirmDialog global="true" showEffect="fade" hideEffect="explode">
			                                <p:commandButton value="Si" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
			                                <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
			                            </p:confirmDialog>
			                            <br/><br/>
			                        </h:panelGroup>
                                    
                                    <p:dataTable id="tblObservac" var="checklst" value="#{segViasView.comenatriosTab}" emptyMessage="No se encontraron observaciones.">
                                        <p:column width="3%">
                                            <h:outputText styleClass="numeracion textoReducido"/>
                                        </p:column>
                                        <p:column headerText="Fecha envío" width="13%">
                                            <h:outputLabel value="#{checklst[5]}" >
                                                <f:convertDateTime type="date" pattern="dd/MM/yyyy"/>
                                            </h:outputLabel>
                                         </p:column>
                                        <p:column headerText="Perfil" width="17%">
                                           <h:outputLabel value="#{checklst[2]}" />                               
                                        </p:column>                          
                                        <p:column headerText="Estado" width="15%">
                                           <h:outputLabel value="#{checklst[3]}" />
                                        </p:column> 
                                        <p:column headerText="Observación" width="55%">
                                           <h:outputLabel value="#{checklst[4]}" />
                                        </p:column>  
                                   </p:dataTable>
                                    
                                    <br></br>
                                    <br></br>
                                    <br></br>
                                </p:panel>                     
                                <br></br>
                                <br></br>
                           </p:outputPanel>
                        </h:panelGroup>
                        
                        <p:dialog modal="true" widgetVar="statusDialog" header="Status" draggable="false" closable="false" resizable="false">
			    			<p:graphicImage name="/resources/imagenes_stack/ajaxloadingbar.gif" />
						</p:dialog>
			
			            <p:dialog header="Descargar aplicacion para firmar" widgetVar="dlgdownloadjardg" minHeight="200">
			    			<h:outputText value="Descargar!" />
			    			<p:commandButton value="Download" ajax="false" onclick="PF('dlgdownloadjardg').hide(); PrimeFaces.monitorDownload(start, stop);" icon="ui-icon-arrowthick-1-s">
			        			<p:fileDownload value="#{segViasView.file}" />
			    			</p:commandButton>
						</p:dialog>
						
						<p:dialog header="Comentarios" id="dlgcomentarioscorrecciondg" widgetVar="dlgcomentarioscorrecciondg" minHeight="800">
							<p:outputPanel id="pnlComentarios">
				    			<p:inputTextarea rows="7" cols="40" value="#{segViasView.comentarioTurnado}" id="txtComentarios"/>
					            <br></br>
								<p:commandButton id="guardar" class="btn btn-primary btn-sm"
									value="Guardar" update="turnaOfic:turnadoDocs,turnadoDocsBtn,tblObservac"
									action="#{segViasView.corrigeOficio}" onclick="PF('dlgcomentarioscorrecciondg').hide();" style="float: right;" />
								<p:commandButton id="cerrarModalA" class="btn btn-default btn-sm"
									value="Cerrar" type="button" onclick="PF('dlgcomentarioscorrecciondg').hide();"
									style="float: right; margin-right: 10px;" />
				    		</p:outputPanel>
						</p:dialog>
                     
                        <h:panelGroup id="turnadoDocs2"  rendered="#{segViasView.muestTurnOrte}" >
                            <h3>Reporte Técnico de Evaluación</h3>
                            <p:outputPanel class="panelTitulos"  style="width: 40%;height: 100%;padding-top: 40px;">
                            <h:panelGrid columns="2" >  
                                <h:outputLabel value="Tipo: " style="float: right;"></h:outputLabel>
                                <h:selectOneMenu class="form-control" value="#{segViasView.catTipoDoc}" >
                                    <p:ajax  update="turnaOfic" />
                                    <f:selectItems id="selectItemsSS" value="#{segViasView.catTipoDocSelectOne}" /> 
                                </h:selectOneMenu>
                            </h:panelGrid>     
                            <br/><br/>
                            <p:button style="float: right" href="#{Utils.rutaServletInicio}#{chklstView.bitaProyOfic},#{segViasView.catTipoDoc},#{segViasView.idusuario}" value="Reporte Técnico de Evaluación" target="_black" id="botonGuaradar"/>          
                            <br></br><br></br>
                            </p:outputPanel>
                        </h:panelGroup>
                        
                      
                    </h:form>
                        </center>
                </p:layoutUnit>
                
               
                
            </p:layout>
        </h:body>
            
    </f:view>
</html>

