<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
   <head></head>
   <body>
    <ui:composition>
        <o:importConstants type="mx.gob.semarnat.utils.Utils" />
        <p:panel id="pagoSub">
            <!--<p:panelGrid columns="3">
                <h:outputLabel value="Bitácora: #{wizard.bitaProyecto}"/>
                <h:outputLabel value="Folio Proyecto: #{wizard.folioProyecto}"/>
                <h:outputLabel value="Tipo Trámite: #{wizard.tramite}"/>
            </p:panelGrid>-->
            <h:form id="pagoSub2">                            
                <p:dataTable var="pago" value="#{wizard.lista}" id="tablaDerechos">
                    <p:column headerText="No." width="3%" >
                        <h:outputText value="#{pago.id}" style="font-size: 14px" />
                    </p:column>
                    <p:column headerText="Criterios Ambientales">
                        <h:outputText value="#{pago.descripcion}" style="font-size: 14px" />
                    </p:column>
                    <p:column headerText="Respuesta" width="13%">
                        <p:selectOneMenu value="#{pago.seleccion}" 
                                         style="width: 95%;margin-left: 5%" disabled="#{isInRole.evaluador}">
                            <f:selectItem itemLabel="Selecciona" itemValue="-1" />
                            <f:selectItems  value="#{pago.respuesta}"  />
                            <p:ajax  listener="#{wizard.seleccionaRespuesta}" 
                                     update="valor, txtObservacion,  :view_south:view_south2:pagoSub2:grid2, tablaDerechos" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column headerText="Valor" width="10%" id="sumaValor">
                        <h:outputText id="valor"  value="#{pago.valorEval}" style="font-size: 14px;margin-left: 40%" />                        
                        <f:facet name="footer" >
                            <h:outputText value="#{wizard.sum}"/>
                        </f:facet>                    
                    </p:column>
                    <p:column headerText="Respuesta promovente" width="13%" rendered="#{wizard.fisico or wizard.bReaperturaPagoDerechos}">
                        <p:selectOneMenu value="#{pago.seleccionProm}" 
                                         style="width: 95%;margin-left: 5%" disabled="#{!isInRole.subDirector}">
                            <f:selectItem itemLabel="Selecciona" itemValue="-1" />
                            <f:selectItems  value="#{pago.respuesta}"  />
                            <p:ajax  listener="#{wizard.seleccionaRespuestaEvaluador}" 
                                     update="promoventeValor, txtObservacion,  :view_south:view_south2:pagoSub2:grid2, tablaDerechos" />
                        </p:selectOneMenu>
                    </p:column>
                    <p:column headerText="Valor promovente" width="10%" >
                        <h:outputText id="promoventeValor"  value="#{pago.valorProm}" style="font-size: 14px;margin-left: 40%"/>
                        <f:facet name="footer" >
                            <h:outputText value="#{wizard.sumaPromovente}"/>
                        </f:facet>                    
                    </p:column>
                    <p:column headerText="Observación">
                        <p:inputTextarea id="txtObservacion" cols="50"
                                         value="#{pago.referencia}"
                                         disabled="#{pago.valorEval == pago.valorProm}"/>
                    </p:column>
                </p:dataTable>
                  <br/>
                    <p:commandButton id="btnThis" process="@all" 
                                     oncomplete="render:@all" value="Guardar" 
                                     action="#{wizard.guarda}" disabled="#{!isInRole.subDirector}"  rendered="#{!chklstView.tramiteYaTurnado}">
<!--                     	<f:ajax listener="#{wizard.auxValida}"/> -->
                    </p:commandButton>
                         
                    <p:commandButton id="btnReg" process="@form" update="@form" value="Regresar" 
                    	actionListener="#{detalleView.regresar}" rendered = "#{isInRole.subDirector}">
                    	<f:param name="index" value="1"/>
                    </p:commandButton>
                    <br/>
                    <br/>
                <!-- -->
                <p:panelGrid columns="2" id="grid2">
                    <h:outputText value="Valor pagado"/>
                    <h:outputText value="#{wizard.bitamonto}"> 
                        <f:convertNumber pattern="$###,###.00"/>
                    </h:outputText>

                    <h:outputText value="Valor promovente"/>
                    <h:outputText value="#{wizard.valorPromCalc}"> 
                        <f:convertNumber pattern="$###,###.00"/>
                    </h:outputText>

                    <h:outputText value="Valor Semarnat"/>
                    <h:outputText value="#{wizard.montoCalc}">
                        <f:convertNumber pattern="$###,###.00"/>
                    </h:outputText>
                   
                  
                    <p:button id="btnGaurdaPago" value="Oficio de prevención" icon="ui-icon-document" 
                              href="#{wizard.URLgenOficPre}" 
                              disabled="#{wizard.oficPrev  or !wizard.supera or !isInRole.subDirector}"  
                              rendered="false"
                              target="_black" />
                </p:panelGrid>
            </h:form> 
        </p:panel>
        <p:panel>
            <h:form>
                <h:panelGroup >
                    <p:dataTable var="tabla" value="#{wizard.niveles}" style="width: 40%" >
                        <p:column headerText="Grado" width="15%">
                            <h:outputText value="#{tabla[0]}" style="margin-left: 45%"/>
                        </p:column>
                        <p:column headerText="Limite Inferior" width="20%" >
                            <h:outputText value="#{tabla[2]}" style="margin-left: 45%"/>
                        </p:column>
                        <p:column headerText="Limite Superior" width="20%">
                            <h:outputText value="#{tabla[3]}" style="margin-left: 45%"/>
                        </p:column>
                        <p:column headerText="    $  Monto a Pagar     " width="25%">
                            <h:outputText value="#{tabla[1]}" style="margin-left: 0%; float: right;"/>
                        </p:column>
                    </p:dataTable>
                </h:panelGroup>
            </h:form>
        </p:panel>
    </ui:composition>
    </body>
</html>

