<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:o="http://omnifaces.org/ui">
    <ui:composition>
        <o:importConstants type="mx.gob.semarnat.utils.Utils" />
        <h:form>
            <p:panelMenu>
                <p:submenu label="Reportes">
                    <p:menuitem value="1. Ingresados y atendidos por sector" onclick="nuevaVentana('#{Utils.rutaReportesServlet}r_ingresados_atendidos2',500, 500);"/>
                    <p:menuitem value="2. Ingresados y atendidos por trámite" onclick="nuevaVentana('#{Utils.rutaReportesServlet}r_ingresados_atendidos_tr2',500, 500);" />
                    <p:menuitem value="3. Inversión y empleo de proyectos" onclick="nuevaVentana('#{Utils.rutaReportesServlet}r_inversion_empleos2',500, 500);" />
                    <p:menuitem value="4. Ingresados y atendidos por entidad afectada" onclick="nuevaVentana('#{Utils.rutaReportesServlet}r_ingresados_atendidos_entidad2',500, 500);" />
                    <p:menuitem value="5. Reporte de eficiencia" onclick="nuevaVentana('#{Utils.rutaReportesServlet}r_eficiencia2',500, 500);" />
                    <p:menuitem value="6. Reporte de productividad" onclick="nuevaVentana('#{Utils.rutaReportesServlet}r_productividad2',500, 500);" />
                </p:submenu>
            </p:panelMenu>
        </h:form>
        <script type="text/javascript">
            function nuevaVentana(url, alto, ancho) {
                var w = window.open(url, '_blank', 'height = ' + '500' + ',width = ' + 800 + ', toolbar=0, location=0, resizable=0');
                w.document.title = "Reporte";
            }
        </script>
    </ui:composition>
</html>

