<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <script language="JavaScript" type="text/javascript">
            /*function cambiaIframe(destino) { //capitulosIP
                //alert("destino: "+destino);                
                document.getElementById('ifrmPrincipal').src = destino;
            }
            function actualizaBreadCrumb(destino) {
                document.getElementById('breadCrumb').innerHTML = destino;
            }*/
            
            
            function cambiaIframe(destino) {
                //alert("destino: "+destino); 
                if(destino.substring(0, 11)=='capitulosIP')
                {//alert('MIA');
                    document.getElementById('ifrmPrincipal').src = destino;
                    document.getElementById('ifrmPrincipal').style.height = '18500px'; //margin-top: ;
                    document.getElementById('detalleProySec').style.visibility = 'hidden';
                    document.getElementById('ifrmPrincipal').style.visibility = 'visible';
                }
                else
                {//alert('Detalle');
                    
                    document.getElementById('ifrmPrincipal').style.height = '0px'; //margin-top: ;
                    document.getElementById('detalleProySec').style.visibility = 'visible';
                }
                //document.getElementById('detalleProySec').style.height = '0px';
            }
            function actualizaBreadCrumb(destino) {
                document.getElementById('breadCrumb').innerHTML = destino;
            }
            
        </script>
        <h:form>
            <p:panelMenu style="font-size: 15px;"  rendered="#{!detalleView.tramSinatec}">
                <p:submenu label="Capítulos" >
                    <p:menuitem value="Datos Generales" onclick="cambiaIframe('Commons/DetalleProyectoEnVisor.xhtml?bitaNum=#{wizard.bitaProyecto}')"/>
                    <p:menuitem value="Cap&iacute;tulo 1" onclick="cambiaIframe('#{visor.urlCap1IP}')" actionListener="#{visor.cap1}"/>
                    <p:menuitem value="Cap&iacute;tulo 2" onclick="cambiaIframe('#{visor.urlCap2IP}')" actionListener="#{visor.cap2}"/>
                    <p:menuitem value="Cap&iacute;tulo 3" onclick="cambiaIframe('#{visor.urlCap3IP}')" actionListener="#{visor.cap3}"/>
                    <p:menuitem value="Estudio de Riesgo Ambiental" rendered="#{visor.muestraERA}" onclick="cambiaIframe('#{visor.urlCap4IP}')" actionListener="#{visor.cap4}"/>
                </p:submenu>
            </p:panelMenu>
        </h:form>
    </ui:composition>
</html>

