<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <h:form>
            <p:panelMenu>
                <p:submenu label="Documentos">
                    <p:menuitem value="1. OFICIO DE PREVENCIÓN (REQUISITOS COFEMER)" url="#" />
                    <p:menuitem value="2. OFICIO RESOLUTIVO" url="#" />
                    <p:menuitem value="3. OFICIO INFORMACIÓN ADICIONAL" url="#" />
                    <p:menuitem value="4. OFICIO DE PREVENCIÓN (PAGO DE DERECHOS)" url="#" />                      
                    <p:menuitem value="5. OFICIO DE PREVENCIÓN (REQUISITOS COFEMER Y PAGO DE DERECHOS)" url="#" />
                    <p:menuitem value="6. SOLICITUD OPINIÓN TÉCNICA" url="#" />
                    <p:menuitem value="7. NOTIFICACIÓN A GOBIERNOS" url="#" />
                </p:submenu>
            </p:panelMenu>
        </h:form>
    </ui:composition>
</html>

