<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <h:form>
            <p:panelMenu>
                <p:submenu label="Documentos">
                    <p:menuitem value="1. OPINIÓN TÉCNICA" url="#" />
                    <p:menuitem value="2. NOTIFICACIÓN A GOBIERNOS" url="#" />
                    <p:menuitem value="3. PREVENCION PAGO DE DERECHOS" url="#" />
                    <p:menuitem value="4. PREVENCION REQUISITOS COFEMER" url="#" />                      
                    <p:menuitem value="5. PREVENCIÓN PAGO Y REQUISITOS" url="#" />
                    <p:menuitem value="6. DESECHAMIENTO" url="#" />
                    <p:menuitem value="7. OFICIO DE INFORMACIÓN ADICIONAL" url="#" />
                    <p:menuitem value="8. CONSULTA PÚBLICA - DELEGACIÓN" url="#" /> 
                    <p:menuitem value="9. CONSULTA PÚBLICA - PROMOVENTE" url="#" />
                    <p:menuitem value="10. CONSULTA PÚBLICA - CIUDADANO PRINCIPAL" url="#" />
                    <p:menuitem value="11. CONSULTA PÚBLICA - CIUDADANOS" url="#" />
                    <p:menuitem value="12. RESOLUTIVO APROBADO" url="#" /> 
                    <p:menuitem value="13. RESOLUTIVO APROBADO CON CONDICIONANTES" url="#" />
                    <p:menuitem value="14. RESOLUTIVO NEGADO" url="#" /> 
                </p:submenu>
            </p:panelMenu>
        </h:form>
    </ui:composition>
</html>

