<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:o="http://omnifaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    
    
    <ui:composition>
        <o:importConstants type="mx.gob.semarnat.utils.GenericConstants" />
        <h:outputStylesheet library="css" name="moduloEvaluacion.css" />
        <h:outputStylesheet library="css" name="bootstrap.css" />
        <h:outputStylesheet library="css" name="otros.css"  />
        <h:outputStylesheet library="css" name="gobmx.css"  />
        <h:outputStylesheet library="css" name="bootstrap.min.css"  />
        <h:outputStylesheet library="css" name="iaetiqueta.css"/>
        <script language="JavaScript" type="text/javascript">
            function cambiaIframe(destino) {
                //alert("destino: "+destino); 
                if(destino.substring(0, 12)=='capitulosMIA')
                {//alert('MIA');
                    document.getElementById('ifrmPrincipal').src = destino;
                    document.getElementById('ifrmPrincipal').style.height = '18500px'; //margin-top: ;
                    document.getElementById('detalleProySec').style.visibility = 'hidden';
                    document.getElementById('ifrmPrincipal').style.visibility = 'visible';
                }
                else
                {//alert('Detalle');
                    
                    document.getElementById('ifrmPrincipal').style.height = '0px'; //margin-top: ;
                    document.getElementById('detalleProySec').style.visibility = 'visible';
                }
                //document.getElementById('detalleProySec').style.height = '0px';
            }
            function actualizaBreadCrumb(destino) {
                document.getElementById('breadCrumb').innerHTML = destino;
            }
            function cambiaIframePrincipal() {  
                document.getElementById('ifrmPrincipal').src = '';
                document.getElementById('ifrmPrincipal').style.height = '0px'; //margin-top: ;
                document.getElementById('detalleProySec').style.visibility = 'visible';
            }
        </script>
        
        <h:form id="layoutWest">
            <p:panel rendered="#{!detalleView.tramSinatec and wizard.serialProyecto > 1}">
                <p:selectOneRadio id="customRadio" value="#{wizard.vistaVersion}" layout="pageDirection">
                    <p:ajax event="change" update="@form" 
                            oncomplete="cambiaIframePrincipal();"/>
                    <c:if test="#{wizard.existeVersion[GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO]}">
                        <f:selectItem itemLabel="&nbsp;&nbsp;Promovente primer ingreso" itemValue="#{GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO}"/>
                    </c:if>
                    <c:if test="#{wizard.existeVersion[GenericConstants.VISTA_EVALUADOR_1ER_INGRESO]}">
                        <f:selectItem itemLabel="&nbsp;&nbsp;Evaluador primer ingreso" itemValue="#{GenericConstants.VISTA_EVALUADOR_1ER_INGRESO}"/>
                    </c:if>
                    <c:if test="#{wizard.existeVersion[GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL]}">
                        <f:selectItem itemLabel="&nbsp;&nbsp;Promovente información adicional" itemValue="#{GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}"/>
                    </c:if>
                    <c:if test="#{wizard.existeVersion[GenericConstants.VISTA_EVALUADOR_INFO_ADICIONAL]}">
                        <f:selectItem itemLabel="&nbsp;&nbsp;Evaluador información adicional" itemValue="#{GenericConstants.VISTA_EVALUADOR_INFO_ADICIONAL}"/>
                    </c:if>
                </p:selectOneRadio>                    
                </p:panel>
                <h:panelGroup rendered="#{!detalleView.tramSinatec and wizard.serialProyecto eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
                    <font style="font-size: small; color: red">&nbsp;&nbsp;&nbsp;* Información adicional</font>
                    <br/>
                    <font style="font-size: small; color: blue">&nbsp;&nbsp;&nbsp;* Información opcional</font>
                    <br/>
                </h:panelGroup>
                <p:panelMenu style="font-size: 15px;">
                <p:submenu label="Capítulos">
                    <p:menuitem value="Datos Generales" onclick="cambiaIframe('Commons/DetalleProyectoEnVisor.xhtml?bitaNum=#{wizard.bitaProyecto}')"/>
                    <p:menuitem value="Cap&iacute;tulo 1" 
                                onclick="cambiaIframe('capitulosMIA/capitulo1MIA.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')" 
                                actionListener="#{visor.cap1}"
                                rendered="#{wizard.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or wizard.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}"/>
                    <p:menuitem class="ui-menuitem" rendered="#{wizard.serialTres}"
                                actionListener="#{visor.cap2}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo2MIASerial3.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')" 
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 2
                            <p class="#{wizard.mapInfoAdicional.cap_2[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_2[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{wizard.serialTres}"
                                actionListener="#{visor.cap3}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo3MIASerial3.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 3
                            <p class="#{wizard.mapInfoAdicional.cap_3[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_3[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{wizard.serialTres}"
                                actionListener="#{visor.cap4}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo4MIASerial3.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 4
                            <p class="#{wizard.mapInfoAdicional.cap_4[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_4[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{wizard.serialTres}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo5MIASerial3.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 5 
                            <p class="#{wizard.mapInfoAdicional.cap_5[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_5[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{wizard.serialTres}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo6MIASerial3.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 6
                            <p class="#{wizard.mapInfoAdicional.cap_6[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_6[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{wizard.serialTres}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo7MIASerial3.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 7
                            <p class="#{wizard.mapInfoAdicional.cap_7[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_7[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{wizard.serialTres}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo8MIASerial3.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"   
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 8
                            <p class="#{wizard.mapInfoAdicional.cap_8[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_8[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{!wizard.serialTres}"
                                actionListener="#{visor.cap2}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo2MIA.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')" 
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 2
                            <p class="#{wizard.mapInfoAdicional.cap_2[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_2[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{!wizard.serialTres}"
                                actionListener="#{visor.cap3}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo3MIA.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 3 
                            <p class="#{wizard.mapInfoAdicional.cap_3[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_3[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{!wizard.serialTres}"
                                actionListener="#{visor.cap4}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo4MIA.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 4
                            <p class="#{wizard.mapInfoAdicional.cap_4[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_4[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{!wizard.serialTres}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo5MIA.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 5
                            <p class="#{wizard.mapInfoAdicional.cap_5[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_5[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{!wizard.serialTres}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo6MIA.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 6
                            <p class="#{wizard.mapInfoAdicional.cap_6[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_6[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{!wizard.serialTres}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo7MIA.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"  
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 7 
                            <p class="#{wizard.mapInfoAdicional.cap_7[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_7[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" rendered="#{!wizard.serialTres}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/capitulo8MIA.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"   
                           class="ui-menuitem-link ui-corner-all">
                            Cap&iacute;tulo 8
                            <p class="#{wizard.mapInfoAdicional.cap_8[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_8[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                    <p:menuitem class="ui-menuitem" 
                                rendered="#{detalleView.estudioRiesgo and (wizard.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or wizard.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL)}">
                        <a href="#" onclick="cambiaIframe('capitulosMIA/estudioRiesgo.xhtml?bitaNum=#{wizard.bitaProyecto}&amp;vistaVersion=#{wizard.vistaVersion}')"   
                           class="ui-menuitem-link ui-corner-all">
                            Estudio de Riesgo Ambiental
                            <p class="#{wizard.mapInfoAdicional.cap_10[0] ? 'iacapcorners' : 'ocultaiac'}">IA</p>
							<p class="#{wizard.mapInfoAdicional.cap_10[1] ? 'iccapcorners' : 'ocultaiac'}">IC</p>
                        </a>
                    </p:menuitem>
                </p:submenu>
            </p:panelMenu>
        </h:form>
    </ui:composition>
</html>

