<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>

        <style>
            .column1 {	
                vertical-align: top;
                text-align: right;    
            }
            .column2 {
            }
            .key {
                font-weight: bold;
                text-align: right;
            }
            .value {
                text-align: left;
            }

        </style>
        <h:form id="formTop">
            <p:toolbar rendered="true">
                <p:toolbarGroup align="right" id="menu_oficios">
                    <p:menuButton value="Consultas" model="#{etiquetasView.consultas}">
                    </p:menuButton>
                    <!--                    <p:separator />
        <p:menuButton value="Leyes" model="{etiquetasView.leyes}">
        </p:menuButton>-->
                    <p:separator />
                    <p:commandButton alt="Salida" action="#{loginView.logout}"
                                     ajax="false" image="ui-icon-circle-close" />
                </p:toolbarGroup>
                <p:toolbarGroup align="right">
                    <p:separator/>
                    <p:menuButton value="Oficios">
                        <p:menuitem value="Prevención" id="preven" rendered="#{(isInRole.subDirector) and (detalleView.chklst eq 'dataInComplete.jpg' || detalleView.valiPag eq 'dataInComplete.jpg') and menuView.cveTipTram != 63}"
                                    actionListener="#{detalleView.generarOficio('prevencion')}" ajax="false"/>
                        <p:menuitem value="Opinión Técnica" id="opEx" rendered="#{isInRole.evaluador and menuView.cveTipTram != 63}" outcome="/Restringido/opinion/tecnica.xhtml?template=OP&amp;documentId=1012&amp;numBitacora=#{detalleView.bitacoraNom}&amp;turnado=#{detalleView.tramiteYaTurnado}"/>					
                        <p:menuitem value="Notificacion a Gobierno" id="notiGob" rendered="#{isInRole.evaluador and menuView.cveTipTram != 63}" outcome="/Restringido/notificacion/notificacionGobiernos.xhtml?template=Notificación a Gobiernos&amp;documentId=380&amp;numBitacora=#{detalleView.bitacoraNom}&amp;turnado=#{detalleView.tramiteYaTurnado}"/>
                        <p:menuitem value="Consulta Pública" rendered="#{isInRole.evaluador and menuView.cveTipTram != 63}" onclick="PF('ConsuP').show();"/>
                        <p:menuitem value="Informacion Adicional" id="infoAdi" actionListener = "#{detalleView.generarOficio('684')}"  rendered="#{(!semaforoBean.desHabilitarGenerarOficioIA) and isInRole.evaluador and menuView.cveTipTram != 63}" ajax="false"/>

                        <p:menuitem value="Resolutivo Autorizado" rendered="#{isInRole.evaluador and menuView.cveTipTram != 63}" outcome="/Restringido/resultandos/resultandos.xhtml?template=Resolutivo Autorizado&amp;documentId=542&amp;numBitacora=#{detalleView.bitacoraNom}" />
                        <p:menuitem value="Resolutivo Autorizado Condicionado" rendered="#{isInRole.evaluador and menuView.cveTipTram != 63}" outcome="/Restringido/resultandos/resultandos.xhtml?template=Resolutivo Autorizado Condicionado&amp;documentId=1499&amp;numBitacora=#{detalleView.bitacoraNom}" />
                        <p:menuitem value="Resolutivo Negado" rendered="#{isInRole.evaluador and menuView.cveTipTram != 63}" outcome="/Restringido/resultandos/resultandos.xhtml?template=Resolutivo Negado&amp;documentId=1532&amp;numBitacora=#{detalleView.bitacoraNom}" />
                        <p:menuitem value="Resolutivo Desistido" rendered="#{isInRole.evaluador and menuView.cveTipTram != 63}" id="resDesi" actionListener = "#{detalleView.generarOficio('1080')}" ajax="false"/>
                        <p:menuitem value="Resolutivo Desechado" rendered="#{(isInRole.evaluador or isInRole.subDirector) and menuView.cveTipTram != 63}" id="resDese" actionListener = "#{detalleView.generarOficio('513')}" ajax="false"/>

                        <p:menuitem value="Prevencion IP" rendered="#{(isInRole.subDirector) and menuView.cveTipTram == 63}" actionListener="#{detalleView.generarOficio('2022')}" ajax="false"/>
                        <p:menuitem value="Resolutivo Procedente IP" rendered="#{isInRole.evaluador and menuView.cveTipTram == 63}" actionListener="#{detalleView.generarOficio('1143')}" ajax="false"/>
                        <p:menuitem value="Resolutivo No Procedente IP" rendered="#{isInRole.evaluador and menuView.cveTipTram == 63}" actionListener="#{detalleView.generarOficio('1149')}" ajax="false"/>

                        <p:menuitem value="Consultar Oficios" id="consOfi" actionListener = "#{detalleView.generarOficio('consultar oficios')}" ajax="false"/>
                    </p:menuButton>

                    <p:separator />
                    <p:button href="#{detalleView.liga}" value="Visor del trámite"
                              icon="ui-icon-note" alt="Visor" rendered="#{isInRole.detalle}" />
                    <p:button value="Listado de Proyectos" image="ui-icon-clock"
                              href="pantallaPrincipal.xhtml"
                              rendered="#{!isInRole.directorGeneral}" />
                    <p:button value="Listado de Proyectos" image="ui-icon-clock"
                              href="pantallaPrincipal.xhtml"
                              rendered="#{isInRole.directorGeneral}" />
                    <p:separator />
                </p:toolbarGroup>

                <p:toolbarGroup style="width: 50%">
                    <h:panelGrid columns="2" width="100%">
                        <p:outputLabel id="gen_datos"
                                       value="Usuario: #{loginView.nombreUsuario}" escape="false" />
                        <p:outputLabel id="lblEntidadFederativa"
                                       value="Entidad: #{loginView.entidadFederativa.nombreEntidadFederativa}"
                                       escape="false" />
                    </h:panelGrid>
                </p:toolbarGroup>
            </p:toolbar>

            <h:panelGrid columns="4">
                <p:graphicImage library="images" name="#{menuView.img}" height="100px" width="160px" style="margin: 10px;" />
                <h:panelGrid columns="2" columnClasses="column1,column2" style="margin: 10px;" rendered="#{semaforoBean.mostrarSemaforo}" >
                    <h:panelGrid columns="1">
                        <h:outputLabel value="#{semaforoBean.leyendaSemaforo}" style="font-weight: bold !important; width: 80px;"/>
                        <h:outputLabel value="#{semaforoBean.dias}" style="font-weight: bold !important;#{semaforoBean.diaColor}"/>
                    </h:panelGrid>
                    <p:graphicImage id="sema" library="images" name="#{semaforoBean.estatus}" height="100px" width="50px" />
                </h:panelGrid>
                <h:panelGrid columns="4" style="margin: 10px;" columnClasses="key,value,key,value">
                    <h:outputText value="Clave:&nbsp;" />
                    <h:outputText value="#{menuView.cveProyecto}"/>
                    <h:outputText value="Bitacora:&nbsp;" />
                    <h:outputText value="#{menuView.bitaProyecto}" />
                    <h:outputText value="Fecha de Ingreso:&nbsp;" />
                    <h:outputText value="#{menuView.fechaFofiIngre}" />
                    <h:outputText value="Folio:&nbsp;" />
                    <h:outputText value="#{menuView.folioProyecto}" />
                    <h:outputText value="Promovente:&nbsp;" />
                    <h:outputText value="#{menuView.promoTram}" />
                    <h:outputText value="Proyecto:&nbsp;" />
                    <h:outputText value="#{menuView.nombProyecto}" />
                    <h:outputText value="Situación:&nbsp;" />
                    <h:outputText value="#{menuView.situaTram}" />
                    <h:outputText value="Tipo Tramite:&nbsp;" />
                    <h:outputText value="#{menuView.tipoTramite}" />
                    <h:outputText value="Subsector:&nbsp;" />
                    <h:outputText value="#{menuView.subsector}" />
                </h:panelGrid>
                <h:panelGrid columns="2" columnClasses="key,value">
                    <h:outputText value="Días Trámite:&nbsp;" />
                    <h:outputText value="#{menuView.diasProceso}/#{menuView.diasTramite}" />
                    <h:outputText value="Prevención:&nbsp;" rendered="#{menuView.diasPrevProceso ne null}" />
                    <h:outputText value="#{menuView.diasPrevProceso}/#{menuView.diasPrevNotif}"
                                  rendered="#{menuView.diasPrevProceso ne null}" />
<!--                    <h:outputText value="Información Adicional:&nbsp;" rendered="{menuView.diasInfoProceso ne null}" />
                    <h:outputText value="{menuView.diasInfoProceso}/{menuView.diasInfoNotif}"
                                  rendered="{menuView.diasInfoProceso ne null}" />-->
                </h:panelGrid>
            </h:panelGrid>

            <p:dialog header="Consulta Publica" appendTo="@(body)" widgetVar="ConsuP" modal="true" width="800px" height="400px" position="top">
                <h2><h:outputText value="Solicitudes de Consulta Publica"/></h2>	
                <p:dataTable var = "row" value = "#{ConPub.list}" >
                    <p:column headerText="Id Documento">
                        <h:outputText value="#{row.id}"/>			
                    </p:column>
                    <p:column headerText="Remitente">
                        <h:outputText value="#{row.remitente}"/>
                    </p:column>
                    <p:column headerText="Fecha">
                        <h:outputText value="#{row.fecha}"/>
                    </p:column>
                    <p:column headerText="En Tiempo">
                        <p:graphicImage library="images" height="15px"
                                        name="#{row.imagen}" 
                                        width="15px" />
                    </p:column>
                    <p:column headerText="Procede">
                        <p:commandButton value="Si" actionListener="#{detalleView.generarOficio('consulta publica', row.id)}" onsuccess="PF('ConsuP').hide();" />
                        <p:commandButton value="No" onclick="PF('ConsuP').hide();"/>
                    </p:column>
                </p:dataTable>
                <br/>
                <p:commandButton value = "Cerrar" onclick="PF('ConsuP').hide();"/>
            </p:dialog>
        </h:form>
    </ui:composition>
</html>

