<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <ui:composition>
        <h:form id="formMenu">
            <p:toolbar id="toolMenu" rendered="true">
                <p:toolbarGroup align="right" id="menu_oficios">
                    <p:menuButton value="Consultas" model="#{etiquetasView.consultas}" rendered="#{loginView.roles.contains('sad') || loginView.roles.contains('admin')}"/>
                    <!--                    <p:separator />
                                        <p:menuButton value="Leyes" model="{etiquetasView.leyes}">
                                        </p:menuButton>-->
                    <p:separator />
                    <p:commandButton alt="Salida" action="#{loginView.logout}" ajax="false" icon="ui-icon-circle-close" />
                </p:toolbarGroup>
                <p:toolbarGroup style="float:right">
                        <!-- <p:button href="pantallaPrincipalAdministracion.xhtml" value="Administración de Usuarios" icon="ui-icon-locked" rendered="#{loginView.roles.contains('sad') || loginView.roles.contains('admin')}"/> -->
                    <p:menuButton value="Administracion" model="#{etiquetasView.menusAdministracion}"
                                  rendered="#{loginView.roles.contains('sad') || loginView.roles.contains('admin')}"/>
                    <p:separator />
                    <p:button href="#{detalleView.liga}" value="Visor del trámite" icon="ui-icon-note" alt="Visor" rendered="#{isInRole.detalle}" />
                    <!--<p:button value="Listado de Proyectos" icon="ui-icon-clock" href="pantallaPrincipal.xhtml"/>-->
                    
                    <p:menuButton value="Oficios" rendered="#{loginView.roles.contains('sad') || loginView.roles.contains('admin')}">
                        <p:menuitem actionListener="#{loginView.muestraPlantillas()}" value="Consultar Plantillas" ajax="false"/>
                    </p:menuButton>
                                  
                    <p:menuButton value="Listado de Proyectos" model="#{etiquetasView.menusListadoProyectos}" 
                                  disabled="#{!(loginView.roles.contains('dg') || loginView.roles.contains('da') || loginView.roles.contains('sd') || loginView.roles.contains('eva'))}"/>
                    <p:separator />
                </p:toolbarGroup>

                <p:toolbarGroup style="width: 50%">
                    <h:panelGrid columns="2" width="100%">                
                        <p:outputLabel id="gen_datos" value="Usuario: #{loginView.nombreUsuario}" escape="false" />
                        <p:outputLabel id="lblEntidadFederativa" value="Entidad: #{loginView.entidadFederativa.nombreEntidadFederativa}" escape="false" />                
                    </h:panelGrid>
                </p:toolbarGroup>
            </p:toolbar>


            <br/> 

            <!--<ui:composition class="topMENU">
            <h:outputText value="Fecha de Ingreso " escape="false" />
            <br/>
            <h:outputText value="Nombre" escape="false" />
            <br/>
            <h:outputText value="Direccion" escape="false" />
            <br/>
            <h:outputText value="Bitacora" escape="false" />
            <br/>
            <h:outputText value="Clave" escape="false" />
            <br/>
            <h:outputText value="fecha ingreso" escape="false" />
            <br/>
            <h:outputText value="situacion" escape="false" />
            <br/>
            <h:outputText value="Tipo tramite" escape="false" />
            </ui:composition>-->
        </h:form>
    </ui:composition>
</html>

