<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <f:view>
        <h:head>
            <title>Capitulo 1 MIA</title>
            <h:outputStylesheet library="css" name="infoadicional.css" />
            <script src="#{request.contextPath}/resources/js/infoadicional.js"></script>
        </h:head>
        <h:body>
            <p:panel >
                 <div class="dgira_h3" style="width: 100%; height: 40px">
                    <div style="float:left;display: block;width: 75%">Datos Generales del Proyecto</div>
                    <div id="tit1" style="float:right;width: 25%;height: 100%"></div>
                </div>
                
                <br/>
                <script>infoAdicional("tit1", 1, 1, 1, 0, '#{miaCap1.proyecto.bitacoraProyecto}');</script>
                <h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel value="Nombre del proyecto: "/>
                    <h:outputLabel value="#{miaCap1.proyecto.proyNombre}"/>
                    <h:outputLabel value="Sector: "/>
                    <h:outputLabel value="#{miaCap1.sector.sector}"/>
                    <h:outputLabel value="Subsector: "/>
                    <h:outputLabel value="#{miaCap1.subSector.subsector}"/>
                    <h:outputLabel value="Rama: "/>
                    <h:outputLabel value="#{miaCap1.rama.rama}"/>
                    <h:outputLabel value="Tipo de Proyecto: "/>
                    <h:outputLabel value="#{miaCap1.tipo.tipoProyecto}"/>
                </h:panelGrid>
                <br></br>
            </p:panel>
            
		<p:panel>
			<div class="dgira_h3" style="width: 100%; height: 40px">
				<div style="float: left; display: block; width: 75%">Obras y actividades previstas en el artículo 5 del REIA</div>
				<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			
			<p:dataTable id="tablaDatosReia" var="reia"
				value="#{miaCap1.reiaProyObras}" rowKey="#{reia.obra.idObra}"
				paginator="true" paginatorPosition="bottom" rows="5" emptyMessage="Sin registros.">

				<p:column style="white-space: normal;width:3%; text-align: center;">
					<p:rowToggler rendered="#{reia.obra.reiaObrasCondicionesCollection != null}">
					</p:rowToggler>
				</p:column>

				<p:column headerText="Inciso"
					style="white-space: normal; text-align: center; width: 5%">
					<h:outputText value="#{reia.obra.idCategoria.inciso})" />
				</p:column>

				<p:column headerText="Categoría" style="white-space: normal;">
					<h:outputText value="#{reia.obra.idCategoria.categoria}" />
				</p:column>

				<p:column headerText="Fracción"
					style="white-space: normal; text-align: center; width: 12%">
					<h:outputText value="#{reia.obra.fraccion}" />
				</p:column>

				<p:column headerText="Obra"
					style="white-space: normal;">
					<h:outputText value="#{reia.obra.obra}" />
				</p:column>

				<p:column headerText="Principal"
					style="white-space: normal;text-align:center; width: 10%">
					<h:outputText value="#{reia.principal eq 1 ?  'Si' : 'No'}" />
				</p:column>

				<p:column headerText="Exceptuada"
					style="white-space: normal;text-align:center; width: 10%">
					<h:outputText value="#{reia.exceptuada eq 1 ?  'No' : 'Si'}" />
				</p:column>

				<p:rowExpansion>

				    <p:dataTable id="tablaReiaCondiciones2"
							value="#{reia.proyCondiciones}" var="reiaC2"
							emptyMessage="Sin registros.">
							<p:column style="white-space: normal;text-align: center; width: 80%; font-size: 12px;" headerText="Condición/Excepción">
								<h:outputText value="#{reiaC2.condicion.condicion}" />
							</p:column>
							
							<p:column style="white-space: normal;text-align: center; width: 20%; font-size: 12px;" headerText="Respuesta">
								<h:outputText value="#{reiaC2.respuesta eq 1 ?  'Si' : 'No'}" />
							</p:column>
					</p:dataTable>
										
				</p:rowExpansion>
			</p:dataTable>
			<br></br>
		</p:panel>

		<p:panel >
                <div class="dgira_h3" style="width: 100%; height: 40px">
                    <div style="float:left;display: block;width: 75%">Datos generales del promovente</div>
                    <div id="tit2" style="float:right;width: 25%;height: 100%"></div>
                </div><br/><br/>
                <script>infoAdicional("tit2", 1, 1, 2, 0, '#{miaCap1.proyecto.bitacoraProyecto}');</script>
                <h:panelGrid columns="2" border="0" width="600" rendered="#{miaCap1.tipoPerMor}">
                    <h:outputLabel value="Nombre: "/>
                    <h:outputLabel value="#{miaCap1.promovente.vcrazonsocial}"/>
                    <h:outputLabel value="RFC: "/>
                    <h:outputLabel value="#{miaCap1.promovente.vcrfc}"/>
<!--                     <h:outputLabel value="CURP: "/> -->
<!--                     <h:outputLabel value="#{miaCap1.promovente.vccurp}"/> -->
                </h:panelGrid>
                <h:panelGrid columns="2" border="0" width="600" rendered="#{miaCap1.tipoPerFis}">
                    <h:outputLabel value="Nombre: "/>
                    <h:outputLabel value="#{miaCap1.promovente.vcnombre} #{miaCap1.promovente.vcapellidopaterno} #{miaCap1.promovente.vcapellidomaterno}"/>
                    <h:outputLabel value="RFC: "/>
                    <h:outputLabel value="#{miaCap1.promovente.vcrfc}"/>
                    <h:outputLabel value="CURP: "/>
                    <h:outputLabel value="#{miaCap1.promovente.vccurp}"/>
                </h:panelGrid>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 40px">
                    <div style="float:left;display: block;width: 75%">Domicilio</div>
                    <div id="tit3" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>infoAdicional("tit3", 1, 1, 3, 0, '#{miaCap1.proyecto.bitacoraProyecto}');</script>
                
                <h:panelGrid columns="2" style="width:600px">
                    <h:outputLabel value="Código postal:" />
                    <h:outputText class="form-control" value="#{miaCap1.promovente.vcdCodigoLk}"/>

                    <h:outputLabel value="Tipo de asentamiento:" />
                    <h:outputText class="form-control" value="#{miaCap1.asentamiento}"/>

                    <h:outputLabel value="Nombre del asentamiento:" rendered="false"/>
                    <h:outputText class="form-control" value="#{miaCap1.promovente.vctipoasentamiento}" rendered="false"/>

                    <h:outputLabel value="Tipo de vialidad:" />
                    <h:outputText class="form-control" value="#{miaCap1.vialidad}" />

                    <h:outputLabel value="Nombre de la vialidad:" />
                    <h:outputText class="form-control" value="#{miaCap1.promovente.vcnombrevialidad}"  />
                    <h:outputLabel value="Número exterior:" />
                    <h:outputText class="form-control" value="#{miaCap1.promovente.vcnumexterior}"  />
                    <h:outputLabel value="Número interior:" />
                    <h:outputText class="form-control" value="#{miaCap1.promovente.vcnuminterior}" />
                    <h:outputLabel value="Localidad:" />
                    <h:outputText class="form-control" value="#{miaCap1.promovente.vclocalidad}"/>

                </h:panelGrid>
                <br></br>
            </p:panel>
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 40px">
                    <div style="float:left;display: block;width: 75%">Datos generales del representante Legal</div>
                    <div id="tit4" style="float:right;width: 25%;height: 100%"></div>
                </div>
                <script>infoAdicional("tit4", 1, 1, 4, 0, '#{miaCap1.proyecto.bitacoraProyecto}');</script>
                <br/><br/><br/>
                <ui:repeat value="#{miaCap1.repLegalu}" var="respTec" >
                    <h:panelGrid columns="2" border="0" width="600" >
                        <h:outputLabel value="Nombre: "/>
                        <h:outputLabel value="#{respTec.vexdatosusuariorep.vcnombre} #{respTec.vexdatosusuariorep.vcapellido1} #{respTec.vexdatosusuariorep.vcapellido2}"/>
                        <h:outputLabel value="RFC: "/>
                        <h:outputLabel value="#{respTec.repLegal.rfc}" />
                        <h:outputLabel value="CURP: "/>
                        <h:outputLabel value="#{respTec.vexdatosusuariorep.vccurp}" />
                        <h:outputLabel value="Correo electrónico: "/>
                        <h:outputLabel value="#{respTec.vexdatosusuariorep.vccorreo}" />
                    </h:panelGrid>
                </ui:repeat>
                <ui:fragment rendered="#{empty miaCap1.repLegalu}">
                    <br/>
                    <div class="alert alert-danger">
                        <h:outputLabel value="No existen registros para su consulta"/>
                    </div>
                </ui:fragment>
                <br></br>
            </p:panel>
            <p:panel >
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 40px">
                    <div style="float:left;display: block;width: 75%">Datos generales del responsable de la elaboración del Estudio de Impacto Ambiental</div>
                    <div id="tit5" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>infoAdicional("tit5", 1, 1, 5, 0, '#{miaCap1.proyecto.bitacoraProyecto}');</script>
                
                <h:outputLabel for="fResmismo" value="¿El responsable técnico de la elaboración del estudio es el mismo que el representante legal?    " />
                <h:outputLabel value="#{miaCap1.pregREEIA}"/>
                <h:panelGrid columns="2" border="0"  width="600" >
                    <h:outputLabel value="Nombre: "/>
                    <h:outputLabel value="#{miaCap1.respTecProyecto.respTecNombre} #{miaCap1.respTecProyecto.respTecApellido1} #{miaCap1.respTecProyecto.respTecApellido2}"/>
                    <h:outputLabel value="RFC: "/>
                    <h:outputLabel value="#{miaCap1.respTecProyecto.respTecRfc}"/>
                    <h:outputLabel value="CURP: "/>
                    <h:outputLabel value="#{miaCap1.respTecProyecto.respTecCurp}"/>
                </h:panelGrid>
                <br></br>                
            </p:panel>
        </h:body>
    </f:view>
</html>