<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <f:view id="vistaCapitulo">
        <h:outputScript name="/js/infoadicional.js" target="head" />        
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
        </h:head>
        <h:body>


            <p:panel id="selectSitio">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Medidas Preventivas y de Mitigación de los Impacto Ambientales</h3>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator></p:separator>
			<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_6_1_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_6_1_0_0[0]},#{miaCap2.mapInfoAdicional.cap_6_1_0_0[1]},"tit1");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                <ui:fragment rendered="#{!empty miaCap2.medPreventivas}">                   
                    
                    <!-- ===================================================================================================================================== -->
		<ui:repeat id="alvs" var="pd" value="#{miaCap2.medPreventivas}">
			<h:panelGroup>
				<div id="predios">
				    <h:outputText style="bold; font-size:18px;" value="Etapa" />
					<br />
					<h:outputLabel value="#{pd.etapaId}" />
					<br />
					<h:outputText style="bold; font-size:18px;" value="Impacto" />
					<br />
					<h:outputLabel value="#{pd.prevImpactonom}" />
					<br />
					<h:outputText style="bold; font-size:18px;" value="Medida(s) Propuesta(s)" />
					<br />
					<h:outputLabel value="#{pd.prevMedProp}" />
					<br />
					<h:outputText style="bold; font-size:18px;" value="Recursos Necesarios: costos, equipos, obras, instrumentos, personal, etc." />
					<br />
					<h:outputLabel value="#{pd.precRecNece}" />
					<br />

					<h:outputText style="bold; font-size:18px;" value="Indicadores de eficiencia ambiental sobre la medida propuesta" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{pd.prevEficCamb}" />
					<hr/>
					<br /> <br />

				</div>
			</h:panelGroup>
		</ui:repeat>
		<!-- ===================================================================================================================================== -->
                </ui:fragment>
                
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla"
						value="#{miaCap6.archivosMedPrevMitiImpAmb}" />
				</ui:include>
				<br />

			</div>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=6,1,0,0,#{miaCap1.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
        </h:body>
    </f:view>
</html>