<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


<f:view id="vistaCapitulo">
	<h:outputScript name="/js/infoadicional.js" target="head" />
	<o:importConstants type="mx.gob.semarnat.utils.GenericConstants" />
	<h:head>
		<f:metadata>
			<f:viewParam name="bitaNum" value="#{visor.pramBita}" />
		</f:metadata>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet"
			href="#{request.contextPath}/assets/css/gobmx.css" />
		<link href="#{request.contextPath}/assets/css/vendor/bootstrap.css"
			rel="stylesheet" media="screen" />
		<link
			href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css"
			rel="stylesheet" media="screen" />
	</h:head>
	<h:body>
<!-- ==================================================================================================================================================================== -->
<p:panel id="naturalezaProy"
			rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Naturaleza del Proyecto</h3>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_1_1_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_1_1_0[0]},#{miaCap2.mapInfoAdicional.cap_2_1_1_0[1]},"tit1");
                            })
                        </c:when>
                    </c:choose>
                </script>
			
			<h:outputLabel style="text-align:justify" value="#{miaCap2.naturalezaProy}" />
			<br /><br />
			
			<p:panel  header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,1,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		<br />
		
<p:panel id="selectSitio"
			rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Selección del Sitio</h3>
				</div>
				<div id="tit3" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_1_2_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_1_2_0[0]},#{miaCap2.mapInfoAdicional.cap_2_1_2_0[1]},"tit3");
                            })
                        </c:when>
                    </c:choose>
                </script>
				<p:dataTable id="seleccionsittio" value="#{miaCap2.criterios}" var="obj" emptyMessage ="Sin registros." rowIndexVar = "rowIndex" paginator="true" paginatorPosition="bottom" rows="5">
					<p:column style="width:4%;font-size: 12px;">
						<f:facet name="header">No.</f:facet>
						<p:outputPanel >
							<h:outputText value="#{rowIndex+1}" escape="false" />
						</p:outputPanel>
					</p:column>
					<p:column style="width:12%;font-size: 12px;">
						<f:facet name="header">Tipo de criterio</f:facet>
						<p:outputPanel >
							<h:outputText value="#{obj[2]}" escape="false" />
						</p:outputPanel>
					</p:column>
					
					<p:column style="width: 40%;font-size: 12px;">
						<f:facet name="header">Criterio</f:facet>
						<p:outputPanel >
							<h:outputText  value="#{obj[4]}" escape="false" />
						</p:outputPanel>
					</p:column>
					
					<p:column style="width: 40%;font-size: 12px;">
						<f:facet name="header">Descripción del Criterio</f:facet>
						<p:outputPanel >
							<h:outputText  value="#{obj[3]}" escape="false" />
						</p:outputPanel>
					</p:column>

				</p:dataTable>
			<br></br>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,2,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
        <br>
        </br>
        
 <p:panel id ="ubicacionFisica">

			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Ubicaci&#243;n f&#239;sica del proyecto</h3>
				</div>
				<div id="tit2" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_1_3_1 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_1_3_1[0]},#{miaCap2.mapInfoAdicional.cap_2_1_3_1[1]},"tit2");
                            })
                        </c:when>
                    </c:choose>
                </script>
			<div class="form-group">
				<p></p>
				<p></p>
								
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						Georefenciaci&#243;n SIGEIA
					</div>
					<div id="tit2" style="float: right; width: 25%; height: 100%"></div>
				</div>
					
				<p>
					<h:outputLink target="_blank" value="#{miaCap2.url}"
						rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">Contacto SIGEIA</h:outputLink>
					<h:outputText value="Contacto SIGEIA"
						rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_EVALUADOR_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_EVALUADOR_INFO_ADICIONAL}" />
				</p>
				<p></p>
				<p></p>
			</div>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:100%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,3,1,#{miaCap2.pramBita},#{miaCap2.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
			<br />


			<br />
			<br />
		</p:panel>

		<br />
		<br />

<p:panel id="entMuncAfe">
			<div class="dgira_h3" style="width: 100%; height: 40px">
				<div style="float: left; display: block; width: 75%">Estados Afectados.</div>
				<div id="tit4" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>infoAdicional("tit4", 2, 1, 4, 0, '#{miaCap2.proyecto.bitacoraProyecto}');</script>
			<h:dataTable value="#{miaCap2.todosEdos}" var="esp" class="table">
				<h:column>
					<f:facet name="header">
						<span class="control-label">Entidad</span>
					</f:facet>

					<h:outputText value="#{esp[2]}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<span class="control-label">Municipio</span>
					</f:facet>

					<h:outputText value="#{esp[3]}" id="txtNombMuncp" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<span class="control-label">Superficie (m2)</span>
					</f:facet>
					<div style="text-align: right; width: 100%">
						<h:outputText value="#{esp[4]}">
							<f:convertNumber pattern="###,###.##" />
						</h:outputText>
					</div>

				</h:column>
			</h:dataTable>
			<br></br>
			<Table>
				<tr>
					<td><label class="control-label">Entidad más
							afectada:</label></td>
					<td><h:dataTable value="#{miaCap2.edoAfectado}" var="edoAfect">
							<h:column>
								<h:inputText value="#{edoAfect[2]}" disabled="true"
									class="form-control" />
							</h:column>
						</h:dataTable></td>
					<td style="width: 10px;"></td>
					<td><label class="control-label">Municipio más
							afectado:</label></td>
					<td><h:dataTable value="#{miaCap2.edoAfectado}" var="edoAfect">
							<h:column>
								<h:inputText value="#{edoAfect[3]}" disabled="true"
									class="form-control" />
							</h:column>
						</h:dataTable></td>
				</tr>
			</Table>
			<ui:fragment rendered="#{empty miaCap2.todosEdos}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel value="Sin registros." />
				</div>
			</ui:fragment>
			<br></br>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,3,1,#{miaCap2.proyecto.bitacoraProyecto},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		  <br>
		 </br>
		 
		 
<p:panel id="direccProy"
			rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>¿Su proyecto cuenta con un domicilio establecido?</h3>
				</div>
				<div id="tit5" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_1_5_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_1_5_0[0]},#{miaCap2.mapInfoAdicional.cap_2_1_5_0[1]},"tit5");
                            })
                        </c:when>
                    </c:choose>
                </script>
			<p:outputPanel style="background-color: #ccccff;">
				<h:outputText value="#{miaCap2.tipoDomic}" escape="false"
					class="form-control" />
			</p:outputPanel>

			<h:panelGroup id="locExacta" rendered="#{miaCap2.localiz}">


				<label class="control-label" for="tipVial">Tipo de Vialidad:</label>
				<p:outputPanel style="background-color: #ccccff;">
					<h:outputText id="tipVial"
						value="#{miaCap2.catVialidad.descripcion}" escape="false"
						class="form-control" />
				</p:outputPanel>

				<label class="control-label" for="nombVialidad">Nombre de la
					Vialidad:</label>
				<p:outputPanel style="background-color: #ccccff;">
					<h:outputText id="nombVialidad"
						value="#{miaCap2.proyecto.proyNombreVialidad}" escape="false"
						class="form-control" />
				</p:outputPanel>

				<label class="control-label" for="numExt">Número Exterior:</label>
				<p:outputPanel style="background-color: #ccccff;">
					<h:outputText id="numExt"
						value="#{miaCap2.proyecto.proyNumeroExterior}" escape="false"
						class="form-control" />
				</p:outputPanel>

				<label class="control-label" for="numInt">Número Interior:</label>
				<p:outputPanel style="background-color: #ccccff;">
					<h:outputText id="numInt"
						value="#{miaCap2.proyecto.proyNumeroInterior}" escape="false"
						class="form-control" />
				</p:outputPanel>

				<label class="control-label" for="Sector">Tipo de
					Asentamiento:</label>
				<p:outputPanel style="background-color: #ccccff;">
					<h:outputText value="#{miaCap2.catTipoAsen.nombre}" escape="false"
						class="form-control" />
				</p:outputPanel>

				<label class="control-label" for="nomAsent">Nombre del
					Asentamiento:</label>
				<p:outputPanel style="background-color: #ccccff;">
					<h:outputText id="nomAsent"
						value="#{miaCap2.proyecto.proyNombreAsentamiento}" escape="false"
						class="form-control" />
				</p:outputPanel>

				<label class="control-label" for="CP">C&#243;digo Postal:</label>
				<p:outputPanel style="background-color: #ccccff;">
					<h:outputText id="CP" value="#{miaCap2.proyecto.proyCodigoPostal}"
						escape="false" class="form-control" />
				</p:outputPanel>

			</h:panelGroup>

			<h:panelGroup id="NOlocExacta"
				rendered="#{miaCap2.localizNo and 
                                          (miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL) }">
				<label for="locProy">Localizaci&#243;n del Proyecto:</label>
				<br />
				<h:outputText value="#{miaCap2.proyecto.proyUbicacionDescrita}"
					class="control-label" />

			</h:panelGroup>
			<br></br>
			                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;"
                          rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,5,0,#{miaCap2.pramBita},#{miaCap2.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
		</p:panel>
		<br>
		</br>

		
<p:panel id="planosAdic"
			rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Planos Adicionales del Proyecto</h3>
				</div>
				<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_1_3_2 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_1_3_2[0]},#{miaCap2.mapInfoAdicional.cap_2_1_3_2[1]},"tit6");
                            })
                        </c:when>
                    </c:choose>
                </script>
			<div id="ver" style="vertical-align: top; width: 100%;">
				<br />
				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap2.archivosUbicacion}" />
				</ui:include>

			</div>
			<br></br>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,3,2,#{miaCap2.pramBita},#{miaCap2.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
        <br>
        </br>

<!-- Sección que se debe mostrar siempre sin importar el SUBSECTOR al que pertenezca el trámite -->
<p:panel id="Inverc"
			rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Inversión y empleos</h3>
				</div>
				<div id="tit7" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                <c:choose>
                    <c:when test="#{miaCap2.mapInfoAdicional.cap_2_1_4_0 != null}">
                        $('#vistaCapitulo').ready(function() {
                            infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_1_4_0[0]},#{miaCap2.mapInfoAdicional.cap_2_1_4_0[1]},"tit7");
                        })
                    </c:when>
                </c:choose>
            </script>

			<!-- Inversión Requerida. No cuenta con inversión por etapas -->
			<p:outputPanel id="pnlMontos">
				<h:panelGroup id="pGA" rendered="#{!miaCap2.proyInversionPE}">
					<h:outputLabel for="fCosto"
						value="Costo de la Inversión Requerida:" />
					<p:outputPanel style="background-color: #ccccff;">
						<h:outputText value="#{miaCap2.proyecto.proyInversionRequerida != null ?  miaCap2.proyecto.proyInversionRequerida : 'No aplica'}"
							class="form-control" id="fCosto">
							<f:convertNumber pattern="$###,###.00" />
						</h:outputText>
					</p:outputPanel>

					<h:outputLabel for="fCostoMed"
						value="Costos de Medidas de Prevención y Mitigación:" />
					<h:outputText value="#{miaCap2.proyecto.proyMedidasPrevencion != null ? miaCap2.proyecto.proyMedidasPrevencion : 'No aplica'}"
						class="form-control" id="fCostoMed">
						<f:convertNumber pattern="$###,###.00" />
					</h:outputText>

					<h:outputLabel for="fInvTot" value="Inversión Total:" />
					<h:outputText
						value="#{miaCap2.proyecto.proyInversionRequerida + miaCap2.proyecto.proyMedidasPrevencion}"
						class="form-control" id="fInvTot">
						<f:convertNumber pattern="$###,###.00" />
					</h:outputText>

					<br />

					<h:outputLabel for="fEmpDir" value="Empleos permanentes:" />
					<p:inputText value="#{miaCap2.proyecto.proyEmpleosPermanentes}"
						class="form-control" id="fEmpDir" disabled="true">
						<f:convertNumber pattern="###,###" />
						<p:ajax event="blur" update="fEmpT" />
					</p:inputText>
					<p:message for="fEmpDir" display="text" />

					<h:outputLabel for="fEmpIn" value="Empleos temporales:" />
					<p:inputText value="#{miaCap2.proyecto.proyEmpleosTemporales}"
						class="form-control" id="fEmpIn" disabled="true">
						<f:convertNumber pattern="###,###" />
						<p:ajax event="blur" update="fEmpT" />
						
					</p:inputText>
					<p:message for="fEmpIn" display="text" />

					<h:outputLabel for="fEmpT" value="Empleos Totales:" />
					<p:inputText
						value="#{miaCap2.proyecto.proyEmpleosPermanentes + miaCap2.proyecto.proyEmpleosTemporales}"
						class="form-control" id="fEmpT" readonly="true" >
						<f:convertNumber pattern="###,###" /></p:inputText>
					<p:message for="fEmpT" display="text" />
				</h:panelGroup>
			</p:outputPanel>

				<!-- Inversión por Etapas -->
				<p:outputPanel id="pnlEtapas">
					<h:panelGroup id="pGN" rendered="#{miaCap2.proyInversionPE}">
						<p:panelGrid id="gridRes">
							<f:facet name="header">
								<p:row>
									<p:column style="font-weight: bold;">Etapas</p:column>
									<p:column style="font-weight: bold;">Inversión</p:column>
									<p:column style="font-weight: bold;">Empleos temporales</p:column>
									<p:column style="font-weight: bold;">Empleos permanentes</p:column>
									<p:column style="font-weight: bold;">Total empleos por etapa</p:column>
								</p:row>
							</f:facet>

							<p:row>
								<p:column style="font-weight: bold;">Preparación del sitio</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="invPrep"
										value="#{miaCap2.inversionEtapas.inversionPreparacion != null ? miaCap2.inversionEtapas.inversionPreparacion : 'No aplica'}">										
										<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />										
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel
										value="#{miaCap2.inversionEtapas.empleosTemporalesPrep != null ? miaCap2.inversionEtapas.empleosTemporalesPrep : 'No aplica' }">
										 										
										 <f:convertNumber pattern="###,###" />										
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel
										value="#{miaCap2.inversionEtapas.empleosPermanentesPrep != null ? miaCap2.inversionEtapas.empleosPermanentesPrep : 'No aplica'}">
										<f:convertNumber pattern="###,###" />										
									</h:outputLabel>
								</p:column>
							<p:column style="text-align: right">
								<h:outputLabel id="totalEmpP"
									value="#{miaCap2.inversionEtapas.empleosTemporalesPrep + miaCap2.inversionEtapas.empleosPermanentesPrep}">
									<f:convertNumber pattern="###,###" />
								</h:outputLabel>
							</p:column>
						</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Construcción</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="invCons"
										value="#{miaCap2.inversionEtapas.inversionConstruccion != null ? miaCap2.inversionEtapas.inversionConstruccion : 'No aplica'}">
										<f:convertNumber currencySymbol="$" pattern="###,###.00"
											currencyCode="MXN" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel
										value="#{miaCap2.inversionEtapas.empleosTemporalesCons !=null ? miaCap2.inversionEtapas.empleosTemporalesCons : 'No aplica'}">
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel
										value="#{miaCap2.inversionEtapas.empleosPermanentesCons != null ? miaCap2.inversionEtapas.empleosPermanentesCons : 'No aplica'}">
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="totalEmpC"
										value="#{miaCap2.inversionEtapas.empleosTemporalesCons + miaCap2.inversionEtapas.empleosPermanentesCons}">
										<f:convertNumber pattern="###,###" />
										</h:outputLabel>
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Operación y mantenimiento</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="invOper" value="#{miaCap2.inversionEtapas.inversionOperacion !=null ? miaCap2.inversionEtapas.inversionOperacion : 'No aplica'}">
									<f:convertNumber currencySymbol="$" pattern="###,###.00" currencyCode="MXN" />										
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel
										value="#{miaCap2.inversionEtapas.empleosTemporalesOper != null ? miaCap2.inversionEtapas.empleosTemporalesOper : 'No aplica'}" >
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel
										value="#{miaCap2.inversionEtapas.empleosPermanentesOper != null ? miaCap2.inversionEtapas.empleosPermanentesOper : 'No aplica'}">
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="totalEmpO"
										value="#{miaCap2.inversionEtapas.empleosTemporalesOper + miaCap2.inversionEtapas.empleosPermanentesOper}">
										<f:convertNumber pattern="###,###" />
										</h:outputLabel>
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Abandono</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="invAban"
										value="#{miaCap2.inversionEtapas.inversionAbandono != null ? miaCap2.inversionEtapas.inversionAbandono : 'No aplica'}">
										<f:convertNumber currencySymbol="$" pattern="###,###.00"
											currencyCode="MXN" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel
										value="#{miaCap2.inversionEtapas.empleosTemporalesAban != null ? miaCap2.inversionEtapas.empleosTemporalesAban : 'No aplica'}">
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel
										value="#{miaCap2.inversionEtapas.empleosPermanentesAban != null ? miaCap2.inversionEtapas.empleosPermanentesAban : 'No aplica'}">
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="totalEmpA"
										value="#{miaCap2.inversionEtapas.empleosTemporalesAban + miaCap2.inversionEtapas.empleosPermanentesAban}">
										<f:convertNumber pattern="###,###" />
										</h:outputLabel>
								</p:column>
							</p:row>

							<p:row>
								<p:column colspan="5" styleClass="ui-widget-header">
									<p:spacer height="0" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">SubTotal inversión</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="subTotalInv"
										value="#{miaCap2.inversionEtapas.inversionPreparacion + miaCap2.inversionEtapas.inversionConstruccion + miaCap2.inversionEtapas.inversionOperacion + miaCap2.inversionEtapas.inversionAbandono}"
										label="SubTotal Inversión">
										<f:convertNumber currencySymbol="$" pattern="###,###.00"
											currencyCode="MXN" />
									</h:outputLabel>
								</p:column>
								<p:column colspan="3">
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Total de empleos</p:column>
								<p:column />
								<p:column style="text-align: right">
									<h:outputLabel id="totalEmpTem"
										value="#{miaCap2.inversionEtapas.empleosTemporalesPrep + miaCap2.inversionEtapas.empleosTemporalesCons + miaCap2.inversionEtapas.empleosTemporalesOper + miaCap2.inversionEtapas.empleosTemporalesAban}"
										label="Empleos Temporales">
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="totalEmpPer"
										value="#{miaCap2.inversionEtapas.empleosPermanentesPrep + miaCap2.inversionEtapas.empleosPermanentesCons + miaCap2.inversionEtapas.empleosPermanentesOper + miaCap2.inversionEtapas.empleosPermanentesAban}"
										label="Empleos Permanentes">
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="totalEmpTot"
										value="#{miaCap2.inversionEtapas.empleosTemporalesPrep + miaCap2.inversionEtapas.empleosTemporalesCons + miaCap2.inversionEtapas.empleosTemporalesOper + miaCap2.inversionEtapas.empleosTemporalesAban + miaCap2.inversionEtapas.empleosPermanentesPrep + miaCap2.inversionEtapas.empleosPermanentesCons + miaCap2.inversionEtapas.empleosPermanentesOper + miaCap2.inversionEtapas.empleosPermanentesAban}"
										label="Empleos Total">
										<f:convertNumber pattern="###,###" />
									</h:outputLabel>
								</p:column>
							</p:row>

							<p:row>
								<p:column colspan="5" styleClass="ui-widget-header">
									<p:spacer height="0" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Medidas de mitigación</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="medMitigacion"
										value="#{miaCap2.inversionEtapas.medidasMitigacion != null ? miaCap2.inversionEtapas.medidasMitigacion : 'No aplica'}"
										label="Medidas de Mitigación">
										<f:convertNumber currencySymbol="$" pattern="###,###.00"
											currencyCode="MXN" />
									</h:outputLabel>
								</p:column>
								<p:column colspan="3">
								</p:column>
							</p:row>

							<p:row>
								<p:column colspan="5" styleClass="ui-widget-header">
									<p:spacer height="0" />
								</p:column>
							</p:row>

							<p:row>
								<p:column style="font-weight: bold;">Total de la inversión</p:column>
								<p:column style="text-align: right">
									<h:outputLabel id="totalEtapas"
										value="#{miaCap2.inversionEtapas.inversionPreparacion + miaCap2.inversionEtapas.inversionConstruccion + miaCap2.inversionEtapas.inversionOperacion + miaCap2.inversionEtapas.inversionAbandono + miaCap2.inversionEtapas.medidasMitigacion}"
										label="Total Etapas">
										<f:convertNumber currencySymbol="$" pattern="###,###.00"
											currencyCode="MXN" />
									</h:outputLabel>
								</p:column>
								<p:column colspan="3">
								</p:column>
							</p:row>
						</p:panelGrid>
					</h:panelGroup>
				</p:outputPanel>
				
				<br />
				
				<!-- Si SUBSECTOR es COMUNICACIONES (7) Y RAMA es INFRAESTRUCTURA CARRETERA (30), se debe mostrar Tabla de INVERSION FEDERAL Y PARTICULARES -->
				<c:if test="#{miaCap2.proyecto.nsub eq 7 and miaCap2.proyecto.nrama eq 30}">
				<h:panelGrid columns="3" id="origen">
					<h:outputLabel value="Origen" />
					<h:outputLabel value="# Moneda Nacional" />
					<h:outputLabel value="Porcentaje" />

					<h:outputLabel value="Federal" />
					<h:inputText value="#{miaCap2.proyecto.proyInversionFederalOri != null ? miaCap2.proyecto.proyInversionFederalOri : 'No aplica'}"
						disabled="true">
					</h:inputText>
					<h:outputText id="popFed" value="#{miaCap2.porFederal != null ? miaCap2.porFederal  : 0}%" disabled="true">
						<f:convertNumber pattern="#.##" />
					</h:outputText>

					<h:outputLabel value="Estatal" />
					<h:inputText value="#{miaCap2.proyecto.proyInversionEstatalOri != null ? miaCap2.proyecto.proyInversionEstatalOri : 0 }"
						disabled="true">
					</h:inputText>
					<h:outputText id="popEst" value="#{miaCap2.porEstatal != null ? miaCap2.porEstatal : 0}%" disabled="true">
						<f:convertNumber pattern="#.##" />
					</h:outputText>

					<h:outputLabel value="Municipal" />
					<h:inputText value="#{miaCap2.proyecto.proyInversionMunicipalOri != null ? miaCap2.proyecto.proyInversionMunicipalOri : 'No aplica'}"
						disabled="true">

					</h:inputText>
					<h:inputText id="porMun" value="#{miaCap2.porMunicipal != null ? miaCap2.porMunicipal : 0}%" disabled="true">
						<f:convertNumber pattern="#.##" />
					</h:inputText>

					<h:outputLabel value="Privada" />
					<h:inputText value="#{miaCap2.proyecto.proyInversionPrivadaOri != null ?  miaCap2.proyecto.proyInversionPrivadaOri : 'No aplica'}"
						disabled="true">
					</h:inputText>
					<h:inputText id="popPri" value="#{miaCap2.porPrivada != null ? miaCap2.porPrivada : 0}%" disabled="true">
						<f:convertNumber pattern="#.##" />
					</h:inputText>

					<h:outputLabel value="Total" />
					<h:inputText id='totCo' readonly="true"
						value="#{miaCap2.proyecto.proyInversionFederalOri + miaCap2.proyecto.proyInversionEstatalOri + miaCap2.proyecto.proyInversionMunicipalOri + miaCap2.proyecto.proyInversionPrivadaOri}"
						disabled="true" />
					<h:inputText id="popTot" value="#{miaCap2.porTot}%" disabled="true">
						<f:convertNumber pattern="#.##" />
					</h:inputText>
				</h:panelGrid>
				</c:if>
				
			<br></br>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,4,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br>
		</br>
		
<p:panel id="supProy">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Dimensiones de Proyecto</h3>
				</div>
				<div id="tit8" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
<!--			<script>
                    <c:choose>
                        <c:when test="{miaCap2.mapInfoAdicional.cap_2_1_5_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional({miaCap2.mapInfoAdicional.cap_2_1_5_0[0]},{miaCap2.mapInfoAdicional.cap_2_1_5_0[1]},"tit8");
                            })
                        </c:when>
                    </c:choose>
                </script>-->
			<h:dataTable value="#{miaCap2.proySigSupProy}" var="supProy"
				class="table">
				<h:column>
					<f:facet name="header">
						<span>Componente</span>
					</f:facet>
					<h:outputText value="#{supProy[0]}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<span>Descripción</span>
					</f:facet>
					<h:outputText value="#{supProy[1]}" />
				</h:column>
				<h:column>
					<f:facet name="header">
						<span>Superficie m2</span>
					</f:facet>
					<div style="text-align: right; width: 100%">
						<h:outputText value="#{supProy[3]}">
							<f:convertNumber pattern="###,###.##" />
						</h:outputText>
					</div>
				</h:column>

				<h:column>
					<f:facet name="header">
						<span>Superficie Ha</span>
					</f:facet>
					<div style="text-align: right; width: 100%">
						<h:outputText value="#{supProy[2]}">
							<f:convertNumber pattern="###,###.##" />
						</h:outputText>
					</div>
				</h:column>
			</h:dataTable>
			<br></br>

			<Table>
				<tr>
					<td><label class="control-label">Total Superficie
							Predio:</label></td>
					<td><p:outputPanel style="background-color: #ccccff;">
							<h:inputText id="sumPred"
								value="#{miaCap2.proySigSupProyPredios[0][0]}" disabled="true"
								class="form-control" >
									<f:convertNumber pattern="###,###.00" />
								</h:inputText>
						</p:outputPanel></td>
					<td style="width: 10px;"></td>
					<td><label class="control-label">Total Superficie de
							Obra:</label></td>
					<td><p:outputPanel style="background-color: #ccccff;">
							<h:inputText id="sumOb"
								value="#{miaCap2.proySigSupProyObras[0][0] }" disabled="true"
								class="form-control" >
									<f:convertNumber pattern="###,###.00" />
								</h:inputText>
						</p:outputPanel></td>
				</tr>
			</Table>
			<ui:fragment rendered="#{empty miaCap2.proySigSupProy}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel value="Sin registros." />
				</div>
			</ui:fragment>
			<br></br>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,5,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		
		
		
<p:panel id="serviciosReqieridos">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Servicios requeridos del proyecto</h3>
				</div>
				<div id="tit9" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_1_6_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_1_6_0[0]},#{miaCap2.mapInfoAdicional.cap_2_1_6_0[1]},"tit9");
                            })
                        </c:when>
                    </c:choose>
                </script>

			<h3>Preparación del sitio</h3>
			<p:dataTable var="serRP" value="#{miaCap2.serviciosReqPrep}"
				rowIndexVar="rowIndexSRP" rows="5" paginator="true"
				paginatorPosition="bottom" emptyMessage="Sin registros.">
				<p:column>
					<p:panelGrid>
						<p:row>
							<p:column style="font-weight:bold; font-size:25px;width: 5%">
								<h:outputText value="No." style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Servicio" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Disponible"
									style="font-weight:bold; font-size:15px;width: 15%" />
							</p:column>
							<p:column>
								<h:outputText value="Suministrado por"
									style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;text-align: center;">
								<h:outputText value="#{rowIndexSRP+1}" style="font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRP.servicioNombre}" style="font-size:12px;"/>
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRP.servicioDisponibleCompleta}" style="font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRP.servicioSuministrado}" style="font-size:12px;"/>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="4">
								<h:outputText value="Descripción" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;" colspan="4">
								<h:outputText value="#{serRP.servicioDescripcion}" style="font-size:12px;" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:dataTable>

			<h3>Construcción</h3>
			<p:dataTable var="serRC" value="#{miaCap2.serviciosReqCons}"
				rowIndexVar="rowIndexSRC" rows="5" paginator="true"
				paginatorPosition="bottom" emptyMessage="Sin registros.">
				<p:column>
					<p:panelGrid>
						<p:row>
							<p:column style="font-weight:bold; font-size:20px;width: 5%">
								<h:outputText value="No." style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Servicio" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Disponible"
									style="font-weight:bold; font-size:20px;width: 15%" />
							</p:column>
							<p:column>
								<h:outputText value="Suministrado por"
									style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;text-align: center; ">
								<h:outputText value="#{rowIndexSRC+1}" style="font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRC.servicioNombre}"  style="font-size:12px;"/>
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRC.servicioDisponibleCompleta}"  style="font-size:12px;"/>
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRC.servicioSuministrado}" style="font-size:12px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="4">
								<h:outputText value="Descripción" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;" colspan="4">
								<h:outputText value="#{serRC.servicioDescripcion}" style="font-size:12px;"/>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:dataTable>

			<h3>Operación y mantenimiento</h3>
			<p:dataTable var="serRO" value="#{miaCap2.serviciosReqOper}"
				rowIndexVar="rowIndexSRO" rows="5" paginator="true"
				paginatorPosition="bottom" emptyMessage="Sin registros.">
				<p:column>
					<p:panelGrid>
						<p:row>
							<p:column style="font-weight:bold; font-size:20px;width: 5%">
								<h:outputText value="No." style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Servicio" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Disponible"
									style="font-weight:bold; font-size:15px;width: 15%" />
							</p:column>
							<p:column>
								<h:outputText value="Suministrado por"
									style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;text-align: center;">
								<h:outputText value="#{rowIndexSRO+1}"  style="font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRO.servicioNombre}" style="font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRO.servicioDisponibleCompleta}" style="font-size:12px;"/>
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRO.servicioSuministrado}" style="font-size:12px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="4">
								<h:outputText value="Descripción" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;" colspan="4">
								<h:outputText value="#{serRO.servicioDescripcion}"  style="font-size:12px;"/>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:dataTable>

			<h3>Abandono</h3>
			<p:dataTable var="serRA" value="#{miaCap2.serviciosReqAban}"
				rowIndexVar="rowIndexSRA" rows="5" paginator="true"
				paginatorPosition="bottom" emptyMessage="Sin registros.">
				<p:column>
					<p:panelGrid>
						<p:row>
							<p:column style="font-weight:bold; font-size:20px;width: 5%">
								<h:outputText value="No." style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Servicio" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Disponible"
									style="font-weight:bold; font-size:15px;width: 15%" />
							</p:column>
							<p:column>
								<h:outputText value="Suministrado por"
									style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;text-align: center;">
								<h:outputText value="#{rowIndexSRA+1}"  style="font-size:12px;"/>
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRA.servicioNombre}" style="font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRA.servicioDisponibleCompleta}" style="font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{serRA.servicioSuministrado}"  style="font-size:12px;"/>
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="4">
								<h:outputText value="Descripción" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;" colspan="4">
								<h:outputText value="#{serRA.servicioDescripcion}"  style="font-size:12px;"/>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:dataTable>

			<br></br>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,6,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		
		<p:panel id="serviciosReqier">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Características particulares del proyecto</h3>
				</div>
				<div id="tit10" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_1_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_1_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_1_0[1]},"tit10");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
			<p:dataTable var="carpp" value="#{miaCap2.listaCaractTO}"
				rowIndexVar="rowIndexCPP" rows="5" paginator="true"
				paginatorPosition="bottom" emptyMessage="Sin registros.">
				<p:column>
					<p:panelGrid>
						<p:row>
							<p:column style="font-weight:bold; font-size:15px;width: 5%">
								<h:outputText value="No." style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Nombre de obra"
									style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Superficie" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Obra / actividad"
									style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Naturaleza" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Temporalidad" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;text-align: center;">
								<h:outputText style="font-size:12px;"  value="#{rowIndexCPP+1}" />
							</p:column>
							<p:column headerText="Nombre de obra"
								style="white-space: normal;">
								<h:outputText style="font-size:12px;"
									value="#{carpp.nombreObra != null ?  carpp.nombreObra : 'No aplica'}" />
							</p:column>
							<p:column headerText="Superficie" style="white-space: normal;">
								<h:outputText style="font-size:12px;"
									value="#{carpp.superficie != null ?  carpp.superficieUnidad : 'No aplica'}" />
							</p:column>
							<p:column headerText="Obra / actividad"
								style="white-space: normal;">
								<h:outputText style="font-size:12px;"
									value="#{carpp.obraActividad != null ?  carpp.obraActividad : 'No aplica'}" />
							</p:column>
							<p:column headerText="Naturaleza" style="white-space: normal;">
								<h:outputText style="font-size:12px;"
									value="#{carpp.naturaleza.descripcion != null ?  carpp.naturaleza.descripcion : 'No aplica'}" />
							</p:column>
							<p:column headerText="Temporalidad" style="white-space: normal;">
								<h:outputText style="font-size:12px;"
									value="#{carpp.temporalidad.descripcion != null ?  carpp.temporalidad.descripcion : 'No aplica'}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="6">
								<h:outputText value="Descripción" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column headerText="Descripción" style="white-space: normal;"
								colspan="6">
								<h:outputText style="font-size:12px;"
									value="#{carpp.descripcion != null ?  carpp.descripcion : 'No aplica'}" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:dataTable>

			<br></br>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,1,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
<!-- ==================================================================================================================================================================== -->

		<p:panel id ="usoSueloss" >
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h3>Uso de suelos y/o Cuerpos de Agua del predio</h3>
			</div>
			<div id="tit11" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_2_1 != null}">
                        $('#vistaCapitulo').ready(function() {
                            infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_2_1[0]},#{miaCap2.mapInfoAdicional.cap_2_2_2_1[1]},"tit11");
                        })
                    </c:when>
                </c:choose>
            </script>
            
		  
		<p:treeTable value="#{miaCap2_2.rootSuelos}" var="node">			
			<p:column headerText="Componente" style="white-space: normal">
				<h:outputText value="#{node.nombreObra}" />
			</p:column>
			<p:column headerText="Descripción" style="white-space: normal">
				<h:outputText value="#{node.descripcion}" />
			</p:column>
			<p:column headerText="Grupo de vegetación"
				style="white-space: normal">
				<h:outputText value="#{node.grupoVegetacion}" />
			</p:column>
			<p:column headerText="Tipo de vegetación o uso de suelo"
				style="white-space: normal">
				<h:outputText value="#{node.tipoVegetacion}" />
			</p:column>
			<p:column headerText="Fase de vegetación" style="white-space: normal">
				<h:outputText value="#{node.faseVegetacion}" />
			</p:column>
			<p:column headerText="Superficie m&lt;sup&gt;2&lt;&#47;sup&gt;" style="white-space: normal; text-align: right;" escape="false">
				<h:outputLabel value="#{node.superficie}">
					<f:convertNumber pattern="###,##0.00" />
				</h:outputLabel>
			</p:column>
			</p:treeTable>
			     
    
		
		<br></br>
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,2,1,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>
	<br></br>
		
		
		
		
		<p:panel id ="continuacion"
			rendered="#{miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap2.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<ui:include src="capitulo2_2MIA.xhtml" />
		</p:panel>
		 
	</h:body>
</f:view>
</html>