<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">


    <f:view id="vistaCapitulo">
        <h:outputScript name="/js/infoadicional.js" target="head" />        
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
        </h:head>
        <h:body>


            <p:panel id="naturalezaProy" >   
				<!-- <h3>Identificación de los Instrumentos Metodológicos y Elementos Técnicos que Sustentan la Información señalada en las Fracciones Anteriores.</h3> -->
                <br/>
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Otros Anexos</h3>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator></p:separator>
			<script>
                    <c:choose>
                        <c:when test="#{miaCap8.mapInfoAdicional.cap_8_1_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap8.mapInfoAdicional.cap_8_1_0_0[0]},#{miaCap8.mapInfoAdicional.cap_8_1_0_0[1]},"tit1");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap8.archivosOtrosAnexos}" />
				</ui:include>

			</div>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=8,1,0,0,#{miaCap8.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br/> <br/> 

            <p:panel id="fotos" >
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Fotografias</h3>
				</div>
				<div id="tit2" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator></p:separator>
			<script>
                    <c:choose>
                        <c:when test="#{miaCap8.mapInfoAdicional.cap_8_2_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap8.mapInfoAdicional.cap_8_2_0_0[0]},#{miaCap8.mapInfoAdicional.cap_8_2_0_0[1]},"tit2");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>


				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap8.archivosFotografias}" />
				</ui:include>

			</div>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=8,2,0,0,#{miaCap8.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br/> <br/>

            <p:panel id="videos" >
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Videos</h3>
				</div>
				<div id="tit3" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator></p:separator>
			<script>
                    <c:choose>
                        <c:when test="#{miaCap8.mapInfoAdicional.cap_8_3_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap8.mapInfoAdicional.cap_8_3_0_0[0]},#{miaCap8.mapInfoAdicional.cap_8_3_0_0[1]},"tit3");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>


				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap8.archivosVideos}" />
				</ui:include>

			</div>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=8,3,0,0,#{miaCap8.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br/> <br/>


            <br/> <br/> 

            <p:panel id="glosario">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Glosario de Términos</h3>
				</div>
				<div id="tit4" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator></p:separator>
			<script>
                    <c:choose>
                        <c:when test="#{miaCap8.mapInfoAdicional.cap_8_4_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap8.mapInfoAdicional.cap_8_4_0_0[0]},#{miaCap8.mapInfoAdicional.cap_8_4_0_0[1]},"tit4");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                 
                <h:outputLabel style="text-align:justify" value="#{miaCap8.glosProyecto}" />
				<br />
                
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=8,4,0,0,#{miaCap8.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br/> <br/> 

            <p:panel id="bibliografia" >
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Bibliografía</h3>
				</div>
				<div id="tit5" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator></p:separator>
			<script>
                    <c:choose>
                        <c:when test="#{miaCap8.mapInfoAdicional.cap_8_5_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap8.mapInfoAdicional.cap_8_5_0_0[0]},#{miaCap8.mapInfoAdicional.cap_8_5_0_0[1]},"tit5");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/>                
                
               <h:outputLabel style="text-align:justify" value="#{miaCap8.bibliografia}" />
				<br />
                
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=8,5,0,0,#{miaCap8.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <!--<ui:include src="estudioRiesgo.xhtml"/>-->
            <p:panel id="ResumenAdmon" > 
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Resumen de la Manifestación de Impacto Ambiental</h3></div>
                    <div id="tit5" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{miaCap8.mapInfoAdicional.cap_8_6_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap8.mapInfoAdicional.cap_8_6_0_0[0]},#{miaCap8.mapInfoAdicional.cap_8_6_0_0[1]},"tit6");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
                <h:outputLabel style="text-align:justify" value="#{miaCap8.resManImpAmb}" />
				<br />               
                           
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=8,6,0,0,#{miaCap8.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
               
            </p:panel>
            
        </h:body>
    </f:view>
</html>