<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<f:view id="vistaCapitulo">
	<h:outputScript name="/js/infoadicional.js" target="head" />
	<h:head>
		<f:metadata>
			<f:viewParam name="bitaNum" value="#{visor.pramBita}" />
		</f:metadata>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet"
			href="#{request.contextPath}/assets/css/gobmx.css" />
		<link href="#{request.contextPath}/assets/css/vendor/bootstrap.css"
			rel="stylesheet" media="screen" />
		<link
			href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css"
			rel="stylesheet" media="screen" />
		<link href="#{request.contextPath}/resources/css/tabsInfoAd.css" rel="stylesheet" media="screen" />
	</h:head>
	<h:body>

		<p:panel id="naturalezaProy">			
			<script>
                    <c:choose>
                        <c:when test="#{miaCap7.mapInfoAdicional.cap_7_1_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap7.mapInfoAdicional.cap_7_1_0_0[0]},#{miaCap7.mapInfoAdicional.cap_7_1_0_0[1]},"tit1");
                            })
                        </c:when>
                    </c:choose>
                </script>
			<div id="" class="gobmx-example">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Pronósticos del Escenario</h3>
					</div>
					<div id="tit5" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<p:separator></p:separator>

				<script>
                    <c:choose>
                        <c:when test="#{miaCap7.mapInfoAdicional.cap_7_1_1_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap7.mapInfoAdicional.cap_7_1_1_0[0]},#{miaCap7.mapInfoAdicional.cap_7_1_1_0[1]},"tit5");
                            })
                        </c:when>
                    </c:choose>
                </script>
				
				
				<h3>Escenario sin proyecto</h3>
				<p:tabView  rendered="#{!miaCap7Serial3.escSinProy.isEmpty()}">
					<p:tab title="#{miaCap2.mapInfoAdicional.cap_7_1_1_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
						<h:panelGrid styleClass = "InfoAdCo">
							<h:outputLabel style="text-align:justify" value="#{miaCap7Serial3.escSinProy}" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Información original">
						<h:panelGrid styleClass = "InfoOri">	
							<h:outputLabel style="text-align:justify" value="#{miaCap7.escSinProy}" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<h:panelGroup rendered="#{miaCap7Serial3.escSinProy.isEmpty()}">
					<h:outputLabel style="text-align:justify" value="#{miaCap7.escSinProy}" />
				</h:panelGroup>
				<br /> 
				
				<h3>Escenario con proyecto</h3>
				<p:tabView  rendered="#{!miaCap7Serial3.escConProy.isEmpty()}">
					<p:tab title="#{miaCap2.mapInfoAdicional.cap_7_1_1_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
						<h:panelGrid styleClass = "InfoAdCo">
							<h:outputLabel style="text-align:justify" value="#{miaCap7Serial3.escConProy}" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Información original">
						<h:panelGrid styleClass = "InfoOri">	
							<h:outputLabel style="text-align:justify" value="#{miaCap7.escConProy}" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<h:panelGroup rendered="#{miaCap7Serial3.escConProy.isEmpty()}">
					<h:outputLabel style="text-align:justify" value="#{miaCap7.escConProy}" />
				</h:panelGroup>
				<br /> 
				
				<h3>Escenario con proyecto y medidas:</h3>
				<p:tabView  rendered="#{!miaCap7Serial3.escProyMed.isEmpty()}">
					<p:tab title="#{miaCap2.mapInfoAdicional.cap_7_1_1_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
						<h:panelGrid styleClass = "InfoAdCo">
							<h:outputLabel style="text-align:justify" value="#{miaCap7Serial3.escProyMed}" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Información original">
						<h:panelGrid styleClass = "InfoOri">	
							<h:outputLabel style="text-align:justify" value="#{miaCap7.escProyMed}" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<h:panelGroup rendered="#{miaCap7Serial3.escProyMed.isEmpty()}">
					<h:outputLabel style="text-align:justify" value="#{miaCap7.escProyMed}" />
				</h:panelGroup>
				<br /> 
				
				<h3>Pronóstico ambiental:</h3>
				<p:tabView  rendered="#{!miaCap7Serial3.pronAmb.isEmpty()}">
					<p:tab title="#{miaCap2.mapInfoAdicional.cap_7_1_1_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
						<h:panelGrid styleClass = "InfoAdCo">
							<h:outputLabel style="text-align:justify" value="#{miaCap7Serial3.pronAmb}" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Información original">	
						<h:panelGrid styleClass = "InfoOri">
							<h:outputLabel style="text-align:justify" value="#{miaCap7.pronAmb}" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<h:panelGroup rendered="#{miaCap7Serial3.pronAmb.isEmpty()}">
					<h:outputLabel style="text-align:justify" value="#{miaCap7.pronAmb}" />
				</h:panelGroup>
				<br /> 
				
				<h3>Escenarios actuales y futuros que tendrá el proyecto respecto del cambio climático:</h3>
				<p:tabView  rendered="#{!miaCap7Serial3.escActFut.isEmpty()}">
					<p:tab title="#{miaCap2.mapInfoAdicional.cap_7_1_1_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
						<h:panelGrid styleClass = "InfoAdCo">
							<h:outputLabel style="text-align:justify" value="#{miaCap7Serial3.escActFut}" />
						</h:panelGrid>
					</p:tab>
					<p:tab title="Información original">	
						<h:panelGrid styleClass = "InfoOri">
							<h:outputLabel style="text-align:justify" value="#{miaCap7.escActFut}" />
						</h:panelGrid>
					</p:tab>
				</p:tabView>
				<h:panelGroup rendered="#{miaCap7Serial3.escActFut.isEmpty()}">
					<h:outputLabel style="text-align:justify" value="#{miaCap7.escActFut}" />
				</h:panelGroup>
				<br /> 

			</div>
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=7,1,1,0,#{miaCap7.pramBita},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>

		<br />
		<br />

		<p:panel id="selectSitio">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Conclusión</h3>
				</div>
				<div id="tit2" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator></p:separator>
			<script>
                    <c:choose>
                        <c:when test="#{miaCap7.mapInfoAdicional.cap_7_2_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap7.mapInfoAdicional.cap_7_2_0_0[0]},#{miaCap7.mapInfoAdicional.cap_7_2_0_0[1]},"tit2");
                            })
                        </c:when>
                    </c:choose>
                </script>

			<br></br>
			<h3>Descripción:</h3>
			<p:tabView  rendered="#{!miaCap7Serial3.conclusionProy.isEmpty()}">
				<p:tab title="#{miaCap2.mapInfoAdicional.cap_7_2_0_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
					<h:panelGrid styleClass = "InfoAdCo">
						<h:outputLabel style="text-align:justify" value="#{miaCap7Serial3.conclusionProy}" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="Información original">
					<h:panelGrid styleClass = "InfoOri">	
						<h:outputLabel style="text-align:justify" value="#{miaCap7.conclusionProy}" />
					</h:panelGrid>
				</p:tab>
			</p:tabView>
			<h:panelGroup rendered="#{miaCap7Serial3.conclusionProy.isEmpty()}">
				<h:outputLabel style="text-align:justify" value="#{miaCap7.conclusionProy}" />
			</h:panelGroup>
			<br /> 

			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=7,2,0,0,#{miaCap7.pramBita},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>


		<br />
		<br />

		<p:panel id="entMuncAfe">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Evaluación de Alternativas</h3>
				</div>
				<div id="tit3" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap7.mapInfoAdicional.cap_7_1_2_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap7.mapInfoAdicional.cap_7_1_2_0[0]},#{miaCap7.mapInfoAdicional.cap_7_1_2_0[1]},"tit3");
                            })
                        </c:when>
                    </c:choose>
                </script>

			<br></br>
			<h3>Descripción:</h3>
			<p:tabView  rendered="#{!miaCap7Serial3.evaAlternativas.isEmpty()}">
				<p:tab title="#{miaCap2.mapInfoAdicional.cap_7_1_2_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
					<h:panelGrid styleClass = "InfoAdCo">
						<h:outputLabel style="text-align:justify" value="#{miaCap7Serial3.evaAlternativas}" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="Información original">
					<h:panelGrid styleClass = "InfoOri">	
						<h:outputLabel style="text-align:justify" value="#{miaCap7.evaAlternativas}" />
					</h:panelGrid>
				</p:tab>
			</p:tabView>
			<h:panelGroup rendered="#{miaCap7Serial3.evaAlternativas.isEmpty()}">
				<h:outputLabel style="text-align:justify" value="#{miaCap7.evaAlternativas}" />
			</h:panelGroup>
			<br /> 

			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=7,1,2,0,#{miaCap7.pramBita},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>

	</h:body>
</f:view>
</html>
