<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:o="http://omnifaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<f:view id="vistaCapitulo">
	<h:outputScript name="/js/infoadicional.js" target="head" />
	<h:head>
		<title>Capítulo 3 MIA</title>
		<style>
		.ui-datatable table {
			border-collapse: collapse;
			width: 100%;
			table-layout: unset;
		}
		</style>
		
		<link rel="stylesheet"
			href="#{request.contextPath}/assets/css/gobmx.css" />
		<link href="#{request.contextPath}/assets/css/vendor/bootstrap.css"
			rel="stylesheet" media="screen" />
		<link
			href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css"
			rel="stylesheet" media="screen" />
	</h:head>
	<h:body>
		<o:importConstants type="mx.gob.semarnat.utils.GenericConstants" />
		<h:outputText value="#{c.leyFeArticulo}" />
		<p:panel
			rendered="#{miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Leyes Estatales y Federales</h3>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Leyes Federales</h3>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_1_1_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_1_1_0[0]},#{miaCap3.mapInfoAdicional.cap_3_1_1_0[1]},"tit1");
                            })
                        </c:when>
                    </c:choose>
                </script>
             
			 <!-- ===================================================================================================================================== -->
				<ui:repeat id="dLeyFed" var="c" value="#{miaCap3.leyesFederal}">
					<h:panelGroup>
						<div id="predios">
							<h:outputText style="bold; font-size:16px;" value="Ley" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.leyId}" /> <!-- fechaUltimaActualizacion -->
							<br />							
							<h:outputText style="bold; font-size:16px;" value="Última actualización" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.fechaUltimaActualizacion}" /> 
							<br />
							<h:outputText style="bold; font-size:16px;" value="Adjunto: "/>
							<!-- Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto." -->
							<h:outputText value="#{c.idArchivoProyecto != null ? '' : 'Sin Adjunto'}" />
							<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto.seqId}" target="_blank">							
								<h:outputLabel style="text-align:justify; cursor:pointer; text-decoration: underline; color: blue;" value="#{c.idArchivoProyecto != null ? c.idArchivoProyecto.fileName : ''}"/>	
							</a>
							
							<br />
							<h:outputText style="bold; font-size:16px;" value="Artículo, fraccion, inciso" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.leyFeArticulo}, #{c.leyFeFraccion}, #{c.leyFeInciso}" />
							<br />
							<h:outputText style="bold; font-size:16px;" value="Vinculación" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.leyFeVinculacion}" />
							
							<hr/>
							<br /> <br />
		
						</div>
					</h:panelGroup>
				</ui:repeat>
		<!-- ===================================================================================================================================== -->
			 
			 
			<!-- Tabla agregada para hacer la consulta 
                        
                        Fin de tablas agregadas -->
			<br />
			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,1,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
			<br />


			<br />
			<br />
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Leyes Estatales</h3>
				</div>
				<div id="tit2" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_1_2_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_1_2_0[0]},#{miaCap3.mapInfoAdicional.cap_3_1_2_0[1]},"tit2");
                            })
                        </c:when>
                    </c:choose>
                </script>
               
			 <!-- ===================================================================================================================================== -->
				<ui:repeat id="dLeyEst" var="c" value="#{miaCap3.leyesEstatal}">
					<h:panelGroup>
						<div id="predios">
							<h:outputText style="bold; font-size:16px;" value="Ley" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.leyId}" /> <!-- fechaUltimaActualizacion -->
							<br />
							
							<h:outputText style="bold; font-size:16px;" value="Última actualización" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.fechaUltimaActualizacion}" />
							<br />
							<h:outputText style="bold; font-size:16px;" value="Adjunto: " />
							<!-- Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto." -->
							<h:outputText value="#{c.idArchivoProyecto != null ? '' : 'Sin Adjunto'}"/>
							<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto.seqId}" target="_blank">							
								<h:outputLabel style="text-align:justify; cursor:pointer; text-decoration: underline; color: blue;" value="#{c.idArchivoProyecto != null ?  c.idArchivoProyecto.fileName : ''}"/>	
							</a>
							<br />
							<h:outputText style="bold; font-size:16px;" value="Artículo, fracción, inciso" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.leyFeArticulo}, #{c.leyFeFraccion}, #{c.leyFeInciso}" />
							<br />							
							<h:outputText style="bold; font-size:16px;" value="Vinculación" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.leyFeVinculacion}" />
							<br/>							
							<hr/>
							<br /> <br />
		
						</div>
					</h:panelGroup>
				</ui:repeat>
		<!-- ===================================================================================================================================== -->			
			
			
			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,2,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		<p:panel
			rendered="#{miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Reglamentos</h3>
				</div>
				<div id="tit3" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_2_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_2_0_0[0]},#{miaCap3.mapInfoAdicional.cap_3_2_0_0[1]},"tit3");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
			<!-- ===================================================================================================================================== -->
				<ui:repeat id="dataReg" var="c" value="#{miaCap3.reglamentos}">
					<h:panelGroup>
						<div id="predios">
							<h:outputText style="bold; font-size:16px;" value="Reglamento" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.reglamentoId}" />
							<br />
							
							<h:outputText style="bold; font-size:16px;" value="Fecha de actualización" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.reglamentoFechaPublicacion}" />
							<br />
							<h:outputText style="bold; font-size:16px;" value="Adjunto: " />
							<!-- Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto." -->
							<h:outputText value="#{c.idArchivoProyecto != null ? '' : 'Sin Adjunto'}"/>
							<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto.seqId}" target="_blank">							
								<h:outputLabel style="text-align:justify; cursor:pointer; text-decoration: underline; color: blue;" value="#{c.idArchivoProyecto != null ? c.idArchivoProyecto.fileName : ''}"/>	
							</a>
							<br />
							<h:outputText style="bold; font-size:16px;" value="Artículo, fracción, inciso o párrafo" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.reglamentoArticulo}" />
							<br />
		
							<h:outputText style="bold; font-size:16px;" value="Vinculación" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.reglamentoViculacion}" />
							<br/>							
							<hr/>
						
							<br /> <br />
		
						</div>
					</h:panelGroup>
				</ui:repeat>
		<!-- ===================================================================================================================================== -->						
			
			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,2,0,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		<p:panel
			rendered="#{miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Normas</h3>
				</div>
				<div id="tit4" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_3_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_3_0_0[0]},#{miaCap3.mapInfoAdicional.cap_3_3_0_0[1]},"tit4");
                            })
                        </c:when>
                    </c:choose>
                </script>
               
			
			<p:dataTable id="tablaDatos" var="c" value="#{miaCap3.normas}" rowKey="#{c.normaProyectoPK.normaProyId}"  rowIndexVar ="rowIndex" paginator="true" paginatorPosition="bottom" rows="5" >
			
						
						<p:column style="white-space: normal;width:2%;">
							<p:rowToggler rendered="#{c.listaNumeral != null}" />
						</p:column>
												
						<p:column headerText="No." style="white-space: normal;width:2%;">
							<h:outputText value="#{rowIndex+1}" />
						</p:column>
	
						<p:column headerText="Norma" style="white-space: normal;width:35%;">
							<h:outputText value="#{c.normaId.normaNombre} - #{c.normaId.normaNombreCorto}" rendered="#{c.normaId.normaId != 9999}"/>
							<h:outputText value="#{c.normaId.normaNombre}" rendered="#{c.normaId.normaId == 9999}"/>
						</p:column>
						
						<p:column headerText="Fecha de Publicación" style="white-space: normal;width:10%;">
							<h:outputText style="vertical-align:80%;" value="#{c.normaId.normaFechapublicacion}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
												
						<p:column headerText="Fecha última actualización"
							style="white-space: normal;width:10%;">
							<h:outputText  value="#{c.fechaPublicacion}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
	
						<p:column style="white-space: normal;width:10%;text-align:center">
						<br />
						<!-- Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto." -->
						<h:outputText value="#{c.idArchivoProyecto != null ? '' : 'Sin Adjunto'}" />
						<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto.seqId}" target="_blank">							
							<h:outputLabel style="text-align:justify; cursor:pointer; text-decoration: underline; color: blue;" value="#{c.idArchivoProyecto != null ?  c.idArchivoProyecto.fileName : ''}"/>
						</a>
						</p:column>
	
						<p:rowExpansion>
							<p:dataTable id="tablaNumerales" value="#{c.listaNumeral}" var="numeral" rowIndexVar="rowIndex" emptyMessage="Sin registros.">
								<f:facet name="header">Numerales</f:facet>
								<p:column style="white-space: normal;width:3%;">
									<f:facet name="header">No.</f:facet>
									#{rowIndex+1}
								</p:column>
								<p:column style="white-space: normal;width:15%;">
									<f:facet name="header">Numeral</f:facet>
	                 				#{numeral.normaNumeral}
	                 		</p:column>
								<p:column style="white-space: normal;width:20%;">
									<f:facet name="header">Requisito</f:facet>
	                 				#{numeral.normaRequisito}
	                 		</p:column>
								<p:column style="white-space: normal;width:50%;">
									<f:facet name="header">Vinculación</f:facet>
	                 				#{numeral.normaVinculaciNCorta}
	                 		</p:column>
								
							</p:dataTable>
						</p:rowExpansion>
	
						<f:facet name="footer">
						</f:facet>
					</p:dataTable>


			
			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,3,0,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		<p:panel>
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Programa de Ordenamiento Ecológico Territorial (POET)</h3>
				</div>
				<div id="tit3" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_4_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_4_0_0[0]},#{miaCap3.mapInfoAdicional.cap_3_4_0_0[1]},"tit5");
                            })
                        </c:when>
                    </c:choose>
                </script>
             <ui:repeat id="poetData" var="poet" value="#{miaCap3.poetProyecto}">
					<h:panelGroup>
						<div id="predios">
							<h:outputText style="bold; font-size:16px;" value="Tipo" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{poet.poetmTipo}"/>
							<br />							
							<h:outputText style="bold; font-size:16px;" value="Nombre del instrumento" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{poet.poetmNombreInstrumento}" /> 
							<br />
							<h:outputText style="bold; font-size:16px;" value="Número y/o Nombre de la UAB/UGA" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{poet.poetmNombreUga}" />
							<br />		
							<h:outputText style="bold; font-size:16px;" value="Política Ambiental" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{poet.poetmPoliticaAmbiental}" />
							<br />
							<h:outputText style="bold; font-size:16px;" value="Uso" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{poet.poetmUsoPredominante}" />
							<br />		
							<h:outputText style="bold; font-size:16px;" value="Criterios" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{poetmCriterio}" />
							<br />
							<h:outputText style="bold; font-size:16px;" value="¿Es compatible con los usos?" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{poet.poetmCompatible == 'S' ? 'SI' : 'NO'}" />
							<br />		
							<h:outputText style="bold; font-size:16px;" value="Vinculación" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{poet.poetmVinculacion}" />
							
							<hr/>
							<br /> <br />
		
						</div>
					</h:panelGroup>
				</ui:repeat>
		
			
			
			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,4,0,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>

		</p:panel>

		<br />
		<p:panel id="anp">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Área Natural Protegida (ANP)</h3>
				</div>
				<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_5_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_5_0_0[0]},#{miaCap3.mapInfoAdicional.cap_3_5_0_0[1]},"tit6");
                            })
                        </c:when>
                    </c:choose>
                </script>
			 <!-- ===================================================================================================================================== -->
								
				<p:dataTable style="text-align: justify;" value="#{miaCap3.lista}" var="c" id="anptabla" emptyMessage ="Sin registros." rowIndexVar="cont" >            
			            	<p:column style="width: 3%;font-size: 12px;">
			                    <f:facet name="header">No.</f:facet>
			                    <h:outputText value="#{cont +1}" />
			                </p:column>
			                
			                <p:column style="width: 20%;font-size: 12px;">
			                    <f:facet name="header">Tipo</f:facet>
			                    <h:outputText value="#{c.anpTipo}" />
			                </p:column>
			                
			                <p:column style="width: 20%;font-size: 12px;">
			                    <f:facet name="header">ANP</f:facet>
			                    <h:outputText value="#{c.anpNombre}" />
			                </p:column>
			                
			                <p:column style="width: 21%;font-size: 12px;">
			                    <f:facet name="header">Categoría de manejo</f:facet>
			                    <h:outputText value="#{c.anpCategoriaManejo}" />
			                </p:column>
			                
			                <p:column style="width: 8%;font-size: 12px;">
			                    <f:facet name="header">Fecha de decreto</f:facet>
			                    <h:outputText value="#{c.anpUltimoDecreto}">
							      <f:convertDateTime type="date" pattern="dd-MM-yyyy" />
						        </h:outputText>
			                </p:column>
			                
			                <p:column style="width: 10%;font-size: 12px;">
			                    <f:facet name="header">Adjunto</f:facet>
			                    <!-- Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto." -->
			                    <h:outputLabel value="#{c.idArchivoProyecto != null ?  '' : 'Sin Adjunto'}"/>
			                    <a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto.seqId}" target="_blank">							
									<h:outputLabel style="text-align:justify; cursor:pointer; text-decoration: underline; color: blue;" value="#{c.idArchivoProyecto != null ?  c.idArchivoProyecto.fileName : ''}"/>	
								</a>
			                </p:column>
			                
			                <p:column style="width: 8%;font-size: 12px;">
			                    <f:facet name="header">Fecha programa de manejo</f:facet>
			                    
			                    <h:outputText value="#{c.anpFechaManejo}">
									<f:convertDateTime type="date" pattern="dd-MM-yyyy" />
								</h:outputText>	
			                </p:column>
			                
			                <p:column style="width: 10%;font-size: 12px;">
			                	<f:facet name="header">Adjunto</f:facet>
			                	<!-- Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto." -->
			                	<h:outputLabel value="#{c.idArchivoProyecto2 != null ?  '' : 'Sin Adjunto'}"/>
			                   	<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto2.seqId}" target="_blank">							
									<h:outputLabel style="text-align:justify; cursor:pointer; text-decoration: underline; color: blue;" value="#{c.idArchivoProyecto2 != null ?  c.idArchivoProyecto2.fileName : ''}"/>
								</a>
			                </p:column>
			    </p:dataTable>
				
				<br/>
				<br/>
				
				<h3>Vinculación con el decreto</h3>
		  <p:dataTable styleClass="table" var="d" value="#{miaCap3.anpArticulo}" emptyMessage ="Sin registros.">
			
				<p:column style="width: 25%;font-size: 12px;">
					<f:facet name="header">ANP</f:facet>
					<h:outputText value="#{d.anpArticuloRegla}" />
				</p:column>
							
				<p:column style="width: 30%;font-size: 12px;">
					<f:facet name="header">Artículo</f:facet>
					<h:outputText value="#{d.anpArtNomRegla}" />
				</p:column>

				<p:column style="width: 45%;font-size: 12px;">
					<f:facet name="header">Vinculación</f:facet>
					<h:outputText value="#{d.anpArtNomVinculacion}" />
				</p:column>
			</p:dataTable>
				
		<!-- ===================================================================================================================================== -->
					
			<br />
			<br />
<!--			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Vinculación con el programa de manejo</h3>
				</div>
				<div id="tit7" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="{miaCap3.mapInfoAdicional.cap_3_1_7_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional({miaCap3.mapInfoAdicional.cap_3_1_7_0[0]},{miaCap3.mapInfoAdicional.cap_3_1_7_0[1]},"tit7");
                            })
                        </c:when>
                    </c:choose>
                </script>-->
			<p:dataTable styleClass="table" var="d" value="#{miaCap3.anpRegla}" emptyMessage ="Sin registros.">
			
				<p:column style="width: 25%;font-size: 12px;">
					<f:facet name="header">ANP</f:facet>
					<h:outputText value="#{d.anpArticuloRegla}" />
				</p:column>
							
				<p:column style="width: 30%;font-size: 12px;">
					<f:facet name="header">Artículo</f:facet>
					<h:outputText value="#{d.anpArtNomRegla}" />
				</p:column>

				<p:column style="width: 45%;font-size: 12px;">
					<f:facet name="header">Vinculación</f:facet>
					<h:outputText value="#{d.anpArtNomVinculacion}" />
				</p:column>
			</p:dataTable>
			

			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,5,0,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
			<br />
			<br />
	</p:panel>
		<br />
		<p:panel  id="pdu">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Planes y/o Programas de Desarrollo Urbano (PDU)</h3>
				</div>
				<div id="tit8" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_6_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_6_0_0[0]},#{miaCap3.mapInfoAdicional.cap_3_6_0_0[1]},"tit8");
                            })
                        </c:when>
                    </c:choose>
                </script>
                 
                 
                  <!-- ===================================================================================================================================== -->
				<ui:repeat id="danpa2" var="c" value="#{miaCap3.pdus}">
					<h:panelGroup>
						<div id="predios_pdus">
						
						    <h:outputText style="bold; font-size:16px;" value="Componente" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.pdumComp}"/>
							<br />	
							<h:outputText style="bold; font-size:16px;" value="Nombre del Plan o Programa" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.pdumNombre}"/>
							<br />
							<h:outputText style="bold; font-size:16px;" value="Fecha de publicación" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.pdumFechaPublicacion}"/>
							<br />							
							<h:outputText style="bold; font-size:16px;" value="Usos" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{c.pdumUsos}" /> 
							<br />
							<h:outputText style="bold; font-size:16px;" value="Clave usos" />
							<br />
								<h:outputText style="text-align:justify" value="#{c.pdumClaveUsos}"/>
							<br />									
							<h:outputText style="bold; font-size:16px;" value="Coeficiente de Ocupación del Suelo (COS)" />
							<br />							
							<h:outputText style="text-align:justify" value="#{c.pdumCos}"/>
							<br />
							<h:outputText style="bold; font-size:16px;" value="Coeficiente de Utilización del Suelo (CUS)" />
							<br />							
							<h:outputText style="text-align:justify" value="#{c.pdumCus}"/>
							<br />
							<h:outputText style="bold; font-size:16px;" value="Adjunto: " />
							<!-- Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto." -->
							<h:outputText value="#{c.idArchivoProyecto != null ?  '' : 'Sin Adjunto'}" />
							<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{c.idArchivoProyecto.seqId}" target="_blank">							
								<h:outputLabel style="text-align:justify; cursor:pointer; cursor:pointer; text-decoration: underline; color: blue;" value="#{c.idArchivoProyecto != null ?  c.idArchivoProyecto.fileName : ''}"/>	
							</a>
							<br/>
						    <h:outputText style="bold; font-size:16px;" value="Vinculación" />
							<br />							
							<h:outputText style="text-align:justify" value="#{c.pdumVinculacion}"/>
										
							<hr/>
							<br /> <br />
		
						</div>
					</h:panelGroup>
				</ui:repeat>
		<!-- ===================================================================================================================================== -->
                 
             <!--     						 -->
			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,6,0,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
			<br />

		</p:panel>
		<br />
		
		<p:panel
			rendered="#{miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Acuerdos, Convenios y Tratados Internacionales en Materia
						Ambiental</h3>
				</div>
				<div id="tit9" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br/>
			<p:separator/>
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_7_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_7_0_0[0]},#{miaCap3.mapInfoAdicional.cap_3_7_0_0[1]},"tit9");
                            })
                        </c:when>
                    </c:choose>
                </script>
              			
			<!-- Tree table de Acuerdos y Convenios -->
			<ui:repeat id="dAcuerdosCTIMA" var="acu" value="#{miaCap3.convenioslist}">
				<h:panelGroup>
					<div id="acuerdos">
						<h:outputText style="bold; font-size:16px;"
							value="Acuerdo, convenio o tratado internacional" />
						<br />
						<h:outputLabel style="text-align:justify"
							value="#{acu.convenioDescripcion}" />
						<!-- fechaUltimaActualizacion -->
						<br />
						<h:outputText style="bold; font-size:16px;"
							value="Fecha de publicación" />
						<br />
						<h:outputLabel style="text-align:justify"
							value="#{acu.convenioFechaPublicacion}" />
						<br />
						<h:outputText style="bold; font-size:16px;" value="Vinculación" />
						<br />
						<h:outputLabel style="text-align:justify"
							value="#{acu.convenioVinculacion}" />
						<br />
						<hr />
						<br /> <br />
					</div>
				</h:panelGroup>
			</ui:repeat>
			<!-- ********************************** -->

			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,7,0,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		
		<p:panel
			rendered="#{miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap3.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Otras Disposiciones</h3>
				</div>
				<div id="tit10" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap3.mapInfoAdicional.cap_3_8_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap3.mapInfoAdicional.cap_3_8_0_0[0]},#{miaCap3.mapInfoAdicional.cap_3_8_0_0[1]},"tit10");
                            })
                        </c:when>
                    </c:choose>
                </script>
                 
			

			<!-- Tree table de Otras Disposiciones -->
			<ui:repeat id="dODisposiciones" var="od" value="#{miaCap3.dispolist}">
				<h:panelGroup>
					<div id="oDisposiciones">
						<h:outputText style="bold; font-size:16px;" value="Nombre" />
						<br />
						<h:outputLabel style="text-align:justify"
							value="#{od.disposicionNombre}" />
						<br />
						<h:outputText style="bold; font-size:16px;" value="Vinculación" />
						<br />
						<h:outputLabel style="text-align:justify"
							value="#{od.disposicionVinculacion}" />
						<br />
						<hr />						
					</div>
				</h:panelGroup>
			</ui:repeat>
			<!-- ********************************** -->

			<!-- Include de archivos -->
			<div id="ver" style="vertical-align: top; width: 100%;">			
			<ui:include src="/anexosarchivos.xhtml">
				<ui:param name="listaTabla" value="#{miaCap3.archivosDisposiciones}" />
			</ui:include><br />
			</div>

			<p:panel header="Comentarios" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;" collapsed="true">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,8,0,0,#{miaCap3.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>			
			
		</p:panel>
	</h:body>
</f:view>
</html>