<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui" 
	xmlns:o="http://omnifaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
<f:view id="vistaCapitulo">
	<h:outputScript name="/js/infoadicional.js" target="head" />
	<o:importConstants type="mx.gob.semarnat.utils.GenericConstants" />
	<h:head>
		<title>Capítulo 4 MIA</title>
		<f:metadata>
			<f:viewParam name="bitaNum" value="#{visor.pramBita}" />
		</f:metadata>
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet"
			href="#{request.contextPath}/assets/css/gobmx.css" />
		<link href="#{request.contextPath}/assets/css/vendor/bootstrap.css"
			rel="stylesheet" media="screen" />
		<link
			href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css"
			rel="stylesheet" media="screen" />
	</h:head>
	<h:body>
		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Delimitación del Sistema Ambiental</h3>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_1_1_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_1_1_0[0]},#{miaCap4.mapInfoAdicional.cap_4_1_1_0[1]},"tit1");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
			<h:outputLabel style="text-align:justify" value="#{miaCap4.delimitacionSisAmb}" />
			<br />
			
			<div id="ver" style="vertical-align: top; width: 100%;">
				<br />


				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap4.archivosDelSisAmb}" />
				</ui:include>				

			</div>
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
			<br />
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Delimitación del Área de Influencia</h3>
				</div>
				<div id="tit2" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_1_2_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_1_2_0[0]},#{miaCap4.mapInfoAdicional.cap_4_1_2_0[1]},"tit2");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
				<h:outputLabel style="text-align:justify" value="#{miaCap4.delimitacionAreaInf}" />
				<br />
			
			<div id="ver" style="vertical-align: top; width: 100%;">
				<br />

				
				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap4.archivosDelAreaInf}" />
				</ui:include>
				
			</div>
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,2,0,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
			<br />

			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Delimitación del Sitio del Proyecto</h3>
				</div>
				<div id="tit3" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_1_3_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_1_3_0[0]},#{miaCap4.mapInfoAdicional.cap_4_1_3_0[1]},"tit3");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
                <h:outputLabel style="text-align:justify" value="#{miaCap4.delimitacionSitioProy}" />
				<br />

			<div id="ver" style="vertical-align: top; width: 100%;">
				<br />

				
				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap4.archivosDelSitProy}" />
				</ui:include>
				
			</div>
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,3,0,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
			<br />

		</p:panel>
		<br />
		
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h3>Aspectos Abióticos</h3>
			</div>
			<div id="aA" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<p:panel>
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Clima y Fenómenos Meteorológicos</h3>
				</div>
				<div id="tit4" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_2_1_1 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_2_1_1[0]},#{miaCap4.mapInfoAdicional.cap_4_2_1_1[1]},"tit4");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
			<!-- ===================================================================================================================================== -->
		<ui:repeat id="clim" var="c" value="#{miaCap4.climas}">
			<h:panelGroup>
				<div id="climas">
					<h:outputText style="bold; font-size:18px;" value="Clave Climatológica" />
					<br />
					<h:outputLabel value="#{c.claveClimatologica != null ?  c.claveClimatologica : 'No aplica'}" />
					<br />

					<h:outputText style="bold; font-size:18px;" value="Agrupación/Temp" />
					<br />
					<h:outputLabel value="#{c.descPrec != null ?  c.descPrec : 'No aplica'}" />
					<br />

					<h:outputText style="bold; font-size:18px;" value="Precipitación" />
					<br />
					<h:outputLabel value="#{c.grupoMapa2 != null ?  c.grupoMapa2 : 'No aplica'}" />
					<hr/>
				</div>
			</h:panelGroup>
		</ui:repeat>

			<h3>Observaciones</h3>
			<h:outputLabel style="text-align:justify" value="#{miaCap4.observacionesClima}" />
			<br />
			<h3>Indica las variables tanto de la temperatura como de los
				fenómenos meteorológicos considerando los índices de vulnerabilidad
				para los efectos del cambio climático</h3>
			<h:outputLabel style="text-align:justify" value="#{miaCap4.tempFenMetDescrip}" />
			<br />

			<!-- ===================================================================================================================================== -->

			<div id="ver" style="vertical-align: top; width: 100%;">
				<br />

				
				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap4.archivosClimaFenMet}" />
				</ui:include>
				
			</div>

			<br />
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,1,1,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>

		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<br />

			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Geología y Geomorfología</h3>
				</div>
				<div id="tit5" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                        <c:choose>
                            <c:when test="#{miaCap4.mapInfoAdicional.cap_4_2_1_3 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_2_1_3[0]},#{miaCap4.mapInfoAdicional.cap_4_2_1_3[1]},"tit5");
                                })
                            </c:when>
                        </c:choose>
                    </script>
			<h4>Descripción:</h4>

			<h:outputLabel style="text-align:justify" value="#{miaCap4.geologiaGeom}" />
			<br />
				
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,1,3,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>

		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<br />
			<br />
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Suelos</h3>
				</div>
				<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_2_1_4 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_2_1_4[0]},#{miaCap4.mapInfoAdicional.cap_4_2_1_4[1]},"tit6");
                            })
                        </c:when>
                    </c:choose>
                </script>

			<h:outputLabel style="text-align:justify" value="#{miaCap4.suelos}" />
			<br />
			<div id="ver" style="vertical-align: top; width: 100%;">
				<br />

				
				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap4.archivosSuelos}" />
				</ui:include>
				
			</div>
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,1,4,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
			<br />
		</p:panel>
		<br />
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h3>Hidrología superficial y subterránea</h3>
			</div>
			<div id="tit7" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<br />
		<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_2_1_5 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_2_1_5[0]},#{miaCap4.mapInfoAdicional.cap_4_2_1_5[1]},"tit7");
                            })
                        </c:when>
                    </c:choose>
                </script>

		<h:dataTable styleClass="table" var="m"
			value="#{miaCap4.microCuenca2}">
			<h:column>
				<f:facet name="header">Cuenca</f:facet>
                        #{m[0]}
                    </h:column>
			<h:column>
				<f:facet name="header">Subcuenca</f:facet>
                        #{m[1]}
                    </h:column>
			<h:column>
				<f:facet name="header">Microcuenca</f:facet>
                        #{m[2]}
                    </h:column>
		</h:dataTable>
		<br />
		
		<h3>Descripción</h3>
		<h:outputLabel style="text-align:justify" value="#{miaCap4.hidroSup}" />
		<br />
		
		<br />

		<h3>Hidrología subterránea</h3>
		<h:dataTable styleClass="table" var="m" value="#{miaCap4.acuiferos2}">
			<h:column>
				<f:facet name="header">No.</f:facet>
                           <h:outputText value="#{m[0]}"/>
                    </h:column>
			<h:column>
				<f:facet name="header">Nombre del Acuífero</f:facet>
                            <h:outputText value="#{m[1] != null ?  m[1] : 'No aplica'}"/>
                    </h:column>
			<h:column>
				<f:facet name="header">Disponibilidad</f:facet>
                             <h:outputText value="#{m[2] != null ?  m[2] : 'No aplica'}"/>
                    </h:column>
			<h:column>
				<f:facet name="header">Fecha D.O.F.</f:facet>
                          <h:outputText value="#{m[3] != null ?  m[3] : 'No aplica'}">
                            <f:convertDateTime pattern="dd/MM/yyyy" />
                          </h:outputText>
                    </h:column>
			<h:column>
				<f:facet name="header">¿Sobre explotado?</f:facet>
                            <h:outputText value="#{m[4] != null ?  m[4] : 'No aplica'}"/>
                    </h:column>
		</h:dataTable>
		<br />
		
		<h3>Observaciones</h3>
		<h:outputLabel style="text-align:justify" value="#{miaCap4.hidroSub}" />
		<br />
		
		<h3>Cuerpos de agua</h3>
		<br />
		<!-- Tabla de cuerpos de agua -->
		<p:dataTable value="#{miaCap4.cuerposAgua}" var="cagua" rowIndexVar ="rowIndex" paginator="true" paginatorPosition="bottom" id="tablaDatosCuerposAgua" emptyMessage="Sin registros.">
			<!--  -->
			<p:column style="white-space: normal; width: 50px; text-align: center;">
				<f:facet name="header">No.</f:facet>
				<h:outputText value="#{rowIndex+1}" />
			</p:column>
			<p:column style="white-space: normal">
				<f:facet name="header">Nombre</f:facet>
				<h:outputText value="#{cagua.nombre}" />
				</p:column>
			<p:column style="white-space: normal">
				<f:facet name="header">Tipo</f:facet>
				<h:outputText value="#{cagua.tipo.clasificacionB}" />
			</p:column>
			<p:column style="white-space: normal">
				<f:facet name="header">Distancia al proyecto(m)</f:facet>
				<h:outputText value="#{cagua.distancia}" />
			</p:column>
		</p:dataTable>
		
		<br/>		
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,1,5,#{miaCap4.bitacora},#{miaCap1.idusuario}"
				frameborder="0"></iframe>
		</p:panel>

		<br />

		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Estudios Especiales</h3>
				</div>
				<div id="tit20" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_2_1_6 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_2_1_6[0]},#{miaCap4.mapInfoAdicional.cap_4_2_1_6[1]},"tit20");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
             
			
			 <!--Tabla para los archivos anexados--> 
                    <p:dataTable style="text-align: justify;" value="#{miaCap4.estudiosEsp}" var="esp" id="esp1" emptyMessage="Sin registros.">
		            	<p:column style="width: 13%;font-size: 12px;">
		                    <f:facet name="header">#</f:facet>
		                    <h:outputText value="#{esp[2]}" />
		                </p:column>
		            	
		                <p:column style="width: 30%;font-size: 12px;">
		                    <f:facet name="header">Nombre</f:facet>
		                    <h:outputText value="#{esp[0]}" />
		                </p:column>
		                <p:column style="width: 13%;font-size: 12px;">
		                    <f:facet name="header">Descripción</f:facet>
		                    <h:outputText value="#{esp[1]}"/>
		
		                </p:column>
		                <p:column style="width: 13%;font-size: 12px;">
		                    <f:facet name="header">Ver</f:facet>
		                    <a class="btn btn-default glyphicon glyphicon-eye-open" 
				                        	href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?folio=#{miaCap4.proyecto.proyectoPK.folioProyecto}&amp;serial=#{miaCap4.proyecto.proyectoPK.serialProyecto}&amp;idt=#{esp[2]}&amp;tipo=estudio" 
				                        	target="_blank">
				             </a>	
		                </p:column>
		            </p:dataTable>
                     <!-- Fin de la tabla de los archivos anexados --> 
			
			
			<br />
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,1,6,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />

		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h3>Aspectos Bióticos</h3>
			</div>
			<div id="aB" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<p:panel>
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Tipo de vegetación</h3>
				</div>
				<div id="tit8" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_2_2_1 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_2_2_1[0]},#{miaCap4.mapInfoAdicional.cap_4_2_2_1[1]},"tit8");
                            })
                        </c:when>
                    </c:choose>
                </script>
                
			
			 <!--Tabla para los archivos anexados--> 
                   <p:treeTable value="#{miaCap2_2.rootSuelos}" var="node">			
						<p:column headerText="Componente" style="white-space: normal">
							<h:outputText value="#{node.nombreObra}" />
						</p:column>
						<p:column headerText="Grupo de vegetación"
							style="white-space: normal">
							<h:outputText value="#{node.grupoVegetacion != null ?  node.grupoVegetacion : 'No aplica'}" />
						</p:column>
						<p:column headerText="Descripción" style="white-space: normal">
							<h:outputText value="#{node.descripcion != null ?  node.descripcion : 'No aplica'}" />
						</p:column>
						<p:column headerText="Tipo de vegetación o uso de suelo"
							style="white-space: normal">
							<h:outputText value="#{node.tipoVegetacion != null ?  node.tipoVegetacion : 'No aplica'}" />
						</p:column>
						<p:column headerText="Fase de vegetación" style="white-space: normal">
							<h:outputText value="#{node.faseVegetacion != null ?  node.faseVegetacion : 'No aplica'}" />
						</p:column>
						<p:column headerText="Superficie m&lt;sup&gt;2&lt;&#47;sup&gt;" style="white-space: normal; text-align: right;" escape="false">
							<h:outputLabel value="#{node.superficie}">
								<f:convertNumber pattern="###,##0.00" />
							</h:outputLabel>
						</p:column>
						<p:column headerText="Diagnóstico" style="white-space: normal">
							<h:outputText value="#{node.diagnostico != null ? node.diagnostico : 'No aplica' }" />
						</p:column>
						
					</p:treeTable>
             <!-- Fin de la tabla de los archivos anexados --> 
			
			<br />
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,2,1,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />	
			
		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">		
				<div style="float: left; display: block; width: 75%">
					<h3>Flora</h3>
				</div>
				<div id="tit9" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_2_2_2 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_2_2_2[0]},#{miaCap4.mapInfoAdicional.cap_4_2_2_2[1]},"tit9");
                            })
                        </c:when>
                    </c:choose>
                </script>

			<p:dataTable var="flo" value="#{miaCap4.flora}"
				rowIndexVar="rowIndexFlo" rows="5" paginator="true"
				paginatorPosition="bottom" emptyMessage="Sin registros.">				
					
					<p:column style="width:4%">
			            <p:rowToggler />
			        </p:column>
					<p:column headerText="No." style="white-space: normal; text-align: center; width: 6%;">
						<h:outputText value="#{rowIndexFlo+1}" />
					</p:column>
					<p:column headerText="Clase" style="white-space: normal; bold; width: 15%">
						<h:outputText value="#{flo.floraClase}" />
					</p:column>
					<p:column headerText="Familia" style="white-space: normal; width: 15%">
						<h:outputText value="#{flo.floraFamilia}" />
					</p:column>
					<p:column headerText="Nombre científico" style="white-space: normal; width: 20%">
						<h:outputText value="#{flo.floraNomCient}" />
					</p:column>
					<p:column headerText="Nombre común" style="white-space: normal; width: 15%">
						<h:outputText value="#{flo.floraNomComun != null ?  flo.floraNomComun : 'No aplica'}" />
					</p:column>
					<p:column headerText="Categoría NOM-059" style="white-space: normal; width: 15%">
						<h:outputText value="#{flo.floraCatNom59}" />
					</p:column>
					<p:column headerText="Endémico" style="white-space: normal; text-align: center; width: 10%">
						<h:outputText value="#{flo.floraEndemico}"  />
					</p:column>
					
					<p:rowExpansion>
			            <p:panelGrid>
			                <p:row>
								<p:column style="width: 10%">
									<h:outputText value="Sistema ambiental" style="font-weight:bold; font-size:15px; " />
								</p:column>
								<p:column style="width: 10%">
									<h:outputText value="Área de influencia" style="font-weight:bold; font-size:15px; " />
								</p:column>
								<p:column style="width: 10%">
									<h:outputText value="Proyecto" style="font-weight:bold; font-size:15px; " />
								</p:column>
								<p:column style="width: 10%">
									<h:outputText value="Registro" style="font-weight:bold; font-size:15px; " />
								</p:column>
								<p:column style="width: 10%">
									<h:outputText value="Abundancia" style="font-weight:bold; font-size:15px; " />
								</p:column>
								<p:column style="width: 10%">
									<h:outputText value="Densidad" style="font-weight:bold; font-size:15px; " />
								</p:column>
								<p:column style="width: 15%">
									<h:outputText value="Distribución" style="font-weight:bold; font-size:15px; " />
								</p:column>
								<p:column style="width: 10%">
									<h:outputText value="Individuos afectados" style="font-weight:bold; font-size:15px; " />
								</p:column>
								<p:column style="width: 10%">
									<h:outputText value="Adjunto" style="font-weight:bold; font-size:15px; " />
								</p:column>
							</p:row>
							<p:row>
								<p:column style="white-space: normal; text-align: center;">
									<h:outputText value="#{flo.floraPresenciaSa}" style=" font-size:12px;" />
								</p:column>
								<p:column style="white-space: normal; text-align: center;">
									<h:outputText value="#{flo.floraPresenciaAi}" style=" font-size:12px;" />
								</p:column>
								<p:column style="white-space: normal; text-align: center;">
									<h:outputText value="#{flo.floraPresenciaPr}" style=" font-size:12px;" />
								</p:column>
								<p:column style="white-space: normal;">
									<h:outputText value="#{flo.floraRegistro != null ?  flo.floraRegistro : 'No aplica'}" style=" font-size:12px;" />
								</p:column>
								<p:column style="white-space: normal;">
									<h:outputText value="#{flo.floraAbundancia != null ?  flo.floraAbundancia : 'No aplica'}" style=" font-size:12px;" />
								</p:column>
								<p:column style="white-space: normal;">
									<h:outputText value="#{flo.floraDensidad != null ?  flo.floraDensidad : 'No aplica'}" style=" font-size:12px;" />
								</p:column>
								<p:column style="white-space: normal;">
									<h:outputText value="#{flo.floraDistribucion != null ?  flo.floraDistribucion : 'No aplica'}" style=" font-size:12px;" />
								</p:column>
								<p:column style="white-space: normal;">
									<h:outputText value="#{flo.floraNumIndvAfec != null ?  flo.floraNumIndvAfec : 'No aplica'}" style=" font-size:12px;" />
								</p:column>
								Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto."
								<p:column style="white-space: normal;">
									<h:outputLabel value="#{flo.idArchivoProyecto != null ?  '' : 'Sin Adjunto'}" />
									<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{flo.idArchivoProyecto.seqId}" target="_blank"> 
										<h:outputLabel style="text-align:justify; cursor:pointer; text-decoration: underline; font-size: 12px; !important;"
											value="#{flo.idArchivoProyecto != null ?  flo.idArchivoProyecto.fileName : ''}" />
									</a>
								</p:column>
							</p:row>			                
			            </p:panelGrid>
			        </p:rowExpansion>					
			</p:dataTable>
			
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,2,2,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
				
		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Fauna</h3>
				</div>
				<div id="tit10" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                    <c:choose>
                        <c:when test="#{miaCap4.mapInfoAdicional.cap_4_2_2_3 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap4.mapInfoAdicional.cap_4_2_2_3[0]},#{miaCap4.mapInfoAdicional.cap_4_2_2_3[1]},"tit10");
                            })
                        </c:when>
                    </c:choose>
                </script>

			<p:dataTable var="fau" value="#{miaCap4.fauna}"
				rowIndexVar="rowIndexFau" rows="5" paginator="true"
				paginatorPosition="bottom" emptyMessage="Sin registros.">				   
					
					<p:column style="width:4%">
			            <p:rowToggler />
			        </p:column>
					<p:column headerText="No." style="white-space: normal; text-align: center; width: 6%;">
						<h:outputText value="#{rowIndexFau+1}" />
					</p:column>
					<p:column headerText="Clase" style="white-space: normal; width: 15%;">
						<h:outputText value="#{fau.faunaClase}" />
					</p:column>
					<p:column headerText="Familia" style="white-space: normal; width: 15%;">
						<h:outputText value="#{fau.faunaFamilia}" />
					</p:column>
					<p:column headerText="Nom. científico" style="white-space: normal; width: 20%;">
						<h:outputText value="#{fau.faunaNomCient}" />
					</p:column>
					<p:column headerText="Nom. común" style="white-space: normal; width: 15%;">
						<h:outputText value="#{fau.faunaNomComun != null ?  fau.faunaNomComun : 'No aplica'}" />
					</p:column>
					<p:column headerText="Categoría NOM-059" style="white-space: normal; width: 15%;">
						<h:outputText value="#{fau.faunaCatNom59}" />
					</p:column>
					<p:column headerText="Endémico" style="white-space: normal; text-align: center; width: 10%;">
						<h:outputText value="#{fau.faunaEndemico}" />
					</p:column>
						
					<p:rowExpansion>
			            <p:panelGrid>						
						<p:row>
							<p:column>
								<h:outputText value="Sistema ambiental" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Área de influencia" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Proyecto" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Registro" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Abundancia" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Densidad" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Distribución" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Individuos afectados" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Adjunto" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal; text-align: center;">
								<h:outputText value="#{fau.faunaPresenciaSa}" style=" font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal; text-align: center;">
								<h:outputText value="#{fau.faunaPresenciaAi}" style=" font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal; text-align: center;">
								<h:outputText value="#{fau.faunaPresenciaPr}" style="font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{fau.faunaRegistro != null ?  fau.faunaRegistro : 'No aplica'}" style=" font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{fau.faunaAbundancia != null ?  fau.faunaAbundancia : 'No aplica'}" style=" font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{fau.faunaDensidad != null ?  fau.faunaDensidad : 'No aplica'}" style=" font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{fau.faunaDistribucion != null ?  fau.faunaDistribucion : 'No aplica'}" style="bold; font-size:12px;" />
							</p:column>
							<p:column style="white-space: normal;">
								<h:outputText value="#{fau.faunaNumIndvAfec != null ?  fau.faunaNumIndvAfec : 'No aplica'}" style="bold; font-size:12px;" />
							</p:column>
							<!-- Muestra liga para descargar archivo adjunto o leyenda "Sin adjunto." -->
							<p:column style="white-space: normal;">
								<h:outputLabel value="#{fau.idArchivoProyecto != null ?  '' : 'Sin Adjunto'}" />
								<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{fau.idArchivoProyecto.seqId}" target="_blank"> 
									<h:outputLabel style="text-align:justify; cursor:pointer; text-decoration: underline; font-size: 12px !important;"
										value="#{fau.idArchivoProyecto != null ?  fau.idArchivoProyecto.fileName : ''}" />
								</a>
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:rowExpansion>
			</p:dataTable>
			
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,2,3,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		
		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Análisis Biológico y Ecológico</h3>
				</div>
				<div id="tit21" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>$('#vistaCapitulo').ready(function() {infoAdicional("tit21", 4, 2, 2, 4, '#{miaCap4.bitacora}')});</script>

			<p:editor style="width: 100%;" value="#{miaCap4.analisisBio}" controls="" disabled="true"/>
			<br />
			
			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,2,4,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Paisaje</h3>
				</div>
				<div id="tit22" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>$('#vistaCapitulo').ready(function() {infoAdicional("tit22", 4, 3, 0, 0, '#{miaCap4.bitacora}')});</script>

			<p:editor  style="width: 100%;"  value="#{miaCap4.paisajes}" controls="" disabled="true"/>
			<br />

			<div id="ver" style="vertical-align: top; width: 100%;">
				<br />

				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap4.archivosPaisajes}" />
				</ui:include>
				
			</div>

			<p:panel header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,3,0,0,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		<p:panel>
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Medio Socioeconómico</h3>
				</div>
				<div id="tit23" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>$('#vistaCapitulo').ready(function() {infoAdicional("tit23", 4, 4, 0, 0, '#{miaCap4.bitacora}')});</script>

			<p:panel
				rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
				<h4>Dinámica Población</h4>

			<h:outputLabel style="text-align:justify" value="#{miaCap4.dinamicaPob}" />
			<br />
			
			</p:panel>
			<h3>Localidades ubicadas dentro del área del proyecto. serie V 2013,INEGI</h3>
			<h:dataTable styleClass="table" var="c" value="#{miaCap4.locInd}">
				<h:column>
					<f:facet name="header">Localidad</f:facet>
					<h:outputText value="#{c.nomLoc != null ?  c.nomLoc : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Entidad Federativa</f:facet>
					<h:outputText value="#{c.nomEnt != null ?  c.nomEnt : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Nombre del Municipio</f:facet>
					<h:outputText value="#{c.nomMun != null ?  c.nomMun : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Población Masculina</f:facet>
					<h:outputText value="#{c.pobmas != null ?  c.pobmas : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Población Femenina</f:facet>
					<h:outputText value="#{c.pobfem != null ?  c.pobfem : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Total de Viviendas</f:facet>
					<h:outputText value="#{c.totviviend != null ?  c.totviviend : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Población Total</f:facet>
					<h:outputText value="#{c.pobtot2 != null ?  c.pobtot2 : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Mun.Pob.Ind</f:facet>
					<h:outputText value="#{c.pobIndi != null ?  c.pobIndi : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Tipo de Localidad</f:facet>
					<h:outputText value="#{c.tipoloc != null ?  c.tipoloc : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Ámbito</f:facet>
					<h:outputText value="#{c.ambito != null ?  c.ambito : 'No aplica'}" />
                    </h:column>

				<h:column>
					<f:facet name="header">Población Índigena</f:facet>
					<h:outputText value="#{c.pobIndi != null ?  c.pobIndi : 'No aplica'}" />
                    </h:column>

			</h:dataTable>
			<br />
			<p:panel  header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,4,0,0,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		<p:panel
			rendered="#{miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_1ER_INGRESO or miaCap4.vistaVersion eq GenericConstants.VISTA_PROMOVENTE_INFO_ADICIONAL}">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Diagnóstico Ambiental</h3>
				</div>
				<div id="tit24" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<p:separator/>
			<br />
			<script>$('#vistaCapitulo').ready(function() {infoAdicional("tit24", 4, 5, 0, 0, '#{miaCap4.bitacora}')});</script>

			<h:outputLabel style="text-align:justify" value="#{miaCap4.diagnosticoAmb}" />
			<br />

			<div id="ver" style="vertical-align: top; width: 100%;">
				<br />

				
				<!-- Include de archivos -->
				<ui:include src="/anexosarchivos.xhtml">
					<ui:param name="listaTabla" value="#{miaCap4.archivosDiagAmb}" />
				</ui:include>
				
			</div>

			<p:panel  header="Comentarios" collapsed="true" toggleable="true"
				toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px"
					src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,5,0,0,#{miaCap4.bitacora},#{miaCap1.idusuario}"
					frameborder="0"></iframe>
			</p:panel>		
		</p:panel>
		
		
		
	</h:body>
</f:view>
</html>