<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <f:view id="vistaCapitulo">
        <h:outputScript name="/js/infoadicional.js" target="head" />        
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
            <link href="#{request.contextPath}/resources/css/tabsInfoAd.css" rel="stylesheet" media="screen" />
        </h:head>
        <h:body>

  <!-- ===================================================================================================================================== -->

			<p:tabView  rendered="#{!miaCap5Serial3.metIdenEvaImpAmb.isEmpty()}" styleClass="InfoAd" >
				<p:tab title="#{miaCap2.mapInfoAdicional.cap_5_1_0_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
					<h:panelGrid styleClass = "InfoAdCo">
						<h:outputLabel style="text-align:justify" value="#{miaCap5Serial3.metIdenEvaImpAmb}" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="Información original">
					<h:panelGrid styleClass = "InfoOri">	
						<h:outputLabel style="text-align:justify" value="#{miaCap5.metIdenEvaImpAmb}" />
					</h:panelGrid>
				</p:tab>
			</p:tabView>
			<h:panelGroup rendered="#{miaCap5Serial3.metIdenEvaImpAmb.isEmpty()}">
					<h:outputLabel style="text-align:justify" value="#{miaCap5.metIdenEvaImpAmb}" />
			</h:panelGroup>
		<br /><br />
  <!-- ===================================================================================================================================== -->

				<h3>Justificación de la metodología utilizada</h3>
  <!-- ===================================================================================================================================== -->

		
			<p:tabView  rendered="#{!miaCap5Serial3.justificacion.isEmpty()}" styleClass="InfoAd">
				<p:tab title="#{miaCap2.mapInfoAdicional.cap_5_1_0_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
					<h:panelGrid styleClass = "InfoAdCo">
						<h:outputLabel style="text-align:justify" value="#{miaCap5Serial3.justificacion}" />
					</h:panelGrid>
				</p:tab>
				<p:tab title="Información original">
					<h:panelGrid styleClass = "InfoOri">	
						<h:outputLabel style="text-align:justify" value="#{miaCap5.justificacion}" />
					</h:panelGrid>
				</p:tab>
			</p:tabView>
			<h:panelGroup rendered="#{miaCap5Serial3.justificacion.isEmpty()}">
				<h:outputLabel style="text-align:justify" value="#{miaCap5.justificacion}" />
			</h:panelGroup>
			<br />
			<!-- Archivos adjuntos -->
			<p:tabView  rendered="#{miaCap5Serial3.archivosJustiMetodo.size() != 0}" styleClass="InfoAd">
				<p:tab title="Información adicional">
					<h:panelGrid styleClass = "InfoAdCo">
						<div id="ver" style="vertical-align: top; width: 100%;">
							<br />
							<!-- Include de archivos -->
							<ui:include src="/anexosarchivos.xhtml">
								<ui:param name="listaTabla" value="#{miaCap5Serial3.archivosJustiMetodo}" />
							</ui:include>				
						</div>
					</h:panelGrid>
				</p:tab>
				<p:tab title="Información original">
					<h:panelGrid styleClass = "InfoOri">	
						<div id="ver" style="vertical-align: top; width: 100%;">
							<br />
							<!-- Include de archivos -->
							<ui:include src="/anexosarchivos.xhtml">
								<ui:param name="listaTabla" value="#{miaCap5.archivosJustiMetodo}" />
							</ui:include>				
						</div>
					</h:panelGrid>
				</p:tab>
			</p:tabView>
			<h:panelGroup rendered="#{miaCap5Serial3.archivosJustiMetodo.size() == 0}">
					<div id="ver" style="vertical-align: top; width: 100%;">
						<br />
						<!-- Include de archivos -->
						<ui:include src="/anexosarchivos.xhtml">
							<ui:param name="listaTabla" value="#{miaCap5.archivosJustiMetodo}" />
						</ui:include>				
					</div>
			</h:panelGroup>	

  <!-- ===================================================================================================================================== -->

			
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=5,1,0,0,#{miaCap1.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>

            <br/> <br/> 

            <p:panel id="selectSitio">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Resultados de evaluación de los impactos ambientales</h3>
					</div>
					<div id="tit2" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<p:separator></p:separator>
				<script>
                    <c:choose>
                        <c:when test="#{miaCap2.mapInfoAdicional.cap_5_2_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_5_2_0_0[0]},#{miaCap2.mapInfoAdicional.cap_5_2_0_0[1]},"tit2");
                            })
                        </c:when>
                    </c:choose>
                </script> 
            </p:panel>               
                
  <!-- ===================================================================================================================================== -->
  		<p:tabView  rendered="#{miaCap2Serial3.evaluacion.size() != 0}" styleClass="InfoAd">
			<p:tab title="#{miaCap2.mapInfoAdicional.cap_5_2_0_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
				<h:panelGrid styleClass = "InfoAdCo">
					<ui:fragment rendered="#{!empty miaCap2Serial3.evaluacion}"> 
				        <ui:repeat var="obj" value="#{miaCap2Serial3.evaluacion}">
							<h:panelGroup>
								<div id="predios">
									<h:outputText style="bold; font-size:18px;" value="Etapa" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.etapaId.etapaDescripcion}" />
									<br />
				
									<h:outputText style="bold; font-size:18px;" value="Impacto Identificado" />
									<br />
									<h:outputLabel  style="text-align:justify" value="#{obj.impactIndent}" />
									<br />
				
									<h:outputText style="bold; font-size:18px;" value="Descripción" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impactDesc}" />
									<br />
				
									<h:outputText style="bold; font-size:18px;" value="Caracterización" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impacCarac}" />
									<br />
				
									<h:outputText style="bold; font-size:18px;" value="Evaluación sobre la medida propuesta" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impacEva}" />
									<br />
									
									<h:outputText style="bold; font-size:18px;" value="Tipo Impacto" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impactoId.tipoImpactoDescripcion}" />
									<br />
									
									<h:outputText style="bold; font-size:18px;" value="Indicador" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impacIndic}" />
									<hr/>
									<br /> <br />
				
								</div>
							</h:panelGroup>
						</ui:repeat>             
			        </ui:fragment>
			        <ui:fragment rendered="#{empty miaCap2Serial3.evaluacion}">
			            <br/>
			            <div class="alert alert-danger">
			                <h:outputLabel value="Sin registros."/>
			            </div>
			        </ui:fragment>
			    </h:panelGrid>
			</p:tab>
			<p:tab title="Información original">	
				<h:panelGrid styleClass = "InfoOri">
					<ui:fragment rendered="#{!empty miaCap2.evaluacion}"> 
				        <ui:repeat var="obj" value="#{miaCap2.evaluacion}">
							<h:panelGroup>
								<div id="predios">
									<h:outputText style="bold; font-size:18px;" value="Etapa" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.etapaId.etapaDescripcion}" />
									<br />
				
									<h:outputText style="bold; font-size:18px;" value="Impacto Identificado" />
									<br />
									<h:outputLabel  style="text-align:justify" value="#{obj.impactIndent}" />
									<br />
				
									<h:outputText style="bold; font-size:18px;" value="Descripción" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impactDesc}" />
									<br />
				
									<h:outputText style="bold; font-size:18px;" value="Caracterización" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impacCarac}" />
									<br />
				
									<h:outputText style="bold; font-size:18px;" value="Evaluación sobre la medida propuesta" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impacEva}" />
									<br />
									
									<h:outputText style="bold; font-size:18px;" value="Tipo Impacto" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impactoId.tipoImpactoDescripcion}" />
									<br />
									
									<h:outputText style="bold; font-size:18px;" value="Indicador" />
									<br />
									<h:outputLabel style="text-align:justify" value="#{obj.impacIndic}" />
									<hr/>
									<br /> <br />
				
								</div>
							</h:panelGroup>
						</ui:repeat>             
			        </ui:fragment>
			        <ui:fragment rendered="#{empty miaCap2.evaluacion}">
			            <br/>
			            <div class="alert alert-danger">
			                <h:outputLabel value="Sin registros."/>
			            </div>
			        </ui:fragment>
				</h:panelGrid>
			</p:tab>
		</p:tabView>
		<h:panelGroup rendered="#{miaCap2Serial3.evaluacion.size() == 0}">
			<ui:fragment rendered="#{!empty miaCap2.evaluacion}"> 
		        <ui:repeat var="obj" value="#{miaCap2.evaluacion}">
					<h:panelGroup>
						<div id="predios">
							<h:outputText style="bold; font-size:18px;" value="Etapa" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{obj.etapaId.etapaDescripcion}" />
							<br />
		
							<h:outputText style="bold; font-size:18px;" value="Impacto Identificado" />
							<br />
							<h:outputLabel  style="text-align:justify" value="#{obj.impactIndent}" />
							<br />
		
							<h:outputText style="bold; font-size:18px;" value="Descripción" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{obj.impactDesc}" />
							<br />
		
							<h:outputText style="bold; font-size:18px;" value="Caracterización" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{obj.impacCarac}" />
							<br />
		
							<h:outputText style="bold; font-size:18px;" value="Evaluación sobre la medida propuesta" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{obj.impacEva}" />
							<br />
							
							<h:outputText style="bold; font-size:18px;" value="Tipo Impacto" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{obj.impactoId.tipoImpactoDescripcion}" />
							<br />
							
							<h:outputText style="bold; font-size:18px;" value="Indicador" />
							<br />
							<h:outputLabel style="text-align:justify" value="#{obj.impacIndic}" />
							<hr/>
							<br /> <br />
		
						</div>
					</h:panelGroup>
				</ui:repeat>             
	        </ui:fragment>
	        <ui:fragment rendered="#{empty miaCap2.evaluacion}">
	            <br/>
	            <div class="alert alert-danger">
	                <h:outputLabel value="Sin registros."/>
	            </div>
	        </ui:fragment>
		</h:panelGroup>
		<!-- Archivos adjuntos -->
		<p:tabView  rendered="#{miaCap5Serial3.archivosResEvaImpAmb.size() != 0}" styleClass="InfoAd">
			<p:tab title="#{miaCap2.mapInfoAdicional.cap_5_2_0_0[0]  ? 'Informacion Adicional': 'Informacion Complementaria'} ">
				<div id="ver" style="vertical-align: top; width: 100%;">
					<br />
					<!-- Include de archivos -->
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{miaCap5Serial3.archivosResEvaImpAmb}" />
					</ui:include>				
				</div>
			</p:tab>
			<p:tab title="Información original">	
				<div id="ver" style="vertical-align: top; width: 100%;">
					<br />
					<!-- Include de archivos -->
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{miaCap5.archivosResEvaImpAmb}" />
					</ui:include>				
				</div>
			</p:tab>
		</p:tabView>
		<h:panelGroup rendered="#{miaCap5Serial3.archivosResEvaImpAmb.size() == 0}">
				<div id="ver" style="vertical-align: top; width: 100%;">
					<br />
					<!-- Include de archivos -->
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{miaCap5.archivosResEvaImpAmb}" />
					</ui:include>				
				</div>
		</h:panelGroup>	

  <!-- ===================================================================================================================================== -->

                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=5,2,0,0,#{miaCap1.pramBita},#{miaCap1.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
        </h:body>
    </f:view>
</html>
