<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

<ui:composition>
	<o:importConstants type="mx.gob.semarnat.utils.GenericConstants" />
	

	<p:panel id ="predios">
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h3>Uso de suelo de predios colindantes</h3>
			</div>
			<div id="tit12" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_2_2 != null}">
                        $('#vistaCapitulo').ready(function() {
                            infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_2_2[0]},#{miaCap2.mapInfoAdicional.cap_2_2_2_2[1]},"tit12");
                        })
                    </c:when>
                </c:choose>
            </script>
	
		<!-- ===================================================================================================================================== -->
		<p:dataTable var="pd" value="#{miaCap2_2.predCol1}"
				rowIndexVar="rowIndex" rows="5" paginator="true"
				paginatorPosition="bottom" emptyMessage="Sin registros.">
				<p:column>
					<p:panelGrid>
						<p:row>
							<p:column style="bold; font-size:20px;width: 5%">
								<h:outputText value="No." style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Predio" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Clasificación" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Uso de suelo" style="font-weight:bold; font-size:15px;" />
							</p:column>
							<p:column>
								<h:outputText value="Referencia" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column style="white-space: normal;text-align: center;">
								<h:outputText value="#{rowIndex+1}" />
							</p:column>
							
							<p:column headerText="Predio" style="white-space: normal;">
								<h:outputText  style="font-size:12px;"  value="#{pd[1] != null ?  pd[1] : 'No aplica'}" />
							</p:column>
							
							<p:column headerText="Clasificación" style="white-space: normal;">
								<h:outputText style="font-size:12px;" value="#{pd[2] != null ?  pd[2] : 'No aplica'}" />
							</p:column>
							
							<p:column headerText="Uso de suelo" style="white-space: normal;">
								<h:outputText style="font-size:12px;" value="#{pd[3] != null ?  pd[3] : 'No aplica'}" />
							</p:column>
							
							<p:column headerText="Referencia" style="white-space: normal;">
								<h:outputText style="font-size:12px;" value="#{pd[4] != null ?  pd[4] : 'No aplica'}" />
							</p:column>
						</p:row>
						<p:row>
							<p:column colspan="5">
								<h:outputText value="Descripción" style="font-weight:bold; font-size:15px;" />
							</p:column>
						</p:row>
						<p:row>
							<p:column headerText="Descripción" style="white-space: normal;"
								colspan="5">
								<h:outputText style="font-size:12px;"
									value="#{pd[5] != null ?  pd[5] : 'No aplica'}" />
							</p:column>
						</p:row>
					</p:panelGrid>
				</p:column>
			</p:dataTable>
		
		
		<!-- ===================================================================================================================================== -->

		<ui:fragment rendered="#{empty miaCap2_2.predCol1}">
			<br />
			<div class="alert alert-danger">
				<h:outputLabel value="Sin registros." />
			</div>
		</ui:fragment>
		<br></br>
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,2,2,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>
	<br></br>

	<p:panel id ="obrasDesc" rendered="#{miaCap2_2.descObras}">
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h3>Descripción de obras principales del proyecto</h3>
			</div>
			<div id="tit204" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_3_0 != null}">
                        $('#vistaCapitulo').ready(function() {
                            infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_3_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_3_0[1]},"tit204");
                        })
                    </c:when>
                </c:choose>
            </script>

		<div id="ver" style="vertical-align: top; width: 100%;">
			<br />
			<!-- Include de archivos -->
			<ui:include src="/anexosarchivos.xhtml">
				<ui:param name="listaTabla" value="#{miaCap2_2.archivosDescObrasPrinProy}" />
			</ui:include>
			<br />
		</div>

		<p:panel id="comentarios" header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,3,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>
	<br></br>

	<p:panel id = "progTrabajo">
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h3>Programa General del Trabajo</h3>
			</div>
			<div id="tit13" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2_2.proyecto.nsub eq 6}">
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_4_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_4_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_4_0[1]},"tit13");
                                })
                            </c:when>
                        </c:choose>
                    </c:when>
                    <c:otherwise>                
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_3_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_3_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_3_0[1]},"tit13");
                                })
                            </c:when>
                        </c:choose>
                    </c:otherwise>
                </c:choose>  
            </script>
		<div id="ver" style="vertical-align: top; width: 100%;">
			<br />


			<!-- Include de archivos -->
			<ui:include src="/anexosarchivos.xhtml">
				<ui:param name="listaTabla"
					value="#{miaCap2_2.archivosDuracionProyecto}" />
			</ui:include>

		</div>
		<p:panel id="comentario" header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{miaCap2.proyecto.nsub eq 6 ? 4 : 3},0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
		<br />

		<br></br>
		<br></br>
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h3>Duración del Proyecto y Programa de Trabajo</h3>
			</div>
			<div id="tit14" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_2_3 != null}">
                        $('#vistaCapitulo').ready(function() {
                            infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_2_3[0]},#{miaCap2.mapInfoAdicional.cap_2_2_2_3[1]},"tit14");
                        })
                    </c:when>
                </c:choose>
            </script>
		<h:panelGroup id="vidaUtil">
			Vida Útil del Proyecto.
			Año(s): <h:outputText value="#{miaCap2_2.proyecto.proyTiempoVidaAnios}" /> Mes(es): <h:outputLabel value="#{miaCap2_2.proyecto.proyTiempoVidaMeses}" />
			<br />
			<br />

			<table class="table">
				<tr>
					<td>Etapa</td>
					<td>Año</td>
					<td>Mes</td>
					<td>Semanas</td>
				</tr>
				<tr>
					<td>Preparación</td>
					<td><h:outputText value="#{miaCap2_2.etapaPreparacion.anios}" /></td>
					<td><h:outputText value="#{miaCap2_2.etapaPreparacion.meses}" />
					</td>
					<td><h:outputText
							value="#{miaCap2_2.etapaPreparacion.semanas}" /></td>
				</tr>
				<tr>
					<td>Construcción</td>
					<td><h:outputText value="#{miaCap2_2.etapaConstruccion.anios}" /></td>
					<td><h:outputText value="#{miaCap2_2.etapaConstruccion.meses}" />
					</td>
					<td><h:outputText
							value="#{miaCap2_2.etapaConstruccion.semanas}" /></td>
				</tr>
				<tr>
					<td>Operación y Mantenimiento</td>
					<td><h:outputText value="#{miaCap2_2.etapaOperacion.anios}" /></td>
					<td><h:outputText value="#{miaCap2_2.etapaOperacion.meses}" />
					</td>
					<td><h:outputText value="#{miaCap2_2.etapaOperacion.semanas}" />
					</td>
				</tr>
				<tr>
					<td>Abandono</td>
					<td><h:outputText value="#{miaCap2_2.etapaAbandono.anios}" /></td>
					<td><h:outputText value="#{miaCap2_2.etapaAbandono.meses}" />
					</td>
					<td><h:outputText value="#{miaCap2_2.etapaAbandono.semanas}" />
					</td>
				</tr>
			</table>
			<br />
		</h:panelGroup>
		<br></br>
		<p:panel id="comentari" header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,2,3,#{miaCap2_2.bitacora},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>
	<br></br>

<p:panel rendered="#{miaCap2_2.infoBioRender}">
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
			<h3>Información biotecnológica de las especies a cultivar</h3>
			</div>
			<div id="tit24" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_4_0 != null}">
                        $('#vistaCapitulo').ready(function() {
                            infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_4_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_4_0[1]},"tit24");
                        })
                    </c:when>
                </c:choose>
            </script>
		<script>$('#vistaCapitulo').ready(function() {infoAdicional("tit24", 2, 2, 4, 0, '#{miaCap2_2.bitacora}')});</script>

		<h:panelGroup>
			<br/>
				<ui:repeat id="tabinfoBio" var="ib" value="#{miaCap2_2.infoBio}">
				<h:panelGroup id="infobio">			 
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Nombre" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioNombre}" />
					<br/>					
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Tipo de especie" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.especiesAcuiferos.descripcion}" />
					<br/>					
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Origen" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioOrigen}" />
					<br/>					
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Número de organismos a cultivar" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioNumorgCultivar}" />
					<br/>					
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Descripción de sus atributos y/o amenazas potenciales" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioDescAtributosAme}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="La especie es forrajera" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioEspForrajera}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Crías" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioCrias}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Semillas" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioSemillas}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Postlarvas" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioPostlarvas}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Juveniles" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioJuveniles}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Adultos reproductivos" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioAdultReprod}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="No. de ciclos" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioNumciclos}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Biomasa inicial" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioBiomasaInic}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Unidad inicial" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioUnidadInic}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Biomasa esperada" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioBiomasaEsperada}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Unidad esperada" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioUnidadEsperada}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Tipo de alimento" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioTipoAlimento}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Cantidad de alimento" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioCantAlimento}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Unidad alimento" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioUnidadAlmacen}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Forma de almacenamiento" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioFormaAlmacen}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Tipo de abono y/o fertilizante" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioTipabono}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Forma de uso del fertilizante" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioUsoAbono}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Cantidad de suministro" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioCantSuministro}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Unidad de suministro" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioUnidadSuministro}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify" value="Forma de almacenamiento" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ib.bioFormAlmacAbono}" />					
					<hr/>
				</h:panelGroup>
				</ui:repeat>
			<!-- ================================================================================================================================================= -->
			
			<ui:fragment rendered="#{empty miaCap2_2.infoBio}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel
						value="Sin registros." />
				</div>
			</ui:fragment>
		</h:panelGroup>
		<br></br>
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,4,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>

	<div id="carParProy">

		<div class="dgira_h3" style="width: 100%;">
			<div style="float: left; display: block; width: 75%">
				<h3>Etapas del Proyecto</h3>
			</div>
			<div id="tit15" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<br />
		<script>
                    <c:choose>
                        <c:when test="#{miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6}">
                            <c:choose>
                                <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_5_0 != null}">
                                    $('#vistaCapitulo').ready(function() {
                                        infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_5_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_5_0[1]},"tit15");
                                    })
                                </c:when>
                            </c:choose>
                        </c:when>
                        <c:otherwise>                
                            <c:choose>
                                <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_4_0 != null}">
                                    $('#vistaCapitulo').ready(function() {
                                        infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_4_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_4_0[1]},"tit15");
                                    })
                                </c:when>
                            </c:choose>
                        </c:otherwise>
                    </c:choose>  
                </script>
		<br />
		<h:outputText value="No se encontraron etapas del proyecto"
			rendered="#{miaCap2_2.verMsgEtapa}" />
		<!--  Preparación  -->
		<p:separator/>
		<h:panelGroup rendered="#{miaCap2_2.verPreparacion}" id="panPrepSi">
			
			<div class="dgira_h3" style="width: 100%;">
				<div style="float: left; display: block; width: 75%">
					<h4>Preparación del Sitio</h4>
				</div>
				<div id="tit16" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                            <c:choose>
                                <c:when test="#{miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6}">
                                    <c:choose>
                                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_5_1 != null}">
                                            $('#vistaCapitulo').ready(function() {
                                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_5_1[0]},#{miaCap2.mapInfoAdicional.cap_2_2_5_1[1]},"tit16");
                                            })
                                        </c:when>
                                    </c:choose>
                                </c:when>
                                <c:otherwise>                
                                    <c:choose>
                                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_4_1 != null}">
                                            $('#vistaCapitulo').ready(function() {
                                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_4_1[0]},#{miaCap2.mapInfoAdicional.cap_2_2_4_1[1]},"tit16");
                                            })
                                        </c:when>
                                    </c:choose>
                                </c:otherwise>
                            </c:choose>  
                        </script>
			<br />
			<!-- ============================================================================================================================== -->
			<ui:repeat id="al" var="pr" value="#{miaCap2_2.preparaList}">
				<h:panelGroup id="prepa">
					<h:outputText style="bold; font-size:16px;"
						value="Nombre de la actividad" />
					<br />
					<h:outputLabel value="#{pr[1]}" />
					<br />

					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Descripción" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{pr[2]}" />
					<hr/>
					<br />
					<br />
				</h:panelGroup>
			</ui:repeat>
			
			<ui:fragment rendered="#{empty miaCap2_2.preparaList}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel value="Sin registros." />
				</div>
			</ui:fragment>
			
			<!-- ============================================================================================================================== -->
			<!-- Include de archivos -->
			<ui:include src="/anexosarchivos.xhtml">
				<ui:param name="listaTabla" value="#{miaCap2_2.archivos1}" />
			</ui:include>
		</h:panelGroup>

		<br /> <br />
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{(miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6) ? 5 : 4},1,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
		<br />

		<!--  Construcción  -->
		<h:panelGroup rendered="#{miaCap2_2.verConstruccion}" id="panPrepCo">
			<br />
			<br />
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h4>Construcción</h4>
				</div>
				<div id="tit17" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                            <c:choose>
                                <c:when test="#{miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6}">
                                    <c:choose>
                                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_5_2 != null}">
                                            $('#vistaCapitulo').ready(function() {
                                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_5_2[0]},#{miaCap2.mapInfoAdicional.cap_2_2_5_2[1]},"tit17");
                                            })
                                        </c:when>
                                    </c:choose>
                                </c:when>
                                <c:otherwise>                
                                    <c:choose>
                                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_4_2 != null}">
                                            $('#vistaCapitulo').ready(function() {
                                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_4_2[0]},#{miaCap2.mapInfoAdicional.cap_2_2_4_2[1]},"tit17");
                                            })
                                        </c:when>
                                    </c:choose>
                                </c:otherwise>
                            </c:choose>  
                        </script>
			
			<br />
			<!-- ============================================================================================================================== -->
			<ui:repeat id="ali" var="cons" value="#{miaCap2_2.construList}">
				<h:panelGroup id="contruccion">
					<h:outputText style="bold; font-size:16px;"
						value="Nombre de la actividad" />
					<br />
					<h:outputLabel value="#{cons[1]}" />
					<br />

					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Descripción" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{cons[2]}" />
					<hr/>
					<br />
					<br />
				</h:panelGroup>
			</ui:repeat>
			<ui:fragment rendered="#{empty miaCap2_2.construList}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel value="Sin registros." />
				</div>
			</ui:fragment>
			<!-- ============================================================================================================================== -->

			<!-- Include de archivos -->
			<ui:include src="/anexosarchivos.xhtml">
				<ui:param name="listaTabla" value="#{miaCap2_2.archivos2}" />
			</ui:include>

		</h:panelGroup>

		<div id="ver" style="vertical-align: top; width: 100%;">
			<br />

		</div>
		<br />
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{(miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6) ? 5 : 4},2,#{miaCap2_2.bitacora},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
		<br />

		<!--  Operación y mantenimiento  -->
		<h:panelGroup rendered="#{miaCap2_2.verOperacion}" id="panPrepOp">
			<br />
			<br />
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h4>Operación y Mantenimiento</h4>
				</div>
				<div id="tit18" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                            <c:choose>
                                <c:when test="#{miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6}">
                                    <c:choose>
                                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_5_3 != null}">
                                            $('#vistaCapitulo').ready(function() {
                                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_5_3[0]},#{miaCap2.mapInfoAdicional.cap_2_2_5_3[1]},"tit18");
                                            })
                                        </c:when>
                                    </c:choose>
                                </c:when>
                                <c:otherwise>                
                                    <c:choose>
                                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_4_3 != null}">
                                            $('#vistaCapitulo').ready(function() {
                                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_4_3[0]},#{miaCap2.mapInfoAdicional.cap_2_2_4_3[1]},"tit18");
                                            })
                                        </c:when>
                                    </c:choose>
                                </c:otherwise>
                            </c:choose>  
                        </script>
		
			<br />
			<!-- ============================================================================================================================== -->
			<ui:repeat id="opema" var="ope" value="#{miaCap2_2.operaciList}">
				<h:panelGroup id="operaacion">
					<h:outputText style="bold; font-size:16px;"
						value="Nombre de la actividad" />
					<br />
					<h:outputLabel value="#{ope[1]}" />
					<br />

					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Descripción" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{ope[2]}" />
					<hr/>
					<br />
					<br />
				</h:panelGroup>
			</ui:repeat>
			
			<ui:fragment rendered="#{empty miaCap2_2.operaciList}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel value="Sin registros." />
				</div>
			</ui:fragment>
			<!-- ============================================================================================================================== -->

			<!-- Include de archivos -->
			<ui:include src="/anexosarchivos.xhtml">
				<ui:param name="listaTabla" value="#{miaCap2_2.archivos3}" />
			</ui:include>

		</h:panelGroup>

		<div id="ver" style="vertical-align: top; width: 100%;">
			<br />
		</div>
		<br />
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{(miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6) ? 5 : 4},3,#{miaCap2_2.bitacora},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
		<br />

		<!--  Abandono  -->
		<h:panelGroup rendered="#{miaCap2_2.verAbandono}" id="panPrepAb">
			<br />
			<br />
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h4>Abandono</h4>
				</div>
				<div id="tit19" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<script>
                            <c:choose>
                                <c:when test="#{miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6}">
                                    <c:choose>
                                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_5_4 != null}">
                                            $('#vistaCapitulo').ready(function() {
                                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_5_4[0]},#{miaCap2.mapInfoAdicional.cap_2_2_5_4[1]},"tit19");
                                            })
                                        </c:when>
                                    </c:choose>
                                </c:when>
                                <c:otherwise>                
                                    <c:choose>
                                        <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_4_0 != null}">
                                            $('#vistaCapitulo').ready(function() {
                                                infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_4_4[0]},#{miaCap2.mapInfoAdicional.cap_2_2_4_4[1]},"tit19");
                                            })
                                        </c:when>
                                    </c:choose>
                                </c:otherwise>
                            </c:choose>  
                        </script>
			<br />
			<br />
			
			<!-- ===========================================================================================================================================0 -->
			
			<ui:repeat id="abandono" var="aban" value="#{miaCap2_2.abandonList}">
				<h:panelGroup id="abandono">
					<h:outputText style="bold; font-size:16px;"
						value="Nombre de la actividad" />
					<br />
					<h:outputLabel value="#{aban[1]}" />
					<br />

					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Descripción" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{aban[2]}" />
					<hr/>
					<br />
					<br />
				</h:panelGroup>
			</ui:repeat>
			<ui:fragment rendered="#{empty miaCap2_2.abandonList}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel value="Sin registros." />
				</div>
			</ui:fragment>
			<!-- ===========================================================================================================================================0 -->	
			<!-- Include de archivos -->
			<ui:include src="/anexosarchivos.xhtml">
				<ui:param name="listaTabla" value="#{miaCap2_2.archivos4}" />
			</ui:include>

		</h:panelGroup>

		<div id="ver" style="vertical-align: top; width: 100%;">
			<br />
		</div>
		<br />
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{(miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 6) ? 5 : 4},4,#{miaCap2_2.bitacora},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
		<br />
	</div>
	<br />


	<br></br>
	<p:panel id ="insumProyec" rendered="#{miaCap2_2.isInsumos}">

		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">Insumos</div>
			<div id="tit20" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2_2.proyecto.nsub eq 6}">
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_6_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_6_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_6_0[1]},"tit20");
                                })
                            </c:when>
                        </c:choose>
                    </c:when>
                    <c:otherwise>                
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_5_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_5_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_5_0[1]},"tit20");
                                })
                            </c:when>
                        </c:choose>
                    </c:otherwise>
                </c:choose>  
            </script>
		<h:dataTable value="#{miaCap2_2.insumos}" var="ins" id="tabInsumo">
			<h:column>
				<f:facet name="header">Etapa</f:facet>
				<h:outputText value="#{ins.catEtapa}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nombre <br>Común</br>
				</f:facet>
				<h:outputText id="asd" value="#{ins.insumoNomCmoun}" />
			</h:column>
			<h:column>
				<f:facet name="header">Nombre<br> Técnico</br>
				</f:facet>
				<h:outputText id="control" value="#{ins.insumoNomTecnico}" />
			</h:column>
			<h:column>
				<f:facet name="header">Estado <br>Físico</br>
				</f:facet>
				<h:outputText id="jh" value="#{ins.insumoEstadoFisico}" />
			</h:column>
			<h:column>
				<f:facet name="header">Cantidad <br>Almacenada</br>
				</f:facet>
				<h:outputText value="#{ins.insumoCantAlm}" style="width: 50px" />
			</h:column>
			<h:column>
				<f:facet name="header">Unidad</f:facet>
				<h:outputText value="#{ins.cveClve}" />
			</h:column>
			<h:column>
				<f:facet name="header">Cantidad <br>Mensual</br>
				</f:facet>
				<h:outputText value="#{ins.insumoCantMensual}" style="width: 50px" />
			</h:column>
			<h:column>
				<f:facet name="header">Unidad</f:facet>
				<h:outputText value="#{ins.clveCantMensual}" />
			</h:column>
		</h:dataTable>
		<ui:fragment rendered="#{empty miaCap2_2.insumos}">
			<br />
			<div class="alert alert-danger">
				<h:outputLabel value="Sin registros." />
			</div>
		</ui:fragment>
		<div id="ver" style="vertical-align: top; width: 100%;">
			<br />

		</div>
		<br></br>
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{miaCap2_2.proyecto.nsub eq 6 ? 6 : 5},0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>
	<br></br>
	<p:panel id = "sustanciasRies">
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%"><h3>Sustancias riesgosas o Actividades altamente riesgosas</h3></div>
			<div id="tit21" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 7}">
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_6_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_6_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_6_0[1]},"tit21");
                                })
                            </c:when>
                        </c:choose>
                    </c:when>
                    <c:when test="#{miaCap2_2.proyecto.nsub eq 6}">
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_7_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_7_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_7_0[1]},"tit21");
                                })
                            </c:when>
                        </c:choose>
                    </c:when>
                    <c:otherwise>                
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_5_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_5_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_5_0[1]},"tit21");
                                })
                            </c:when>
                        </c:choose>
                    </c:otherwise>
                </c:choose>  
            </script>

		<!-- Tabla agregada para hacer la consulta -->
		<p:dataTable style="text-align: justify;" value="#{miaCap2_2.proyectoSustancia}" var="s" id="tabSus" rowIndexVar ="rowIndex" emptyMessage="Sin registros." paginator="true" paginatorPosition="bottom" rows="5"  >
			<p:column style="width: 4%;font-size: 12px;">
				<f:facet name="header">No.</f:facet>
				<h:outputText value="#{rowIndex+1}" />
			</p:column>

			<p:column style="width: 30%;font-size: 12px;" sortBy="#{s[2]}">
				<f:facet name="header">Etapa</f:facet>
				<h:outputText value="#{s[2]}" />
			</p:column>

			<p:column style="width: 30%;font-size: 12px;">
				<f:facet name="header">Tipo de sustancia</f:facet>
				<h:outputText value="#{s[3]}" />
			</p:column>

			<p:column style="width: 30%;font-size: 12px;">
				<f:facet name="header">Cantidad almacenada</f:facet>
				<h:outputText value="#{s[4]}" />
			</p:column>

			<p:column style="width: 30%;font-size: 12px;">
				<f:facet name="header">Hoja de Seguridad</f:facet>
				<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{s[0]}"
				target="_blank">#{s[5]}</a>
			</p:column>			
		</p:dataTable>
		
		<!-- Fin de tablas agregadas -->
		<br></br>
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{(miaCap2_2.proyecto.nsub eq 4 || miaCap2_2.proyecto.nsub eq 7) ? 6 : (miaCap2_2.proyecto.nsub eq 6) ? 7 : 5},0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>
	<br></br>
	<p:panel id ="explo" rendered="#{miaCap2_2.explosivos}">
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%"><h3>Utilización de explosivos</h3>
				</div>
			<div id="tit22" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2_2.proyecto.nsub eq 7}">
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_7_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_7_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_7_0[1]},"tit22");
                                })
                            </c:when>
                        </c:choose>
                    </c:when>
                    <c:otherwise>                
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_6_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_6_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_6_0[1]},"tit22");
                                })
                            </c:when>
                        </c:choose>
                    </c:otherwise>
                </c:choose>  
            </script>
		<h:panelGroup>
		
			<!-- ================================================================================================================================================= -->
				<ui:repeat id="dexp" var="e" value="#{miaCap2_2.listExplo}">
				<h:panelGroup id="explosivos">
					<h:outputText style="bold; font-size:16px;"
						value="Etapa " />
					<br />
					<h:outputLabel value="#{e[1]}" />
					<br />

					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Actividad" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{e[3]}" />
					<br/>
					<h:outputText style="bold; font-size:16px; text-align:justify;"
						value="Justificación" />
					<br />
					<h:outputLabel  style="text-align:justify" value="#{e[4]}" />
					<br />
					<h:outputText style="bold; font-size:16px; text-align:justify;"
						value="Metodología " />
					<br />
					<h:outputLabel  style="text-align:justify" value="#{e[5]}" />
					<hr/>
					<br />
					<br />
				</h:panelGroup>
				</ui:repeat>
			<!-- ================================================================================================================================================= -->
			<ui:fragment rendered="#{empty miaCap2_2.explosivosList}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel value="Sin registros." />
				</div>
			</ui:fragment>
		</h:panelGroup>
		<br></br>
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{miaCap2_2.proyecto.nsub eq 7 ? 7 : 6},0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>
	<br></br>
	<p:panel id ="generacion">
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
			<h3>Generación, Manejo y Disposición de Residuos Sólidos, Líquidos y Emisiones a la Atmósfera.</h3>
			</div>
			<div id="tit23" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2_2.proyecto.nsub eq 6 || miaCap2_2.proyecto.nsub eq 7}">
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_8_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_8_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_8_0[1]},"tit23");
                                })
                            </c:when>
                        </c:choose>
                    </c:when>
                    <c:when test="#{miaCap2_2.proyecto.nsub eq 2}">
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_6_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_6_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_6_0[1]},"tit23");
                                })
                            </c:when>
                        </c:choose>
                    </c:when>
                    <c:otherwise>                
                        <c:choose>
                            <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_7_0 != null}">
                                $('#vistaCapitulo').ready(function() {
                                    infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_7_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_7_0[1]},"tit23");
                                })
                            </c:when>
                        </c:choose>
                    </c:otherwise>
                </c:choose>  
            </script>
		<script>$('#vistaCapitulo').ready(function() {infoAdicional("tit20", 2, 2, #{(miaCap2_2.proyecto.nsub eq 6 || miaCap2_2.proyecto.nsub eq 7) ? 8 : (miaCap2_2.proyecto.nsub eq 2) ? 6 : 7}, 0, '#{miaCap2_2.bitacora}')});</script>
<p:separator/>
		<h:panelGroup>
		
			<!-- ================================================================================================================================================= -->
			<br/>
				<ui:repeat id="tabCon" var="c" value="#{miaCap2_2.contaminanteList}">
				<h:panelGroup id="contam">			 
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Etapa" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{c.etapaProyecto.catEtapa.etapaDescripcion}" />
					<br/>
					
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Tipo" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{c.catContaminante}" />
					<br/>
					
					
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Emisiones, residuos o descargas" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{c.contaminanteMedidaControl != null ? c.contaminanteMedidaControl : 'No aplica'}" />
					<br/>
					
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Descripción de emisiones, residuos o descargas" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{c.descEmiResiDes}" />
					<br/>			
					
					
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Cantidad" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{c.contaminanteCantidad}  #{c.ctunClave.ctunDesc}" />
					<br/>
					
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Fuente emisora" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{c.fuenteEmisora != null  ? c.fuenteEmisora : 'No aplica'}" />
					<br/>
					
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Manejo/disposición de los residuos o emisiones" />
					<br />
					<h:outputLabel style="text-align:justify" value="#{c.observaciones != null ? c.observaciones : 'No aplica'}" />
					<br/>
					 
					<hr/>
					<br />
					<br />
				</h:panelGroup>
				</ui:repeat>
			<!-- ================================================================================================================================================= -->
			
			<ui:fragment rendered="#{empty miaCap2_2.contaminanteList}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel
						value="Sin registros." />
				</div>
			</ui:fragment>
		</h:panelGroup>
		<br></br>
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,#{(miaCap2_2.proyecto.nsub eq 6 || miaCap2_2.proyecto.nsub eq 7) ? 8 : (miaCap2_2.proyecto.nsub eq 2) ? 6 : 7},0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>
	
	<p:panel rendered="#{miaCap2_2.accidentesAmb}">
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
			<h3>Posibles accidentes ambientales</h3>
			</div>
			<div id="tit25" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<p:separator/>
		<br />
		<script>
                <c:choose>
                    <c:when test="#{miaCap2.mapInfoAdicional.cap_2_2_8_0 != null}">
                        $('#vistaCapitulo').ready(function() {
                            infoAdicional(#{miaCap2.mapInfoAdicional.cap_2_2_8_0[0]},#{miaCap2.mapInfoAdicional.cap_2_2_8_0[1]},"tit25");
                        })
                    </c:when>
                </c:choose>
            </script>
		<script>$('#vistaCapitulo').ready(function() {infoAdicional("tit25", 2, 2, 8, 0, '#{miaCap2_2.bitacora}')});</script>

		<h:panelGroup>
			<br/>
			<ui:repeat id="tabinfoBo" var="ab"
				value="#{miaCap2_2.accidenteList}">
				<h:panelGroup id="infobio">
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Tipo de accidente" />
					<br />
					<h:outputLabel style="text-align:justify"
						value="#{ab.tipoAccidente}" />
					<br />
					<h:outputText style="bold; font-size:16px; text-align:justify"
						value="Efectos secundarios, medidas de seguridad y plan de contingencia" />
					<br />
					<h:outputLabel style="text-align:justify"
						value="#{ab.efectosSecundarios}" />
					<hr />
				</h:panelGroup>
			</ui:repeat>

			<ui:fragment rendered="#{empty miaCap2_2.accidenteList}">
				<br />
				<div class="alert alert-danger">
					<h:outputLabel
						value="Sin registros." />
				</div>
			</ui:fragment>
		</h:panelGroup>
		<br></br>
		<p:panel header="Comentarios" collapsed="true" toggleable="true"
			toggleOrientation="horizontal" style="width:90%;">
			<iframe width="100%" height="375px"
				src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,8,0,#{miaCap2.pramBita},#{miaCap2.idusuario}"
				frameborder="0"></iframe>
		</p:panel>
	</p:panel>

</ui:composition>
</html>