<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    
    <f:view id="vistaCapitulo">
        <h:outputScript name="/js/infoadicional.js" target="head" />        
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
        </h:head>
        <h:body>
            <p:panel>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Datos del Responsable del Estudio de Riesgo</h3></div>
                    <div id="tit1" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_1_0_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_1_0_0[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_1_0_0[1]},"tit1");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                <h:panelGrid columns="2" border="0" width="600">                    
                    <h:outputLabel value="Nombre o razón social de la empresa responsable de elaborar el estudio de riesgo:"/>
                    <h:outputLabel value="#{estudioRiesgoView.estudio.estudioNomRespEla}"/>
                    <h:outputLabel value="RFC:"/>
                    <h:outputLabel value="#{estudioRiesgoView.estudio.estudioRfcRespEla}"/>
                    <h:outputLabel value="Nombre del representante legal:" />
                    <h:outputLabel value="#{estudioRiesgoView.estudio.estudioNomRpteLegal}"/>
                    <h:outputLabel value="RFC del representante legal:" />
                    <h:outputLabel value="#{estudioRiesgoView.estudio.estudioRfcRpte}"/> 
                </h:panelGrid>
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,1,0,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            
            <p:panel>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Bases de Diseño</h3></div>
                    <div id="tit2" style="float:right;width: 25%;height: 100%"></div>
                </div><br/><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_0[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_0[1]},"tit2");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioDescBasesDise}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosBasesDis}" />
					</ui:include>
				
                </div>
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,1,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
                <br/><br/>
            </p:panel>
           
            <p:panel>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Proyecto Civil</h3></div>
                    <div id="tit3" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_1 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_1[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_1[1]},"tit3");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                <p:outputPanel>   
                     
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioProyectoCivil}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosProyCivil}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,1,1,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Proyecto Mecánico</h3></div>
                    <div id="tit4" style="float:right;width: 25%;height: 100%"></div>
                </div>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_2 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_2[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_2[1]},"tit4");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioProyectoMecanico}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosProyMecanico}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,1,2,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
        
        
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Proyecto Sistema Contra - Incendio</h3></div>
                    <div id="tit5" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_3 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_3[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_1_3[1]},"tit5");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                <br/><br/><br/>
                <p:outputPanel>   
                     
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioProyectoIncendio}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosProySisConInc}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,1,3,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--I.2 Descripción Detallda del Proceso-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Descripción Detallada del Proceso</h3></div>
                    <div id="tit6" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_0[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_0[1]},"tit6");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioDetalladaProceso}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosDescDetPro}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,2,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--I.2.1 Hojas de Seguridad-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Hojas de Seguridad</h3></div>
                    <div id="tit7" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_1 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_1[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_1[1]},"tit7");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                
                <p:dataTable style="text-align: justify;" value="#{miaCap2_2.proyectoSustancia}" var="s" id="tabSus" rowIndexVar ="rowIndex" emptyMessage="Sin registros." paginator="true" paginatorPosition="bottom" rows="5"  >
			<p:column style="width: 4%;font-size: 12px;">
				<f:facet name="header">No.</f:facet>
				<h:outputText value="#{rowIndex+1}" />
			</p:column>

			<p:column style="width: 30%;font-size: 12px;" >
				<f:facet name="header">Etapa</f:facet>
				<h:outputText value="#{s[2]}" />
			</p:column>

			<p:column style="width: 30%;font-size: 12px;">
				<f:facet name="header">Tipo de sustancia</f:facet>
				<h:outputText value="#{s[3]}" />
			</p:column>

			<p:column style="width: 30%;font-size: 12px;">
				<f:facet name="header">Cantidad almacenada</f:facet>
				<h:outputText value="#{s[4]}" />
			</p:column>

			<p:column style="width: 30%;font-size: 12px;">
				<f:facet name="header">Hoja de Seguridad</f:facet>
				<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{s[0]}"
				target="_blank">#{s[5]}</a>
			</p:column>			
		</p:dataTable>
                
                				
                <ui:fragment rendered="#{empty estudioRiesgoView.proyectoSustancia}">
                    <br/>
                    <div class="alert alert-danger">
                        <h:outputLabel value="No exiten registros para su consulta."/>
                    </div>
                </ui:fragment>             
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,2,1,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--I.2.2 Almacenamiento-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Almacenamiento</h3></div>
                    <div id="tit8" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_2 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_2[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_2[1]},"tit8");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioAlmacenamiento}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosAlmacenamiento}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,2,2,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--I.2.3 Equipos de Proceso y Auxiliares-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Equipos de Proceso y Auxiliares</h3></div>
                    <div id="tit9" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_3 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_3[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_3[1]},"tit9");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioProcesoAuxiliar}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosEquiposProAux}" />
					</ui:include>
                    
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,2,3,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--I.2.4 Pruebas de Verificación-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Pruebas de Verificación</h3></div>
                    <div id="tit10" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_4 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_4[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_2_4[1]},"tit10");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioPruebasVerificacion}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosPruebasVer}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,2,4,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
           
            <!--I.3 Condiciones de Operación-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Condiciones de Operación</h3></div>
                    <div id="tit11" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_0[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_0[1]},"tit11");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                      
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioOperacion}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosCondOper}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,3,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
         
            <!--I.3.1 Especificación del Cuarto de Control-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Especificación del Cuarto de Control</h3></div>
                    <div id="tit11_5" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_1 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_1[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_1[1]},"tit11_5");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                     
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioCuartoControl}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    
                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosEspeCuarCon}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,3,1,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--I.3.2 Sistema de Aislamiento-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Sistema de Aislamiento</h3></div>
                    <div id="tit12" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_2 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_2[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_3_2[1]},"tit12");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                     
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioSistemaAislamiento}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosSisAisla}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,3,2,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--I.4 Análisis y evaluación de riesgos-->
            <!--I.4.1 Antecedentes de accidentes e incidentes-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Análisis y Evaluación de Riesgos <br></br>Antecedentes de Accidentes e Incidentes</h3></div>
                    <div id="tit13" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_4_1 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_4_1[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_4_1[1]},"tit13");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioAntecedentesAcci}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosAnteAccideInc}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,4,1,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--I.4.2 Metodologías de Identificación y Jerarquización de los Riesgos-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Metodologías de Identificación y Jerarquización de los Riesgos</h3></div>
                    <div id="tit14" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_2_4_2 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_2_4_2[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_2_4_2[1]},"tit14");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioJerarRiesgo}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosMetIdeJerarRies}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,2,4,2,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            
            <!-- II.1 Radios Potenciales de Afectación-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Radios Ponteciales de Afectación</h3></div>
                    <div id="tit15" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>$('#vistaCapitulo').ready(function() {infoAdicional("tit15", 10, 3, 1, 0, '#{estudioRiesgoView.pramBita}')});</script>
                
                <br/><br/><br/>
                <p:outputPanel>   
                      
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioRadiosPotenciales}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosRadiosPotenAfec}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,3,1,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!-- II.2 Interacciones de Riesgo-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Interacciones de Riesgo</h3></div>
                    <div id="tit16" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_3_2_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_3_2_0[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_3_2_0[1]},"tit16");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioRadiosPotenciales}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosInteraccionesRiesgo}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,3,2,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!-- II.3 Efectos Sobre el Área de Influencia-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Efectos Sobre el Área de Influencia</h3></div>
                    <div id="tit17" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_3_3_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_3_3_0[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_3_3_0[1]},"tit17");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                      
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioEfectosAreaInflu}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosEfectosSAreaInflu}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,3,3,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--III.1 Recomendaciones Técnico - Operativas-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Recomendaciones Técnico-Operativas</h3></div>
                    <div id="tit18" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_4_1_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_4_1_0[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_4_1_0[1]},"tit18");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                     
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioRecomendacionesTecOp}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosRecoTecOper}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,4,1,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--III.1.1 Sistemas de Seguridad-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Sistemas de Seguridad</h3></div>
                    <div id="tit19" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>$('#vistaCapitulo').ready(function() {infoAdicional("tit19", 10, 4, 1, 1, '#{estudioRiesgoView.pramBita}')});</script>
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioSistemasSeguridad}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosSisSeg}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,4,1,1,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--III.1.2 Medidas Preventivas-->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Medidas Preventivas</h3></div>
                    <div id="tit20" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_4_1_2 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_4_1_2[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_4_2_1[1]},"tit20");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioSistemasSeguridad}" /> 
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosMedidasPreve}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,4,1,2,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
        
            
            <!--IV.1 Señalar las Conclusiones del Estudio de Riesgo Ambiental-->
            	<p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Señalar las Conclusiones del Estudio de Riesgo Ambiental</h3></div>
                    <div id="tit21" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>$('#vistaCapitulo').ready(function() {infoAdicional("tit21", 10, 5, 1, 0, '#{estudioRiesgoView.pramBita}')});</script>
                
                <br/><br/><br/>
                <p:outputPanel>   
                     
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioSenalaConclusion}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosSeConcluEstRieAmb}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,5,1,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--IV.2 HACER UN RESUMEN DE LA SITUACIÓN GENERAL QUE PRESENTA EL PROYECTO EN MATERIA DE RIESGO AMBIENTAL-->
            	<p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Hacer un Resumen de la Situación General que Presenta el Proyecto en Materia de Riesgo Ambiental</h3></div>
                    <div id="tit22" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>$('#vistaCapitulo').ready(function() {infoAdicional("tit22", 10, 5, 2, 0, '#{estudioRiesgoView.pramBita}')});</script>
                
                <br/><br/><br/>
                <p:outputPanel>   
                    
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioResumenSituacion}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosSitGralPreProyMatRieAmb}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,5,2,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--IV.3 PRESENTAR EL INFORME TÉCNICO DEBIDAMENTE LLENADO -->
            	<p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Presentar el Informe Técnico Debidamente Llenado</h3></div>
                    <div id="tit23" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>$('#vistaCapitulo').ready(function() {infoAdicional("tit23", 10, 5, 3, 0, '#{estudioRiesgoView.pramBita}')});</script>
                
                <br/><br/><br/>
                <p:outputPanel>   
                      
                    <h:outputLabel style="text-align:justify" value="#{estudioRiesgoView.estudioInformeTecnico}" />
                </p:outputPanel>
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosPreInfTec}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,5,3,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--V.1.1 PLANOS DE LOCALIZACIÓN Y V.1.2 FOTOGRAFÍAS -->
            	<p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Planos de localización y Fotografías</h3></div>
                    <div id="tit24" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>$('#vistaCapitulo').ready(function() {infoAdicional("tit24", 10, 6, 1, 0, '#{estudioRiesgoView.pramBita}')});</script>
                
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosPlanosLocaFoto}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,6,1,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <!--V.2 OTROS ANEXOS -->
            <p:panel>
                <br/><br/>
                <div class="dgira_h3" style="width: 100%; height: 50px">
                    <div style="float:left;display: block;width: 75%"><h3>Otros Anexos</h3></div>
                    <div id="tit25" style="float:right;width: 25%;height: 100%"></div>
                </div><br/>
                <script>
                    <c:choose>
                        <c:when test="#{estudioRiesgoView.mapInfoAdicional.cap_10_6_2_0 != null}">
                            $('#vistaCapitulo').ready(function() {
                                infoAdicional(#{estudioRiesgoView.mapInfoAdicional.cap_10_6_2_0[0]},#{estudioRiesgoView.mapInfoAdicional.cap_10_6_2_0[1]},"tit25");
                            })
                        </c:when>
                    </c:choose>
                </script>                
                
                <br></br>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>

                    <!-- Include de archivos --> 
                    <ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{estudioRiesgoView.archivosOtrosAnexos}" />
					</ui:include>
					
                </div>
                               
                <br></br>
                <p:panel  header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=10,6,2,0,#{estudioRiesgoView.pramBita},#{estudioRiesgoView.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
        
        
        
        
        </h:body>
    </f:view>   
</html>

