<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title> Módulo de Evaluación </title>   
        </h:head>  
        <h:body>
            
            
            <h:outputStylesheet library="css" name="moduloEvaluacion.css" />
            <h:outputStylesheet library="css" name="bootstrap.css" />
            <h:outputStylesheet library="css" name="otros.css"  />
            <p:growl id="growl" autoUpdate="true"/>
            <p:layout fullPage="true">
                <!-- Menu arriba -->
                <p:layoutUnit position="north" size="190" resizable="true" collapsible="true"  collapsed="true">
                    <ui:include src="Commons/Menu/TopMenu_1.xhtml"/>
                </p:layoutUnit>
                
                    
                <!-- Menu abajo -->
                <p:layoutUnit position="south" header="Reporte Técnico de Evaluación(RTE)" collapsible="true" resizable="true" collapsed="true" size="70%">
                    
                    <p:tabView id="view_south" style="font-size: 12px;">
                        <p:tab title="Contenido">
                            <p:tabView id="view_south2" orientation="left" dynamic="true" effect="fade" effectDuration="slow" activeIndex="0"
                                       rendererType="org.primefaces.component.WizardRenderer"  >
                                <p:tab title="" disabled="true">
                                </p:tab>
                                <p:tab title="Validaci&oacute;n de checkList">
                                    <p:panel>
                                        <ui:include src="Commons/CheckList.xhtml"/>
                                    </p:panel>
                                </p:tab>
                                <p:tab title="S&iacute;ntesis para la Gaceta">
                                    <h:panelGroup>
                                        <ui:include src="Commons/Sintesis.xhtml"/>
                                    </h:panelGroup>
                                </p:tab>                                
                                <!-- ******************* TURNADO DE TRÁMITE ***********************************  -->
                                <p:tab title="Turnado de trámite"  rendered="#{isInRole.directorArea or isInRole.subDirector}">
                                    <p:panel>
                                       <ui:include src="Commons/RTE.xhtml"/>
                                   </p:panel>
                                </p:tab>
                                <!-- ******************* TURNADO DE OFICIO Prevencion ***********************************  --> 
                                <p:tab>  
                                    <f:facet name="title"> 
                                        <h:outputText value=" Turnar Oficio Prevención"/> 
                                    </f:facet> 
                                    <h:panelGroup> 
                                       <ui:include src="Commons/Prevencion.xhtml"/> 
                                    </h:panelGroup> 
                                </p:tab>                                 
                                <!-- ******************* Resolucion ***********************************  -->
                                <p:tab title="Resoluci&oacute;n" >
                                    <h:panelGroup>
                                       <ui:include src="Commons/Resolucion.xhtml"/>
                                   </h:panelGroup>
                                </p:tab>
                            </p:tabView>
                        </p:tab>
                       
                    </p:tabView>
                </p:layoutUnit>
                <!-- Menu Centro -->
                <!--<p:layoutUnit position="center">
                    <ui:include src="Commons/DetalleProyectoEnVisor.xhtml" />
                </p:layoutUnit>-->
                <p:layoutUnit position="center" collapsible="false" resizable="false">
                    
                    <iframe id="ifrmPrincipal" frameborder="0" src="" width="100%" style="height:0px;overflow:auto;" >                        
                    </iframe>
                    <h:panelGroup id="detalleProySec">
                        <ui:include src="Commons/DetalleProyectoEnVisor.xhtml"  />
                    </h:panelGroup>
                </p:layoutUnit>

                <!-- Menu derecha -->
                <p:layoutUnit position="west" size="275" header="Informe Preventivo - IP" collapsible="true" resizable="false">

                    <ui:include src="Commons/Menu/MenuIP.xhtml"/>
                </p:layoutUnit>
                <!-- Menu izq -->
                <p:layoutUnit position="east" size="275" header="Menú de opciones" collapsible="true" resizable="true" collapsed="true">
                    <ui:include src="Commons/Menu/MenuEast.xhtml"/>
                    <!--<ui:include src="Commons/Menu/MenuDocumentosIP.xhtml"/>-->
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>
