<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title> Módulo de Evaluación Principal</title>
        <f:metadata>
            <f:viewParam name="numBitacora" value="#{historialSD.bitacoraNom}" /> 
        </f:metadata>
    </h:head>  
    <h:body>
        <h:outputStylesheet library="css" name="moduloEvaluacion.css" />
        <h:outputStylesheet library="css" name="otros.css"  />
        <p:layout fullPage="true">
            <p:growl id="messages" autoUpdate="true" sticky="true" />
            <!-- Menu Arriba -->
            <p:layoutUnit position="north" size="78" resizable="true" closable="true">
                <ui:include src="Commons/Menu/TopMenu.xhtml"/>
            </p:layoutUnit>
            <!-- Menu Centro -->
            <p:layoutUnit position="center">
                <ui:include src="Commons/DetalleProyecto.xhtml" />
            </p:layoutUnit>
            <!-- Menu Izq -->
            <!--<p:layoutUnit position="east" size="235" header="Menú de opciones" collapsible="true" resizable="true" >
                <h:form>
                    <p:panelMenu>
                        <p:submenu label="Reportes">
                            <p:menuitem value="Buscar documento foliado" url="#" />
                            <p:menuitem value="Reporte de oficios " url="#" />
                        </p:submenu>
                    </p:panelMenu>
                </h:form>
            </p:layoutUnit>-->
        </p:layout>
    </h:body>
</html>
