<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <f:view>
        <h:head>
            <title> Módulo de Evaluación Principal</title>
            <!-- Subdirector -->
        </h:head>  
        <h:body>
        	<p:panel id="pnlReportesProy"></p:panel>
            <h:outputStylesheet library="css" name="moduloEvaluacion.css"/>
            <h:outputStylesheet library="css" name="otros.css"/>
            
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="78" resizable="true" closable="true">
                    <ui:include src="Commons/Menu/TopMenu.xhtml"/>
                </p:layoutUnit>
                <!-- Página central -->
                <p:layoutUnit position="center">
 
                    <ui:include src="Commons/ContenidoAdministracionUsuarios.xhtml"/>
                    <br/>
<!--                     <h:panelGroup rendered="#{(!isInRole.directorGeneral)}"> -->
<!--                         <ui:include src="Commons/ContenidoTablaProyectos.xhtml" /> -->
<!--                     </h:panelGroup> -->
<!--                     <br/> -->
<!--                     <br/> -->
<!--                     <h:panelGroup rendered="#{isInRole.directorGeneral}"> -->
<!--                         <ui:include src="Commons/ContenidoTablaProyectos.xhtml" /> -->
<!--                     </h:panelGroup> -->
					<ui:include src="Commons/ContenidoAdministracionDirectorio.xhtml"/>
<!-- 					<ui:include src="Commons/Menu/views/UnidadesAdministrativas.xhtml"/> -->
                    <br/>
                </p:layoutUnit>
                <!-- Página izquierda -->
               <!-- <p:layoutUnit position="east" size="275" header="Menú de opciones" collapsible="true" resizable="true" collapsed="true">
                    <ui:include src="Commons/Menu/MenuEast.xhtml"/>
                </p:layoutUnit>-->
            </p:layout>
           
<!-- /////////////////////////////////////////////////////////////////////// Ventana modal de administracion de Roles de Usuario /////////////////////////////////////////////////// -->
           <p:dialog widgetVar="modalAdm" id="modalAdm" modal="true" closable="false" resizable="false">
			<f:facet name="header">
					<h4 class="modal-title">Administrar</h4>
			</f:facet>
			<h:form id="Administrar">
			
				<p:growl id="messageRol" showDetail="true"/>
			
               <h:panelGrid id="pnlAdm" columns="2" columnClasses="label, value">
                    <h:outputText value="Nombre:" />
                    <p:inputText class="form-control" value="#{administracionView.usuario.idempleado.nombre} #{administracionView.usuario.idempleado.apellidopaterno} #{administracionView.usuario.idempleado.apellidomaterno}" 
                        readonly="true" style="width: 100%"/>
 
                    <h:outputText value="Usuario:" />
                    <p:inputText class="form-control" value="#{administracionView.usuario.usuario}" readonly="true" style="width: 100%"/>                   
                
	                <br/>
	                <br/>
	                
	                <!-- ======================================= ROLES DE OFICINAS CENTRALES (DISTRITO FEDERAL ========================================== -->
	                
	                <p:outputPanel rendered="#{loginView.entidadFederativa.idEntidadFederativa == '09'}">
	
		                <br/>
		                <br/>
	
	                	<p:selectManyCheckbox id="basic" value="#{administracionView.selectedRoles}" layout="grid" columns="3">
					        <f:selectItem itemLabel="Super Admin" itemValue="sad" itemDisabled="#{administracionView.banderaRolSeleccionadoAdmin == 2}"/>
	               			<f:selectItem itemLabel="Administrador de usuario" itemValue="admin" itemDisabled="#{administracionView.banderaRolSeleccionadoAdmin == 1}"/>
					        <f:selectItem itemLabel="Director General" itemValue="dg"/> 
					        <f:selectItem itemLabel="Director de Área" itemValue="da"/>
					        <f:selectItem itemLabel="Subdirector" itemValue="sd"/>
					        <f:selectItem itemLabel="Evaluador" itemValue="eva"/>
					        
					        <p:ajax listener="#{administracionView.mostrarOcultarRolesSeleccionados}" update=":Administrar:basic, :Administrar:pnlFechaVenc "/>
					    </p:selectManyCheckbox>
					    
					    <br/>
					    <br/>
					    
					    <p:outputPanel id="pnlFechaVenc">
			                <h:panelGrid columns="2" rendered="#{administracionView.banderaDG}">
		                    	<p:outputLabel value="Fecha de Vencimiento (DG):"/>
		                    	<p:calendar value="#{administracionView.fechaVencimiento}" pattern="dd/MM/yyyy" required="true" requiredMessage="Debes ingresar la fecha de vencimiento del DG"/>	                              
			                </h:panelGrid>				    
	
			                <h:panelGrid columns="2" rendered="#{administracionView.banderaDA}">
		                    	<p:outputLabel value="Fecha de Vencimiento (DA):"/>
		                    	<p:calendar value="#{administracionView.fechaVencimientoDA}" pattern="dd/MM/yyyy" required="true" requiredMessage="Debes ingresar la fecha de vencimiento del DA"/>	
		                    </h:panelGrid>
	
			                <h:panelGrid columns="2" rendered="#{administracionView.banderaSD}">				    	
		                    	<p:outputLabel value="Fecha de Vencimiento (SD):"/>
		                    	<p:calendar value="#{administracionView.fechaVencimientoSD}" pattern="dd/MM/yyyy" required="true" requiredMessage="Debes ingresar la fecha de vencimiento del SD"/>	     
		                    </h:panelGrid>
	
			                <h:panelGrid columns="2" rendered="#{administracionView.banderaEVA}">
		                    	<p:outputLabel value="Fecha de Vencimiento (EVA):"/>
		                    	<p:calendar value="#{administracionView.fechaVencimientoEVA}" pattern="dd/MM/yyyy" required="true" requiredMessage="Debes ingresar la fecha de vencimiento del EVA"/>
		                    </h:panelGrid>
					    </p:outputPanel>
					    			   			                 
	                </p:outputPanel>
	
	
	                <!-- ======================================= ROLES DE OTRAS DELEGACIONES (ENTIDADES FEDERATIVAS) ========================================== -->
	
	                <p:outputPanel rendered="#{loginView.entidadFederativa.idEntidadFederativa != '09'}">
	                	<p:selectManyCheckbox id="basicDel" value="#{administracionView.selectedRoles}" layout="grid" columns="3">
					        <f:selectItem itemLabel="Super Admin" itemValue="sad" itemDisabled="#{administracionView.banderaRolSeleccionadoAdmin == 2}"/>
	               			<f:selectItem itemLabel="Administrador de usuario" itemValue="admin" itemDisabled="#{administracionView.banderaRolSeleccionadoAdmin == 1}"/>
					        <f:selectItem itemLabel="Dirección General" itemValue="dg"/> 
					        <f:selectItem itemLabel="Dirección de Área" itemValue="da"/>
					        <f:selectItem itemLabel="Subdirector" itemValue="sd"/>
					        <f:selectItem itemLabel="Evaluador" itemValue="eva"/>
					        
					        <p:ajax listener="#{administracionView.mostrarOcultarRolesSeleccionados}" update=":Administrar:basicDel, :Administrar:pnlFechaVencDel"/>
					    </p:selectManyCheckbox>
					    
					    <br/>
					    <br/>
					    
					  	<p:outputPanel id="pnlFechaVencDel">
			                <h:panelGrid columns="2" rendered="#{administracionView.banderaDG}">
		                    	<p:outputLabel value="Fecha de Vencimiento (DG):"/>
		                    	<p:calendar value="#{administracionView.fechaVencimiento}" pattern="dd/MM/yyyy" required="true" requiredMessage="Debes ingresar la fecha de vencimiento del DG"/>	                              
			                </h:panelGrid>				    
	
			                <h:panelGrid columns="2" rendered="#{administracionView.banderaDA}">
		                    	<p:outputLabel value="Fecha de Vencimiento (DA):"/>
		                    	<p:calendar value="#{administracionView.fechaVencimientoDA}" pattern="dd/MM/yyyy" required="true" requiredMessage="Debes ingresar la fecha de vencimiento del DA"/>	
		                    </h:panelGrid>
	
			                <h:panelGrid columns="2" rendered="#{administracionView.banderaSD}">				    	
		                    	<p:outputLabel value="Fecha de Vencimiento (SD):"/>
		                    	<p:calendar value="#{administracionView.fechaVencimientoSD}" pattern="dd/MM/yyyy" required="true" requiredMessage="Debes ingresar la fecha de vencimiento del SD"/>	     
		                    </h:panelGrid>
	
			                <h:panelGrid columns="2" rendered="#{administracionView.banderaEVA}">
		                    	<p:outputLabel value="Fecha de Vencimiento (EVA):"/>
		                    	<p:calendar value="#{administracionView.fechaVencimientoEVA}" pattern="dd/MM/yyyy" required="true" requiredMessage="Debes ingresar la fecha de vencimiento del EVA"/>
		                    </h:panelGrid>
					    </p:outputPanel>
					                    
	                </p:outputPanel>				
				</h:panelGrid>
				    
                <div class="modal-footer">
               		<p:commandButton styleClass="btn btn-default" id="guardar" style="float: right" value="Guardar" 
               						 update=":Administrar:messageRol, :Administrar:pnlFechaVenc, :Administrar:pnlFechaVencDel" action="#{administracionView.guardar}"/>
                	<p:commandButton styleClass="btn btn-default" id="cerrarModal" style="float: right" value="Cancelar" onclick="PF('modalAdm').hide();"/>
                </div>
			</h:form>
		</p:dialog>
<!-- /////////////////////////////////////////////////////////////////////// Ventana de Alerta de mensaje /////////////////////////////////////////////////// -->
		<p:dialog widgetVar="alert" id="alert" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> La información se guardó
				exitosamente.
			</div>
			<button class="btn btn-primary" type="button" style="float: right;"
				onclick="PF('alert').hide();">Aceptar</button>

		</p:dialog>
		
<!-- /////////////////////////////////////////////////////////////////////// Ventana de Alerta de mensaje de Espera /////////////////////////////////////////////////// -->
		<p:dialog widgetVar="wait" id="wait" header="Aviso"
			modal="true" closable="false">
			<div class="alert alert-success">
				<span class="glyphicon glyphicon-ok"></span> Buscando Datos.
			</div>
<!-- 			<button class="btn btn-primary" type="button" style="float: right;" -->
<!-- 				onclick="PF('wait').hide();">Aceptar</button> -->

		</p:dialog>
		
        </h:body>
    </f:view>
</html>
