<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <f:view>
        <h:head>
            <title> Módulo de Evaluación Principal</title>
            <!-- Subdirector -->
        </h:head>  
        <h:body>
            <h:outputStylesheet library="css" name="moduloEvaluacion.css"/>
            <h:outputStylesheet library="css" name="otros.css"/>
            
            <p:layout fullPage="true">
                <p:layoutUnit position="north" size="78" resizable="true" closable="true">
                 
                    <p:toolbar rendered="true">
                        <p:toolbarGroup align="right" id="menu_oficios">
                            <p:commandButton alt="Salida" action="#{loginView.logout}" ajax="false" image="ui-icon-circle-close" /> 
                        </p:toolbarGroup>
                        <p:toolbarGroup align="right">
                            <p:button value="Listado de Proyectos" image="ui-icon-clock" href="pantallaPrincipal.xhtml" />
                            <p:separator />
                        </p:toolbarGroup>
                        <p:toolbarGroup align="right" rendered="#{isInRole.visor and !isInRole.evaluador}">
                            <p:button value="Detalle proyecto" icon="ui-icon-clock" id="detalleBtn" href="pantallaInside.xhtml?numBitacora=#{visor.pramBita}"> 
                                <f:param name="numBitacora" value="#{visor.pramBita}" />
                            </p:button>
                        </p:toolbarGroup>
                    </p:toolbar>
                    <h:outputText id="gen_datos" value="Usuario: #{loginView.nombreUsuario}" escape="false" /> 
                    <br/>   
                </p:layoutUnit>
                <!-- Página central -->
                <p:layoutUnit position="center">
                    <ui:include src="Commons/ContenidoTablaPendientes.xhtml"/>
                    <br/>
                    <h:panelGroup rendered="#{!isInRole.evaluador}">
                        <ui:include src="Commons/ContenidoTablaProyectos.xhtml" />
                    </h:panelGroup>
                    <br/>
                </p:layoutUnit>
                <!-- Página izquierda -->
               <!-- <p:layoutUnit position="east" size="275" header="Menú de opciones" collapsible="true" resizable="true" collapsed="true">
                    <ui:include src="Commons/Menu/MenuEast.xhtml"/>
                </p:layoutUnit>-->
            </p:layout>
        </h:body>
    </f:view>
</html>
