<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
      
    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title> Módulo de Evaluación </title>     
            <h:outputStylesheet library="css" name="moduloEvaluacion.css" />
            <h:outputStylesheet library="css" name="bootstrap.css" />
            <h:outputStylesheet library="css" name="otros.css"  />            
            <h:outputStylesheet library="css" name="gobmx.css"  />
            <h:outputStylesheet library="css" name="bootstrap.min.css"  />
            
            <script type="text/javascript">  
                var mensaje = "";
                var diasPrevPro = 0;
                var diasPrevNoti = 0;
                var diasInfoPro = 0;
                var diasInfoNoti = 0;
                var numI00010 = 0;
                
                diasPrevPro = #{menuView.diasPrevProceso};
                diasPrevNoti = #{menuView.diasPrevNotif};
                diasInfoPro = #{menuView.diasInfoProceso};
                diasInfoNoti = #{menuView.diasInfoNotif}; 
                numI00010 = #{menuView.numHistorialI00010};
                
               
                if(numI00010==0)
                {
                    if(diasPrevPro>diasPrevNoti)
                    { mensaje="¡El tiempo límite de prevención se ha superado, debe turnar el trámite para su desechamiento.!"; }
                    if(diasInfoPro>diasInfoNoti)
                    { mensaje="¡El tiempo límite de información adicional se ha superado, debe turnar el trámite para su desechamiento.!"; }

                    $(window).load ( function() {
                        if(mensaje!="")
                        { alert(mensaje); }
                    });  
                }
            </script>
   
        </h:head>  
        <h:body>
            <p:growl id="growl" autoUpdate="true"/>
            <p:layout fullPage="true">                
                <p:layoutUnit position="north" size="190" resizable="true" collapsible="true" >
                    <ui:include src="Commons/Menu/TopMenu_1.xhtml"/>
                </p:layoutUnit>
               
                <p:layoutUnit id="layout_south" position="south" header="Reporte T&eacute;cnico de Evaluaci&oacute;n(RTE)" collapsible="true" resizable="true" size="350" >
                    
                    <p:tabView id="view_south" style="font-size: 12px;" dynamic="true">
                        <p:tab title="Contenido">
                            <p:tabView id="view_south2" orientation="left" dynamic="true" effect="fade" effectDuration="slow"
                                       rendererType="org.primefaces.component.WizardRenderer" activeIndex="0">
                                <p:tab title="" disabled="true">
                                </p:tab>
                                <p:tab title="Validaci&oacute;n de checkList">
                                    <p:panel>
                                       <ui:include src="Commons/CheckListDG.xhtml"/>
                                    </p:panel>
                                </p:tab>
                                <!-- ********************************** VALIDACION DEL PAGO DE DERECHOS *************************************-->
                                <p:tab id="tab_Pago" title="Validación de Pago de Derechos" rendered="#{menuView.cveTipTram != 63}"> <!-- rendered="#{visor.tramSinatec}" -->
                                    <p:panel>
                                        <ui:include src="Commons/ValidacionPagoDerechos.xhtml"/>
                                    </p:panel>
                                </p:tab>
                                <!-- ******************************* Analisis Preliminar ***************************-->
                                <p:tab title="An&aacute;lisis preliminar" rendered="#{menuView.cveTipTram != 63}">
                                    <p:panel>                                        
                                        <ui:include src="Commons/AnalisisPrel.xhtml"/>
                                    </p:panel>
                                </p:tab>
                                <!-- ******************* SINTESIS PARA LA GACETA ***********************************  --> 
                                <p:tab title="S&iacute;ntesis para la Gaceta">
                                    <h:panelGroup>
                                      <ui:include src="Commons/Sintesis.xhtml"/>
                                    </h:panelGroup>
                                </p:tab>
                                <!-- ******************* OPINIÓN TÉCNICA ***********************************  --> 
                                <p:tab title="Opiniones técnicas" rendered="#{menuView.cveTipTram != 63}"> 
                                    <h:panelGroup>
                                       <ui:include src="Commons/Opinion.xhtml"/>
                                    </h:panelGroup>
                                    <br/><br/>
                                    <h:panelGroup>
                                       <ui:include src="Commons/Notificacion.xhtml"/>
                                    </h:panelGroup>
                                </p:tab> 
                                <!-- ******************* CONSULTA PÚBLICA ***********************************  --> 
                                <p:tab title="Consulta pública" rendered="#{menuView.cveTipTram != 63}"> 
                                    <p:panel>
                                       <ui:include src="Commons/consultaPublica.xhtml"/>
                                    </p:panel>                                    
                                </p:tab> 
                                <!-- ******************* INFORMCIÓN ADICIONAL ***********************************  --> 
                                <p:tab title="Informaci&oacute;n Adicional"  rendered="#{menuView.cveTipTram != 63}">
                                    <p:panel>
                                       <ui:include src="Commons/Informacion_adicional.xhtml">
                                            <ui:param name="tipoOfic" value="7"  />
                                            <input type="hidden" name="tipoOfic" value="7" />
                                       </ui:include>
                                   </p:panel>
                                </p:tab>
                                <!-- ******************* TURNADO DE TRÁMITE ***********************************  -->
                                <p:tab title="Turnado de trámite" rendered="#{isInRole.directorArea or isInRole.subDirector}">
                                    <h:panelGroup>
                                       <ui:include src="Commons/RTE.xhtml"/>
                                   </h:panelGroup>
                                </p:tab>
                                <!-- ******************* TURNADO DE OFICIO Prevencion ***********************************  -->
                                <p:tab> 
                                    <f:facet name="title">
                                        <h:outputText value="Turnar Oficio Prevención"/>
                                    </f:facet>
                                    <h:panelGroup>
                                       <ui:include src="Commons/Prevencion.xhtml"/>
                                    </h:panelGroup>
                                </p:tab>
                                <!-- ******************* Resolucion ***********************************  -->
                                <p:tab title="Resoluci&oacute;n" >
                                    <h:panelGroup>
                                       <ui:include src="Commons/Resolucion.xhtml"/>
                                   </h:panelGroup>
                                </p:tab>
                            </p:tabView>
                        </p:tab>                      
                    </p:tabView>
                </p:layoutUnit>

                <p:layoutUnit position="center" collapsible="false" resizable="false">
                    
                    <iframe id="ifrmPrincipal" frameborder="0" src="" width="100%" style="height:0px;overflow:auto;" >                        
                    </iframe>
                    <h:panelGroup id="detalleProySec">
                        <ui:include src="Commons/DetalleProyectoEnVisor.xhtml"  />
                    </h:panelGroup>
                </p:layoutUnit>
                <p:layoutUnit position="west" size="275" header="Manifestación de Impacto Ambiental - MIA" collapsible="true" resizable="false" rendered="#{!isInRole.directorGeneral}">
                    <ui:include src="Commons/Menu/MenuMia.xhtml"/>
                </p:layoutUnit>

                <p:layoutUnit position="east" size="275" header="Menú de opciones" collapsible="true" resizable="true" collapsed="true" rendered="#{!isInRole.directorGeneral}">
                    <ui:include src="Commons/Menu/MenuEast.xhtml"/>
                   <!-- <ui:include src="Commons/Menu/MenuDocumentosMIA.xhtml"/>-->
                </p:layoutUnit>
            </p:layout>
        </h:body>
    </f:view>
</html>
