<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui" 
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title> Módulo de Evaluación Principal</title>
        <h:outputStylesheet library="css" name="moduloEvaluacion.css"/>
        <h:outputStylesheet library="css" name="otros.css"/>
        <!-- Subdirector -->
        <link href="assets/css/iaetiqueta.css" rel="stylesheet" />
        <!--             calendario espanol primefaces -->
        <h:outputScript library="js" name="primeFaces.js"/>
    </h:head>  
    <h:body>

        <p:layout fullPage="true" styleClass="layoutCenterPrincipal">
            <p:layoutUnit position="north" size="78" resizable="true" closable="true">
                <ui:include src="Commons/Menu/TopMenu.xhtml"/>
            </p:layoutUnit>

            <!-- Página central -->
            <p:layoutUnit position="center" styleClass="ui-top">

                <!-- REPORTES PROYECTOS -->
                <ui:include src="Commons/ReportesProyectosIngresados.xhtml"/>
                <br/>
                <ui:include src="Commons/ReportesProyectosResueltos.xhtml"/>
                <br/>

            </p:layoutUnit>

            <!-- Página izquierda -->

            <!-- <p:layoutUnit position="east" size="275" header="Menú de opciones" collapsible="true" resizable="true" collapsed="true">
                 <ui:include src="Commons/Menu/MenuEast.xhtml"/>
             </p:layoutUnit>-->
        </p:layout>
    </h:body>
</html>
