<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <h:outputStylesheet library="css" name="moduloEvaluacion.css" />
        <h:outputStylesheet library="css" name="bootstrap.css" />
        <h:outputStylesheet library="css" name="otros.css" />
        <h:outputStylesheet library="css" name="gobmx.css" />
        <h:outputStylesheet library="css" name="bootstrap.min.css" />
        <h:outputStylesheet library="css" name="iaetiqueta.css" />        
        <style>
            /* .ui-datatable-odd { */
            /* 	background: #ffffff; */
            /* } */

            /* .ui-datatable-even { */
            /* 	background: #F2F5F9; */
            /* } */
            .ui-chkbox-all {
                visibility: hidden;
            }
        </style>
    </h:head>
    <h:body>
        <p:panel id="pnlReportesProy"></p:panel>
        <p:layout fullPage="true" styleClass="layoutCenterPrincipal">
            <p:growl id="growl" sticky="true" />
            <p:layoutUnit position="north" size="250" resizable="true"
                          collapsible="true">
                <ui:include src="exencion/TopMenu.xhtml" />
            </p:layoutUnit>

            <p:layoutUnit position="center" header="Evaluación de Solicitud de Exención" visible="true">
                <!-- 			<h:outputLabel>Vacío por el momento</h:outputLabel> -->
                
                <p:tabView id="view_south" style="font-size: 12px;" dynamic="true">                    
                    <p:tab title="Contenido">
                        <p:tabView orientation="left" dynamic="true" effect="fade"
                                   effectDuration="slow"
                                   rendererType="org.primefaces.component.WizardRenderer"
                                   widgetVar="myTabView">
                            <p:tab title="" disabled="true">
                            </p:tab>
                            <p:tab>
                                <f:facet name="title" >
                                    <!-- 								<p:graphicImage library="images" -->
                                    <!-- 									name="{exencionBean.dataIconRevSol}" height="15px" -->
                                    <!-- 									width="15px" style="margin-left:15px" /> -->
                                    <h:outputText value="Revisión de Solicitud" />
                                    <div style="background: gray"></div>
                                </f:facet>
                                <p:panel>
                                    <h:form id="revSolForm">
                                        <p:dataTable id="tblRevSol" var="revSol"
                                                     value="#{exencionBean.listaRevisionSolicitud}"
                                                     rowKey="#{revSol.pos}">

                                            <p:column headerText="Validación de ventanilla" width="10%">
                                                <p:graphicImage value="#{revSol.img}" />
                                            </p:column>
                                            <p align="center">
                                                <p:column headerText="Validación Evaluador" width="10%"
                                                          style="alignment-adjust: central">
                                                    <p:selectBooleanCheckbox value="#{revSol.validado}" />
                                                </p:column>
                                            </p>
                                            <p:column headerText="Descripción requisitos">
                                                <h:outputLabel value="#{revSol.descripcionRequisito}" />
                                            </p:column>
                                            <p:column headerText="Observaciones">
                                                <p:inputTextarea rows="6" cols="50" autoResize="true"
                                                                 value="#{revSol.observaciones}" style="overflow-y: auto;"
                                                                 counter="display2" maxlength="4000" counterTemplate="{0}." />
                                                <h:outputText id="display2" />
                                            </p:column>
                                            <p:column id="ver" headerText="Ver" width="5%"
                                                      rendered="#{exencionBean.digital}">
                                                <h:commandLink value="" target="_blank">
                                                    <p:fileDownload value="#{exencionBean.archivo}"
                                                                    contentDisposition="inline" />
                                                    <f:param name="idArchivo" value="#{revSol.pos}" />
                                                    <h:graphicImage alt="Ver"
                                                                    value="/resources/imagenes_stack/glyphicons-52-eye-open.png" />
                                                </h:commandLink>
                                            </p:column>
                                            <f:facet name="footer">
                                                <div style="height: 30px"></div>
                                            </f:facet>
                                        </p:dataTable>

                                        <p:panel id="btnRevSol">
                                            <br></br>
                                            <p:commandButton style="float: right" icon="ui-icon-disk"
                                                             value="Guardar" update=":growl,revSolForm"
                                                             actionListener="#{exencionBean.guardarRevSol}"
                                                             disabled="#{exencionBean.dePrevencion or isInRole.directorArea}" rendered="#{exencionBean.saveEnabled}">
                                            </p:commandButton>
                                            <br></br>
                                        </p:panel>
                                    </h:form>
                                </p:panel>
                            </p:tab>
                            <p:tab>
                                <f:facet name="title" >
                                    <!-- 								<p:graphicImage library="images" -->
                                    <!-- 									name="{exencionBean.dataIconValPago}" height="15px" -->
                                    <!-- 									width="15px" style="margin-left:15px" /> -->
                                    <h:outputText value="Validación de Pago de Derechos." />
                                    <div style="background: gray"></div>
                                </f:facet>
                                <p:panel>
                                    <h:form id="valPagForm">
                                        <p:dataTable id="tblValPag" var="valPag"
                                                     value="#{exencionBean.listaValidaPagoDerecho}"
                                                     rowKey="#{valPag.pos}">

                                            <p:column headerText="Validación de ventanilla" width="10%">
                                                <p:graphicImage value="#{valPag.img}" />
                                            </p:column>
                                            <p align="center">
                                                <p:column headerText="Validación Evaluador" width="10%"
                                                          style="alignment-adjust: central">
                                                    <p:selectBooleanCheckbox value="#{valPag.validado}" />
                                                </p:column>
                                            </p>
                                            <p:column headerText="Descripción requisitos">
                                                <h:outputLabel value="#{valPag.descripcionRequisito}" />
                                            </p:column>
                                            <p:column headerText="Observaciones">
                                                <p:inputTextarea rows="6" cols="50" autoResize="true"
                                                                 value="#{valPag.observaciones}" style="overflow-y: auto;"
                                                                 counter="display2" maxlength="4000" counterTemplate="{0}." />
                                                <h:outputText id="display2" />
                                            </p:column>
                                            <p:column id="ver" headerText="Ver" width="5%"
                                                      rendered="#{exencionBean.digital}">
                                                <h:commandLink value="">
                                                    <p:fileDownload value="#{exencionBean.archivoPago}" />
                                                    <f:param name="idArchivo" value="#{valPag.pos}" />
                                                    <h:graphicImage alt="Ver"
                                                                    value="/resources/imagenes_stack/glyphicons-52-eye-open.png" />
                                                </h:commandLink>
                                            </p:column>
                                            <f:facet name="footer">
                                                <div style="height: 30px"></div>
                                            </f:facet>
                                        </p:dataTable>

                                        <p:panel id="btnValPag">
                                            <br></br>
                                            <p:commandButton style="float: right" icon="ui-icon-disk"
                                                             value="Guardar" update=":growl,valPagForm"
                                                             actionListener="#{exencionBean.guardarValPag}"
                                                             disabled="#{exencionBean.dePrevencion or isInRole.directorArea}" rendered="#{exencionBean.saveEnabled}">
                                            </p:commandButton>
                                            <br></br>
                                        </p:panel>
                                    </h:form>
                                </p:panel>
                            </p:tab>
                            <p:tab>
                                <f:facet name="title" >
                                    <!-- 								<p:graphicImage library="images" -->
                                    <!-- 									name="{exencionBean.dataIconAcredt}" height="15px" -->
                                    <!-- 									width="15px" style="margin-left:15px" /> -->
                                    <h:outputText value="Acreditación" />
                                    <div style="background: gray"></div>
                                </f:facet>
                                <p:panel>
                                    <h:form id="acreditForm">
                                        <p:dataTable id="tblAcredit" var="acredit"
                                                     value="#{exencionBean.listaAcreditacion}"
                                                     rowKey="#{acredit.pos}">
                                            <p:column
                                                headerText="Descripción del proyecto, en su caso de los planes o programas parciales de desarrollo">
                                                <h:outputLabel value="#{acredit.descripcionProyecto}" />
                                            </p:column>
                                            <p:column headerText="Respuesta" width="15%">
                                                <p:selectOneMenu value="#{acredit.respuesta}"
                                                                 style="margin-left: 5%; width: 90%;">
                                                    <f:selectItem itemLabel="Selecciona" itemValue="-1" />
                                                    <f:selectItems
                                                        value="#{exencionBean.respuestasAcreditacion}" var="resp" itemValue="#{resp}" itemLabel="#{resp}"/>
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column headerText="Observaciones">
                                                <p:inputTextarea rows="6" cols="50" autoResize="true"
                                                                 value="#{acredit.observaciones}" style="overflow-y: auto;"
                                                                 counter="display2" maxlength="4000" counterTemplate="{0}." />
                                                <h:outputText id="display2" />
                                            </p:column>
                                            <p:column id="ver" headerText="Ver" width="5%" >
                                                <h:commandLink value="" rendered="#{acredit.url != null}">
                                                    <p:fileDownload value="#{exencionBean.descargarArchivo(acredit.url)}" />
                                                    <h:graphicImage alt="Ver" value="/resources/imagenes_stack/glyphicons-52-eye-open.png" />
                                                </h:commandLink>
                                            </p:column>
                                        </p:dataTable>
                                        <p:panel id="btnAcredit">
                                            <br></br>
                                            <p:commandButton style="float: right" icon="ui-icon-disk"
                                                             value="Guardar" update=":growl,acreditForm"
                                                             actionListener="#{exencionBean.guardarAcredit}"
                                                             disabled="#{exencionBean.dePrevencion or isInRole.directorArea}" rendered="#{exencionBean.saveEnabled}">
                                            </p:commandButton>
                                            <br></br>
                                        </p:panel>
                                    </h:form>
                                </p:panel>
                            </p:tab>
                            <p:tab>
                                <f:facet name="title" >
                                    <!-- 								<p:graphicImage library="images" -->
                                    <!-- 									name="{exencionBean.dataIconArchAne}" height="15px" -->
                                    <!-- 									width="15px" style="margin-left:15px" /> -->
                                    <h:outputText value="Archivos Anexos" />
                                    <div style="background: gray"></div>
                                </f:facet>
                                <p:panel>
                                    <h:form id="archAnxForm">
                                        <p:dataTable id="tblArchAnx" var="archAnx"
                                                     value="#{exencionBean.listaArchivoAnexo}"
                                                     emptyMessage="No se adjuntaron archivos anexos"
                                                     rowKey="#{archAnx.pos}">
                                            <p:column
                                                headerText="Documentos que el promovente consideró necesarios para sustentar su solicitud">
                                                <h:outputLabel value="#{archAnx.documento}" />
                                            </p:column>
                                            <p:column headerText="Respuesta" width="15%">
                                                <p:selectOneMenu value="#{archAnx.respuesta}"
                                                                 style="margin-left: 5%; width: 90%;">
                                                    <f:selectItem itemLabel="Selecciona" itemValue="-1" />
                                                    <f:selectItems
                                                        value="#{exencionBean.respuestasAcreditacion}" />
                                                </p:selectOneMenu>
                                            </p:column>
                                            <p:column headerText="Observaciones">
                                                <p:inputTextarea rows="6" cols="50" autoResize="true"
                                                                 value="#{archAnx.observaciones}" style="overflow-y: auto;"
                                                                 counter="display2" maxlength="4000" counterTemplate="{0}." />
                                                <h:outputText id="display2" />
                                            </p:column>
                                            <p:column id="ver" headerText="Ver" width="5%" rendered="#{exencionBean.digital}">
                                                <h:commandLink value="">
                                                    <p:fileDownload value="#{exencionBean.descargarArchivo(archAnx.url)}" />
                                                    <h:graphicImage alt="Ver" value="/resources/imagenes_stack/glyphicons-52-eye-open.png" />
                                                </h:commandLink>
                                            </p:column>
                                            <f:facet name="footer">
                                                <div style="height: 30px"></div>
                                            </f:facet>
                                        </p:dataTable>
                                        <p:panel id="btnAcredit">
                                            <br></br>
                                            <p:commandButton style="float: right" icon="ui-icon-disk"
                                                             value="Guardar" update=":growl,archAnxForm"
                                                             actionListener="#{exencionBean.guardarArchAnex}"
                                                             disabled="#{exencionBean.dePrevencion or isInRole.directorArea}" rendered="#{exencionBean.saveEnabled}">
                                            </p:commandButton>
                                            <br></br>
                                        </p:panel>
                                    </h:form>
                                </p:panel>
                            </p:tab>
                            <!-- ******************* TURNADO DE TRÁMITE ***********************************  -->
                            <p:tab rendered= "#{isInRole.directorArea or isInRole.subDirector or isInRole.evaluador}"> 
                                <f:facet name="title">
                                    <h:outputText value=" Turnado de trámite"/>
                                </f:facet>
                                <h:panelGroup>
                                   <ui:include src="exencion/RTE.xhtml"/>
                                </h:panelGroup>
                            </p:tab>
                            <p:tab>
                            	<f:facet name="title">                                   
                                    <h:outputText value="Prevención" />
                                    <div style="background: gray"></div>
                            	</f:facet>
                                <p:panel>
                                    <ui:include src="Commons/Oficio_prevencionExencion.xhtml"/>                                    
                                </p:panel>
                            </p:tab>
                            <p:tab>
                                <f:facet name="title" >
                                    <!-- 								<p:graphicImage library="images" -->
                                    <!-- 									name="{exencionBean.dataIconValPago}" height="15px" -->
                                    <!-- 									width="15px" style="margin-left:15px" /> -->
                                    <h:outputText value="Redacción para Resolutivos" />
                                    <div style="background: gray"></div>
                                </f:facet>
                                <p:panel>
                                    <h:form id="redaResolForm">
                                        <h:panelGrid columns="1" width="100%">
                                            <h:outputText value="Redacción  Resolutivos" />
                                            <p:inputTextarea rows="6" cols="80" autoResize="true"
                                                             value="#{exencionBean.redaccionResolutivo}"
                                                             counter="display2" maxlength="4000" counterTemplate="{0}." />
                                            <h:outputText id="display2" />
                                        </h:panelGrid>

                                        <p:panel id="btnRedaResol">
                                            <br></br>
                                            <p:commandButton style="float: right" icon="ui-icon-disk"
                                                             value="Guardar" update=":growl,redaResolForm"
                                                             actionListener="#{exencionBean.guardarRedaResol}"
                                                             disabled="#{exencionBean.dePrevencion or isInRole.directorArea}" rendered="#{exencionBean.saveEnabled}">
                                            </p:commandButton>
                                            <br></br>
                                        </p:panel>
                                    </h:form>
                                </p:panel>
                            </p:tab>
                            <p:tab>
                            	<f:facet name="title">                                   
                                    <h:outputText value=" Resolución" />
                                    <div style="background: gray"></div>
                            	</f:facet>
                                <p:panel>
                                    <ui:include src="Commons/ResolucionDC.xhtml"/>                                    
                                </p:panel>
                            </p:tab>
                        </p:tabView>
                    </p:tab>
                </p:tabView>
            </p:layoutUnit>
        </p:layout>
    </h:body>

</html>