<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<title>Download File</title>
</h:head>

<h:body>
	<h:form id="frm">		
		<p:commandButton id="btnDownloadFilePDF" rendered="false" widgetVar="btnDownloadFilePDF"
			class="btn btn-default btn-xs glyphicon glyphicon-eye-open" value=""
			process="@this" ajax="false" >			
			<f:metadata>
				  <f:event type="postAddToView" listener="#{archivoBean.ver_archivo_PDF(param['bitacora'],param['clavetramite'],param['idtramite'],param['tipodoc'],param['entidadfederativa'],param['documentoid'])}"/>			  
			</f:metadata>			
		</p:commandButton>
	</h:form>
</h:body>

</html>