<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <script src="#{request.contextPath}/assets/js/jquery.min.js"></script>
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>

        <style>
            #carga {
                float: left;
            }

            #ver {
                float:left;
            }
        </style>
    </h:head>
    <h:body>
        <form enctype="multipart/form-data" action="#{request.contextPath}/cargarArchivo" method="post">

            <div id="carga" style="vertical-align: top; width: 100%; ">
                <form enctype="multipart/form-data" action="#{request.contextPath}/cargarArchivo" method="post">
                    <input type="hidden" name="tipo" value="anexo_general" />
                    <input type="hidden" name="info" value="#{modArchivosView.info}" />
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Descripcion
                            </td>
                            <td>
                                Anexo
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="text" id="txtArea1" name="txtArea1"/>
                            </td>
                            <td>
                                <input type="file" id="cinfil1" name="cinfil1" />
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">Cargar Archivo</button>

                            </td>
                        </tr>
                    </table>
                </form>
            </div>

            <div  id="ver" style="vertical-align: top; width: 100%; ">
                <br/>
                <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                    <tr>
                        <td>
                            Archivos anexados:<br/>
                            <h:dataTable value="#{modArchivosView.anexosProyecto}" var="anexo" >
                                <h:column>
                                    <br/>
                                    <table>
                                        <tr>
                                            <td>
                                                <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                <br/>
                                                <a class="btn btn-primary" href="#{request.contextPath}/EliminarAnexo?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general&amp;info=#{modArchivosView.info}&amp;info=#{modArchivosView.info}">Eliminar</a>
                                            </td>
                                            <td style="width:10px"></td>
                                            <td>
                                                Nombre del archivo:
                                                #{anexo.anexoNombre}
                                                <br/>
                                                Descripcion:
                                                #{anexo.anexoDescripcion}
                                                <br/>

                                            </td>
                                        </tr>
                                    </table>
                                </h:column>

                            </h:dataTable>
                        </td>
                    </tr>
                </table>

            </div>



            <br/>
            <br/>
            <br/>

        </form>
    </h:body>
</html>