<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="moduloEvaluacion.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="otros.css" />
	<h:outputStylesheet library="css" name="gobmx.css" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="iaetiqueta.css" />
	<style>
.ui-datatable-odd {
	background: #ffffff;
}

.ui-datatable-even {
	background: #F2F5F9;
}
</style>
</h:head>
<h:body>
    <p:layout fullPage="true" styleClass="layoutCenterPrincipal">
        <p:growl id="growl" sticky="true" />		

        <p:layoutUnit position="center">
            <p:toolbar rendered="true">
                        <p:toolbarGroup align="left">
                            <h:outputText value="Sección de Gobiernos" />
                        </p:toolbarGroup>

                        <p:toolbarGroup align="right">
                            <p:button value="Regresar" image="ui-icon-clock"  href="
                                                                  #{request.contextPath}/faces/Restringido/pantallaInsideCapMIA.xhtml?bitaNum=#{notiGobiernosBean.bitacoraProyectoUrl}&amp;tramYaTurnado=#{notiGobiernosBean.turnado}" />
                        </p:toolbarGroup>
                    </p:toolbar>
            <p:commandButton value="Nueva Unidad Administrativa" 
                action="#{unidadBean.creaUnidadAdministrativa}"
                update=":formADUpdate:direcorioDetail"
                oncomplete="PF('dlgAddUpdate').show()" />
            <br/><br/>
            <h:form id="formDirectorios">
                <p:dataTable id="tblUnidades" style="width: 95%; margin: auto;"
                        rowStyleClass=".ui-datatable-odd .ui-datatable-even"
                        paginator="true" paginatorPosition="bottom" rows="15"
                        rowIndexVar="position" value="#{notiGobiernosBean.listaResultandos}"
                        selection="#{notiGobiernosBean.unidadesSelecionados}"
                        rowKey="#{res.id}"
                        var="res" emptyMessage="No se encontraron Resultandos">

                    <p:column headerText="Municipio">
                        <h:outputText value="#{res.fundamentoLegalInterno}"/>
                    </p:column>

                    <p:column headerText="Dependencia">
                            <h:outputText value="#{res.nombreDependencia}" />
                    </p:column>
                    <p:column headerText="Cargo">
                            <h:outputText value="#{res.cargo}" />
                    </p:column>
                    <p:column headerText="Nombre del Titular">
                            <h:outputText value="#{res.nombbreDestinatario}" />
                    </p:column>				
                    <p:column headerText="Acciones">
                            <p:commandButton update=":resultForm:grid" icon="ui-icon-pencil"
                                    title="Editar"
                                    rendered="#{res.nombbreDestinatario.length() > 0}"
                                    actionListener="#{notiGobiernosBean.abrirModalEditarRegistro}">
                                    <f:param name="idSeleccion" value="#{position}" />
                            </p:commandButton>

                            <p:commandButton id="btnGeneraOficio" value="Generar Oficios" 
                                    rendered="#{res.nombbreDestinatario.length() > 0}"
                                    action="#{notiGobiernosBean.generaOficioUnico}">
                                    <f:param name="idSeleccion" value="#{position}"/>
                            </p:commandButton>
                    </p:column>
                </p:dataTable>

                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <h:panelGrid columns="2" style="margin: auto;">
                        <p:commandButton value="Sí" type="button"
                                styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                        <p:commandButton value="No" type="button"
                                styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                    </h:panelGrid>
                </p:confirmDialog>
            </h:form>
            <br />

            <p:dialog widgetVar="dlogResultando"
                    header="#{notiGobiernosBean.tituloModal}" width="600" 
                    modal="true" appendTo="@(body)" draggable="false" closable="false"
                    resizable="false">
                <h:form id="resultForm">
                    <h:panelGrid id="grid" columns="2" width="500">
                        <h:outputText value="Dependencia: " />
                        <h:outputText id="folDoc" value="#{notiGobiernosBean.nombreDependencia}"/>
                        <h:outputText value="Cargo: " />
                        <h:outputText id="ref" value="#{notiGobiernosBean.cargo}"/>
                        <h:outputText value="Titular: " />
                        <p:inputText id="catDoc" value="#{notiGobiernosBean.nombbreDestinatario}" />
                    </h:panelGrid>
                    <br />
                    <h:panelGrid columns="2" style="float: right;">
                        <p:commandButton class="btn btn-default btn-sm" value="Cancelar"
                                onclick="PF('dlogResultando').hide();" />
                        <p:commandButton id="guardar" class="btn btn-primary btn-sm"
                                actionListener="#{notiGobiernosBean.guardar}"
                                update="grid,:formDirectorios:tblUnidades,:growl" value="Guardar" />
                    </h:panelGrid>
                </h:form>
            </p:dialog>

            <p:dialog id="dlgAddUpdate" widgetVar="dlgAddUpdate" modal="false"
                    closable="false" resizable="false"  width="1000">
                <h:form id="formADUpdate">
                    <p:outputPanel id="direcorioDetail" >
                        <p:tabView>
                            <p:tab title="Institución">
                                <p:panelGrid columns="2" style="width:100%">
                                    <p:outputLabel value="Nombre:" />
                                    <p:inputText id="txtNombre"
                                            value="#{notiGobiernosBean.unidadSeleccionado.nombreDependencia}"
                                            maxlength="299" required="true" style="width:100%"
                                            requiredMessage="El campo Nombre de la Dependencia es obligatorio" />							

                                    <p:outputLabel value="Nombre Corto:" for="txtNombreCorto" />
                                    <p:inputText id="txtNombreCorto" maxlength="299"
                                            value="#{notiGobiernosBean.unidadSeleccionado.nombreCorto}"
                                            required="true" style="width:100%"
                                            requiredMessage="El campo Nombre Corto es obligatorio" />							

                                    <p:outputLabel value="Domicilio:" />
                                    <p:inputText id="txtDomicilio"
                                            value="#{notiGobiernosBean.unidadSeleccionado.domicilio}"
                                            maxlength="299" required="true" style="width:100%"
                                            requiredMessage="El campo Domicilio es obligatorio" />

                                    <p:outputLabel value="Estado:" />
                                    <p:selectOneMenu id="txtEstado" 
                                            value="#{notiGobiernosBean.unidadSeleccionado.estadoId}">
                                            <p:ajax listener="#{notiGobiernosBean.onEstadoChange}"
                                                update="txtMunicipio" />
                                            <f:selectItem value="#{null}" itemLabel="Seleccione un estado" />
                                            <f:selectItems value="#{notiGobiernosBean.itemsEstados}" />
                                    </p:selectOneMenu>

                                    <p:outputLabel value="Municipio:" />
                                    <p:selectOneMenu id="txtMunicipio"
                                            value="#{notiGobiernosBean.unidadSeleccionado.municipioId}">
                                        <f:selectItem value="#{null}"
                                                itemLabel="Seleccione un municipio" />
                                        <f:selectItems value="#{notiGobiernosBean.itemsMunicipios}" />
                                    </p:selectOneMenu>
                                    <p:outputLabel value="Tipo:"/>
                                    <p:selectOneMenu id="txtTipo"
                                            value="#{notiGobiernosBean.opinionTec}">
                                        <f:selectItem value="#{null}"
                                                itemLabel="Seleccione un tipo de Unidad Administrativa" />
                                        <f:selectItems value="#{notiGobiernosBean.itemsUnidadesAdministrativas}" />
                                    </p:selectOneMenu>
                                </p:panelGrid>
                            </p:tab>
                            <p:tab title="Destinatario">
                                <p:panelGrid columns="2" style="width:100%">
                                    <p:outputLabel value="Profesión:" />
                                    <p:selectOneMenu id="txtTratamiento"
                                            value="#{notiGobiernosBean.unidadSeleccionado.tratamiento}">
                                        <f:selectItem value="#{null}"
                                                itemLabel="Seleccione una profesión" />
                                        <f:selectItems value="#{notiGobiernosBean.itemsTratamientos}"/>									
                                    </p:selectOneMenu>

                                    <p:outputLabel value="Nombre:" />
                                    <p:inputText id="txtNombreDestinatario"
                                            value="#{notiGobiernosBean.unidadSeleccionado.nombbreDestinatario}"
                                            maxlength="299" required="true" style="width:100%"
                                            requiredMessage="El campo Nombre del destinatario es obligatorio" />							

                                    <p:outputLabel value="Cargo:" />
                                    <p:inputText id="txtCargo" style="width:100%"
                                            value="#{notiGobiernosBean.unidadSeleccionado.cargo}" maxlength="299"
                                            required="true" requiredMessage="El campo Cargo es obligatorio" />							

                                    <p:outputLabel value="Telefono:" />
                                    <p:inputText id="txtTelefono" style="width:100%"
                                            value="#{notiGobiernosBean.unidadSeleccionado.telefono}"
                                            maxlength="299" required="true"
                                            requiredMessage="El campo Telefono es obligatorio" />

                                    <p:outputLabel value="Correo:" />
                                    <p:inputText id="txtCorreo" style="width:100%"
                                            value="#{notiGobiernosBean.unidadSeleccionado.correo}" maxlength="299"
                                            required="true" requiredMessage="El campo orreo es obligatorio">								
                                    </p:inputText>
                                </p:panelGrid>
                            </p:tab>
                        </p:tabView>
                    </p:outputPanel>

                    <p:commandButton id="btnGuardar" value="Guardar"
                            styleClass="btn btn-primary" action="#{notiGobiernosBean.validarDatos}"
                            update=":formDirectorios:tblUnidades">
                    </p:commandButton>
                    <p:commandButton id="btnCerrar" value="Cerrar"
                            styleClass="btn btn-default" onclick="PF('dlgAddUpdate').hide()" />
                </h:form>
            </p:dialog>                        
        </p:layoutUnit>
    </p:layout>
</h:body>

</html>