<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui" style="height: 100%"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    
    <h:head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="cache-control" content="max-age=0" />
        <meta http-equiv="cache-control" content="no-cache" />
        <meta http-equiv="expires" content="0" />
        <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <script src="#{request.contextPath}/assets/js/funciones.js"></script>
        <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>
        <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
        <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
         <script >          
            function refrescar() {
                var parent_url=parent.document.referrer;
                window.parent.parent.location= parent_url;
            }
	</script>
    </h:head>
    <h:body style="height: 100%">
        
        <h:form id="frmComentario">
            <input type="hidden" name="info" value="#{Comentario.info}" />           
            
            <p:tabView style="background-color: #ffffff;border-color:#ffffff; ">

                <p:tab title="Resolutivo">
                    <h:panelGrid>           
                        <p:editor width="700" value="#{Comentario.comentarioRes}" disabled="#{!Comentario.habilitaRes}"/>                        
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Información Adicional" rendered="#{Comentario.esIP}">
                    <h:panelGrid>             
                        <p:editor width="700" value="#{Comentario.comentarioIA}" disabled="#{!Comentario.habilitaIA}"/>  
                    </h:panelGrid>
                </p:tab>
                <p:tab title="Memoria Técnica">
                    <h:panelGrid> 
                        <p:editor width="700" value="#{Comentario.comentarioMT}"  disabled="#{!Comentario.habilitaMT}"/> 
                    </h:panelGrid>
                </p:tab>
                </p:tabView>                
               <div style="float: right">               
                   <p:commandButton value="Guardar" class="btn btn-primary" action="#{Comentario.guardarComentarioProy}" update="@this" oncomplete="render:@all" process="@form" />               
                </div>        
        </h:form>
    </h:body>
</html>