<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="moduloEvaluacion.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="otros.css" />
	<h:outputStylesheet library="css" name="gobmx.css" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="iaetiqueta.css" />
	<style>
.ui-datatable-odd {
	background: #ffffff;
}

.ui-datatable-even {
	background: #F2F5F9;
}
</style>
</h:head>
<h:body>
	<p:layout fullPage="true" styleClass="layoutCenterPrincipal">
		<p:growl id="growl" sticky="true" />		

		<p:layoutUnit position="center" header="Sección de Resultandos">
			<h:form id="formList">
				<p:dataTable id="listResult" style="width: 95%; margin: auto;"
					rowStyleClass=".ui-datatable-odd .ui-datatable-even"
					paginator="true" paginatorPosition="bottom" rows="15"
					rowIndexVar="position" value="#{resultandoBean.listaResultandos}"
					var="res" emptyMessage="No se encontraron Resultandos">

					<p:column headerText="Folio Documento">
						<h:outputText value="#{res.folioDoc}" />
					</p:column>
					<p:column headerText="Referencia">
						<h:outputText value="#{res.referencia}" />
					</p:column>
					<p:column headerText="Categoría">
						<h:outputText value="#{res.categoriaDoc}" />
					</p:column>
					<p:column headerText="Fecha Elaboración">
						<h:outputText value="#{res.fechaElaboracionDoc}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</h:outputText>
					</p:column>
					<p:column headerText="Fecha Registro">
						<h:outputText value="#{res.fechaRegistro}">
							<f:convertDateTime pattern="dd/MM/yyyy HH:mm" />
						</h:outputText>
					</p:column>
					<p:column headerText="Nombre Remitente">
						<h:outputText value="#{res.nombreRemi}" />
					</p:column>
					<p:column headerText="Dependencia Remitente">
						<h:outputText value="#{res.dependenciaRemi}" />
					</p:column>
					<p:column headerText="Observaciones">
						<h:outputText value="#{res.observaciones}" />
					</p:column>
					<p:column headerText="Redacción">
						<h:outputText value="#{res.redaccion}" />
					</p:column>
					<p:column headerText="Acciones">
						<p:commandButton update=":resultForm:grid" icon="ui-icon-pencil"
							title="Editar"
							actionListener="#{resultandoBean.abrirModalResultandoEditarRegistro}">
							<f:param name="idSeleccion" value="#{position}" />
						</p:commandButton>
						<p:commandButton icon="ui-icon-trash" title="Eliminar"
							update="listResult,:growl"
							actionListener="#{resultandoBean.eliminar}">
							<f:param name="idSeleccion" value="#{position}" />
							<p:confirm header="Confirmación"
								message="¿Está seguro de querer eliminar el registro?"
								icon="ui-icon-alert" />
						</p:commandButton>
					</p:column>

				</p:dataTable>
				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<h:panelGrid columns="2" style="margin: auto;">
						<p:commandButton value="Sí" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</h:panelGrid>
				</p:confirmDialog>
			</h:form>
			<br />
			<h:form>
				<h:panelGrid columns="2" style="float: right;">
					<p:commandButton value="Agregar Registro" update=":resultForm:grid"
						actionListener="#{resultandoBean.abrirModalResultandoNuevoRegistro}" />
					<p:commandButton value="Generar Resultandos" action="#{resultandoBean.genOf}"/>
				</h:panelGrid>
			</h:form>


			<p:dialog widgetVar="dlogResultando"
				header="#{resultandoBean.tituloModal}" width="800" height="600"
				modal="true" appendTo="@(body)" draggable="false" closable="false"
				resizable="false">
				<h:form id="resultForm">
					<h:panelGrid id="grid" columns="3">
						<h:outputText value="Folio documento:" />
						<p:inputText id="folDoc" value="#{resultandoBean.folioDoc}"
							maxlength="20" />
						<p:message for="folDoc" />

						<h:outputText value="Referencia:" />
						<p:inputText id="ref" value="#{resultandoBean.referencia}"
							requiredMessage="Se requiere la referencia." maxlength="200"
							required="true" />
						<p:message for="ref" />

						<h:outputText value="Categoría documento:" />
						<p:inputText id="catDoc" value="#{resultandoBean.categoriaDoc}" />
						<p:message for="catDoc" />

						<h:outputText value="Fecha emisión documento:" />
						<p:calendar id="fEDoc" value="#{resultandoBean.fechaEmision}" />
						<p:message for="fEDoc" />

						<h:outputText value="Fecha registro:" />
						<p:calendar id="fR" value="#{resultandoBean.fechaRegistro}" />
						<p:message for="fR" />

						<h:outputText value="Nombre remitente:" />
						<p:inputText id="nomRe" value="#{resultandoBean.nombreRemi}"
							maxlength="200" />
						<p:message for="nomRe" />

						<h:outputText value="Dependencia remitente:" />
						<p:inputText id="depRe" value="#{resultandoBean.dependenciaRemi}"
							maxlength="200" />
						<p:message for="depRe" />

						<h:outputText value="Observaciones:" />
						<p:inputTextarea id="obsv" rows="6" cols="50"
							value="#{resultandoBean.observaciones}" maxlength="300" />
						<p:message for="obsv" />

						<h:outputText value="Redacción:" />
						<p:inputTextarea id="reda" rows="6" cols="50"
							value="#{resultandoBean.redaccion}" maxlength="300" />
						<p:message for="reda" />

					</h:panelGrid>
					<br />
					<h:panelGrid columns="2" style="float: right;">
						<p:commandButton class="btn btn-default btn-sm" value="Cancelar"
							onclick="PF('dlogResultando').hide();" />

						<p:commandButton id="guardar" class="btn btn-primary btn-sm"
							actionListener="#{resultandoBean.guardar}"
							update="grid,:formList:listResult,:growl" value="Guardar" />
					</h:panelGrid>
				</h:form>
			</p:dialog>

			<p:dialog widgetVar="dlogExistenRepetidos"
				header="Registros Repetidos" width="600" height="200" modal="true"
				appendTo="@(body)" draggable="false" closable="false"
				visible="#{resultandoBean.resultandosRepetidos}" resizable="false">

				<h:form id="formDlgRepetidos">
					<p:selectOneRadio id="customRadio" required="true"
						requiredMessage="Debe seleccionar una opción"
						value="#{resultandoBean.seleccionResultandosRepetidos}"
						layout="custom">
						<f:selectItem
							itemLabel="Sustituir los registros existentes en la tabla Resultandos"
							itemValue="#{resultandoBean.SUSTITUIR_REPETIDOS}" />
						<f:selectItem
							itemLabel="Agregar los registros repetidos a la tabla Resultandos"
							itemValue="#{resultandoBean.AGREGAR_REPETIDOS}" />
					</p:selectOneRadio>
					<h:outputText
						value="Algunos registros ya existen en la tabla de Resultandos, ¿Qué desea hacer con ellos?" />
					<h:panelGrid columns="2" cellpadding="5" width="100%">
						<p:radioButton id="opt1" for="customRadio" itemIndex="0" />
						<h:outputLabel for="opt1"
							value="Sustituir los registros existentes en la tabla Resultandos" />

						<p:radioButton id="opt2" for="customRadio" itemIndex="1" />
						<h:outputLabel for="opt2"
							value="Agregar los registros repetidos a la tabla Resultandos" />
					</h:panelGrid>
					<p:commandButton class="btn btn-primary btn-sm"
						actionListener="#{resultandoBean.aplicarSeleccionResultandosRepetidos}"
						update="formDlgRepetidos,:formList:listResult,:growl"
						value="Aplicar" />
					<p:message for="customRadio" />
				</h:form>
			</p:dialog>
		</p:layoutUnit>

	</p:layout>
</h:body>

</html>