<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title>TODO supply a title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
        </h:head>
        <h:body>

            <p:panel id="datGralProy" >                        
                <h3>Datos Generales del Proyecto.</h3>

                <label class="control-label" for="nombProy"><span class="requerido">Nombre del proyecto:</span></label>
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="gen_datos" value="#{visor.proyecto.proyNombre}" escape="false" class="form-control" />                        
                </p:outputPanel>
                <label class="control-label" for="nombProy"><span class="requerido">Sector:</span></label>
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="gen_datos" value="#{visor.sectorProy.sector}" escape="false" class="form-control" />                        
                </p:outputPanel>
                <label class="control-label" for="nombProy"><span class="requerido">Subsector:</span></label>
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="gen_datos" value="#{visor.subsectorProy.subsector}" escape="false" class="form-control" />                        
                </p:outputPanel>
                <label class="control-label" for="nombProy"><span class="requerido">Rama:</span></label>
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="gen_datos" value="#{visor.ramaProy.rama}" escape="false" class="form-control" />                        
                </p:outputPanel>
                <label class="control-label" for="nombProy"><span class="requerido">Tipo de Proyecto:</span></label>
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="gen_datos" value="#{visor.tipoProy.tipoProyecto}" escape="false" class="form-control" />                        
                </p:outputPanel>
                <br></br>
                <p:panel id="horizontal" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>
            <p:panel id="entMuncAfe">
                <h3>Ubicaci&#243;n f&#239;sica del proyecto.</h3>
                <div class="form-group">
                    <p></p>
                    <p></p>
                    <label class="control-label" for="numInt">Georefenciaci&#243;n SIGEIA:</label>                        
                    <p><h:outputLink target="_blank" value="#{visor.url}">Contacto SIGEIA</h:outputLink></p>
                    <p></p>
                    <p></p>
                </div>

                <br/> <br/> 

            
                <h3>Estados Afectados.</h3>
                <h:dataTable value="#{visor.todosEdos}" var="esp"  class="table">
                    <h:column>
                        <f:facet name="header">
                            <span class="control-label">Entidad</span>
                        </f:facet>

                        <h:outputText value="#{esp[2]}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <span class="control-label">Municipio</span>
                        </f:facet>

                        <h:outputText value="#{esp[3]}" id="txtNombMuncp"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <span class="control-label">Superficie (m2)</span>
                        </f:facet>

                        <h:outputText value="#{esp[4]}" id="txtSupEdo"/>
                    </h:column>                                 
                </h:dataTable> 
                <br></br>                            
                <Table> 
                    <tr>
                        <td>
                            <label class="control-label" >Entidad más afectada:</label>   
                        </td>
                        <td>
                            <h:dataTable value="#{visor.edoAfectado}" var="edoAfect" >
                                <h:column>
                                    <h:inputText value="#{edoAfect[2]}"   disabled="true" class="form-control"/>
                                </h:column>
                            </h:dataTable> 
                        </td>
                        <td style="width: 10px;">

                        </td>
                        <td>
                            <label class="control-label">Municipio más afectado:</label>   
                        </td>
                        <td>
                            <h:dataTable value="#{capitulo2View.edoAfectado}" var="edoAfect" >
                                <h:column>
                                    <h:inputText value="#{edoAfect[3]}" disabled="true" class="form-control"/>
                                </h:column>
                            </h:dataTable> 
                        </td>
                    </tr>
                </Table> 
                <br></br>
                <p:panel id="horizontal2" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,3,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>

            <p:panel id="direccProy"> 
                <label class="control-label" for="nombVialidad" style="margin-left:-10px;">¿Su proyecto cuenta con un domicilio establecido?</label>		                       
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="gen_datos" value="#{visor.tipoDomic}" escape="false" class="form-control" />                        
                </p:outputPanel>

                <h:panelGroup id="locExacta"  rendered="#{visor.localiz}"> 


                    <label class="control-label" for="tipVial">Tipo de Vialidad:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="tipVial" value="#{visor.catVialidad.descripcion}" escape="false" class="form-control" />                        
                    </p:outputPanel>

                    <label class="control-label" for="nombVialidad">Nombre de la Vialidad:</label>   
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="nombVialidad" value="#{visor.proyecto.proyNombreVialidad}" escape="false" class="form-control" />                        
                    </p:outputPanel>

                    <label class="control-label" for="numExt">Número Exterior:</label>                             
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="numExt" value="#{visor.proyecto.proyNumeroExterior}" escape="false" class="form-control" />                        
                    </p:outputPanel>

                    <label class="control-label" for="numInt">Número Interior:</label>   
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="numInt" value="#{visor.proyecto.proyNumeroInterior}" escape="false" class="form-control" />                        
                    </p:outputPanel>

                    <label class="control-label" for="Sector">Tipo de Asentamiento:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="gen_datos" value="#{visor.catTipoAsen.nombre}" escape="false" class="form-control" />                        
                    </p:outputPanel>

                    <label class="control-label" for="nomAsent">Nombre del Asentamiento:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="nomAsent" value="#{visor.proyecto.proyNombreAsentamiento}" escape="false" class="form-control" />                        
                    </p:outputPanel>

                    <label class="control-label" for="CP">C&#243;digo Postal:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="CP" value="#{visor.proyecto.proyCodigoPostal}" escape="false" class="form-control" />                        
                    </p:outputPanel>	 

                </h:panelGroup>

                <h:panelGroup id="NOlocExacta"  rendered="#{visor.localizNo}">                            
                    <label class="control-label" for="locProy">Localizaci&#243;n del Proyecto:</label>                                                               
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="gen_datos" value="#{visor.proyecto.proyUbicacionDescrita}" escape="false" class="form-control" />                        
                    </p:outputPanel>
                </h:panelGroup>
                <br></br>
                <p:panel id="horizontal3" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>

            <p:panel id="planosAdic"> 
                <h3>Planos Adicionales del Proyecto.</h3>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.anexosProyecto}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>

                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>

                </div>
                <br></br>
                <p:panel id="horizontal4" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,4,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>

            <p:panel id="supProy">

                <h3>Superficie de Proyecto</h3>
                <h:dataTable value="#{visor.proySigSupProy}" var="supProy"  class="table">
                    <h:column>
                        <f:facet name="header">
                            <span class="requerido">Componente</span>
                        </f:facet>

                        <h:outputText value="#{supProy[0]}" />
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <span class="requerido">Descripción</span>
                        </f:facet>

                        <h:outputText value="#{supProy[1]}"/>
                    </h:column>
                    <h:column>
                        <f:facet name="header">
                            <span class="requerido">Superficie (m2)</span>
                        </f:facet>                                    
                        <h:outputText value="#{supProy[2]}"/>
                    </h:column>                                 
                </h:dataTable>                             
                <br></br>

                <Table> 
                    <tr>
                        <td>
                            <label class="control-label" >Total Superficie Predio:</label>   
                        </td>
                        <td>
                            <h:dataTable value="#{visor.proySigSupProyPredios}" var="predio" >
                                <p:outputPanel style="background-color: #ccccff;">                            
                                    <h:outputText id="sumPred" value="#{predio[1]}" escape="false" class="form-control" />                        
                                </p:outputPanel>
                            </h:dataTable> 
                        </td>
                        <td style="width: 10px;">

                        </td>
                        <td>
                            <label class="control-label">Total Superficie de Obra:</label>   
                        </td>
                        <td>
                            <h:dataTable value="#{visor.proySigSupProyObras}" var="obra" >  
                                <p:outputPanel style="background-color: #ccccff;">                            
                                    <h:outputText id="sumOb" value="#{obra[1]}" escape="false" class="form-control" />                        
                                </p:outputPanel>
                            </h:dataTable> 
                        </td>
                    </tr>
                </Table> 

                <br></br>
                <p:panel id="horizontal4" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,5,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>

            <p:panel id="inversion">
                <h3>Inversi&#243;n requerida y n&#250;mero de empleos<br></br>generados por el proyecto.</h3>	

                <label class="control-label" for="invReq"><span class="requerido">Costo de la Inversión Requerida (M.N.):</span></label>                            
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="invReq" value="#{visor.proyecto.proyInversionRequerida}" escape="false" class="form-control" />                        
                </p:outputPanel>

                <label class="control-label" for="medidasPM">Costos de Medidas de Prevención y Mitigación (M.N.):</label>                            
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="medidasPM" value="#{visor.proyecto.proyMedidasPrevencion}" escape="false" class="form-control" />                        
                </p:outputPanel>

                <label class="control-label" for="invTot"><span class="requerido">Inversión Total (M.N.):</span></label> 
                <h:outputText id="invTot" class="form-control" value="#{visor.totalInv}">
                    <f:convertNumber pattern="$ ###,###.##"/>
                </h:outputText>

                <label class="control-label" for="empPerm"><span class="requerido">Empleos Permanetes:</span></label>                        
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="empPerm" value="#{visor.proyecto.proyEmpleosPermanentes}" escape="false" class="form-control" />                        
                </p:outputPanel>

                <label class="control-label" for="empTemp"><span class="requerido">Empleos Temporales:</span></label>
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="empPerm" value="#{visor.proyecto.proyEmpleosTemporales}" escape="false" class="form-control" />                        
                </p:outputPanel>                            

                <label class="control-label" for="empTot"><span class="requerido">Empleos Totales:</span></label> 
                <p:outputPanel style="background-color: #ccccff;"> 
                    <h:outputText id="empTot" class="form-control" value="#{visor.totalEmpleos}">
                        <f:convertNumber pattern="###,###.##"/>
                    </h:outputText>
                </p:outputPanel>       
                <br></br>
                <p:panel id="horizontal6" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,6,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>

            <p:panel id="datProm">
                <h:panelGroup id="principal" rendered="#{!visor.vacio}">  
                    <h3>Datos Generales del promovente.</h3>
                    <label class="control-label" for="NombProm">Nombre del Promovente:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="nombProm" value="#{visor.promovente.vcnombre} #{visor.promovente.vcapellidopaterno} #{visor.promovente.vcapellidomaterno}" escape="false" class="form-control" />                        
                    </p:outputPanel> 
                    <label class="control-label" for="RFCProm">RFC:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="nombProm" value="#{visor.promovente.vcrfc}" escape="false" class="form-control" />                        
                    </p:outputPanel>                     
                    <br></br>
                    <p:panel id="horizontal7" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>
                    
                    

                    <h3>Domicilio</h3>
                    
                    <label class="control-label" for="CPProm">C&#243;digo Postal:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="CPProm" value="#{visor.promovente.vcdCodigoLk}" escape="false" class="form-control" />                        
                    </p:outputPanel> 
                    <label class="control-label" for="TipoAsentamientoProm">Tipo de Asentamiento:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="TipoAsentamientoProm" value="#{visor.asentamiento}" escape="false" class="form-control" />                        
                    </p:outputPanel> 
                    <label class="control-label" for="nomAsentProm">Nombre del Asentamiento:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="nomAsentProm" value="#{visor.promovente.vctipoasentamiento}" escape="false" class="form-control" />                        
                    </p:outputPanel> 
                    <label class="control-label" for="LocProm">Localidad:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="LocProm" value="#{visor.promovente.vclocalidad}" escape="false" class="form-control" />                        
                    </p:outputPanel>
                    <label class="control-label" for="tipoVialidadProm">Tipo Vialidad:</label>                            
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="tipoVialidadProm" value="#{visor.vialidad}" escape="false" class="form-control" />                        
                    </p:outputPanel>  
                    <label class="control-label" for="nombVialidadProm">Nombre de la Vialidad:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="nombVialidadProm" value="#{visor.promovente.vcnombrevialidad}" escape="false" class="form-control" />                        
                    </p:outputPanel> 
                    <label class="control-label" for="numExtProm">Número Exterior:</label>       
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="numExtProm" value="#{visor.promovente.vcnumexterior}" escape="false" class="form-control" />                        
                    </p:outputPanel> 
                    <label class="control-label" for="numIntProm">Número Interior:</label>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="numIntProm" value="#{visor.promovente.vcnuminterior}" escape="false" class="form-control" />                        
                    </p:outputPanel> 
                    <br></br>
                    <p:panel id="horizontal8" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,3,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>

                </h:panelGroup>
                <h:panelGroup rendered="#{visor.vacio}">
                    <div class="alert alert-danger">
                        <h:outputLabel value="No hay datos registrados del promovente."/>
                    </div>
                </h:panelGroup>

            </p:panel>

            <br></br>

            <p:panel id="datRL">

                <h3>Datos Generales del Representante Legal.</h3>
                <p:dataTable styleClass="table" emptyMessage="No hay datos registrados"
                             id="tablaRepLegal" selection="#{visor.representantesSelect}" disabledSelection="true"
                             value="#{visor.representantes}" var="repLegal">
                    <f:facet name="header">
                        <p:outputLabel value="Representante Legal"/>
                    </f:facet>
                    <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                    <p:column headerText="CURP">
                        <p:outputLabel value="#{repLegal.vccurp}"/>
                    </p:column>
                    <p:column headerText="Nombre">
                        <p:outputLabel value="#{repLegal.vcnombre}" />
                    </p:column>
                    <p:column headerText="Apellido Paterno">
                        <p:outputLabel value="#{repLegal.vcapellido1}" />
                    </p:column>
                    <p:column headerText="Apellido Materno">
                        <p:outputLabel value="#{repLegal.vcapellido2}" />
                    </p:column>
                    <p:column headerText="Correo Electrónico">
                        <p:outputLabel value="#{repLegal.vccorreo}" />
                    </p:column>
                </p:dataTable>                       
                <br></br>
                <p:panel id="horizontal9" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,3,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>

            <p:panel id="datosREEIA">

                <h3>Datos Generales del Responsable de la Elaboración del Estudio de Impacto Ambiental</h3>


                <label class="control-label" for="nombRespTec" style="margin-left:-10px;">¿El responsable técnico de la elaboración del estudio es el mismo que el representante legal?</label>		
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="nombRespTec" value="#{visor.rtRl}" escape="false" class="form-control" />                        
                </p:outputPanel>

                <h:panelGroup id="representantes" rendered="#{visor.flag != null}">

                    <h:panelGroup rendered="#{visor.flag}">
                        <ui:fragment rendered="false"> <!-- {!empty visor.representantesSelect} -->

                            <label class="control-label" for="nombRespTec" style="margin-left:-10px;">Representante:</label>		
                            <p:dataTable emptyMessage="No hay datos registrados" id="tablaRepTec" value="#{visor.representantesSelect}" var="rep"> 
                                <p:column  style="background-color: #ccccff;">
                                    <p:outputLabel value="#{rep.vccurp}: #{rep.vcnombre} #{rep.vcapellido1}"/>
                                </p:column>                                    
                            </p:dataTable>  




                        </ui:fragment>
                        <ui:fragment rendered="false"> <!-- {empty visor.representantesSelect} -->
                            <div class="alert alert-danger">
                                <h:outputLabel value="No hay ningún representante legal registrado para este proyecto."/>
                            </div>
                        </ui:fragment>
                    </h:panelGroup>

                    <h:panelGroup id="pRespTec" rendered="#{!visor.flag}">                  

                        <label class="control-label" for="RFCProm">RFC:</label>
                        <p:outputPanel style="background-color: #ccccff;">                            
                            <h:outputText id="repTecRFC" value="#{visor.respTecProyecto.respTecRfc}" escape="false" class="form-control" />                        
                        </p:outputPanel>     

                        <label class="control-label" for="RFCProm">CURP:</label>
                        <p:outputPanel style="background-color: #ccccff;">                            
                            <h:outputText id="repTecCURP" value="#{visor.respTecProyecto.respTecCurp}" escape="false" class="form-control" />                        
                        </p:outputPanel>

                        <label class="control-label" for="RFCProm">Nombre del responsable técnico:</label>
                        <p:outputPanel style="background-color: #ccccff;">                            
                            <h:outputText id="repTecNom" value="#{visor.respTecProyecto.respTecNombre}" escape="false" class="form-control" />                        
                        </p:outputPanel>

                        <label class="control-label" for="RFCProm">Apellido Paterno:</label>
                        <p:outputPanel style="background-color: #ccccff;">                            
                            <h:outputText id="repTecAp1" value="#{visor.respTecProyecto.respTecApellido1}" escape="false" class="form-control" />                        
                        </p:outputPanel>

                        <label class="control-label" for="RFCProm">Apellido Materno:</label>
                        <p:outputPanel style="background-color: #ccccff;">                            
                            <h:outputText id="repTecAp2" value="#{visor.respTecProyecto.respTecApellido2}" escape="false" class="form-control" />                        
                        </p:outputPanel>

                        <label class="control-label" for="CartaProtREEIA">Carta bajo protesta de decir verdad:</label>
                        <p:outputPanel style="background-color: #ccccff;">                            
                            <h:outputText id="repTecCarta" value="#{visor.respTecProyecto.respTecCartaVerdad}" escape="false" class="form-control" />                        
                        </p:outputPanel>   

                    </h:panelGroup> 
                </h:panelGroup>

                <br></br>
                <p:panel id="horizontal10" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,4,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

        </h:body>
    </f:view>
</html>
