<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui">
    
    
    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
            <script>
            //<![CDATA[
            function contarCaracteres(ele, label, max) {
                var n = ele.value.length;
                var t = max - n;
                document.getElementById(label).innerHTML = t;
                if ( t < 0 ){
                    t =0 ;
                    alert('A rebasado el límite de caracteres permitidos ('+ max+ ')');
                }
                
            }
            //]]>
        </script>
        </h:head>
        <h:body>
            <p:panel id="cap1" > 

                <p:panel id="Supuesto" >                        
                    <h3>Referencias, según corresponda, al o los supuestos del artículo 31 de la Ley General del Equilibrio Ecológico y la Protección del Ambiente.</h3>
                    <p:outputPanel style="background-color: #ccccff">                            
                        <h:outputText id="gen_datos" value="#{visor.descSupuesto}" escape="false" />                        
                    </p:outputPanel>
                </p:panel>
                <br/> <br/> 
                <p:panel id="Normas" rendered="#{visor.muestraNormas}">                        

                    <h3>Normas Oficiales Mexicanas.</h3>
                    <p:outputPanel style="background-color: #ccccff">
                        Que establecen las especificaciones de protección ambiental, especificaciones técnicas o procedimientos para:
                        <br/><br/>
                        <h:outputText value="#{visor.descNorma}" escape="false" />                      
                    </p:outputPanel>
                    <br></br>
                    <p:panel id="horizontal" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,1,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>
                </p:panel>
                <br/> <br/> 
                <p:panel id="NormasCuest" rendered="#{visor.muestraNormas}">                         
                    <h3>Cuestionario Norma.</h3>
                    <p:outputPanel style="background-color: #ccccff">
                        <h:dataTable value="#{visor.pregNorma}"  var="preg" style="border: 0px; background-color: #ccccff">
                            <h:column>
                                <h:outputText value="#{preg[5]}" />
                            </h:column>
                            <h:column>
                                <h:outputText value="     #{preg[3]}" />
                            </h:column>
                        </h:dataTable>
                    </p:outputPanel>
                    <p:panel id="horizontal2" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,1,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>
                </p:panel>
                <br/> <br/>  
                <h:panelGroup id="p_espec" rendered="#{visor.muestraNormas}">
                <div id="d_espec" class="gobmx-example">
                    <h3>Especificaciones</h3>
                    <h:dataTable value="#{visor.proyecto.especificacionProyectoList}" var="esp">
                        <h:column>
                            <div >
                                <table class="tabla_especificacion" style="width:100%; border: solid  #cccccc 1px"  >
                                    <tr>
                                        <td style="text-align: center;vertical-align: middle"><b>Numeral</b></td>
                                        <td style="text-align: center;vertical-align: middle"><b>Especificación</b></td>
                                    </tr>
                                    <tr>
                                        <td style="width:70px; text-align: center">#{esp.catEspecificacion.catEspecificacionPK.especificacionId}</td>
                                        <td style="text-align: justify;vertical-align: middle">#{esp.catEspecificacion.especificacionDescripcion}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <table style="width:100%;" >
                                                <tr>
                                                    <td><b>Cumplimiento</b></td>
                                                </tr>
                                                <tr>
                                                    <td>

                                                <p:inputTextarea value="#{esp.especificacionJustificacion}" style="width:100%;background-color: #ccccff" rows="8" onkeyup="contarCaracteres(this, 'lb#{esp.catEspecificacion.catEspecificacionPK.especificacionIdComp}', #{esp.catEspecificacion.especificacionLimite})" maxlength="#{esp.catEspecificacion.especificacionLimite}" autoResize="false" disabled="true"/>
                                                        <div>
                                                            <div style="float:left">Límite:</div>
                                                            <div style="float:right" id="lb#{esp.catEspecificacion.catEspecificacionPK.especificacionIdComp}" >#{esp.caracteres}</div>

                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h:panelGroup rendered="#{esp.catEspecificacion.anexo}">
                                                            <!--<b>Anexar archivo</b>
                                                            <iframe src='#{request.contextPath}/faces/modarchivos/cargaespecificaciones.xhtml?info=#{esp.especificacionProyectoPK.especificacionId},#{esp.especificacionProyectoPK.folioProyecto},#{esp.especificacionProyectoPK.serialProyecto},#{esp.especificacionProyectoPK.normaId}' width='100%' height="160px" frameborder='0'></iframe>-->
                                                        </h:panelGroup>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </div>

                        </h:column>
                    </h:dataTable>
                </div>
                <br/> <br/> 
                <p:panel id="horizontal4" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,1,3,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </h:panelGroup>

            <h:panelGroup id="ParqInd" rendered="#{visor.muestraPaqInd}">  
                       
                    <p:panel id="parqIndCat" >                        
                        <h3>Parques Industriales - descripción.</h3> 
                        <p:outputPanel style="background-color: #ccccff">                            
                            <h:outputText id="gen_datos2" value="#{visor.catParqueIndustrial.parqueDescripcion}" escape="false" />                        
                        </p:outputPanel>
                         <br/> <br/> 
                        <p:panel id="horizontal4" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                            <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,2,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                        </p:panel>
                    </p:panel>
                    <br/> <br/> 

                    <p:panel id="ParqIndJust" >                        
                        <h3>Justificación (Identifiación, Análisis y Conclusión).</h3> 
                        <p:outputPanel style="background-color: #ccccff">                            
                            <h:outputText id="gen_datos3" value="#{visor.parqueIndustrialProyecto.parqueIndJustificacion}" escape="false" />                        
                        </p:outputPanel>
                        <br/> <br/> 
                        <p:panel id="horizontal5" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                            <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,2,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                        </p:panel>
                    </p:panel>
                     
                    <br/> <br/>                             
            </h:panelGroup>  




            <h:panelGroup id="DesUrb" rendered="#{visor.muestraDesUrb}">  
                    


                    <p:panel id="pduPoetOpc" >  
                        <p:outputPanel style="background-color: #ccccff">                            
                            <h:outputText id="gen_datos5" value="#{visor.opcPduPoet}" escape="false" />                        
                        </p:outputPanel>
                    </p:panel>
                    <br/> <br/>  

                    <p:panel id="pduPoetOpc2" > 
                        <h3>Descripción.</h3> 
                        <p:outputPanel style="background-color: #ccccff">                            
                            <h:outputText id="gen_datos6" value="#{visor.opcPduPoet2}" escape="false" />                        
                        </p:outputPanel>
                        <br/> <br/> 
                        <p:panel id="horizontal6" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;" rendered="#{visor.mustraPoet}">
                            <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,3,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                        </p:panel>
                        <br/> <br/> 
                        <p:panel id="horizontal7" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;" rendered="#{visor.mustraPdu}">
                            <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,4,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                        </p:panel>
                    </p:panel>
                    <br/> <br/>  

                    <p:panel id="pduPoetJus" >                        
                        <h3>Justificación (Identifiación, Análisis y Conclusión).</h3> 
                        <p:outputPanel style="background-color: #ccccff">                            
                            <h:outputText id="gen_datos7" value="#{visor.justPduPoet}" escape="false" />                        
                        </p:outputPanel>
                        <br/> <br/> 
                        <p:panel id="horizontal8" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;" rendered="#{visor.mustraPoet}">
                            <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,3,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                        </p:panel>
                        <br/> <br/> 
                        <p:panel id="horizontal9" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;" rendered="#{visor.mustraPdu}">
                            <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=1,4,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                        </p:panel>
                    </p:panel>
                    <br/> <br/>                             
            </h:panelGroup>
        </p:panel>
        
        </h:body>
    </f:view>
</html>
