<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    

    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title>TODO supply a title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>           
        </h:head>
        <h:body>
            <p:panel id="caractpartProy">
                <h3>Características Particulares del Proyecto.</h3>
                <label class="control-label" for="RFCProm">Describa las características particulares del proyecto basado en la naturaleza del instrumento regulatorio.</label>
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="repTecCURP" value="#{visor.proyecto.proyDescParticular}" escape="false" class="form-control" />                        
                </p:outputPanel>
                <br></br>
                <p:panel id="horizontal" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
                
            </p:panel>
            
            <br></br>
            
            <p:panel id="progGral">
                <h3>Programa General de Trabajo.</h3>
                <label class="control-label" for="RFCProm">Adjunte el archivo que contenga el diagrama de Gantt que describa las etapas del proyecto (Preparación del Sitio, Contrucción, Operación y Manteniminto, Abandono)</label>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.anexosProyecto2}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>                     
                </div>
                <br></br>
                <h3 style="margin-left: 5px;">Duración.</h3>
                <div>
                    <label class="control-label">Duración de su proyecto para cada etapa</label>
                </div>
                <table id="EtapaProyecto" class="table-bordered" align="center" >
                    <tr>            
                        <th></th>
                        <th><center>Años</center></th>
                        <th><center>Meses</center></th>

                    </tr>
                    <tr>
                        <th> Tiempo de Vida <br>
                                útil del Proyecto</br></th>
                        <th>
                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="annvida" value="#{visor.anios[0]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>
                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="mesvida" value="#{visor.meses[0]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>

                    </tr>
                    <tr>            
                        <th colspan="3" style="color:white " >Espacio </th>

                    </tr>
                    <tr>            
                        <th style="color: #ac2925 " ><center>Etapa del
                                <br>Proyecto</br></center></th>
                        <th><center>Años</center></th>
                        <th><center>Meses</center></th>

                    </tr>
                    <tr>                
                        <th>Preparación <br> del Sitio</br></th>
                        <th>

                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="annPreSit" value="#{visor.anios[1]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>

                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="mesPreSit" value="#{visor.meses[1]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                    </tr>
                    <tr>                
                        <th>Construcción</th>
                        <th>    
                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="annCons" value="#{visor.anios[2]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>

                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="mesCons" value="#{visor.meses[2]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                    </tr>
                    <tr>                
                        <th>Operación y<br> Mantenimiento </br></th>
                        <th>
                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="annOpMan" value="#{visor.anios[3]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>

                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="mesOpMan" value="#{visor.meses[3]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>

                    </tr>
                    <tr>                
                        <th>Abandono</th>
                        <th>
                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="annAban" value="#{visor.anios[4]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>

                            <p:outputPanel style="background-color: #ccccff;">                            
                                <h:outputText id="mesAban" value="#{visor.meses[4]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                    </tr>
                </table>
                <br></br>
                <br></br>
                <p:panel id="horizontal2" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
                       
            <br></br>
            
            <p:panel id="etapas">
                <ui:fragment id="Prepara" rendered="#{visor.banderas[0]}">
                   
                    <h3>Preparación del Sitio  </h3>

                    <h:outputLabel class="control-label" for="PreSit">Agregue cada una de las obras o actividades con la 
                            descripción de las mismas.</h:outputLabel>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="PreSit" value="#{visor.preparacionSitio.etapaDescripcionObraAct}" escape="false" class="form-control"  />                        
                    </p:outputPanel>                            
                    <div  id="ver" style="vertical-align: top; width: 100%; ">
                        <br/>
                        <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                            <tr>
                                <td>
                                    Archivos anexados:<br/>
                                    <h:dataTable value="#{visor.anexosProyectoEtapa1}" var="anexo" >
                                        <h:column>
                                            <br/>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>

                                                    </td>
                                                    <td style="width:10px"></td>
                                                    <td>
                                                        Nombre del archivo:
                                                        #{anexo.anexoNombre}
                                                        <br/>
                                                        Descripcion:
                                                        #{anexo.anexoDescripcion}
                                                        <br/>

                                                    </td>
                                                </tr>
                                            </table>
                                        </h:column>

                                    </h:dataTable>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br></br>
                    <p:panel id="horizontal3" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,3,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>  
                       
                </ui:fragment>
                <ui:fragment id="Construct" rendered="#{visor.banderas[1]}">
                    <h3>Construcción</h3>

                    <label class="control-label" for="Cons">Agregue cada una de las obras o actividades con la 
                            descripción de las mismas.</label>                           
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="Cons" value="#{visor.construccion.etapaDescripcionObraAct}" escape="false" class="form-control"  />                        
                    </p:outputPanel>
                    <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.anexosProyectoEtapa2}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>

                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                    </div>
                    <br></br>
                    <p:panel id="horizontal4" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,4,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>
                </ui:fragment>
                <ui:fragment id="OperaMant" rendered="#{visor.banderas[2]}">
                    <h3>Operación y Mantenimiento</h3>
                    <h:outputLabel class="control-label" for="OpenMan">Agregue cada una de las obras o actividades con la 
                            descripción de las mismas.</h:outputLabel>                            
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="OpenMan" value="#{visor.operaMantenim.etapaDescripcionObraAct}" escape="false" class="form-control"  />                        
                    </p:outputPanel>

                    <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.anexosProyectoEtapa3}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>

                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                    </div>
                    <br></br>
                    <p:panel id="horizontal5" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,5,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>    
                </ui:fragment>
                <ui:fragment id="Abandono" rendered="#{visor.banderas[3]}">
                    <h3>Abandono del Sitio</h3>
                    <h:outputLabel class="control-label" for="AbaSi"><span class="requerido">Agregue cada una de las obras o actividades con la 
                            descripción de las mismas.</span></h:outputLabel>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="AbaSi" value="#{visor.abandono.etapaDescripcionObraAct}" escape="false" class="form-control"  />                        
                    </p:outputPanel>


                    <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.anexosProyectoEtapa4}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>

                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                    </div>
                    <br></br>
                    <p:panel id="horizontal6" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,6,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>
                </ui:fragment>
            </p:panel>
            
            <br></br>
            
            <p:panel id="sustancias">
                <h3>Sustancias</h3>
                
                <ui:fragment rendered="#{!empty visor.proyectoSustancia}">
                    <h:dataTable id="dl" value="#{visor.proyectoSustancia}" var="obj">

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control"  value="Etapa" />
                            </f:facet>  
                            <h:outputText value="#{obj[2]}" class="form-control"  />                                
                        </h:column>                            

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control"  value="Tipo de Sustancia" />
                            </f:facet>
                            <h:outputText value="#{obj[3]}" class="form-control" /> 
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control"  value="Cantidad Almacenada" />
                            </f:facet>
                            <h:outputText value="#{obj[4]}" class="form-control" /> 
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control"  value="Unidad" />
                            </f:facet>
                            <h:outputText value="#{obj[5]}" class="form-control" /> 
                        </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="form-control"  value="Hoja de Seguridad" />
                                </f:facet>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{obj[7]}&amp;tipo=general">Ver Archivo</a>

                                        </td>
                                        <td style="width:10px"></td>
                                        <td class="form-control" >
                                            Nombre del archivo:
                                            #{obj[8]}
                                            <br/>
                                            Descripcion:
                                            #{obj[9]}
                                            <br/>

                                        </td>
                                    </tr>
                                </table>
                            </h:column>
                    </h:dataTable>                        
                </ui:fragment>

                <ui:fragment rendered="#{empty visor.proyectoSustancia}">
                    <br/>
                    <div class="alert alert-danger">
                        <h:outputLabel value="No ha registrado ninguna etapa del proyecto, 
                                       proceda a registrar una para continuar con la captura."/>
                    </div>
                </ui:fragment>
                <br></br>
                <p:panel id="horizontal7" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,2,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="EmisionResDesc">
                <h3>Emisión, Residuos y Descargas</h3>   
                <label class="control-label" for="sust"><span class="requerido">Ingresar sólo las sustancias que se utilicen dentro de la etapa de operación.</span></label>                
               
                <ui:fragment rendered="#{!empty visor.proyectoEmiResDes}">
                    <h:dataTable id="dl" value="#{visor.proyectoEmiResDes}" var="obj" class="table">
                        
                        <h:column>
                            <f:facet name="header">
                                <h:outputText style="width: 5px;" class="form-control" value="Emisión, Residuos y Descargas" />
                            </f:facet>
                            <h:outputText value="#{obj[2]}" class="form-control" /> 
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control" value="Tipo de Contaminante" />
                            </f:facet>
                            <h:outputText value="#{obj[3]}" class="form-control" /> 
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control" value="Etapa" />
                            </f:facet>
                            <h:outputText value="#{obj[4]}" class="form-control" /> 
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control" value="Cantidad" />
                            </f:facet>
                            <h:outputText value="#{obj[5]}" class="form-control" /> 
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control" value="Unidad" />
                            </f:facet>
                            <h:outputText value="#{obj[6]}" class="form-control" /> 
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control" value="Medida de control" />
                            </f:facet>
                            <h:outputText id="control" value="#{obj[7]}" class="form-control" />
                        </h:column>
                        
                    </h:dataTable>
                    
                </ui:fragment>
                             
                <ui:fragment rendered="#{empty visor.proyectoEmiResDes}">
                    <div class="alert alert-danger">
                        <h:outputLabel value="No ha registrado ninguna etapa del proyecto, 
                                       proceda a registrar una para continuar con la captura."/>
                    </div>
                </ui:fragment>
                <br></br>
                <p:panel id="horizontal8" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,3,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
        
            <br></br>
            
            <p:panel id="areaInflu">
                <h3>Descripción del Ambiente en área de influencia del proyecto</h3>                
                <h:outputLabel class="control-label" for="CaPaPr" styleClass="requerido" value="Dato Obligatorio"/>   
                <p:editor  value="#{visor.proyecto.proyDescAmbiente}" disabled="true" ></p:editor>
                <br></br>
                <p:panel id="horizontal9" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,4,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="impactoProy">
                <h3>Resultados de la Evaluación de los Impactos Ambientales y Medidas de Mitigación</h3>  
                <ui:fragment rendered="#{!empty visor.proyImpactos}">
                    <h:dataTable id="dl" value="#{visor.proyImpactos}" var="obj" class="table">
                        
                        <h:column>
                            <f:facet name="header">
                                <h:outputText style="width: 5px;" class="form-control" value="Etapa" />
                            </f:facet>
                            <h:outputText value="#{obj[2]}" class="form-control" /> 
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control" value="Impacto Ambiental" />
                            </f:facet>
                            <h:outputText value="#{obj[3]}" class="form-control" /> 
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control" value="Medida de mitigación" />
                            </f:facet>
                            <h:outputText value="#{obj[4]}" class="form-control" /> 
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control" value="Medida adicional a los impactos:" />
                            </f:facet>
                            <h:outputText value="#{obj[5]}" class="form-control" /> 
                        </h:column>              
                        
                    </h:dataTable>
                    
                    
                    
                    
                    
                </ui:fragment>

                             
                <ui:fragment rendered="#{empty visor.proyImpactos}">
                    <div class="alert alert-danger">
                        <h:outputLabel value="No ha registrado ninguna etapa del proyecto, 
                                       proceda a registrar una para continuar con la captura."/>
                    </div>
                </ui:fragment>
                
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.anexosProyectoImpAmb}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal10" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,5,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="medComp">
                    <h3>Descripción de las medidas de compensación o desarrollo de actividades destinadas a la preservación.</h3>  
                    <h:outputLabel class="control-label" for="CaPaPr"><span class="requerido">Describa las medidas tendientes a la preservación.</span></h:outputLabel>                        
                    <p:editor  value="#{visor.proyecto.proyDescMedidasCompen}" disabled="true" ></p:editor>   
            <br></br>            
                <h3>Descripción de la protección o conservación de ecosistema que requieran de implementación de dichas actividades </h3>
                <h:outputLabel class="control-label" for="CaPaEc"><span class="requerido">Describa la Protección o Conservación de dichas actividades.</span></h:outputLabel>
                <p:editor  value="#{visor.proyecto.proyDescProtecConserv}" disabled="true" ></p:editor>
            <br></br>    
                <p:panel id="horizontal11" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,6,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
        </h:body>
    </f:view>
</html>
