<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui">
    
    
    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title>TODO supply a title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>            
        </h:head>
        <h:body>
            <p:panel id="datRespEstRiesg">
                <h3>Datos Generales</h3>
                <h:outputText styleClass="control-label" value="Nombre o razón social de la empresa responsable de elaborar el estudio de riesgo:"/>                       
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="PreSit" value="#{visor.estudio.estudioNomRespEla}" escape="false" class="form-control"  />                        
                </p:outputPanel>

                <h:outputText styleClass="control-label" value="RFC:"/>
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="PreSit" value="#{visor.estudio.estudioRfcRespEla}" escape="false" class="form-control"  />                        
                </p:outputPanel>                        

                <h:outputText styleClass="control-label" value="Nombre del representante legal:" />
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="PreSit" value="#{visor.estudio.estudioNomRpteLegal}" escape="false" class="form-control"  />                        
                </p:outputPanel>

                <h:outputText styleClass="control-label" value="RFC del representante legal:" /> 
                <p:outputPanel style="background-color: #ccccff;">                            
                    <h:outputText id="PreSit" value="#{visor.estudio.estudioRfcRpte}" escape="false" class="form-control"  />                        
                </p:outputPanel>
                
                <br></br>
                <p:panel id="horizontal" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="descSistTransp">
                 <h3>Descripción del Sistema de Transporte</h3>
                 <p:editor  value="#{visor.estudio.estudioDescSistTansp}" disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.descSistTransp}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal2" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="baseDiseno">
                <h3>Bases de Diseño</h3>
                <p:editor  value="#{visor.estudio.estudioDescBasesDise}" disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.baseDiseno}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal3" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="hojasSeg">
                <h3>Hojas de Seguridad</h3>
                
                <br></br>
                <p:panel id="horizontal4" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,3,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="hojasSeg">
                <h3>Condiciones de Operación</h3>
                <p:editor  value="#{visor.estudio.estudioOperacion}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.condOper}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal5" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,4,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="pruebVerif">
                <h3>Pruebas de Verificación</h3>
                <p:editor value="#{visor.estudio.estudioPruebasVerificacion}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.pruebVerif}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal6" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,5,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="procMedSeg">
                <h3>Procedimientos y Medidas de Seguridad</h3>
                <p:editor value="#{visor.estudio.estudioProcedimientosMedidas}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.procMedCont}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal7" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,6,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="analEvaRiesg">
                <h3>Análisis y Evaluación de Riesgos</h3>
                <p:editor value="#{visor.estudio.estudioInteraccionesRiesgo}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.analEvalRiesg}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal8" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,7,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="metodIdentJerq">
                <h3>Metodologías de Identificación y Jerarquización</h3>
                <p:editor value="#{visor.estudio.estudioMetodologiaIdenJerar}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.metodIdentJerq}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal9" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,2,8,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="radPotAfect">
                <h3>Radios Ponteciales de Afectación</h3>
                <p:editor value="#{visor.estudio.estudioRadiosPotenciales}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.radPotAfect}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal10" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,3,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="intRiesgo">
                <h3>Interacciones de Riesgo</h3>
                <p:editor value="#{visor.estudio.estudioInteraccionesRiesgo}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.intRiesgo}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal11" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,3,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="efectAreaInfl">
                <h3>Efectos Sobre el Área de Influencia</h3>
                <p:editor value="#{visor.estudio.estudioEfectosAreaInflu}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.efectAreaInfl}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal12" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,3,3,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="recomTecOper">
                <h3>Recomendaciones Técnico-Operativas</h3>
                <p:editor value="#{visor.estudio.estudioRecomendacionesTecOp}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.recomTecOper}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal13" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,4,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="sistSeg">
                <h3>Sistemas de Seguridad</h3>
                <p:editor value="#{visor.estudio.estudioSistemasSeguridad}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.sistSeg}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal14" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,4,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="medPrevent">
                <h3>Medidas Preventivas</h3>
                <p:editor value="#{visor.estudio.estudioMedidasPreventivas}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.medPrevent}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal15" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,4,3,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="conclucERA">
                <h3>Señalar las Conclusiones del Estudio de Riesgo Ambiental</h3>
                <p:editor value="#{visor.estudio.estudioSenalaConclusion}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.conclucERA}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal16" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,5,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="resumenRA">
                <h3>Hacer un Resumen de la Situación General que Presenta el Proyecto en Materia de Riesgo Ambiental</h3>
                <p:editor value="#{visor.estudio.estudioResumenSituacion}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.resumenRA}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal17" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,5,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="infoTec">
                <h3>Presentar el Informe Técnico Debidamente Llenado</h3>
                <p:editor value="#{visor.estudio.estudioInformeTecnico}"  disabled="true" ></p:editor>
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.infoTec}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>
                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal18" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,5,3,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="planosLocFotos">
                <h3>Planos de localización y Fotografías</h3>
                
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.planosLocFot}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>
                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal19" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,6,1,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="otrosAnexos">
                <h3>Otros Anexos</h3>
                
                 <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{visor.otrosAnex}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.anexosProyectoPK.anexoId}&amp;tipo=general">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.anexoNombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.anexoDescripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>
                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                     
                    </div>
                <br></br>
                <p:panel id="horizontal20" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,6,2,0,#{visor.proyecto.bitacoraProyecto},#{visor.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
        </h:body>
    </f:view>
</html>
