<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<h:outputStylesheet library="css" name="moduloEvaluacion.css" />
	<h:outputStylesheet library="css" name="bootstrap.css" />
	<h:outputStylesheet library="css" name="otros.css" />
	<h:outputStylesheet library="css" name="gobmx.css" />
	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="iaetiqueta.css" />
	<style>
.ui-datatable-odd {
	background: #ffffff;
}

.ui-datatable-even {
	background: #F2F5F9;
}
</style>
</h:head>
<h:body>
	<p:layout fullPage="true" styleClass="layoutCenterPrincipal">
		<p:growl id="growl" sticky="true" />		

		<p:layoutUnit position="center" >
                    
                    <p:toolbar rendered="true">
                        <p:toolbarGroup align="left">
                            <h:outputText value="Solicitudes de opinión técnica" />
                        </p:toolbarGroup>

                        <p:toolbarGroup align="right">
                            <p:button value="Regresar" image="ui-icon-clock"  href="
                                                                  #{request.contextPath}/faces/Restringido/pantallaInsideCapMIA.xhtml?bitaNum=#{opinionTecnicaBean.bitacoraProyectoUrl}&amp;tramYaTurnado=#{opinionTecnicaBean.turnado}" />
                        </p:toolbarGroup>
                    </p:toolbar>
			<h:form id="formList">
				<p:dataTable id="listResult" style="width: 95%; margin: auto;"
					rowStyleClass=".ui-datatable-odd .ui-datatable-even"
					paginator="true" paginatorPosition="bottom" rows="15"
					rowIndexVar="position" value="#{opinionTecnicaBean.listaResultandos}"
					selection="#{opinionTecnicaBean.unidadesSelecionados}"
					rowKey="#{res.id}"
					var="res" emptyMessage="No se encontraron Resultandos">
					
<!-- 					<p:ajax event="toggleSelect" update=":formGeneraOficio:btnGeneraOficio" /> -->
<!-- 					<p:ajax event="rowSelectCheckbox" update=":formGeneraOficio:btnGeneraOficio" /> -->
<!-- 					<p:ajax event="rowUnselectCheckbox" update=":formGeneraOficio:btnGeneraOficio" /> -->
	
<!-- 					<p:column selectionMode="multiple" style="width:50px" /> -->
					
					<p:column headerText="Dependencia">
						<h:outputText value="#{res.nombreDependencia}" />
					</p:column>
					<p:column headerText="Cargo">
						<h:outputText value="#{res.cargo}" />
					</p:column>
					<p:column headerText="Nombre del Titular">
						<h:outputText value="#{res.nombbreDestinatario}" />
					</p:column>				
					<p:column headerText="Acciones">
						<p:commandButton update=":resultForm:grid" icon="ui-icon-pencil"
							title="Editar Unidad Administrativa"
							actionListener="#{opinionTecnicaBean.abrirModalEditarRegistro}">
							<f:param name="idSeleccion" value="#{position}" />
						</p:commandButton>
                                                <p:commandButton value="Generar Oficio" rendered="#{!res.oficio}"
							action="#{opinionTecnicaBean.generaOficioUnico}"
                                                        update=":formList">
							<f:param name="idSeleccion" value="#{position}" />
						</p:commandButton>
                                                <p:commandButton value="Editar Oficio" rendered="#{res.oficio}"
							action="#{opinionTecnicaBean.editaOficio}">
							<f:param name="idSeleccion" value="#{position}" />
						</p:commandButton>
					</p:column>

				</p:dataTable>

				<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
					<h:panelGrid columns="2" style="margin: auto;">
						<p:commandButton value="Sí" type="button"
							styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
						<p:commandButton value="No" type="button"
							styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
					</h:panelGrid>
				</p:confirmDialog>
			</h:form>
			<br />
<!-- 			<h:form id="formGeneraOficio"> -->
<!-- 				<h:panelGrid columns="1" style="float: right;"> -->
<!-- 					<p:commandButton id="btnGeneraOficio" value="Generar Oficios"  -->
<!-- 					disabled="#{opinionTecnicaBean.unidadesSelecionados.size() == 0}" -->
<!-- 					action="#{opinionTecnicaBean.generaOficio}"/> -->
<!-- 				</h:panelGrid> -->
<!-- 			</h:form> -->


			<p:dialog widgetVar="dlogResultando"
				header="#{opinionTecnicaBean.tituloModal}" width="600" 
				modal="true" appendTo="@(body)" draggable="false" closable="false"
				resizable="false">
				<h:form id="resultForm">
					<h:panelGrid id="grid" columns="2" width="500">
						<h:outputText value="Dependencia: " />
						<h:outputText id="folDoc" value="#{opinionTecnicaBean.nombreDependencia}"/>
						
						<h:outputText value="Cargo: " />
						<h:outputText id="ref" value="#{opinionTecnicaBean.cargo}"/>

						<h:outputText value="Titular: " />
						<p:inputText id="catDoc" value="#{opinionTecnicaBean.nombbreDestinatario}" />

					</h:panelGrid>
					<br />
					<h:panelGrid columns="2" style="float: right;">
						<p:commandButton class="btn btn-default btn-sm" value="Cancelar"
							onclick="PF('dlogResultando').hide();" />

						<p:commandButton id="guardar" class="btn btn-primary btn-sm"
							actionListener="#{opinionTecnicaBean.guardar}"
							update="grid,:formList:listResult,:growl" value="Guardar" />
					</h:panelGrid>
				</h:form>
			</p:dialog>

		</p:layoutUnit>

	</p:layout>
</h:body>

</html>