/* 
    Created on : 07-ago-2014, 13:41:58
    Author     : mauricio
*/

/* Default class for an overlay */
.ow-overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: #424242;
    opacity: 0.8;
    filter:alpha(opacity=80);
    -moz-opacity:0.8;
    -khtml-opacity: 0.8;

}

/* Default class for both hidden overlay and modal window */
.ow-closed {
    display: none;
}

/* Default class for modal window */
.modal2 {
    position: fixed;
    z-index: 20;
    height: 400px;
    left: 50%;
    top: 50px;
    width: 80%;

    background-color: #fff
}

.visor_cont {
    float: top;
    height: 90%;
    width: 100%;
    overflow: auto;
}

.visor_nav {
    position: fixed;
    float: bottom;
    height: 10%;
    text-align: center;
    vertical-align: middle;
}
