<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

<f:view>
	<h:head>
		<f:metadata>
			<f:viewParam name="bitaNum" value="#{visor.pramBita}" />
		</f:metadata>
		<title>TODO supply a title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</h:head>
	<h:body>
	
		<!--								DATOS GENERALES								-->
		<p:panel id="datRespEstRiesg">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h3>Datos Generales</h3>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<p:separator/>
			<br />
			<h:panelGroup>
				<h:outputText style="bold; font-size:18px;" value="Nombre o razón social de la empresa responsable de elaborar el estudio de riesgo:" />
				<br />
				<h:outputLabel value="#{ipCapERA.estudio.estudioNomRespEla}" id="PreSit" escape="false" class="form-control" />
				<br />
				<h:outputText style="bold; font-size:18px;" value="RFC:" />
				<br />
				<h:outputLabel value="#{ipCapERA.estudio.estudioRfcRespEla}" id="PreSit" escape="false" class="form-control" />
				<br />
				<h:outputText style="bold; font-size:18px;" value="Nombre del representante legal:" />
				<br />
				<h:outputLabel value="#{ipCapERA.estudio.estudioNomRpteLegal}" id="PreSit" escape="false" class="form-control" />
				<br />
				<h:outputText style="bold; font-size:18px;" value="RFC del representante legal:" />
				<br />
				<h:outputLabel value="#{ipCapERA.estudio.estudioRfcRpte}" id="PreSit" escape="false" class="form-control" />
				<br />
			</h:panelGroup>		
			<br />
			<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
				<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
			</p:panel>
		</p:panel>
		<br />
		
		<!--								ESTUDIO DE RIESGO AMBIENTAL								-->		
		<div class="dgira_h3" style="width: 100%; height: 50px">
			<div style="float: left; display: block; width: 75%">
				<h1>Estudio de Riesgo Ambiental</h1>
			</div>
			<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
		</div>
		<br />
		<br />
		
		<!--					ESCENARIOS DE LOS RIESGOS AMBIENTALES RELACIONADOS CON EL PROYECTO					-->
		<p:panel id="escRiesgosAmbientales">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h2>Escenarios de los riesgos ambientales relacionados con el proyecto</h2>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			
			<!--			DESCRIPCION DEL SISTEMA DE TRANSPORTE			-->
			<p:panel id="descSistTransp">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Descripción del Sistema de Transporte</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>			
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioDescSistTansp}" escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.descSistTransp}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			BASES DE DISEÑO			-->
			<p:panel id="basesDiseño">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Bases de Diseño</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioDescBasesDise}" escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.baseDiseno}" />
					</ui:include>
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			HOJAS DE SEGURIDAD			-->
			<p:panel id="hojasSeguridad">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Hojas de Seguridad</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<!-- <h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioSistemasSeguridad}" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.}" />
					</ui:include>
				</div>
				<br /> -->
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			 CONDICIONES DE OPERACION			-->
			<p:panel id="condicionesOperacion">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Condiciones de Operación</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioOperacion}"  escape="false"/>
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.condOper}" />
					</ui:include>
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			PRUEBAS DE VERIFICACION			-->
			<p:panel id="pruebasVerificacion">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Pruebas de Verificación</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioPruebasVerificacion}"  escape="false"/>
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.pruebVerif}" />
					</ui:include>
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			PROCEDIMIENTOS Y MEDIDAS DE SEGURIDAD			-->
			<p:panel id="procMedidasSeguridad">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Procedimientos y Medidas de Seguridad</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioProcedimientosMedidas}"  escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.procMedCont}" />
					</ui:include>
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			ANALISIS Y EVALUACION DE RIESGOS			-->
			<p:panel id="analisisEvalRiesgos">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Análisis y Evaluación de Riesgos</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioAntecedentesAcciInci}"  escape="false"/>
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.analEvalRiesg}" />
					</ui:include>
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			METODOLOGIAS DE IDENTIFICACION Y JERARQUIZACION			-->
			<p:panel id="metIdenJerar">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Metodologías de Identificación y Jerarquización</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioMetodologiaIdenJerar}" escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.metodIdentJerq}" />
					</ui:include>
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
		</p:panel>
		<br />
		
		<!--					DESCRIPCION DE LAS MEDIDAS DE PROTECCION EN TORNO A LAS INSTALACIONES					-->
		<p:panel id="descMedProInst">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h2>Descripción de las medidas de protección en torno a las instalaciones</h2>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			
			<!--			RADIOS POTENCIALES DE AFECTACION			-->
			<p:panel id="radPotAfect">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Radios Potenciales de Afectación</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioRadiosPotenciales}"  escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.radPotAfect}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			INTERACCIONES DE RIESGO			-->
			<p:panel id="interRiesgo">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Interacciones de Riesgon</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioInteraccionesRiesgo}"  escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.intRiesgo}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			EFECTOS SOBRE EL AREA DE INFLUENCIA		-->
			<p:panel id="efectosAreaInflu">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Efectos Sobre el Área de Influencia</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioEfectosAreaInflu}" escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.efectAreaInfl}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
		</p:panel>
		<br />
		
		<!--					SEÑALAMIENTO DE LAS MEDIDAS DE SEGURIDAD Y PREVENTIVAS EN MATERIA AMBIENTAL					-->
		<p:panel id="señalMedSegPrevMatAmb">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h2>Señalamiento de las medidas de seguridad y preventivas en materia ambiental</h2>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			<br />
			
			<!--			RECOMENDACIONES TECNICO-OPERATIVAS			-->
			<p:panel id="recTecOp">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Recomendaciones Técnico-Operativas</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioRecomendacionesTecOp}"  escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.recomTecOper}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			SISTEMAS DE SEGURIDAD			-->
			<p:panel id="sistSeg">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Sistemas de Seguridad</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioSistemasSeguridad}"  escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.sistSeg}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			MEDIDAS PREVENTIVAS			-->
			<p:panel id="medPrev">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Medidas Preventivas</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioMedidasPreventivas}"  escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.medPrevent}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
		</p:panel>
		<br />
		
		<!--					RESUMEN					-->
		<p:panel id="resumen">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h2>Resumen</h2>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			
			<!--			SEÑALAR LAS CONCLUSIONES DEL ESTUDIO DE RIESGO AMBIENTAL			-->
			<p:panel id="señalConclEstRiesgoAmb">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Señalar las Conclusiones del Estudio de Riesgo Ambiental</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioSenalaConclusion}" escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.conclucERA}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			HACER UN RESUMEN DE LA SITUACION GENERAL QUE PRESENTA EL PROYECTO EN MATERIA DE RIESGO AMBIENTAL			-->
			<p:panel id="resSitGnralProyMatRiesgoAmb">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Hacer un Resumen de la Situación General que Presenta el Proyecto en Materia de Riesgo Ambiental</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioResumenSituacion}" escape="false" />
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.resumenRA}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			PRESENTAR INFORME TECNICO DEBIDAMENTE LLENADO			-->
			<p:panel id="infTecLlenado">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Presentar el Informe Técnico Debidamente Llenado</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioInformeTecnico}"  escape="false"/>
				<br />
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.infoTec}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
		</p:panel>
		<br />
		
		<!--					Identificación de los instrumentos					-->
		<p:panel id="identInstrumentos">
			<div class="dgira_h3" style="width: 100%; height: 50px">
				<div style="float: left; display: block; width: 75%">
					<h2>Identificación de los instrumentos</h2>
				</div>
				<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
			</div>
			<br />
			
			<!--			PLANOS DE LOCALIZACION Y FOTOGRAFIAS			-->
			<p:panel id="planosLocFot">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Planos de localización y Fotografías</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<!-- <h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioRecomendacionesTecOp}" />
				<br /> -->
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.planosLocFot}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
			
			<!--			OTROS ANEXOS			-->
			<p:panel id="otrosAnexos">
				<div class="dgira_h3" style="width: 100%; height: 50px">
					<div style="float: left; display: block; width: 75%">
						<h3>Otros Anexos</h3>
					</div>
					<div id="tit1" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br />
				<p:separator/>
				<br />
				<!-- <h:outputLabel style="text-align:justify" value="#{ipCapERA.estudio.estudioSistemasSeguridad}" />
				<br /> -->
				<div id="ver" style="vertical-align: top; width: 100%;">
					<ui:include src="/anexosarchivos.xhtml">
						<ui:param name="listaTabla" value="#{ipCapERA.otrosAnex}" />
					</ui:include>				
				</div>
				<br />
				<p:panel header="Comentarios" collapsed="true" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
					<iframe width="100%" height="375px" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=4,1,0,0,#{ipCapERA.proyecto.bitacoraProyecto},#{ipCapERA.idusuario}" frameborder="0"></iframe>
				</p:panel>
			</p:panel>
			<br />
		</p:panel>
	</h:body>
</f:view>
</html>
