<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    

    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title>TODO supply a title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <script src="#{request.contextPath}/assets/js/vendor/bootstrap.js"></script>           
        </h:head>
        <h:body>
            <p:panel id="caractpartProy">
                <h3>Características Particulares del Proyecto.</h3>
                <hr></hr>
                <label class="control-label" for="RFCProm">Describa las características particulares del proyecto basado en la naturaleza del instrumento regulatorio.</label>
                <p:outputPanel>                            
                    <h:outputText style="text-align:justify" id="repTecCURP" value="#{ipCap3.proyecto.proyDescParticular}" escape="false" class="form-control" />                        
                </p:outputPanel>
                <br></br>
                <p:panel id="horizontal" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,1,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
                
            </p:panel>
            
            <br></br>
            
            <p:panel id="progGral">
                <h3>Programa General de Trabajo.</h3>
                <hr></hr>
                <label class="control-label" for="RFCProm">Adjunte el archivo que contenga el diagrama de Gantt que describa las etapas del proyecto (Preparación del Sitio, Contrucción, Operación y Manteniminto, Abandono)</label>
                <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{ipCap3.anexosProyecto2}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.seqId}&amp;tipo=archivo_proyecto">Ver Archivo</a>
                                                    
                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.nombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.descripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>                     
                </div>
                <br></br>
                <br></br>
                <p:panel id="horizontal2" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,2,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            <br></br>
            <p:panel id="duracion">
                <br></br>
                <h3 style="margin-left: 5px;">Duración.</h3>
                <hr></hr>
                <div>
                    <label class="control-label">Duración de su proyecto para cada etapa</label>
                </div>
                <table id="EtapaProyecto" class="table-bordered" align="center" >
                    <tr>            
                        <th></th>
                        <th><center>Años</center></th>
                        <th><center>Meses</center></th>

                    </tr>
                    <tr>
                        <th> Tiempo de Vida <br>
                                útil del Proyecto</br></th>
                        <th>
                            <p:outputPanel >                            
                                <h:outputText id="annvida" value="#{ipCap3.anios[0]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>
                            <p:outputPanel >                            
                                <h:outputText id="mesvida" value="#{ipCap3.meses[0]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>

                    </tr>
                    <tr>            
                        <th colspan="3" style="color:white " >Espacio </th>

                    </tr>
                    <tr>            
                        <th style="color: #ac2925 " ><center>Etapa del
                                <br>Proyecto</br></center></th>
                        <th><center>Años</center></th>
                        <th><center>Meses</center></th>

                    </tr>
                    <tr>                
                        <th>Preparación <br> del Sitio</br></th>
                        <th>

                            <p:outputPanel >                            
                                <h:outputText id="annPreSit" value="#{ipCap3.anios[1]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>

                            <p:outputPanel >                            
                                <h:outputText id="mesPreSit" value="#{ipCap3.meses[1]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                    </tr>
                    <tr>                
                        <th>Construcción</th>
                        <th>    
                            <p:outputPanel >                            
                                <h:outputText id="annCons" value="#{ipCap3.anios[2]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>

                            <p:outputPanel >                            
                                <h:outputText id="mesCons" value="#{ipCap3.meses[2]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                    </tr>
                    <tr>                
                        <th>Operación y<br> Mantenimiento </br></th>
                        <th>
                            <p:outputPanel >                            
                                <h:outputText id="annOpMan" value="#{ipCap3.anios[3]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>

                            <p:outputPanel >                            
                                <h:outputText id="mesOpMan" value="#{ipCap3.meses[3]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>

                    </tr>
                    <tr>                
                        <th>Abandono</th>
                        <th>
                            <p:outputPanel >                            
                                <h:outputText id="annAban" value="#{ipCap3.anios[4]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                        <th>

                            <p:outputPanel >                            
                                <h:outputText id="mesAban" value="#{ipCap3.meses[4]}" escape="false" class="form-control" />                        
                            </p:outputPanel>
                        </th>
                    </tr>
                </table>
                <br></br>
                <p:panel collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,3,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
                       
            <br></br>
            
            <p:panel id="etapas">
                <ui:fragment id="Prepara" rendered="#{ipCap3.banderas[0]}">
                   
                    <h3>Preparación del Sitio  </h3>
                    <h:outputLabel class="control-label" for="PreSit">Agregue cada una de las obras o actividades con la 
                            descripción de las mismas.</h:outputLabel>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="PreSit" value="#{ipCap3.preparacionSitio.etapaDescripcionObraAct}" escape="false" class="form-control"  />                        
                    </p:outputPanel>                            
                    <div  id="ver" style="vertical-align: top; width: 100%; ">
                        <br/>
                        <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                            <tr>
                                <td>
                                    Archivos anexados:<br/>
                                    <h:dataTable value="#{ipCap3.anexosProyectoEtapa1}" var="anexo" >
                                        <h:column>
                                            <br/>
                                            <table>
                                                <tr>
                                                    <td>
                                                        <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.seqId}&amp;tipo=archivo_proyecto">Ver Archivo</a>

                                                    </td>
                                                    <td style="width:10px"></td>
                                                    <td>
                                                        Nombre del archivo:
                                                        #{anexo.nombre}
                                                        <br/>
                                                        Descripcion:
                                                        #{anexo.descripcion}
                                                        <br/>

                                                    </td>
                                                </tr>
                                            </table>
                                        </h:column>

                                    </h:dataTable>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <br></br>
                    <p:panel collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,4,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>  
                       
                </ui:fragment>
                <ui:fragment id="Construct" rendered="#{ipCap3.banderas[1]}">
                    <h3>Construcción</h3>

                    <label class="control-label" for="Cons">Agregue cada una de las obras o actividades con la 
                            descripción de las mismas.</label>                           
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="Cons" value="#{ipCap3.construccion.etapaDescripcionObraAct}" escape="false" class="form-control"  />                        
                    </p:outputPanel>
                    <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{ipCap3.anexosProyectoEtapa2}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.seqId}&amp;tipo=archivo_proyecto">Ver Archivo</a>

                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.nombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.descripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                    </div>
                    <br></br>
                    <p:panel id="horizontal4" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,5,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>
                </ui:fragment>
                <ui:fragment id="OperaMant" rendered="#{ipCap3.banderas[2]}">
                    <h3>Operación y Mantenimiento</h3>
                    <h:outputLabel class="control-label" for="OpenMan">Agregue cada una de las obras o actividades con la 
                            descripción de las mismas.</h:outputLabel>                            
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="OpenMan" value="#{ipCap3.operaMantenim.etapaDescripcionObraAct}" escape="false" class="form-control"  />                        
                    </p:outputPanel>

                    <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{ipCap3.anexosProyectoEtapa3}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.seqId}&amp;tipo=archivo_proyecto">Ver Archivo</a>

                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.nombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.descripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                    </div>
                    <br></br>
                    <p:panel id="horizontal5" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,6,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>    
                </ui:fragment>
                <ui:fragment id="Abandono" rendered="#{ipCap3.banderas[3]}">
                    <h3>Abandono del Sitio</h3>
                    <h:outputLabel class="control-label" for="AbaSi"><span class="requerido">Agregue cada una de las obras o actividades con la 
                            descripción de las mismas.</span></h:outputLabel>
                    <p:outputPanel style="background-color: #ccccff;">                            
                        <h:outputText id="AbaSi" value="#{ipCap3.abandono.etapaDescripcionObraAct}" escape="false" class="form-control"  />                        
                    </p:outputPanel>


                    <div  id="ver" style="vertical-align: top; width: 100%; ">
                    <br/>
                    <table style="border: solid #cccccc 1px; margin-left: auto; margin-right: auto;    border-spacing: 10px;border-collapse: separate;width: 700px" >
                        <tr>
                            <td>
                                Archivos anexados:<br/>
                                <h:dataTable value="#{ipCap3.anexosProyectoEtapa4}" var="anexo" >
                                    <h:column>
                                        <br/>
                                        <table>
                                            <tr>
                                                <td>
                                                    <a class="btn btn-primary" style="width: 100px" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.seqId}&amp;tipo=archivo_proyecto">Ver Archivo</a>

                                                </td>
                                                <td style="width:10px"></td>
                                                <td>
                                                    Nombre del archivo:
                                                    #{anexo.nombre}
                                                    <br/>
                                                    Descripcion:
                                                    #{anexo.descripcion}
                                                    <br/>

                                                </td>
                                            </tr>
                                        </table>
                                    </h:column>

                                </h:dataTable>
                            </td>
                        </tr>
                    </table>
                    </div>
                    <br></br>
                    <p:panel id="horizontal6" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                        <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,1,7,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                    </p:panel>
                </ui:fragment>
            </p:panel>
            
            <br></br>
            
            <p:panel id="sustancias">
                <h3>Sustancias riesgosas</h3>
                     
                <hr></hr> 
                
                <ui:fragment rendered="#{not empty ipCap3.proyectoSustancia}">
                    <h:dataTable id="dl" value="#{ipCap3.proyectoSustancia}" var="obj">

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control"  value="Etapa" />
                            </f:facet>  
                            <h:outputText value="#{obj[2]}" class="form-control"  />                                
                        </h:column>                            

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control"  value="Tipo de Sustancia" />
                            </f:facet>
                            <h:outputText value="#{obj[3]}" class="form-control" /> 
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control"  value="Cantidad Almacenada" />
                            </f:facet>
                            <h:outputText value="#{obj[4]}" class="form-control" /> 
                        </h:column>

                        <h:column>
                            <f:facet name="header">
                                <h:outputText class="form-control"  value="Unidad" />
                            </f:facet>
                            <h:outputText value="#{obj[5]}" class="form-control" /> 
                        </h:column>

                            <h:column>
                                <f:facet name="header">
                                    <h:outputText class="form-control"  value="Hoja de Seguridad" />
                                </f:facet>
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a class="btn btn-primary" target="_blank" href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{obj[7]}&amp;tipo=sustancia">Ver Archivo</a>

                                        </td>
                                        <td style="width:10px"></td>
                                        <td class="form-control" >
                                            Nombre del archivo:
                                            #{obj[8]}
                                            <br/>
                                            Descripcion:
                                            #{obj[9]}
                                            <br/>

                                        </td>
                                    </tr>
                                </table>
                            </h:column>
                    </h:dataTable>                        
                </ui:fragment>

                <ui:fragment rendered="#{empty ipCap3.proyectoSustancia}">
                    <br/>
                    <div class="alert alert-danger">
                        <h:outputLabel value="No ha registrado ninguna etapa del proyecto, 
                                       proceda a registrar una para continuar con la captura."/>
                    </div>
                </ui:fragment>
                <br></br>
                <p:panel id="horizontal7" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,2,1,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="EmisionResDesc">
                <h3>Emisión, Residuos y Descargas</h3>   
                <label class="control-label" for="sust">Ingresar sólo las sustancias que se utilicen dentro de la etapa de operación.</label>                
                <hr></hr> 
               
                <ui:fragment rendered="#{!empty ipCap3.proyectoEmiResDes}">
                    <p:dataTable id="dl" value="#{ipCap3.proyectoEmiResDes}" var="obj" style="text-align: justify;">
                        
                        <p:column style="width: 10%;font-size: 12px;">
                            <f:facet name="header" >
                                <h:outputText value="Emisión, Residuos y Descargas" />
                            </f:facet>
                            <h:outputText value="#{obj[2]}"/> 
                        </p:column>
                        <p:column style="width: 10%;font-size: 12px;">
                            <f:facet name="header">
                                <h:outputText value="Tipo de Contaminante" />
                            </f:facet>
                            <h:outputText value="#{obj[3]}"/> 
                        </p:column>

                        <p:column style="width: 10%;font-size: 12px;">
                            <f:facet name="header">
                                <h:outputText value="Etapa" />
                            </f:facet>
                            <h:outputText value="#{obj[4]}" /> 
                        </p:column>
                        <p:column style="width: 8%;font-size: 12px;text-align: right;">
                            <f:facet name="header">
                                <h:outputText value="Cantidad" />
                            </f:facet>
                            <h:outputText value="#{obj[5]}" /> 
                        </p:column>
                        <p:column style="width: 8%;font-size: 12px;">
                            <f:facet name="header">
                                <h:outputText  value="Unidad" />
                            </f:facet>
                            <h:outputText value="#{obj[6]}"/> 
                        </p:column>
                        <p:column style="width: 54%;font-size: 12px;">
                            <f:facet name="header">
                                <h:outputText value="Medida de control" />
                            </f:facet>
                            <h:outputText id="control" value="#{obj[7]}"/>
                        </p:column>
                        
                    </p:dataTable>
                    
                </ui:fragment>
                             
                <ui:fragment rendered="#{empty ipCap3.proyectoEmiResDes}">
                    <div class="alert alert-danger">
                        <h:outputLabel value="No ha registrado ninguna etapa del proyecto, 
                                       proceda a registrar una para continuar con la captura."/>
                    </div>
                </ui:fragment>
                <br></br>
                <p:panel id="horizontal8" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,3,1,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
        
            <br></br>
            
            <p:panel id="areaInflu">
                <h3>Descripción del Ambiente en área de influencia del proyecto</h3>                
                <hr></hr>
                <h:outputLabel style="text-align:justify" value="#{ipCap3.proyecto.proyDescAmbiente}" escape="false"/>
                <br></br>
                <p:panel id="horizontal9" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,4,1,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
            <br></br>
            
            <p:panel id="impactoProy">
                <h3>Resultados de la Evaluación de los Impactos Ambientales y Medidas de Mitigación</h3> 
				<hr></hr>
				
                <ui:fragment rendered="#{!empty ipCap3.proyImpactos}">
                <h:panelGroup>
					<div id="impactoProyPanel">
							<h:outputText style="bold; font-size:18px;" value="Etapa" />
							<br />
                            <h:outputLabel value="#{ipCap3.proyImpactos[2]}" style="text-align:justify" escape="false"/> 
							
							<br />
							
							<h:outputText style="bold; font-size:18px;" value="Impacto Ambiental" />
							<br />
							<h:outputLabel value="#{ipCap3.proyImpactos[3]}" style="text-align:justify" escape="false"/> 
							<br />
							<h:outputText style="bold; font-size:18px;" value="Medida de mitigación" />
							<br />
							<h:outputLabel value="#{ipCap3.proyImpactos[4]}" style="text-align:justify" escape="false"/> 
							<br />
							<h:outputText style="bold; font-size:18px;" value="Medida adicional a los impactos" />
							<br />
							<h:outputLabel value="#{ipCap3.proyImpactos[5]}" style="text-align:justify" escape="false"/> 
							<br />
		
							<hr/>
						
							<br /> <br />
		
						</div>
					</h:panelGroup>
					
                </ui:fragment>

                             
                <ui:fragment rendered="#{empty ipCap3.proyImpactos}">
                    <div class="alert alert-danger">
                        <h:outputLabel value="No ha registrado ninguna etapa del proyecto, 
                                       proceda a registrar una para continuar con la captura."/>
                    </div>
                </ui:fragment>
                
                
                <br></br>
                <!--  p:panel id="horizontal10" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,5,1,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                </p:panel-->
            </p:panel>
            
            <br></br>
            
            <p:panel id="medComp">
                    <h3>Descripción de las medidas de compensación o desarrollo de actividades destinadas a la preservación.</h3>  
                    <h:outputLabel class="control-label" for="CaPaPr">Describa las medidas tendientes a la preservación</h:outputLabel> 
                    <hr></hr>                       
                    <h:outputLabel style="text-align:justify"  value="#{ipCap3.proyecto.proyDescMedidasCompen}" escape="false"/>   
            <br></br>            
	                <h3>Descripción de la protección o conservación de ecosistema que requieran de implementación de dichas actividades </h3>
	                <h:outputLabel class="control-label" for="CaPaEc">Describa la Protección o Conservación de dichas actividades</h:outputLabel>
                    <hr></hr>                       
	                <h:outputLabel style="text-align:justify"  value="#{ipCap3.proyecto.proyDescProtecConserv}" escape="false"/>
            <br></br>    
                <p:panel id="horizontal11" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:90%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=3,6,1,0,#{ipCap3.proyecto.bitacoraProyecto},#{ipCap3.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            
        </h:body>
    </f:view>
</html>
