<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">


    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title>TODO supply a title</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
            <link rel="stylesheet" href="#{request.contextPath}/assets/css/gobmx.css"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.css" rel="stylesheet" media="screen"/>
            <link href="#{request.contextPath}/assets/css/vendor/bootstrap.min.css" rel="stylesheet" media="screen"/>
            <style>>
            	.fifteen-percent {
				     width: 15%;
				}
				
				.another-column {
				     width: 85%;
				     text-align:  justify;
				}
            </style>
        </h:head>
        <h:body>
        	<!--		 DATOS GENERALES DEL PROYECTO		 -->
            <p:panel id="datGralProy" >
             	<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%;"><h3>Datos Generales del Proyecto.</h3></div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
					<br/>
				</div>                      

                <h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel value="Nombre del proyecto: "/>
                    <h:outputLabel value="#{ipCap2.proyecto.proyNombre}"/>
                    <h:outputLabel value="Sector: "/>
                    <h:outputLabel value="#{ipCap2.sectorProy.sector}"/>
                    <h:outputLabel value="Subsector: "/>
                    <h:outputLabel value="#{ipCap2.subsectorProy.subsector}"/>
                    <h:outputLabel value="Rama: "/>
                    <h:outputLabel value="#{ipCap2.ramaProy.rama}"/>
                    <h:outputLabel value="Tipo de Proyecto: "/>
                    <h:outputLabel value="#{ipCap2.tipoProy.tipoProyecto}"/>
                </h:panelGrid>
                <br></br>
                <p:panel id="horizontal" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,1,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            <br></br>
            <!-- 							ESTADOS AFECTADOS 				-->
            <p:panel id="entMuncAfe">
                <div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%"><h3>Estados Afectados.</h3></div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br/>
				 <h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel value="Georefenciación SIGEIA: "/>
                    <h:outputLink target="_blank" value="#{ipCap2.url}" style="color: #004276;">Contacto SIGEIA</h:outputLink>
                 </h:panelGrid>
                 <br/>
				<p:dataTable id="tablaDatosReia" var="esp"
					value="#{ipCap2.todosEdos}"
					paginator="true" paginatorPosition="bottom" rows="5" emptyMessage="Sin registros." style="text-align: center;">
	
					<p:column headerText="Entidad" style="white-space: normal;">
						<h:outputText value="#{esp[2]}" />
					</p:column>
	
					<p:column headerText="Municipio" style="white-space: normal;">
						<h:outputText value="#{esp[3]}" />
					</p:column>
	
					<p:column headerText="Superficie (m2)" style="white-space: normal;">
						<h:outputText value="#{esp[4]}" >
							<f:convertNumber pattern="###,###.##"/>
						</h:outputText>
					</p:column>
				</p:dataTable>
			</p:panel>
			<br></br> 
			<p:panel>                           
                <Table> 
                    <tr>
                        <td>
                            <label class="control-label" >Entidad más afectada:</label>   
                        </td>
                        <td>
                            <h:dataTable value="#{ipCap2.edoAfectado}" var="edoAfect" >
                                <h:column>
                                    <h:inputText value="#{edoAfect[2]}"   disabled="true" class="form-control"/>
                                </h:column>
                            </h:dataTable> 
                        </td>
                        <td style="width: 10px;">

                        </td>
                        <td>
                            <label class="control-label">Municipio más afectado:</label>   
                        </td>
                        <td>
                            <h:dataTable value="#{ipCap2.edoAfectado}" var="edoAfect" >
                                <h:column>
                                    <h:inputText value="#{edoAfect[3]}" disabled="true" class="form-control"/>
                                </h:column>
                            </h:dataTable> 
                        </td>
                    </tr>
                </Table> 
                <br></br>
                <p:panel id="horizontal2" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,3,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>
					<!-- 		DIRECCION DEL PROYECTO 			-->
            <p:panel id="direccProy"> 
            	<h:panelGrid columns="2" border="0" width="100%" columnClasses="fifteen-percent, another-column">
                    <h:outputLabel value="¿Su proyecto cuenta con un domicilio establecido?"/>
                    <h:outputLabel value="#{ipCap2.tipoDomic}" />
                    <h:outputLabel value="Tipo de Vialidad: " rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="#{ipCap2.catVialidad.descripcion}" rendered="#{ipCap2.localiz}" escape="false"/>
                    <h:outputLabel value="Nombre de la Vialidad:" rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="#{ipCap2.proyecto.proyNombreVialidad}" rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="Número Exterior:" rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="#{ipCap2.proyecto.proyNumeroExterior}" rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="Número Interior: " rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="#{ipCap2.proyecto.proyNumeroInterior}" rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="Tipo de Asentamiento: " rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="#{ipCap2.catTipoAsen.nombre}" rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="Nombre del Asentamiento: " rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="#{ipCap2.proyecto.proyNombreAsentamiento}" rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="C&#243;digo Postal: " rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="#{ipCap2.proyecto.proyCodigoPostal}" rendered="#{ipCap2.localiz}" />
                    <h:outputLabel value="Localizaci&#243;n del Proyecto:" rendered="#{ipCap2.localizNo}" />
                    <h:outputLabel value="#{ipCap2.proyecto.proyUbicacionDescrita}" rendered="#{ipCap2.localizNo}"  escape="false"/>
                </h:panelGrid>
                <br></br>
                <p:panel id="horizontal3" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,2,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>
            <!-- 					TABLA ARCHIVOS ANEXADOS DEL PROYECTO 				-->

            <p:panel id="planosAdic">
            	<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%;"><h3>Archivos anexados:</h3></div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
				</div> 
                
                <p:dataTable paginator="true" paginatorPosition="bottom" rows="5"
					value="#{ipCap2.anexosProyecto}" var="anexo" rowIndexVar="rowIndex" style="text-align: center; table-layout: unset;"
					emptyMessage="Sin registros.">
			
					<p:column style="white-space: normal;">
						<f:facet name="header">Nombre del Archivo</f:facet>
						<h:outputText value="#{anexo.nombre}" />
					</p:column>
					<p:column style="white-space: normal;">
						<f:facet name="header">Descripción</f:facet>
						<h:outputText value="#{anexo.descripcion}" />
					</p:column>
					
					<p:column style="width: 15%">
						<f:facet name="header">Ver</f:facet>
						<a href="#{request.contextPath}/faces/Restringido/modarchivos/visor.xhtml?idt=#{anexo.seqId}&amp;tipo=archivo_proyecto"
							target="_blank"> <h:outputLabel
								style="cursor:pointer; text-decoration: underline; color: blue;"
								value="#{anexo.fileName}" />
						</a>
					</p:column>
				</p:dataTable>
                <br></br>
                <p:panel id="horizontal4" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,4,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

            <br></br>
			<!--                              SUPERFICIE DEL PROYECTO                        -->
           <p:panel id="supProy">
				<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%;"><h3>Superficie de Proyecto</h3></div>
					<div id="tit5" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<br/><br/>
				
				<p:dataTable id="tablaDatosSuperfice" var="supProy"
					value="#{ipCap2.proySigSupProy}"
					paginator="true" paginatorPosition="bottom" rows="5" emptyMessage="Sin registros." style="text-align: center;">
	
					<p:column headerText="Componente" style="white-space: normal;">
						<h:outputText value="#{supProy[0]}" />
					</p:column>
	
					<p:column headerText="Descripción" style="white-space: normal;">
						<h:outputText value="#{supProy[1]}" />
					</p:column>
	
					<p:column headerText="Superficie" style="white-space: normal;">
						<h:outputText value="#{esp[4]}" />
					</p:column>
					<p:column headerText="Superficie (m2)" style="white-space: normal;">
						<h:outputText value="#{supProy[2]}" >
							<f:convertNumber pattern="###,###.##"/>
						</h:outputText>
					</p:column>
				</p:dataTable>
			</p:panel>                           
            <br></br>
			<p:panel id="totSup">
                <h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel value="Total Superficie Predio (m2):"/>
                    <h:outputText value="#{ipCap2.proySigSupProyPredios[0][0]}">
                    	<f:convertNumber pattern="###,###.##"/>
                    </h:outputText>	
                    <h:outputLabel value="Total Superficie de Obra (m2): "/>
                    <h:outputText value="#{ipCap2.proySigSupProyObras[0][0]}">
                    	<f:convertNumber pattern="###,###.##"/>
                    </h:outputText>
                </h:panelGrid>
			</p:panel>
            <br></br>
            <p:panel id="horizontal5" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;">
              	<iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,5,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
            </p:panel>
            

            <br></br>
			<!-- 			INVERSION REQUERIDA Y NUMERO DE EMPLEADOS GENERADOS POR EL PROYECTO			 -->
            <p:panel id="inversion">
            	<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%;"><h3>Inversi&#243;n requerida y n&#250;mero de empleos generados por el proyecto.</h3></div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
				</div>
                <!-- <h3>Inversi&#243;n requerida y n&#250;mero de empleos<br></br>generados por el proyecto.</h3> -->	
				<h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel value="Monto de la Inversión Requerida (M.N.):"/>
                    <h:outputLabel value="$#{ipCap2.proyecto.proyInversionRequerida}"/>
                    <h:outputLabel value="Costos de Medidas de Prevención y Mitigación (M.N.):"/>
                    <h:outputLabel value="$#{ipCap2.proyecto.proyMedidasPrevencion}"/>
                    <h:outputLabel value="Inversión Total (M.N.):"/>
                    <h:outputLabel value="$#{ipCap2.totalInv}"/>
                    <h:outputLabel value="Empleos Permanentes:"/>
                    <h:outputLabel value="#{ipCap2.proyecto.proyEmpleosPermanentes}"/>
                    <h:outputLabel value="Empleos Temporales:"/>
                    <h:outputLabel value="#{ipCap2.proyecto.proyEmpleosTemporales}"/>
                    <h:outputLabel value="Empleos Totales: "/>
                    <h:outputLabel value="#{ipCap2.totalEmpleos}"/>
                </h:panelGrid>
          	</p:panel>       
            <br></br>
            <p:panel id="horizontal6" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;">
              	<iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,1,6,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
            </p:panel>
            <br></br>

            			<!--  			DATOS GENERALES DEL PROMOVENTE 					-->
        	<!--  rendered="#{!ipCap2.vacio}"  PARA DATOS GENERALES Y DOMICILIO-->
            <!-- <h:panelGroup id="principal"> -->
        	<p:panel id="datProm" rendered="#{!ipCap2.vacio}">
        		<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%;"><h3>Datos Generales del promovente.</h3></div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
				</div>
				
				<h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel value="Nombre del Promovente:"/>                    
                    <h:outputLabel  value="#{ipCap2.promovente.vcnombre} #{ipCap2.promovente.vcapellidopaterno} #{ipCap2.promovente.vcapellidomaterno}" 
                                           rendered="#{ipCap2.promovente.vctipopersona eq 'FIS'}" />
                    <h:outputLabel  value="#{ipCap2.promovente.vcrazonsocial}" 
                                          rendered="#{ipCap2.promovente.vctipopersona eq 'MOR'}" />
                    <h:outputLabel value="RFC: "/>
                    <h:outputLabel value="#{ipCap2.promovente.vcrfc}"/>
                </h:panelGrid>
          	</p:panel>
          	<br></br>
            <p:panel id="horizontal7" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;" rendered="#{!ipCap2.vacio}">
               	<iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,1,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
            </p:panel>
            <br></br>
            		<!-- 			DOMICILIO		 -->
            <p:panel id="domicilio" rendered="#{!ipCap2.vacio}">
           		<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%;"><h3>Domicilio</h3></div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel value="Código Postal"/>
                    <h:outputLabel value="#{ipCap2.promovente.vcdCodigoLk}"/>
                    <h:outputLabel value="Tipo de Asentamiento: "/>
                    <h:outputLabel value="#{ipCap2.asentamiento}"/>
                    <h:outputLabel value="Nombre del Asentamiento:"/>
                    <h:outputLabel value="#{ipCap2.promovente.vctipoasentamiento}"/>
                    <h:outputLabel value="Localidad"/>
                    <h:outputLabel value="#{ipCap2.promovente.vclocalidad}"/>
                    <h:outputLabel value="Tipo Vialidad:"/>
                    <h:outputLabel value="#{ipCap2.vialidad}"/>
                    <h:outputLabel value="Nombre de la Vialidad:"/>
                    <h:outputLabel value="#{ipCap2.promovente.vcnombrevialidad}"/>
                    <h:outputLabel value="Número Exterior:"/>
                    <h:outputLabel value="#{ipCap2.promovente.vcnumexterior}"/>
                    <h:outputLabel value="Número Interior:"/>
                    <h:outputLabel value="#{ipCap2.promovente.vcnuminterior}"/>
                </h:panelGrid>
                <h:panelGroup rendered="#{ipCap2.vacio}">
                    <div class="alert alert-danger">
                        <h:outputLabel value="No hay datos registrados del promovente."/>
                    </div>
                </h:panelGroup>
            </p:panel>
            <br></br>            
            <p:panel id="horizontal8" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;" rendered="#{!ipCap2.vacio}">
            	<iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,2,2,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
           	</p:panel>
            <br></br>
				<!-- 					DATOS GENERALES DEL PROYECTO 					 -->
            <p:panel id="datRL">
        		<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%;"><h3>Datos Generales del Proyecto.</h3></div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>					
				</div> 
				<br/>
                <p:dataTable styleClass="table" emptyMessage="No hay datos registrados"
                             id="tablaRepLegal" selection="#{ipCap2.representantesSelect}" disabledSelection="false"
                             value="#{ipCap2.representantes}" var="repLegal" style="width: 100%; text-align: center;" >
                    <f:facet name="header">
                        <p:outputLabel style="text-align:center;" value="Representante Legal"/>
                    </f:facet>
                    <p:column selectionMode="multiple" style="width:0px;text-align:center;visibility: hidden;"/>
                    <p:column headerText="CURP" style="width: 20%">
                        <p:outputLabel value="#{repLegal.vccurp}"/>
                    </p:column>
                    <p:column headerText="Nombre" style="width: 15%">
                        <p:outputLabel value="#{repLegal.vcnombre}"/>
                    </p:column>
                    <p:column headerText="Apellido Paterno" style="width: 15%">
                        <p:outputLabel value="#{repLegal.vcapellido1}" />
                    </p:column>
                    <p:column headerText="Apellido Materno" style="width: 15%">
                        <p:outputLabel value="#{repLegal.vcapellido2}"/>
                    </p:column>
                    <p:column headerText="Correo Electrónico" style="width: 35%">
                        <p:outputLabel value="#{repLegal.vccorreo}"/>
                    </p:column>
                </p:dataTable>                       
                <br></br>
                <p:panel id="horizontal9" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,3,1,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>
            <br></br>
					<!-- DATOS GENERALES DEL RESPONSABLE DE LA ELABORACION DEL ESTUDIO DEL IMPACTO AMBIENTAL  -->				
            <p:panel id="datosREEIA">
				<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%;"><h3>Datos Generales del Responsable de la Elaboración del Estudio de Impacto Ambiental</h3></div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
				</div>
				<h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel value="¿El responsable técnico de la elaboración del estudio es el mismo que el representante legal?"/>
                    <h:outputLabel value="#{ipCap2.proyecto.proyNombre}"/>
                </h:panelGrid>
            	<!-- rendered="#{ipCap2.flag != null}"> -->
                <h:panelGroup id="representantes" rendered="#{ipCap2.flag != null}">
					
					<!-- rendered="#{ipCap2.flag}" -->
                    <h:panelGroup rendered="#{ipCap2.flag}" >
                        <ui:fragment rendered="false"> <!-- {!empty ipCap2.representantesSelect} -->
                            <label class="control-label" for="nombRespTec" style="margin-left:-10px;">Representante:</label>		
                            <p:dataTable emptyMessage="No hay datos registrados" id="tablaRepTec" value="#{ipCap2.representantesSelect}" var="rep"> 
                                <p:column  style="background-color: #ccccff;">
                                    <p:outputLabel value="#{rep.vccurp}: #{rep.vcnombre} #{rep.vcapellido1}"/>
                                </p:column>                                    
                            </p:dataTable>  
                        </ui:fragment>
                        <ui:fragment rendered="false"> <!-- {empty visor.representantesSelect} -->
                            <div class="alert alert-danger">
                                <h:outputLabel value="No hay ningún representante legal registrado para este proyecto."/>
                            </div>
                        </ui:fragment>
                    </h:panelGroup>
					<!-- rendered="#{!ipCap2.flag}" -->
                    <h:panelGroup id="pRespTec" rendered="#{!ipCap2.flag}"> 
                    	<h:panelGrid columns="2" border="0" width="600">
		                    <h:outputLabel value="RFC: "/>
		                    <h:outputLabel value="#{ipCap2.respTecProyecto.respTecRfc}"/>
		                    <h:outputLabel value="CURP:"/>
		                    <h:outputLabel value="#{ipCap2.respTecProyecto.respTecCurp}"/>
		                    <h:outputLabel value="Nombre del responsable técnico:"/>
		                    <h:outputLabel value="#{ipCap2.respTecProyecto.respTecNombre}"/>
		                    <h:outputLabel value="Apellido Paterno:"/>
		                    <h:outputLabel value="#{ipCap2.respTecProyecto.respTecApellido1}"/>
		                    <h:outputLabel value="Apellido Materno:"/>
		                    <h:outputLabel value="#{ipCap2.respTecProyecto.respTecApellido2}"/>
		                </h:panelGrid>                 
                    </h:panelGroup> 
                </h:panelGroup>

                <br></br>
                <p:panel id="horizontal10" collapsed="true" header="Comentarios" toggleable="true" toggleOrientation="horizontal" style="width:100%;">
                    <iframe width="100%" height="375px;" src="#{request.contextPath}/faces/Restringido/comentarios/guardaComentario.xhtml?info=2,4,1,0,#{ipCap2.proyecto.bitacoraProyecto},#{ipCap2.idusuario}" frameborder="0"></iframe>                                   
                </p:panel>
            </p:panel>

        </h:body>
    </f:view>
</html>
