<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:f="http://xmlns.jcp.org/jsf/core" 
      xmlns:h="http://xmlns.jcp.org/jsf/html" 
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    
    <f:view>
        <h:head>
            <f:metadata>
                <f:viewParam name="bitaNum" value="#{visor.pramBita}" />
            </f:metadata>
            <title></title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>  
            <script>
            //<![CDATA[
            function contarCaracteres(ele, label, max) {
                var n = ele.value.length;
                var t = max - n;
                document.getElementById(label).innerHTML = t;
                if ( t < 0 ){
                    t =0 ;
                    alert('A rebasado el límite de caracteres permitidos ('+ max+ ')');
                }
                
            }
            //]]>
        </script>
        <h:outputStylesheet library="css" name="infoadicional.css" />
        </h:head>
        <h:body>
         <h:outputStylesheet library="css" name="infoadicional.css" />
		<script src="#{request.contextPath}/resources/js/infoadicional.js"></script>
            <p:panel id="cap1" > 
				<div class="dgira_h3" style="width: 100%; height: 40px">
            		<div style="float:left;display: block;width: 75%">Referencias, según corresponda, al o los supuestos del artículo 31 de la Ley General del Equilibrio Ecológico y la Protección del Ambiente.</div>
                    <div id="tit1" style="float:right;display: block;width: 25%;height: 100%"></div>
                </div>
				<div style="clear: both"/>
				<br/>
				<p:outputPanel>                            
                        <h:outputLabel id="gen_datos" value="#{ipCap1.descSupuesto}" escape="false" />                        
                 </p:outputPanel>
                
                <br/> <br/> 
                <p:panel id="Normas" rendered="#{ipCap1.muestraNormas}">
					<div class="dgira_h3" style="width: 100%; height: 40px">
						<div style="float: left; display: block; width: 75%">Normas oficiales mexicanas.</div>
						<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
					</div>
					<br />
                    <p:outputPanel>
                        Que establecen las especificaciones de protección ambiental, especificaciones técnicas o procedimientos para:
                        <br/><br/>
                        <h:outputLabel  style="text-align:justify" value="#{ipCap1.nombreCortoNomb}" escape="false" /> 
                        <br/><br/>
                        <h:outputLabel  style="text-align:justify" value="#{ipCap1.descNorma}" escape="false" />                      
                    </p:outputPanel>                   
                </p:panel>
                <br/> <br/> 
                <p:panel id="NormasCuest" rendered="#{ipCap1.muestraNormas}">
                    <p:outputPanel rendered="!ipCap1.flagNormCientoV and !ipCap1.flagNorm141">
						<div class="dgira_h3" style="width: 100%; height: 40px">
							<div style="float: left; display: block; width: 75%">Cuestionario norma.</div>
							<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
						</div>
						<br/>
						<p:dataTable id="tablaDatosPregNorma" var="preg"
							value="#{ipCap1.pregNorma}" rowKey="#{preg[2]}"
							paginator="true" paginatorPosition="bottom" rows="5" emptyMessage="Sin registros.">
														
							<p:column headerText="Respuesta"
								style="white-space: normal; text-align: center; width: 5%">
								<h:outputLabel value="#{preg[5]}" />
							</p:column>
							<p:column headerText="Descripción"
								style="white-space: normal; text-align: center; width: 5%">
								<h:outputLabel value="#{preg[3]}" />
							</p:column>
							
						</p:dataTable>
                    </p:outputPanel>
                    <!--  NORMAS ESTÁTICAS  -->
                    <!-- NORMA 120 -->
					<h:panelGroup rendered="#{ipCap1.flagNormCientoV}">
						<ui:include src="norm_120.xhtml"/>
                    </h:panelGroup>
					<h:panelGroup rendered="#{ipCap1.flagNorm141}">
                       <ui:include src="norm_141.xhtml"/>
                    </h:panelGroup>
                    
                </p:panel>
                
                
                <br/> <br/>  
            <p:panel id="p_espec" rendered="#{ipCap1.muestraNormas}">
                <div id="d_espec" class="gobmx-example">
					<div class="dgira_h3" style="width: 100%; height: 40px">
						<div style="float: left; display: block; width: 75%">Especificaciones</div>
						<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
					</div>
					<br/>
					<h:form>
					<p:dataTable id="tablaDatosPregNorma" var="esp"
							value="#{ipCap1.especificacionProyectoList}" 
							paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
							paginator="true" paginatorPosition="bottom" rows="5" emptyMessage="Sin registros.">
							
								<p:column headerText="Especificaciones"
											style="white-space: normal; text-align: center; width: 5%">
									<p:panelGrid>
										<p:row>
											<p:column headerText="Numeral"
											style="white-space: normal; text-align: center; width: 6%">
												<h:outputLabel value="#{esp.catEspecificacion.catEspecificacionPK.especificacionId}" />
											</p:column>
											<p:column headerText="Especificación"
											style="white-space: normal; text-align: justify; width: 95%">
												<h:outputLabel value="#{esp.catEspecificacion.especificacionDescripcion}" />
											</p:column>
										</p:row>
										<p:row>
											<p:column headerText="Cumplimiento" colspan="3"
											style="white-space: normal; text-align: center; width: 95%">
												<h:outputText style="text-align:justify" value="#{esp.especificacionJustificacion}" escape="false"/>
												<div style="clear: both"/>
												<br/>							
												<div>
													<div style="float:left">Límite:</div>
													<div style="float:right" id="lb#{esp.catEspecificacion.catEspecificacionPK.especificacionIdComp}" >#{esp.caracteres}</div>
												</div>
												<div style="clear: both"/>
											</p:column>											
										</p:row>
										<p:row>
											<p:column>
											<h:panelGroup rendered="#{esp.catEspecificacion.anexo}">
                                                            <!--<b>Anexar archivo</b>
                                                            <iframe src='#{request.contextPath}/faces/modarchivos/cargaespecificaciones.xhtml?info=#{esp.especificacionProyectoPK.especificacionId},#{esp.especificacionProyectoPK.folioProyecto},#{esp.especificacionProyectoPK.serialProyecto},#{esp.especificacionProyectoPK.normaId}' width='100%' height="160px" frameborder='0'></iframe>-->
                                                        </h:panelGroup>
											</p:column>											
										</p:row>
									</p:panelGrid>
								</p:column>							
					</p:dataTable>
					</h:form>
                </div>
            </p:panel>

            <h:panelGroup id="ParqInd" rendered="#{ipCap1.muestraPaqInd}">
				<p:panel id="parqIndCat" > 
					<div class="dgira_h3" style="width: 100%; height: 40px">
						<div style="float: left; display: block; width: 75%">Parques Industriales - descripción.</div>
						<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
					</div>
					<p:outputPanel>                            
						<h:outputLabel style="text-align:justify" id="gen_datos2" value="#{ipCap1.catParqueIndustrial.parqueDescripcion}" escape="false" />                        
					</p:outputPanel>
					<br/>
					<div class="dgira_h3" style="width: 100%; height: 40px">
						<div style="float: left; display: block; width: 75%">Justificación (Identifiación, Análisis y Conclusión).</div>
						<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
					</div>
					<p:outputPanel>                            
						<h:outputLabel style="text-align:justify" id="gen_datos3" value="#{ipCap1.parqueIndustrialProyecto.parqueIndJustificacion}" escape="false" />                        
					</p:outputPanel>
				</p:panel>
				<br/> <br/>                            
            </h:panelGroup>  




            <h:panelGroup id="DesUrb" rendered="#{ipCap1.muestraDesUrb}">
                    <p:panel id="pduPoetOpc" >  
                        <p:outputPanel>                            
                            <h:outputLabel id="gen_datos5" value="#{ipCap1.opcPduPoet}" escape="false" />                        
                        </p:outputPanel>
                    </p:panel>
                    <br/> <br/>  

                    <p:panel id="pduPoetOpc2" > 
						<div class="dgira_h3" style="width: 100%; height: 40px">
							<div style="float: left; display: block; width: 75%">Descripción.</div>
							<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
						</div>
                        <p:outputPanel>                            
                            <h:outputLabel style="text-align:justify" id="gen_datos6" value="#{ipCap1.opcPduPoet2}" escape="false" />                        
                        </p:outputPanel>
						<br/>
						<div class="dgira_h3" style="width: 100%; height: 40px">
							<div style="float: left; display: block; width: 75%">Justificación (Identifiación, Análisis y Conclusión).</div>
							<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
						</div>
                        <p:outputPanel>                            
                            <h:outputLabel style="text-align:justify" id="gen_datos7" value="#{ipCap1.justPduPoet}" escape="false" />                        
                        </p:outputPanel>
                    </p:panel>
                    <br/> <br/>                             
            </h:panelGroup>
        </p:panel>
        
        </h:body>
    </f:view>
</html>
