<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <style>
            .myRadioCtrl span { padding-right: 10px; }
        </style>
        <ui:fragment id="normaCienVeinte">
            <div id="d_preg" class="gobmx-example">
				<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%">Cuestionario norma.</div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
				</div>

                <h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel style="text-align:justify" value="¿El proyecto se encuentra dentro de un área natural protegida? " />
                    <h:outputLabel style="text-align:justify" value="#{ipCap1.respPeg4}" escape="false"/>
                </h:panelGrid>

                <h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel style="text-align:justify" value="Tipo de Clima: " />
                    <h:outputLabel style="text-align:justify" value="#{ipCap1.tipoClimaSel.climaDescripcion}" escape="false"/>
                    <h:outputLabel style="text-align:justify; width: 120p" value="Tipo de Vegetación: " />    
                    <h:outputLabel style="text-align:justify" value="#{ipCap1.tipoVegetaSel.vegetacionDescripcion}" escape="false"/>
                </h:panelGrid>

                <br/>
                <h:panelGrid columns="2" border="0" width="600">
                    <h:outputText  style="text-align:justify" value="¿Son minerales reservados a la federación?: "/>
                    <h:outputLabel style="text-align:justify" value="#{ipCap1.respPeg5}" escape="false"/>
                    <h:outputLabel style="text-align:justify; width: 120p" value="Minerales seleccionados:"/> 
                    <h:outputLabel style="text-align:justify" value="#{ipCap1.msgMinSel}" escape="false"/>
                </h:panelGrid>

                <br/>
                <h:panelGroup>                    
                    <h:outputLabel value="Elegir una o varias de las siguientes obras"/>
                    <!--datatable dinámica de obras-->
                    <br/>
					<p:dataTable id="tablaDatosObraSup1" var="obraSup1"
							value="#{ipCap1.obrasSup1}" 
							paginator="true" paginatorPosition="bottom" rows="5" emptyMessage="Sin registros.">
							
						<p:column headerText="Tipo Obra"
							style="white-space: normal; text-align: center; width: 5%">
							<h:outputText value="#{obraSup1[0]}" />
						</p:column>
						<p:column headerText="Dimensiones"
							style="white-space: normal; text-align: center; width: 5%">
							<h:outputText value="#{obraSup1[1]}" />
						</p:column>
						<p:column headerText="Unidad"
							style="white-space: normal; text-align: center; width: 5%">
							<h:outputText value="#{obraSup1[2]}" />
						</p:column>
						<p:column headerText="Superficie"
							style="white-space: normal; text-align: center; width: 5%">
							<h:outputText value="#{obraSup1[3]}" />
						</p:column>
						<p:column headerText="Unidad"
							style="white-space: normal; text-align: center; width: 5%">
							<h:outputText value="#{obraSup1[4]}" />
						</p:column>
						<p:column headerText="Porcentaje de afectacion"
							style="white-space: normal; text-align: center; width: 5%">
							<h:outputText value="#{obraSup1[5]}" />
						</p:column>
							
					</p:dataTable>
                </h:panelGroup>

                
            </div>
        </ui:fragment>
    </ui:composition>
</html>