<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"

      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <ui:composition>
        <ui:fragment id="normaCienCuarenta">
            
            <div class="f_cap1-group">
				<div class="dgira_h3" style="width: 100%; height: 40px">
					<div style="float: left; display: block; width: 75%">Cuestionario Norma.</div>
					<div id="tit6" style="float: right; width: 25%; height: 100%"></div>
				</div>
                <h:panelGrid columns="2" border="0" width="600">
                    <h:outputLabel style="text-align:justify" value="¿Se trata de minerales reservados para la federación?"/>
                    <h:outputText style="text-align:justify" value="#{ipCap1.respPeg13 == 'S' ? 'SI' : 'NO'}" />                
                    <h:outputLabel style="text-align:justify" value="¿Se encuentra en zonas agrícolas, ganaderas o eriales?"/>
                    <h:outputText style="text-align:justify" value="#{ipCap1.respPeg14 == 'S' ? 'SI' : 'NO'}" />
                    <h:outputLabel style="text-align:justify; width: 120p" value="Minerales seleccionados:"/> 
                    <h:outputText style="text-align:justify" value="#{ipCap1.msgMinSel}" />
                </h:panelGrid>
            </div>
        </ui:fragment>
    </ui:composition>
</html>