<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:pe="http://primefaces.org/ui/extensions"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

	<h:head>
	</h:head>
	<!-- ==================== TABLA DE ARCHIVOS DE CONSULTA GENERAL ==================== -->
	<h3>Adjuntos</h3>
	<p:dataTable paginator="true" paginatorPosition="bottom" rows="5"
		value="#{listaTabla}" var="archG" rowIndexVar="rowIndex" style="table-layout: unset;"
		emptyMessage="Sin registros.">

		<p:column style="width: 4%;font-size: 12px;text-align:center;">
			<f:facet name="header">No.</f:facet>
			<h:outputText value="#{rowIndex+1}" />
		</p:column>

		<p:column style="white-space: normal;font-size: 12px;width: 25%">
			<f:facet name="header">Nombre</f:facet>
			<h:outputText value="#{archG.nombre}" />
		</p:column>

		<p:column style="white-space: normal;font-size: 12px;">
			<f:facet name="header">Descripción</f:facet>
			<h:outputText value="#{archG.descripcion}" />
		</p:column>
		
		<p:column style="width: 15%;font-size: 12px;">
			<f:facet name="header">Ver</f:facet>
			<a href="../modarchivos/downloadFile.xhtml?idArchivoProyecto=#{archG.seqId}"
				target="_blank"> <h:outputLabel
					style="cursor:pointer; text-decoration: underline; color: blue;"
					value="#{archG.fileName}" />
			</a>
		</p:column>
	</p:dataTable>
</ui:composition>
