<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <title>Esto es un error</title>
    </head>
    <body>
        <h:form>
            <div>¡Ups! esto es vergonzoso...
            </div>
            <h:outputText value="Mensaje: #{pfExceptionHandler.message}"/>
            <h:outputText value="#{pfExceptionHandler.formattedStackTrace}" escape="false"/>
            
        </h:form>        
    </body>
</html>
