<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <f:view contentType="text/html">
        <h:head>
            <script src="resources/js/md5.js"></script> 
            <script  type="text/javascript"> 
                
                
                function encripta() 
                {
                    var contrasena = document.getElementById('forma:pwd1');
                    //alert(document.getElementById('forma:pwd1'));                    
                    if (contrasena != null)
                    {     
                        if(contrasena.value != null)
                        {
                            var valor = contrasena.value;
                            var passhash = CryptoJS.MD5(valor);  
                            contrasena.value = "";  
                            //alert(passhash);
                            document.getElementById('forma:pass').value = passhash;
                        }
                    }
                }
                
            </script>
            <title>Módulo de Evaluación</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	        <h:outputStylesheet library="css" name="moduloEvaluacion.css"  />

        </h:head>
        
        <h:body style="width: 960px; height: 600px; margin: 0 auto;">
            <h:form id="forma">
                
                <p:growl id="messages" />
                
                <p:outputPanel id="encabezado">
                    <div style="float: left; height: 20px;">
                        <p:graphicImage class="imgLogoSemarnat" library="images" name="logoSEMARNAT_hoz.png"/>
                    </div>
                    <p:graphicImage style="width: 300px; height: 30px; margin-left: 650px;" library="images" name="nombreSubSec.png"/>
                    <br />
                    <p:graphicImage style="width: 300px; height: 30px; margin-left: 650px;" library="images" name="nombreDir.png"/>
                </p:outputPanel>
                
                <hr style="height:20px; background-color: #990000;" />                
                
                <p:graphicImage library="images" name="imgEvaluacion.png" style="float: left; margin-left: 20px; margin-top: 20px; margin-bottom: 10px;" />
                
                <p:outputPanel id="login">
                    <p:graphicImage library="images" name="tituloModulo.png" />
                    <p:graphicImage library="images" name="saludoModulo.png" />
                    <br />
                    <h:panelGrid columns="2" cellpadding="5" >
                        <h:outputLabel for="usuario" value="Usuario:" />
                        <p:inputText id="usuario" value="#{loginView.usuario}" />
                        <h:outputLabel for="pwd1" value="Contraseña:" />                        
                        <p:password id="pwd1" label="Password 1"/>
                        <h:inputHidden id="pass" value="#{loginView.passDig}" />
                    </h:panelGrid>
                    <br /> 

                    <h:commandButton value="Aceptar" action="#{loginView.autenticacion}" onclick="encripta()" style="margin-left: 120px;"/>

                </p:outputPanel>
                
                <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
                
                <hr style="height:20px; width: 100%; background-color: #990000;" />
            </h:form>            
        </h:body>
    </f:view>
</html>
